<template>
  <div id="post_view">
    <client-only>
      <div class="rating__cminput" v-if="!reviewData && !isLoadingRating && userObject && userObject.user_role !== 'advisor'">
        <div class="rating__cmhead">
          <div class="rating__icon">
            <div class="rating__icon_item" v-html="starIcon"></div>
            <div class="rating__icon_item" v-html="starIcon"></div>
            <div class="rating__icon_item" v-html="starIcon"></div>
            <div class="rating__icon_item" v-html="starIcon"></div>
            <div class="rating__icon_item" v-html="starIcon"></div>

            <div class="rating__icon_one" v-html="starIcon + starIcon + starIcon + starIcon + starIcon"
              :class="(ratingNumber == 5) ? 'active' : ''" @click="handleAddRating(5)"></div>
            <div class="rating__icon_two" v-html="starIcon + starIcon + starIcon + starIcon"
              :class="(ratingNumber == 4) ? 'active' : ''" @click="handleAddRating(4)"></div>
            <div class="rating__icon_three" v-html="starIcon + starIcon + starIcon"
              :class="(ratingNumber == 3) ? 'active' : ''" @click="handleAddRating(3)"></div>
            <div class="rating__icon_four" v-html="starIcon + starIcon" :class="(ratingNumber == 2) ? 'active' : ''"
              @click="handleAddRating(2)"></div>
            <div class="rating__icon_five" v-html="starIcon" :class="(ratingNumber == 1) ? 'active' : ''"
              @click="handleAddRating(1)"></div>
          </div>
          <div class="rating__allowed mb-2" @click="handleOpenInput">
            <svg viewBox="0 0 256 512">
              <path
                d="M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z">
              </path>
            </svg>
          </div>
          <div class="rating__cmhead_noti">
            Choose star number to submit Review
          </div>
          <div class="w-100">
            <div class="rating_comment" v-if="ratingNumber == 1">Opps.</div>
            <div class="rating_comment" v-if="ratingNumber == 2">Not good.</div>
            <div class="rating_comment" v-if="ratingNumber == 3">Average.</div>
            <div class="rating_comment" v-if="ratingNumber == 4">Good.</div>
            <div class="rating_comment" v-if="ratingNumber == 5">Excellent.</div>
          </div>
          <div class="w-100" v-if="isInputOpen">
            <textarea class="form-control my-2" :placeholder="'Your review'" v-model="ratingValue" cols="6"></textarea>
            <div class="rating__cmbutton">
              <div class="btn btn-primary mt-2 rating__cmbuttonbutton" @click="handleSendComment">
                Submit review
              </div>
            </div>
          </div>
        </div>

        <div class="article" v-if="isLoadingRating">
          <div class="article__loading">
            <div class="spinner-border m-5" role="status"></div>
          </div>
        </div>
      </div>

      <div class="channel_body__rating_user" v-if="reviewData">
        <div class="channel_body__rating_avatar">
          <img v-if="reviewData.user_review_createByTouser && reviewData.user_review_createByTouser.user_avatar"
            :src="reviewData.user_review_createByTouser.user_avatar" />
          <img src="~/assets/images/avatar_default.png" v-else />
        </div>
        <div class="channel_body__rating_content">

          <div class="channel_body__rttitle">
            <p class="rt_name">{{ (reviewData.user_review_createByTouser &&
                reviewData.user_review_createByTouser.display_name) ? reviewData.user_review_createByTouser.display_name :
                "User review"
            }}
            </p>
          </div>

          <div class="channel_body__rtstar"
            v-html="getStarView(reviewData.review_point) + '<p> - ' + momentNew(Number(reviewData.createAt), 'MMMM Do YYYY, hh:mm:ss') + '</p>'">
          </div>
          <div class="channel_body__rtexam">{{ reviewData.review_content }}</div>

        </div>
      </div>
      <div class="" v-if="!reviewData && !isLoadingRating">
        <div class="advisor_detail__right__rating__item">
            <div class="advisor_detail__right__rating__item__empty">
              <img src="/images/withdrawal.png" />
              <div class="advisor_detail__right__rating__item__empty__heading">
                No reviews
              </div>
            </div>
          </div>
      </div>
    </client-only>
  </div>

</template>

<script>
import { reviewService } from '~/services/review.service';
import moment from "moment";
export default {
  data() {
    var star = '<svg viewBox="0 0 49.94 49.94" class="active"><path d="M48.856,22.73c0.983-0.958,1.33-2.364,0.906-3.671c-0.425-1.307-1.532-2.24-2.892-2.438l-12.092-1.757 c-0.515-0.075-0.96-0.398-1.19-0.865L28.182,3.043c-0.607-1.231-1.839-1.996-3.212-1.996c-1.372,0-2.604,0.765-3.211,1.996  L16.352,14c-0.23,0.467-0.676,0.79-1.191,0.865L3.069,16.622c-1.359,0.197-2.467,1.131-2.892,2.438  c-0.424,1.307-0.077,2.713,0.906,3.671l8.749,8.528c0.373,0.364,0.544,0.888,0.456,1.4L8.224,44.701 c-0.183,1.06,0.095,2.091,0.781,2.904c1.066,1.267,2.927,1.653,4.415,0.871l10.814-5.686c0.452-0.237,1.021-0.235,1.472,0 l10.815,5.686c0.526,0.277,1.087,0.417,1.666,0.417c1.057,0,2.059-0.47,2.748-1.288c0.687-0.813,0.964-1.846,0.781-2.904 l-2.065-12.042c-0.088-0.513,0.083-1.036,0.456-1.4L48.856,22.73z"/></svg>';
    var starBlank = '<svg viewBox="0 0 49.94 49.94"><path d="M48.856,22.73c0.983-0.958,1.33-2.364,0.906-3.671c-0.425-1.307-1.532-2.24-2.892-2.438l-12.092-1.757 c-0.515-0.075-0.96-0.398-1.19-0.865L28.182,3.043c-0.607-1.231-1.839-1.996-3.212-1.996c-1.372,0-2.604,0.765-3.211,1.996  L16.352,14c-0.23,0.467-0.676,0.79-1.191,0.865L3.069,16.622c-1.359,0.197-2.467,1.131-2.892,2.438  c-0.424,1.307-0.077,2.713,0.906,3.671l8.749,8.528c0.373,0.364,0.544,0.888,0.456,1.4L8.224,44.701 c-0.183,1.06,0.095,2.091,0.781,2.904c1.066,1.267,2.927,1.653,4.415,0.871l10.814-5.686c0.452-0.237,1.021-0.235,1.472,0 l10.815,5.686c0.526,0.277,1.087,0.417,1.666,0.417c1.057,0,2.059-0.47,2.748-1.288c0.687-0.813,0.964-1.846,0.781-2.904 l-2.065-12.042c-0.088-0.513,0.083-1.036,0.456-1.4L48.856,22.73z"/></svg>';

    return {
      ratingObject: [],
      isLoadingRating: true,
      ratingValue: '',
      starIcon: star,
      starIconBlank: starBlank,
      ratingNumber: 0,
      isInputOpen: true,
      reviewData: null
    }
  },
  props: {
    orderId: {
      type: String,
      required: true,
      default: ''
    },
  },
  created() {
    this.isLoadingRating = true;
    if (this.userToken) {
      this.handleGetOrderReview(this.orderId, this.userToken)
    } else {
      if (process.client) {
        this.$router.push({ path: "/login" });
        this.isLoadingRating = true;
      }
    }
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    }
  },
  methods: {
    momentNew(dateTime, format) {
      return moment(dateTime).format(format).toString();
    },
    handleOpenInput() {
      this.isInputOpen = !this.isInputOpen;
    },
    handleAddRating(numberRating) {
      this.ratingNumber = numberRating;
      this.isInputOpen = true;
    },
    compiledMarkdown(text) {
      text = Marked(text, { sanitize: false });
      return text;
    },
    handleSendComment() {
      let dataInput = this.ratingValue.trim();
      if (!dataInput) {
        alert("Your review is Empty!");
        return false;
      }
      if (!this.ratingNumber) {
        alert("Your rating star is Empty!");
        return false;
      }
      let dataCreate = {
        order_id: Number(this.orderId),
        review_content: dataInput,
        review_point: this.ratingNumber
      }
      this.isLoadingRating = true;
      reviewService.createOrderReview(dataCreate, this.userToken).then((response) => {
        if (response?.data) {
          this.handleGetOrderReview(this.orderId, this.userToken);
        }
        this.isLoadingRating = false;
      }).catch(error => {
        alert("Have an Error when send data to server. Try again!");
        this.isLoadingRating = false;
      })

    },
    handleGetOrderReview(orderId, authCode) {
      this.isLoadingRating = true;
      reviewService.getReviewByOrderId(orderId, authCode).then((response) => {
        if (response && response.data && response.data[0]) {
          this.reviewData = response.data[0];
        }
        this.isLoadingRating = false;
      }).catch(error => {
        this.isLoadingRating = false;
      });
    },
    getStarView(number_star) {
      var star = parseFloat(number_star);
      var starView = '';
      var starIcon = this.starIcon;
      var starIconBlank = this.starIconBlank;
      if (star < 0.5) {
        starView = starIconBlank + starIconBlank + starIconBlank + starIconBlank + starIconBlank;
        return starView;
      }
      if (star >= 0.5 && star < 1.5) {
        starView = starIcon + starIconBlank + starIconBlank + starIconBlank + starIconBlank;
        return starView;
      }
      if (star >= 1.5 && star < 2.5) {
        starView = starIcon + starIcon + starIconBlank + starIconBlank + starIconBlank;
        return starView;
      }
      if (star >= 2.5 && star < 3.5) {
        starView = starIcon + starIcon + starIcon + starIconBlank + starIconBlank;
        return starView;
      }
      if (star >= 3.5 && star < 4.5) {
        starView = starIcon + starIcon + starIcon + starIcon + starIconBlank;
        return starView;
      }
      if (star >= 4.5) {
        starView = starIcon + starIcon + starIcon + starIcon + starIcon;
        return starView;
      }
    },
  }

}
</script>

<style lang="scss">
@import "~/assets/scss/variables.scss";

.article {
  width: 100%;
  float: left;

  &__loading {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: #aaa;
  }
}

.rating__cminput {
  width: 100%;
  margin: 15px 0px 20px 0px;
  float: left;

  .rating__cmhead {
    width: 100%;
    float: left;
    padding-bottom: 0px;

    .rating__icon {
      width: 200px;
      float: left;
      position: relative;

      .rating__icon_item {
        width: 40px;
        height: 40px;
        user-select: none;
        cursor: pointer;
        float: left;
        position: relative;
        z-index: 0;

        svg {
          width: 30px;
          height: 30px;
          margin: 5px 10px 5px 0;
          fill: #f0f0f0;
        }
      }

      .rating__icon_one {
        width: 200px;
        height: 40px;
        user-select: none;
        cursor: pointer;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;

        &.active {
          svg {
            fill: #f1c40f;
          }
        }

        &:hover {
          svg {
            fill: #f1c40f;
          }
        }

        svg {
          width: 30px;
          height: 30px;
          margin: 5px 10px 5px 0;
          fill: none;
          float: left
        }
      }

      .rating__icon_two {
        width: 160px;
        height: 40px;
        user-select: none;
        cursor: pointer;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 101;

        &.active {
          svg {
            fill: #f1c40f;
          }
        }

        &:hover {
          svg {
            fill: #f1c40f;
          }
        }

        svg {
          width: 30px;
          height: 30px;
          margin: 5px 10px 5px 0;
          fill: none;
          float: left
        }
      }

      .rating__icon_three {
        width: 120px;
        height: 40px;
        user-select: none;
        cursor: pointer;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 102;

        &.active {
          svg {
            fill: #f1c40f;
          }
        }

        &:hover {
          svg {
            fill: #f1c40f;
          }
        }

        svg {
          width: 30px;
          height: 30px;
          margin: 5px 10px 5px 0;
          fill: none;
          float: left
        }
      }

      .rating__icon_four {
        width: 80px;
        height: 40px;
        user-select: none;
        cursor: pointer;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 103;

        &.active {
          svg {
            fill: #f1c40f;
          }
        }

        &:hover {
          svg {
            fill: #f1c40f;
          }
        }

        svg {
          width: 30px;
          height: 30px;
          margin: 5px 10px 5px 0;
          fill: none;
          float: left
        }
      }

      .rating__icon_five {
        width: 40px;
        height: 40px;
        user-select: none;
        cursor: pointer;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 104;

        &.active {
          svg {
            fill: #f1c40f;
          }
        }

        &:hover {
          svg {
            fill: #f1c40f;
          }
        }

        svg {
          width: 30px;
          height: 30px;
          margin: 5px 10px 5px 0;
          fill: none;
          float: left
        }
      }
    }

    .rating__allowed {
      width: 20px;
      float: right;
      height: 40px;
      cursor: pointer;
      user-select: none;

      svg {
        transform: rotate(90deg);
        width: 20px;
        height: 20px;
        margin: 10px 0 10px 0;
        fill: #aaa;
      }
    }

    .rating__cmhead_noti {
      width: calc(100% - 230px);
      font-family: $fontFamily;
      font-weight: 400;
      font-size: 16px;
      line-height: 44px;
      float: left;
      margin: 0px 0 0 10px;

      @include breakpoint(mobile) {
        width: 100%;
        margin: 0px 0 0 0px;
      }
    }

    .rating_comment {
      width: 100%;
      float: left;
      margin: 0 0 10px 0;
      position: relative;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
      font-family: $fontFamily;
      color: $textColor;
    }

    .rating__inputavatar {
      width: 100%;
      margin: 20px 0 0 0px;
      padding: 0 0 50px 0;
      float: left;
      position: relative;
      border-radius: 4px;
      border: 1px rgba(#aaa, 0.6) solid;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 0px rgba(170, 170, 170, 0.5);

      &:focus {
        border-color: #4dabf7;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 8px rgba(34, 139, 230, 0.5);

        .search_body__form_icon svg {
          fill: $primaryColor;
        }
      }

      textarea {
        width: 100%;
        height: 120px;
        float: left;
        font-size: 16px;
        font-weight: 400;
        border: 0;
        box-shadow: none;
        outline: none;
        font-family: $fontFamily;
        outline: none;
        line-height: 1.5;
        margin: 10px 0 0px 0px;
        padding: 15px 20px 15px 20px;
        resize: none;

        &::placeholder {
          color: #bbb;
        }

        &::-webkit-scrollbar {
          display: none;
          background-color: #fff;
        }
      }

      .rating__cmbutton {
        width: 100%;
        height: 50px;
        right: 0;
        bottom: 0;
        position: absolute;
        float: right;

        .rating__cmbutton_type {
          float: left;
          height: 50px;
          margin: 0 0 0 12px;

          .rating__cm_item {
            height: 30px;
            float: left;
            padding: 5px;
            margin: 7.5px 2.5px 7.5px 2.5px;
            text-align: center;
            cursor: pointer;
            border-radius: 4px;

            @include breakpoint(mobile) {
              display: none;
            }

            &.for_mobile {
              @include breakpoint(laptop) {
                display: none;
              }

              @include breakpoint(tablet) {
                display: none;
              }

              @include breakpoint(phablet) {
                display: none;
              }

              @include breakpoint(mobile) {
                display: block;
              }
            }

            &:hover {
              background: #f0f0f0;
            }

            svg {
              width: 20px;
              height: 20px;
              fill: $textLightColor;
            }
          }
        }

        .rating__cmbuttonbutton {
          height: 30px;
          border-radius: 4px;
          color: #fff;
          background: $primaryColor;
          line-height: 30px;
          padding: 0 15px 0 15px;
          float: right;
          font-weight: 700;
          font-size: 13px;
          margin: 10px;
          font-family: $fontFamily;
          cursor: pointer;

        }
      }
    }
  }




  .rating__empty {
    width: 100%;
    float: left;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;

    svg {
      width: 60px;
      fill: $textLightColor;
      height: 60px;
      margin: 10px 0 0 0;
    }

    p.title {
      font-family: $fontFamily;
      font-weight: 700;
      font-size: 20px;
      color: $textLightColor;
      margin: 20px 0 0 0;
    }

    p.description {
      font-family: $fontFamily;
      font-weight: 400;
      font-size: 16px;
      margin: 0 0 10px 0;
      color: $textLightColor;
    }
  }

}

.channel_body__rating_user {
  width: 100%;
  float: left;
  margin: 0px 0 0px 0;
  padding: 0 0 0px 0;
  position: relative;

  &.loading {
    opacity: 0.5;
  }

  &:hover {
    .rt_reply__more {
      display: block;
    }
  }

  .channel_body__rating_avatar {
    width: 50px;
    height: 50px;
    float: left;
    position: relative;
    margin-top: 5px;

    @include breakpoint(mobile) {
      width: 40px;
      height: 40px;
    }

    svg {
      position: absolute;
      top: -10px;
      left: -10px;
      fill: $primaryColor;
      height: 70px;
      width: 70px;
    }

    img {
      width: 100%;
      height: 100%;
      float: left;
      border-radius: 50%;
      object-fit: cover;

      @include breakpoint(mobile) {
        width: 40px;
      }
    }
  }

  .channel_body__rating_content {
    width: calc(100% - 100px);
    float: left;
    margin: 0 30px 0 20px;

    @include breakpoint(mobile) {
      width: calc(100% - 65px);
      margin: 0 0px 0 15px;
    }

    .channel_body__rt_icon {
      width: 100%;
      float: left;
      height: 25px;
      margin: 10px 0 0 0;
      padding: 2px 0 2px 0;
      user-select: none;

      svg {
        width: 18px;
        height: 18px;
        float: left;
        cursor: pointer;
        fill: $textLightColor;
      }

      p.details_icon {
        line-height: 18px;
        float: left;
        margin: 0 15px 0 5px;
        font-size: 13px;
        font-family: $fontFamily;
        cursor: pointer;
        font-weight: 400;
        color: $textLightColor;
      }
    }

    .show_more_comment {
      width: 100%;
      float: left;
      height: 20px;
      font-weight: 700;
      font-family: $fontFamily;
      font-size: 13px;
      margin: 10px 0 0 0;
      padding: 2px 0 2px 0;
      user-select: none;
      cursor: pointer;
    }

    .channel_body__rttitle {
      width: 100%;
      float: left;
      font-family: $fontFamily;
      font-size: 16px;
      font-weight: 700;
      color: $textColor;

      p.rt_name {
        float: left;
      }

      p.rt_time {
        color: $textLightColor;
        font-weight: 400;
        font-size: 16px;
        float: left;
        margin: 0 0 0 5px;
      }
    }

    .channel_body__rtexam {
      width: 100%;
      float: left;
      font-family: $fontFamily;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      margin: 0px 0 0 0;
      word-wrap: break-word;
      color: $textColor;
    }

    .channel_body__rtstar {
      width: 100%;
      float: left;
      font-family: $fontFamily;
      font-size: 16px;
      font-weight: 700;
      color: $primaryColor;
      margin: -5px 0 0 0;

      svg {
        width: 15px;
        height: 15px;
        float: left;
        margin: 5px 5px 10px 0;
        fill: $shadowColor;

        &.active {
          fill: $primaryColor;
        }
      }

      p {
        height: 15px;
        line-height: 15px;
        font-family: $fontFamily;
        font-size: 16px;
        font-weight: 400;
        color: $textLightColor;
        float: left;
        margin: 6px 0 0 0px;
      }
    }
  }

  .rating__inputavatar {
    width: 100%;
    margin: 20px 0 0 0px;
    padding: 0 0 50px 0;
    float: right;
    position: relative;
    border-radius: 4px;
    border: 1px rgba(#aaa, 0.6) solid;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 0px rgba(170, 170, 170, 0.5);

    &:focus {
      border-color: #4dabf7;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 8px rgba(34, 139, 230, 0.5);

      .search_body__form_icon svg {
        fill: $primaryColor;
      }
    }

    .rating__cmbutton {
      width: 100%;
      height: 50px;
      right: 0;
      bottom: 0;
      position: absolute;
      float: right;

      .rating__cmbutton_type {
        float: left;
        height: 50px;
        margin: 0 0 0 12px;

        .rating__cm_item {
          height: 30px;
          float: left;
          padding: 5px;
          margin: 7.5px 2.5px 7.5px 2.5px;
          text-align: center;
          cursor: pointer;
          border-radius: 4px;

          @include breakpoint(mobile) {
            display: none;
          }

          &.for_mobile {
            @include breakpoint(laptop) {
              display: none;
            }

            @include breakpoint(tablet) {
              display: none;
            }

            @include breakpoint(phablet) {
              display: none;
            }

            @include breakpoint(mobile) {
              display: block;
            }
          }

          &:hover {
            background: #f0f0f0;
          }

          svg {
            width: 20px;
            height: 20px;
            fill: $textLightColor;
          }
        }
      }

      .rating__cmbuttonbutton {
        height: 30px;
        border-radius: 4px;
        color: #fff;
        background: $primaryColor;
        line-height: 30px;
        padding: 0 15px 0 15px;
        float: right;
        font-weight: 700;
        font-size: 13px;
        margin: 10px;
        font-family: $fontFamily;
        cursor: pointer;

      }
    }
  }
}
</style>
