<template>
  <div class="homepage__app">
    <div class="body_container">
      <div class="homepage__app__left">
        <div class="homepage__app__left__block">
          <div class="homepage__app__left__heading">
            {{ language("Our experts are always in touch") }}
          </div>
          <div class="homepage__app__left__description">
            {{
              language(
                "Enjoy psychic reading on your mobile. Our Psychic Readers are compassionate and will amaze you with a personal live reading unlike any you've had before."
              )
            }}
          </div>

          <div class="homepage__app__left__button">
            <div class="homepage__app__left__button__item">
               <a href="https://apps.apple.com/vi/app/fuda/id1644862833" target="_blank"
                >
              <img src="/default/AppStore.svg" alt="Apple Store" 
              /></a>
            </div>
            <div class="homepage__app__left__button__item">
              <a href="https://play.google.com/store/apps/details?id=com.taki.tarotapp" target="_blank"
                ><img src="/default/PlayStore.svg" alt="Google Play"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="homepage__app__right">
        <img src="/default/app_store.png" alt="Fuda" />
      </div>
    </div>
  </div>
</template>

<script>
//@ts-ignore
import language from "~/modules/language.ts";
export default {
  components: {},
  data() {
    return {
      questionActive: 0,
    };
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      lang = lang.toString();
      let dataReturn = language(text, lang);
      return dataReturn.toString();
    },
  },
};
</script>
<style scoped lang="scss">
@import "~/assets/scss/variables.scss";

.homepage__app {
  width: 100%;
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  background-color: #fef5e6;
  background: url("/default/background_app.jpeg") no-repeat;
  background-size: cover;
  content: "";
  position: relative;

  @include breakpoint(phablet) {
    margin-top: 0;
  }

  &__block {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__left {
    width: 65%;
    float: left;
    min-height: 500px;
    position: relative;
    z-index: 2;

    @include breakpoint(phablet) {
      width: 100%;
      min-height: unset;
    }

    &__block {
      width: 100%;
    }

    &__heading {
      width: 100%;
      float: left;
      font-size: 36px;
      letter-spacing: 0px;
      font-weight: 700;
      color: $textColor;
      margin-top: 120px;
      text-align: left;

      @include breakpoint(phablet) {
        margin-top: 40px;
        text-align: center;
        font-size: 30px;
      }
    }

    &__button {
      width: 100%;
      float: left;
      margin-top: 30px;
      margin-bottom: 30px;

      @include breakpoint(phablet) {
        width: 258px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        float: unset;
      }

      &__item {
        margin-right: 10px;
        float: left;

        @include breakpoint(phablet) {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }

    &__description {
      width: 100%;
      float: left;
      font-size: 16px;
      color: $textColor;
      text-align: left;
      margin-top: 26px;
      font-weight: 400;

      @include breakpoint(phablet) {
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }

  &__right {
    width: calc(35% - 20px);
    float: left;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 20px;
    text-align: right;

    @include breakpoint(phablet) {
      width: 100%;
      margin-left: unset;
      text-align: center;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      margin-left: 0;
      z-index: 0;
    }
  }
}
</style>
