<template>
  <div class="homepage__banner">
    <div class="homepage__banner__landingpage">
      <div class="homepage__banner__landingpage__left" data-v-58051dd4="">
        <div class="homepage__banner__landingpage__left__block" data-v-58051dd4="">
          <div class="homepage__banner__landingpage__left__heading" data-v-5742bb94="">FUDA</div>
          <div class="homepage__banner__landingpage__left__description" data-v-5742bb94="">
            Fuda chính thức ra mắt vào tháng 10 năm 2022 bởi Công ty Cổ phần Công nghệ ICEO Sứ mệnh của chúng tôi là kết
            nối những chuyên gia tâm linh hàng đầu tới mọi người để họ được tư vấn, giải đáp và chữa lành. <br /><br />
            Nếu bạn là người có những kiến thức tâm linh nhất định có mong muốn tư vấn, chữa lành cho mọi người, vừa
            muốn có nguồn thu nhập tại nhà với thời gian linh hoạt, thì đây chính là cơ hội mà bạn đang tìm kiếm.
          </div>
          <div class="homepage__banner__landingpage__left__button">
            <nuxt-link :to="'/register-advisor'"
              ><button type="button">
                {{ language("Become an Advisor") }}
              </button></nuxt-link
            >
          </div>
        </div>
      </div>
      <div class="homepage__banner__landingpage__right" data-v-58051dd4="">
        <img src="/default/landingimg.png" alt="Fuda" />
      </div>
    </div>
    <div class="body_container">
      <div class="homepage__banner__block">
        <div class="homepage__banner__float">
          <img src="/images/chat_right.png" alt="Fudaly word" />
        </div>

        <div class="homepage__banner__right">
          <img src="~/assets/images/background.jpeg" alt="Fuda" />
        </div>

        <div class="homepage__banner__left">
          <div class="homepage__banner__left__block">
            <div class="homepage__banner__left__heading">
              {{ language("How to find yourself") }}
            </div>
            <div class="homepage__banner__left__button">
              <nuxt-link :to="'/advisor'"
                ><button type="button" class="btn btn-primary">
                  {{ language("Order advisor now!") }}
                </button></nuxt-link
              >
            </div>
            <div class="homepage__banner__left__description">
              {{ language("ENJOY YOUR READING") }}<br />
              {{ language("WITH OUR ADVISOR") }}
            </div>
            <div class="homepage__banner__left__verify">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 2L14.7362 4.48246L18.4279 4.33956L18.9282 8L21.8481 10.2635L19.8785 13.3892L20.6603 17L17.1423 18.1284L15.4202 21.3969L12 20L8.5798 21.3969L6.8577 18.1284L3.33975 17L4.12154 13.3892L2.15192 10.2635L5.0718 8L5.57212 4.33956L9.26384 4.48246L12 2Z"
                  stroke="#45B1FF"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="#45B1FF"
                ></path>
                <path
                  d="M16 10.3919L14.4879 9L10.9105 12.2338L9.51859 10.9634L8 12.3495L10.904 15L16 10.3919Z"
                  fill="#fff"
                ></path>
              </svg>
              {{ language("100% Satisfaction Guaranteed") }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
export default {
  components: {},
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
  },
};
</script>
<style scoped lang="scss">
@import "~/assets/scss/variables.scss";

.homepage__banner {
  width: 100%;
  float: left;
  background-color: #fef5e6;
  min-height: 400px;

  &__landingpage {
    //width: 100%;
    overflow-y: auto;
    background-color: #57358f;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
    margin-bottom: 20px;
    overflow: hidden;

    &__left {
      width: 50%;
      overflow-y: auto;
      background-color: #57358f;
      text-align: center;
      padding-top: 100px;
      padding-bottom: 30px;
      margin-bottom: 20px;
      overflow: hidden;
      float: left;

      @include breakpoint(mobile) {
        display: none;
      }

      &__heading {
        width: 100%;
        float: left;
        font-size: 50px;
        margin-left: 15px;
        margin-top: 50px;
        letter-spacing: 0px;
        font-weight: 600;
        color: #fff;
        text-align: center;
      }
      &__description {
        width: 95%;
        float: left;
        font-size: 18px;
        color: #fff;
        text-align: center;
        margin-top: 3px;
        font-weight: 400;
        margin-left: 15px;
      }
      button {
        background-color: #ffffff;
        font-size: 25px;
        color: #502f84;
        font-weight: 700;
        margin: 50px;
        width: 50%;
        height: 120px;
        border-radius: 5px;
      }
    }
    &__right {
      width: 50%;
      margin-left: 50%;
      padding-bottom: 50px;
      overflow-y: auto;
      label {
        font-weight: 700;
      }

      &__block {
        overflow-y: auto;
        width: 100%;
      }
    }
    img {
      max-width: 700px;
      width: 60%;
      margin-top: 180px;
      position: relative;
    }
  }

  &__block {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__left {
    width: 30%;
    float: left;
    min-height: 400px;
    position: relative;
    z-index: 2;

    @include breakpoint(phablet) {
      width: 100%;
      min-height: unset;
      margin-bottom: 40px;
    }

    &__block {
      width: 100%;
    }

    &__heading {
      width: 100%;
      float: left;
      font-size: 24px;
      letter-spacing: 0px;
      font-weight: 700;
      color: $textColor;
      margin-top: 100px;
      text-align: center;

      @include breakpoint(phablet) {
        margin-top: -60px;
      }
    }

    &__button {
      width: 100%;
      float: left;
      margin-top: 16px;

      @include breakpoint(phablet) {
        text-align: center;
        margin-top: -10px;
      }

      button {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 30px;

        @include breakpoint(phablet) {
          margin: 0 auto;
          width: 280px;
          text-align: center;
        }
      }
    }

    &__description {
      width: 100%;
      float: left;
      font-size: 16px;
      color: $textColor;
      text-align: center;
      margin-top: 26px;
      font-weight: 400;
    }

    &__verify {
      font-size: 16px;
      margin-top: 16px;
      text-align: center;
      width: 100%;
      color: #45b1ff;
      float: left;
    }
  }

  &__right {
    width: 30%;
    float: right;
    height: 400px;

    @include breakpoint(phablet) {
      width: 100%;
      text-align: center;
      height: 300px;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: cover;
      margin-left: 0;
      margin-top: -20px;
      margin-left: -20px;
      position: relative;
      z-index: 0;

      @include breakpoint(phablet) {
        margin-right: unset;
        margin-left: unset;
        margin: 0 auto;
        margin-top: -80px;
        max-width: 100%;
      }
    }
  }

  &__float {
    width: 40%;
    height: 400px;
    float: right;
    position: relative;
    z-index: 2;
    text-align: right;

    @include breakpoint(phablet) {
      display: none;
    }

    img {
      max-width: 100%;
      max-height: 370px;
      margin-top: 0px;
      margin-bottom: 50px;
      margin-right: -10px;
    }
  }
}
</style>
