<template>
  <div class="homepage__app">
    <div class="body_container">
      <div class="homepage__app__block">
        <div class="homepage__app__heading">Fuda</div>
        <div class="homepage__app__description">
          {{
            language(
              "Fuda connects customers with genuine advice from some of the world's best psychics. Through our safe and simple online platform, discover the perfect psychic reading to help in love, work, life and beyond. Our network of psychics, clairvoyants and other spiritual experts is carefully selected for their proven abilities in a diverse range of divination methods, including astrology, numerology, channeling, dream analysis, automatic writing, card reading, and so much more. Some advisors specialize in certain subjects, like past lives, soulmates, love and relationships, career, and family. Browse the listings, check out advisor profiles, and read user reviews to find the ideal psychic who can offer the right kind of reading. After signing up and selecting an advisor, a psychic reading is as easy as choosing 'call' or 'chat'. New customers begin with 3 Free minutes and 60% off their first reading. All psychic readings are private and confidential. Expect insightful advice in a kind, honest and non-judgmental environment. After every reading, we encourage you to leave feedback about your experience. If any problems arise, customer support is available online 24/7. There's more to Fuda than readings. Learn about mystical and spiritual topics, as well as subjects like self-care and healing, in our blog. Gain insight into what lies ahead in your day, week and month from our free horoscopes."
            )
          }}
          <br />
          <br />
          Email:  support@appuni.io
          <br />
          Website: <a href="https://fuda.appuni.io/" target="_blank">https://fuda.appuni.io/</a>
          <br />
          Fanpage: <a href="https://www.facebook.com/fuda.appuni.io" target="_blank">https://www.facebook.com/fuda.appuni.io</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//@ts-ignore
import language from "~/modules/language.ts";
export default {
  components: {},
  data() {
    return {
      questionActive: 0,
    };
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default.toString();
      return language(text, lang);
    },
  },
};
</script>
<style scoped lang="scss">
@import "~/assets/scss/variables.scss";
.homepage__app {
  width: 100%;
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
  &__block {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__block {
    width: 100%;
  }
  &__heading {
    width: 100%;
    float: left;
    font-size: 24px;
    letter-spacing: 0px;
    font-weight: 700;
    color: $textColor;
    text-align: left;
  }
  &__description {
    width: 100%;
    float: left;
    font-size: 14px;
    color: $textColor;
    text-align: left;
    margin-top: 26px;
    font-weight: 400;
  }
}
</style>
