<template>
  <div class="homepage__help">
    <div class="body_container">
      <div class="homepage__help__block">
        <div class="homepage__help__left">
          <div class="homepage__help__left__block">
            <div class="homepage__help__left__heading">
              {{ language("Experts are ready to help you") }}
            </div>
            <div class="homepage__help__left__description">
              {{
                language(
                  "Life is challenging enough. We make getting online psychic advice easy. Connect with experts in divination, life coaching, and more."
                )
              }}
            </div>

            <div class="homepage__help__left__body">
              <div class="homepage__help__left__body__item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path
                    d="M256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512zM232 256C232 264 236 271.5 242.7 275.1L338.7 339.1C349.7 347.3 364.6 344.3 371.1 333.3C379.3 322.3 376.3 307.4 365.3 300L280 243.2V120C280 106.7 269.3 96 255.1 96C242.7 96 231.1 106.7 231.1 120L232 256z"
                  />
                </svg>
                <p>{{ language("Get in touch in a couple of minutes") }}</p>
              </div>
              <div class="homepage__help__left__body__item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <path
                    d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"
                  />
                </svg>
                <p>{{ language("Real ratings and reviews") }}</p>
              </div>
              <div class="homepage__help__left__body__item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path
                    d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM371.8 211.8C382.7 200.9 382.7 183.1 371.8 172.2C360.9 161.3 343.1 161.3 332.2 172.2L224 280.4L179.8 236.2C168.9 225.3 151.1 225.3 140.2 236.2C129.3 247.1 129.3 264.9 140.2 275.8L204.2 339.8C215.1 350.7 232.9 350.7 243.8 339.8L371.8 211.8z"
                  />
                </svg>
                <p>{{ language("Always ready to answer") }}</p>
              </div>
              <div class="homepage__help__left__body__item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path
                    d="M256-.0078C260.7-.0081 265.2 1.008 269.4 2.913L457.7 82.79C479.7 92.12 496.2 113.8 496 139.1C495.5 239.2 454.7 420.7 282.4 503.2C265.7 511.1 246.3 511.1 229.6 503.2C57.25 420.7 16.49 239.2 15.1 139.1C15.87 113.8 32.32 92.12 54.3 82.79L242.7 2.913C246.8 1.008 251.4-.0081 256-.0078V-.0078z"
                  />
                </svg>
                <p>{{ language("Get in touch in a couple of minutes") }}</p>
              </div>
            </div>

            <div class="homepage__help__left__button">
              <nuxt-link :to="'/advisor'">
                <button type="button" class="btn btn-primary">{{ language("Let's explore!") }}</button>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
      <div class="homepage__help__right">
        <img src="/default/tarot_right.jpeg" alt="Fuda" />
      </div>
    </div>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
export default {
  components: {},
  methods: {
    language(text) {
      var lang = this.$store.state.language.default.toString();
      return language(text, lang);
    },
  },
};
</script>
<style scoped lang="scss">
@import "~/assets/scss/variables.scss";

.homepage__help {
  width: 100%;
  float: left;
  background-color: #fef5e6;
  background: url("/default/background.svg") no-repeat;
  background-size: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  content: "";
  position: relative;

  &__block {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__left {
    width: 60%;
    float: left;
    min-height: 400px;
    position: relative;
    z-index: 2;

    @include breakpoint(phablet) {
      width: 100%;
    }

    &__block {
      width: 100%;
    }

    &__heading {
      width: 100%;
      float: left;
      font-size: 20px;
      letter-spacing: 0px;
      font-weight: 900;
      color: $textColor;
      margin-top: 20px;
      text-align: left;
    }

    &__body {
      width: calc(100% + 16px);
      float: left;
      margin: 10px -8px;

      @include breakpoint(phablet) {
        width: 100%;
        margin: 10px 0;
      }

      &__item {
        width: calc(50% - 16px);
        margin: 8px;
        float: left;
        border: 1px $borderColor solid;
        border-radius: 16px;
        padding: 20px 20px 10px 20px;

        @include breakpoint(phablet) {
          width: 100%;
          margin: 8px 0;
        }

        svg {
          fill: $primaryColor;
          width: 40px;
          height: 40px;
          float: left;
          margin-top: 10px;
        }

        p {
          width: calc(100% - 40px);
          float: left;
          padding: 5px 20px;
          font-weight: 700;
          font-size: 14px;
        }
      }
    }

    &__button {
      width: 100%;
      float: left;
      margin-top: 16px;
      margin-bottom: 30px;

      button {
        font-size: 18px;
        font-weight: 900;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 30px;

        @include breakpoint(phablet) {
          width: 100%;
        }
      }
    }

    &__description {
      width: 100%;
      float: left;
      font-size: 16px;
      color: $textColor;
      text-align: left;
      margin-top: 26px;
      font-weight: 400;
    }
  }

  &__right {
    width: calc(40% - 20px);
    float: left;
    height: 420px;
    margin-bottom: 30px;
    margin-left: 20px;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 20px;
    @include breakpoint(phablet) {
      width: 100%;
      height: auto;
      margin-left: 0;
      margin-top: 0px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-left: 0;
      position: relative;
      z-index: 0;
    }
  }
}
</style>
