<template>
  <div class="homepage__new_advisor">
    <div class="body_container">
      <div class="homepage__new_advisor__block">
        <!-- <div class="homepage__new_advisor__block__heading">
          <div class="homepage__new_advisor__block__name">
            <h2>{{ language("New Advisors") }}</h2>
          </div>
          <div class="homepage__new_advisor__block__more">
            <nuxt-link to="/advisor">
              {{ language("See all") }}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">

                <path
                  d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z" />
              </svg>
            </nuxt-link>
          </div>
        </div>
        <div class="homepage__new_advisor__body row p-2">
          <div class=" col-md-2 col-sm-4 col-4 p-1" v-for="(itemAdvisor, index) in advisorArray"
            :key="'new_advisor_' + index">
            <div class="homepage__new_advisor__body__item">
              <nuxt-link :to="'/advisor/' + itemAdvisor.user_login">
                <div class="homepage__new_advisor__body__item__avatar">
                  <img :src="itemAdvisor.user_avatar" v-if="itemAdvisor.user_avatar" />
                  <img src="~/assets/images/avatar_default.png" v-else />
                  <client-only>
                    <div class="homepage__new_advisor__body__item__online"
                      v-if="onlineUser && onlineUser.length && onlineUser.indexOf(Number(itemAdvisor.user_id)) !== -1">
                    </div>
                    <div class="homepage__new_advisor__body__item__offline" v-else></div>
                  </client-only>

                </div>

                <div class="homepage__new_advisor__name">
                  <div class="homepage__new_advisor__name__heading">
                    {{  (itemAdvisor.display_name)?itemAdvisor.display_name:itemAdvisor.user_login }}
                  </div>
                </div>
              </nuxt-link>
            </div>

          </div>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
export default {
  props: ["advisorNew"],
  created() {
    if (this.advisorNew.length) {
      this.advisorArray = this.advisorNew.filter((value, index) => {
        if (index < 6) {
          return true;
        } else {
          return false;
        }
      });
    } else {
      this.advisorArray = []
    }
  },
  watch: {

  },
  computed: {
    onlineUser() {
      return this.$store.state.onlineUser;
    }
  },
  data() {
    return {
      advisorArray: [],
    };
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.homepage__new_advisor {
  &__name {
    width: 100%;
    float: left;

    &__heading {
      width: 100%;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 700;
      color: $textColor;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__body {
    margin-top: 16px;

    &__item {
      float: left;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 16px;
      padding-left: 10px;
      padding-right: 10px;
      cursor: pointer;
      border: 1px #f0f0f0 solid;
      transition: 300ms all;
      width: 100%;

      &:hover {
        background-color: $primaryBackground;
        border: 1px rgba($primaryColor, 0.5) solid;
      }

      &__online {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 4px #fff solid;
        background-color: $successColor;
        bottom: 0px;
        right: 0px;
      }

      &__offline {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 4px #fff solid;
        background-color: #aaa;
        bottom: 0px;
        right: 0px;
      }

      &__avatar {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 36px;

    &__heading {
      width: 100%;
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__name {
      width: calc(100% - 150px);
      float: left;
      font-size: 26px;

      h2 {
        font-size: 26px;
        color: $textColor;
        font-weight: 700;
      }
    }

    &__more {
      width: 150px;
      float: left;
      text-align: right;
      cursor: pointer;
      user-select: none;
      margin-top: 4px;

      svg {
        width: 18px;
        height: 18px;
        fill: #aaa;
        margin-top: -2px;
      }
    }
  }
}
</style>
