<template>
  <div class="homepage__question">
    <div class="body_container">
      <div class="homepage__question__block">
        <div class="homepage__question__header">
          <div class="homepage__question__name">
            {{ language("Ask Any Questions") }}
          </div>
          <div class="homepage__question__description">
            {{
              language(
                "Instead of worrying about yourself and your loved ones, consult an expert who can advise you on what to do next."
              )
            }}
          </div>
        </div>
        <div class="homepage__question__body">
          <div class="row">
            <div class="homepage__question__body__item col-sm-6 col-12">
              <div class="homepage__question__body__item__avatar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path
                    d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM57.71 192.1L67.07 209.4C75.36 223.9 88.99 234.6 105.1 239.2L162.1 255.7C180.2 260.6 192 276.3 192 294.2V334.1C192 345.1 198.2 355.1 208 359.1C217.8 364.9 224 374.9 224 385.9V424.9C224 440.5 238.9 451.7 253.9 447.4C270.1 442.8 282.5 429.1 286.6 413.7L289.4 402.5C293.6 385.6 304.6 371.1 319.7 362.4L327.8 357.8C342.8 349.3 352 333.4 352 316.1V307.9C352 295.1 346.9 282.9 337.9 273.9L334.1 270.1C325.1 261.1 312.8 255.1 300.1 255.1H256.1C245.9 255.1 234.9 253.1 225.2 247.6L190.7 227.8C186.4 225.4 183.1 221.4 181.6 216.7C178.4 207.1 182.7 196.7 191.7 192.1L197.7 189.2C204.3 185.9 211.9 185.3 218.1 187.7L242.2 195.4C250.3 198.1 259.3 195 264.1 187.9C268.8 180.8 268.3 171.5 262.9 165L249.3 148.8C239.3 136.8 239.4 119.3 249.6 107.5L265.3 89.12C274.1 78.85 275.5 64.16 268.8 52.42L266.4 48.26C262.1 48.09 259.5 48 256 48C163.1 48 84.4 108.9 57.71 192.1L57.71 192.1zM437.6 154.5L412 164.8C396.3 171.1 388.2 188.5 393.5 204.6L410.4 255.3C413.9 265.7 422.4 273.6 433 276.3L462.2 283.5C463.4 274.5 464 265.3 464 256C464 219.2 454.4 184.6 437.6 154.5H437.6z"
                  />
                </svg>
              </div>
              <div class="homepage__question__body__item__content">
                <div class="homepage__question__body__item__title">
                  {{ language("Horoscopes & Astrology") }}
                </div>
                <div class="homepage__question__body__item__description">
                  {{
                    language(
                      "Would you like to find true love? Need a career change? Fuda' Astrologers will help you discover your path to love and good fortune"
                    )
                  }}
                </div>
              </div>
            </div>
            <div class="homepage__question__body__item col-sm-6 col-12">
              <div class="homepage__question__body__item__avatar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <path
                    d="M279.6 160.4C282.4 160.1 285.2 160 288 160C341 160 384 202.1 384 256C384 309 341 352 288 352C234.1 352 192 309 192 256C192 253.2 192.1 250.4 192.4 247.6C201.7 252.1 212.5 256 224 256C259.3 256 288 227.3 288 192C288 180.5 284.1 169.7 279.6 160.4zM480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6V112.6zM288 112C208.5 112 144 176.5 144 256C144 335.5 208.5 400 288 400C367.5 400 432 335.5 432 256C432 176.5 367.5 112 288 112z"
                  />
                </svg>
              </div>
              <div class="homepage__question__body__item__content">
                <div class="homepage__question__body__item__title">
                  {{ language("Clairvoyance") }}
                </div>
                <div class="homepage__question__body__item__description">
                  {{
                    language(
                      "Stop feeling confused and lost - start a one-on-one session with our Clairvoyant Mediums now and get spiritual direction and answers"
                    )
                  }}
                </div>
              </div>
            </div>
            <div class="homepage__question__body__item col-sm-6 col-12">
              <div class="homepage__question__body__item__avatar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                  <path
                    d="M224 256c70.7 0 128-57.31 128-128S294.7 0 224 0C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3c-95.73 0-173.3 77.6-173.3 173.3C0 496.5 15.52 512 34.66 512H413.3C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304zM479.1 320h-73.85C451.2 357.7 480 414.1 480 477.3C480 490.1 476.2 501.9 470 512h138C625.7 512 640 497.6 640 479.1C640 391.6 568.4 320 479.1 320zM432 256C493.9 256 544 205.9 544 144S493.9 32 432 32c-25.11 0-48.04 8.555-66.72 22.51C376.8 76.63 384 101.4 384 128c0 35.52-11.93 68.14-31.59 94.71C372.7 243.2 400.8 256 432 256z"
                  />
                </svg>
              </div>
              <div class="homepage__question__body__item__content">
                <div class="homepage__question__body__item__title">
                  {{ language("Love & Relationships") }}
                </div>
                <div class="homepage__question__body__item__description">
                  {{
                    language(
                      "Receive Psychic Advice on Love and Relationships. Find out if Your Partner is Cheating? Are You Soul Mates? Learn How to Find a True Love"
                    )
                  }}
                </div>
              </div>
            </div>
            <div class="homepage__question__body__item col-sm-6 col-12">
              <div class="homepage__question__body__item__avatar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <path
                    d="M574.1 280.4l-45.38-181.8c-5.875-23.63-21.62-44-43-55.75c-21.5-11.75-46.1-14.13-70.25-6.375l-15.25 5.125c-8.375 2.75-12.87 11.88-10 20.25l5 15.13c2.75 8.375 11.88 12.88 20.25 10.13l13.12-4.375c10.88-3.625 23-3.625 33.25 1.75c10.25 5.375 17.5 14.5 20.38 25.75l38.38 153.9c-22.12-6.875-49.75-12.5-81.13-12.5c-34.88 0-73.1 7-114.9 26.75H251.4C210.5 258.6 171.4 251.6 136.5 251.6c-31.38 0-59 5.625-81.12 12.5l38.38-153.9c2.875-11.25 10.12-20.38 20.5-25.75C124.4 79.12 136.5 79.12 147.4 82.74l13.12 4.375c8.375 2.75 17.5-1.75 20.25-10.13l5-15.13C188.6 53.49 184.1 44.37 175.6 41.62l-15.25-5.125c-23.13-7.75-48.75-5.375-70.13 6.375c-21.37 11.75-37.12 32.13-43 55.75L1.875 280.4C.6251 285.4 .0001 290.6 .0001 295.9v70.25C.0001 428.1 51.63 480 115.3 480h37.13c60.25 0 110.4-46 114.9-105.4l2.875-38.63h35.75l2.875 38.63C313.3 433.1 363.4 480 423.6 480h37.13c63.62 0 115.2-51 115.2-113.9V295.9C576 290.6 575.4 285.5 574.1 280.4zM203.4 369.7c-2 26-24.38 46.25-51 46.25H115.2C87 415.1 64 393.6 64 366.1v-37.5c18.12-6.5 43.38-13 72.62-13c23.88 0 47.25 4.375 69.88 13L203.4 369.7zM512 366.1c0 27.5-23 49.88-51.25 49.88h-37.13c-26.62 0-49-20.25-51-46.25l-3.125-41.13c22.62-8.625 46.13-13 70-13c29 0 54.38 6.5 72.5 13V366.1z"
                  />
                </svg>
              </div>
              <div class="homepage__question__body__item__content">
                <div class="homepage__question__body__item__title">{{ language("Psychic Reading") }}</div>
                <div class="homepage__question__body__item__description">
                  {{
                    language(
                      "Get a new perspective and clear insights about events happening in your life. Our Psychic Readings help people every day. Sign up with Fuda now!"
                    )
                  }}
                </div>
              </div>
            </div>
            <div class="homepage__question__body__item col-sm-6 col-12">
              <div class="homepage__question__body__item__avatar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path
                    d="M496.3 202.5l-110-15.38l41.88-104.4c6.625-16.63-11.63-32.25-26.63-22.63L307.5 120l-34.13-107.1C270.6 4.25 263.4 0 255.1 0C248.6 0 241.4 4.25 238.6 12.88L204.5 120L110.5 60.12c-15-9.5-33.22 5.1-26.6 22.63l41.85 104.4L15.71 202.5C-1.789 205-5.915 228.8 9.71 237.2l98.14 52.63l-74.51 83.5c-10.88 12.25-1.78 31 13.35 31c1.25 0 2.657-.25 4.032-.5l108.6-23.63l-4.126 112.5C154.7 504.4 164.1 512 173.6 512c5.125 0 10.38-2.25 14.25-7.25l68.13-88.88l68.23 88.88C327.1 509.8 333.2 512 338.4 512c9.5 0 18.88-7.625 18.38-19.25l-4.032-112.5l108.5 23.63c17.38 3.75 29.25-17.25 17.38-30.5l-74.51-83.5l98.14-52.72C517.9 228.8 513.8 205 496.3 202.5zM338.5 311.6L286.6 300.4l2 53.75l-32.63-42.5l-32.63 42.5l2-53.75L173.5 311.6l35.63-39.87L162.1 246.6L214.7 239.2L194.7 189.4l45 28.63L255.1 166.8l16.25 51.25l45-28.63L297.2 239.2l52.63 7.375l-47 25.13L338.5 311.6z"
                  />
                </svg>
              </div>
              <div class="homepage__question__body__item__content">
                <div class="homepage__question__body__item__title">{{ language("Tarot Readers") }}</div>
                <div class="homepage__question__body__item__description">
                  {{
                    language(
                      "Your FREE Tarot Reading NOW - first 3 minutes free. If it's Latin, love, New Age or anything else - find what the future has in store for you"
                    )
                  }}
                </div>
              </div>
            </div>
            <div class="homepage__question__body__item col-sm-6 col-12">
              <div class="homepage__question__body__item__avatar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <path
                    d="M543.6 128.6c0-8.999-6.115-32.58-31.68-32.58c-14.1 0-27.02 9.324-30.92 23.56l-34.36 125.1c-1.682 6.16-7.275 10.43-13.66 10.43c-7.981 0-14.16-6.518-14.16-14.13c0-.9844 .1034-1.987 .3197-2.996l35.71-166.6c.5233-2.442 .7779-4.911 .7779-7.362c0-13.89-9.695-32.86-31.7-32.86c-14.79 0-28.12 10.26-31.34 25.29l-37.77 176.2c-2.807 13.1-14.38 22.46-27.77 22.46c-13.04 0-24.4-8.871-27.56-21.52l-52.11-208.5C243.6 11.2 230.5-.0013 215.6-.0013c-26.71 0-31.78 25.71-31.78 31.98c0 2.569 .3112 5.18 .9617 7.786l50.55 202.2c.2326 .9301 .3431 1.856 .3431 2.764c0 6.051-4.911 11.27-11.3 11.27c-4.896 0-9.234-3.154-10.74-7.812L166.9 103.9C162.4 89.1 149.5 80.02 135.5 80.02c-15.68 0-31.63 12.83-31.63 31.97c0 3.273 .5059 6.602 1.57 9.884l69.93 215.7c.2903 .8949 .4239 1.766 .4239 2.598c0 4.521-3.94 7.915-8.119 7.915c-1.928 0-3.906-.7219-5.573-2.388L101.7 285.3c-8.336-8.336-19.63-12.87-30.81-12.87c-23.56 0-39.07 19.69-39.07 39.55c0 10.23 3.906 20.47 11.72 28.28l122.5 122.5C197.6 494.3 240.3 512 284.9 512h50.98c23.5 0 108.4-14.57 132.5-103l73.96-271.2C543.2 134.8 543.6 131.7 543.6 128.6z"
                  />
                </svg>
              </div>
              <div class="homepage__question__body__item__content">
                <div class="homepage__question__body__item__title">{{ language("Life Coaching") }}</div>
                <div class="homepage__question__body__item__description">
                  {{ language("Find a life coach Advisor match for you!") }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="homepage__question__footer">
          ENJOY YOUR READING <br />3 FREE MIN + 60% OFF
          <div class="homepage__question__footer__button">
            <nuxt-link :to="'/advisor'"
              ><button type="button" class="btn btn-primary">{{ language("Try it now") }}</button></nuxt-link
            >
          </div>
        </div>
        <div class="homepage__question__header">
          <div class="homepage__question__name">
            {{ language("Popular questions") }}
          </div>
          <div class="homepage__question__body_qs">
            <div class="homepage__question__body_qs__item">
              <div
                class="homepage__question__body_qs__item__heading"
                v-on:click="
                  () => {
                    if (questionActive === 1) {
                      questionActive = 0;
                    } else {
                      questionActive = 1;
                    }
                  }
                "
              >
                <p>{{ language("How do I register and start a reading on Fuda") }}</p>
                <div class="homepage__question__body_qs__item__heading__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" v-if="questionActive === 1">
                    <path
                      d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"
                    />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" v-else>
                    <path
                      d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
                    />
                  </svg>
                </div>
              </div>
              <div class="homepage__question__body_qs__item__description" v-if="questionActive === 1">
                {{
                  language(
                    "To get started, press the Sign Up button on the top right corner of this website. After you have registered, simply Sign In and choose your favorite psychic, then click on their Chat or Call button."
                  )
                }}
              </div>
            </div>

            <div class="homepage__question__body_qs__item">
              <div
                class="homepage__question__body_qs__item__heading"
                v-on:click="
                  () => {
                    if (questionActive === 2) {
                      questionActive = 0;
                    } else {
                      questionActive = 2;
                    }
                  }
                "
              >
                <p>{{ language("How do I login to my account?") }}</p>
                <div class="homepage__question__body_qs__item__heading__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" v-if="questionActive === 2">
                    <path
                      d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"
                    />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" v-else>
                    <path
                      d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
                    />
                  </svg>
                </div>
              </div>
              <div class="homepage__question__body_qs__item__description" v-if="questionActive === 2">
                {{
                  language(
                    "If you have already registered, just click Sign In, located on the top right of this website."
                  )
                }}
              </div>
            </div>

            <div class="homepage__question__body_qs__item">
              <div
                class="homepage__question__body_qs__item__heading"
                v-on:click="
                  () => {
                    if (questionActive === 3) {
                      questionActive = 0;
                    } else {
                      questionActive = 3;
                    }
                  }
                "
              >
                <p>
                  {{ language("Choosing a username and password") }}
                </p>
                <div class="homepage__question__body_qs__item__heading__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" v-if="questionActive === 3">
                    <path
                      d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"
                    />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" v-else>
                    <path
                      d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
                    />
                  </svg>
                </div>
              </div>
              <div class="homepage__question__body_qs__item__description" v-if="questionActive === 3">
                {{
                  language(
                    "When you register on Fuda, you'll need to choose a username and password. You'll need these to login each time you come back for more psychic readings. We recommend that you choose a username and password that are unique, yet easy to remember. In order to keep your privacy, we suggest you pick something different from your real first and last name."
                  )
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//@ts-ignore
import language from "~/modules/language.ts";
export default {
  components: {},
  data() {
    return {
      questionActive: 0,
    };
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
  },
};
</script>
<style scoped lang="scss">
@import "~/assets/scss/variables.scss";
.homepage__question {
  width: 100%;
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  &__body {
    width: 100%;
    @include breakpoint(phablet) {
      padding: 0 0.75rem;
    }
    &_qs {
      width: 100%;
      float: left;
      margin-top: 30px;
      margin-bottom: 40px;
      &__item {
        width: 100%;
        padding: 16px 0;
        float: left;
        border-bottom: 1px $borderColor solid;
        &__description {
          width: 100%;
          float: left;
          font-size: 18px;
          font-weight: 400;
          color: $textLightColor;
          transition: all 1500ms;
        }
        &__heading {
          width: 100%;
          float: left;
          user-select: none;
          cursor: pointer;
          p {
            width: calc(100% - 30px);
            float: left;
            font-size: 20px;
            font-weight: 700;
          }
          &__icon {
            width: 30px;
            float: left;
            transition: all 500ms;
            svg {
              width: 18px;
              height: 18px;
              margin: 6px;
            }
          }
        }
      }
    }
    &__item {
      padding: 16px 0;
      &__content {
        width: calc(100% - 50px);
        float: left;
        padding: 0 32px;
        @include breakpoint(phablet) {
          width: 100%;
          padding: 0;
        }
      }
      &__title {
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        color: $textColor;
      }
      &__description {
        font-size: 14px;
        margin-top: 6px;
      }
      &__avatar {
        width: 50px;
        height: 50px;
        float: left;
        margin-top: 10px;
        svg {
          width: 40px;
          height: 40px;
          fill: $primaryColor;
        }
      }
    }
  }
  &__block {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__name {
    width: 100%;
    float: left;
    font-size: 34px;
    font-weight: 700;
    color: $textColor;
    text-align: center;
  }
  &__description {
    width: 70%;
    margin: 0 15%;
    float: left;
    font-size: 16px;
    font-weight: 400;
    color: $textColor;
    text-align: center;
    margin-bottom: 20px;
    @include breakpoint(phablet) {
      width: 100%;
      margin: 0;
    }
  }
  &__header {
    width: 100%;
    float: left;
  }
  &__footer {
    width: 70%;
    margin: 0 15%;
    float: left;
    font-size: 36px;
    font-weight: 700;
    color: $textColor;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
    @include breakpoint(phablet) {
      width: 100%;
      margin: 0;
      margin-top: 40px;
      font-size: 25px;
    }
    &__button {
      width: 100%;
      float: left;
      text-align: center;
      margin-top: 20px;
      button {
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
        font-weight: 900;
        font-size: 18px;
        @include breakpoint(phablet) {
          width: 100%;
          margin-bottom: 40px;
        }
      }
    }
  }
}
</style>
