<template>
  <div class="homepage__top_advisor">
    <div class="homepage__top_advisor__block">
      <!-- <div class="homepage__top_advisor__block__heading" v-if="!isCategory">
        <div class="homepage__top_advisor__block__name">
          <h2>{{ language("Top Advisors") }}</h2>
        </div>
        <div class="homepage__top_advisor__block__more">
          <nuxt-link :to="'/advisor'"
            >{{ language("See all") }}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
              <path
                d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
              />
            </svg>
          </nuxt-link>
        </div>
      </div> -->
      <!-- <div class="homepage__top_advisor__body">
        <div
          class="homepage__top_advisor__body__item"
          v-for="(itemAdvisor, index) in topAdvisor"
          :key="'top_advisor_' + index"
        >
          <nuxt-link
            :to="itemAdvisor.user_login ? '/advisor/' + itemAdvisor.user_login : '/advisor/' + itemAdvisor.user_id"
          >
            <div class="homepage__top_advisor__body__item__avatar">
              <img :src="itemAdvisor.user_avatar" v-if="itemAdvisor.user_avatar" @error="replaceByDefault" />
              <img src="~/assets/images/avatar_default.png" v-else />
              <client-only>
                <div
                  class="homepage__top_advisor__body__item__online"
                  v-if="onlineUser && onlineUser.length && onlineUser.indexOf(Number(itemAdvisor.user_id)) !== -1"
                ></div>
                <div class="homepage__top_advisor__body__item__offline" v-else></div>
              </client-only>
            </div>
            <div class="homepage__top_advisor__body__item__name">
              <div class="homepage__top_advisor__body__item__name__heading">
                <img
                  :src="getFlagByCode(itemAdvisor.user_nation)"
                  :alt="itemAdvisor.display_name"
                  v-if="getFlagByCode(itemAdvisor.user_nation)"
                />
                {{ itemAdvisor.display_name ? itemAdvisor.display_name : itemAdvisor.user_login }}
              </div>
              <div class="homepage__top_advisor__body__item__name__description">
                {{ truncateString(itemAdvisor.bio, 90, "...") }}
              </div>
            </div>
            <div class="homepage__top_advisor__body__item__video">
              <div class="homepage__top_advisor__body__item__video__bg">
                <img :src="itemAdvisor.user_avatar" v-if="itemAdvisor.user_avatar" @error="replaceByDefault"/>
                <img :src="`/advisors/advisor_0${index}.jpeg`" v-else />
                <div class="homepage__top_advisor__body__item__video__svg">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path
                      d="M361 215C375.3 223.8 384 239.3 384 256C384 272.7 375.3 288.2 361 296.1L73.03 472.1C58.21 482 39.66 482.4 24.52 473.9C9.377 465.4 0 449.4 0 432V80C0 62.64 9.377 46.63 24.52 38.13C39.66 29.64 58.21 29.99 73.03 39.04L361 215z" />
                  </svg>
                </div>
              </div>
            </div>
            <div class="homepage__top_advisor__body__item__rating">
              <div class="homepage__top_advisor__body__item__rating__item" v-if="itemAdvisor.average_rating">
                <p>{{ Math.round(itemAdvisor.average_rating * 10) / 10 }}</p>
                <rating :starNumber="itemAdvisor.average_rating" />
              </div>
              <div class="homepage__top_advisor__body__item__rating__item" v-else>
                <p class="homepage__top_advisor__body__item__rating__item__noreview">{{ language("No reviews") }}</p>
              </div>
              <div class="homepage__top_advisor__body__item__rating__order">
                {{ itemAdvisor.order_quantity }}
                {{ Number(itemAdvisor.order_quantity) === 1 ? "order" : "orders" }}
              </div>
            </div>
            <div class="homepage__top_advisor__body__item__order desktop">
              <div
                class="homepage__top_advisor__body__item__order__top"
                v-for="(serviceItem, serviceIndex) in handleGetService(itemAdvisor.service)"
                :key="'service__' + serviceIndex"
              >
                <button type="button" class="btn btn-outline-primary">
                  {{ serviceItem.service_name }} - {{ serviceItem.service_price }} {{ language("coin/min") }}
                </button>
              </div>
            </div>
            <div class="homepage__top_advisor__body__item__order mobile">
              <div
                class="homepage__top_advisor__body__item__order__top"
                v-for="(serviceItem, serviceIndex) in handleGetService(itemAdvisor.service)"
                :key="'service__' + serviceIndex"
              >
                <button
                  type="button"
                  :class="serviceItem.service_type === 'chat' ? 'btn btn-primary' : 'btn btn-outline-primary'"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                    v-if="serviceItem.service_type !== 'chat'"
                  >
                    <path
                      fill="currentColor"
                      d="M384 112v288c0 26.51-21.49 48-48 48h-288c-26.51 0-48-21.49-48-48v-288c0-26.51 21.49-48 48-48h288C362.5 64 384 85.49 384 112zM576 127.5v256.9c0 25.5-29.17 40.39-50.39 25.79L416 334.7V177.3l109.6-75.56C546.9 87.13 576 102.1 576 127.5z"
                    />
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    v-if="serviceItem.service_type === 'chat'"
                  >
                    <path
                      fill="currentColor"
                      d="M511.1 63.1v287.1c0 35.25-28.75 63.1-64 63.1h-144l-124.9 93.68c-7.875 5.75-19.12 .0497-19.12-9.7v-83.98h-96c-35.25 0-64-28.75-64-63.1V63.1c0-35.25 28.75-63.1 64-63.1h384C483.2 0 511.1 28.75 511.1 63.1z"
                    />
                  </svg>
                  {{ serviceItem.service_price }} {{ language("coin/min") }}
                </button>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div> -->
      <!-- <div class="homepage__top_advisor__button" v-if="!isCategory">
        <nuxt-link :to="'/advisor'"
          ><button type="button" class="btn btn-outline-primary">{{ language("See more Advisors") }}</button>
        </nuxt-link>
      </div> -->
    </div>
  </div>
</template>

<script>
import { flagModule } from "../../modules/flags";
import Rating from "../Default/Rating.vue";
import { stringProcess } from "../../modules/stringProcess";
import language from "~/modules/language.ts";

export default {
  props: ["topAdvisor", "isCategory"],
  created() {},
  data() {
    return {};
  },
  components: {
    Rating,
  },
  computed: {
    onlineUser() {
      return this.$store.state.onlineUser;
    },
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      lang = lang.toString();
      let dataReturn = language(text, lang);
      return dataReturn.toString();
    },
    getFlagByCode(code) {
      if (!code) {
        return "";
      }
      code = code.toUpperCase();
      let dataFlag = flagModule.findFlagByCode(code);
      if (dataFlag) {
        return dataFlag.image;
      } else {
        return "";
      }
    },
    truncateString(string, number, text) {
      return stringProcess.truncateString(string, number, text);
    },
    replaceByDefault(e) {
      e.target.src = "/images/avatar_default.png";
    },
    handleGetService(data) {
      let newData = data.filter((value, index) => {
        if (value.service_type === "chat" || value.service_type === "clip") {
          return true;
        } else {
          return false;
        }
      });
      newData = newData.filter((newValue, index) => {
        if (index <= 1) {
          return true;
        } else {
          return false;
        }
      });
      return newData;
    },
  },
};
</script>

<style lang="scss">
@import "~/assets/scss/variables.scss";

.btn:disabled {
  background-color: #777 !important;
  border: 1px #777 solid !important;
}

.homepage__top_advisor {
  &__body {
    width: 100%;
    float: left;

    &__item {
      width: calc(100% + 40px);
      float: left;
      margin-right: 26px;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -20px;
      margin-right: -20px;
      border-radius: 16px;
      margin-bottom: 10px;
      cursor: pointer;
      //border-bottom: 1px #e5e5e5 solid;
      transition: 300ms all;
      position: relative;
      a {
        color: $textColor;
      }

      @include breakpoint(phablet) {
        border-radius: 0;
      }

      &:hover {
        background-color: $primaryBackground;
      }

      &__online {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 4px #fff solid;
        background-color: $successColor;
        bottom: 0px;
        right: 0px;

        @include breakpoint(mobile) {
          bottom: 0;
          right: 0;
          width: 16px;
          height: 16px;
          border: 3px #fff solid;
        }
      }

      &__offline {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 4px #fff solid;
        background-color: #aaa;
        bottom: 0px;
        right: 0px;

        @include breakpoint(mobile) {
          bottom: 0;
          right: 0;
          width: 16px;
          height: 16px;
          border: 3px #fff solid;
        }
      }

      &__video {
        width: 200px;
        float: left;

        @include breakpoint(phablet) {
          display: none;
        }

        &__svg {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.3);
          position: absolute;
          top: calc(50% - 30px);
          right: calc(50% - 30px);

          svg {
            width: 30px;
            height: 30px;
            margin: 15px 12px 15px 17px;
            fill: #fff;
          }
        }

        &__bg {
          width: 100%;
          height: 120px;
          border-radius: 16px;
          position: relative;
          overflow: hidden;
          transition: 0.5s all;

          &:hover {
            img {
              width: 110%;
              height: 110%;
            }
          }

          img {
            width: 100%;
            height: 100%;
            transition: 0.5s all;
            object-fit: cover;
          }
        }
      }

      &__rating {
        width: 200px;
        float: left;
        padding: 0px 10px 0 16px;

        @include breakpoint(phablet) {
          width: calc(100% - 80px);
          margin-left: 80px;
          padding: 10px 10px 10px 20px;
        }

        @include breakpoint(mobile) {
          width: calc(100% - 50px);
          margin-left: 50px;
          padding: 4px 10px 4px 20px;
        }

        &__order {
          width: 100%;
          float: left;
          text-align: left;
          margin-top: 4px;
        }

        p {
          float: left;
          line-height: 30px;
          margin-right: 8px;
          font-size: 20px;
          font-weight: 400;
          margin-bottom: -4px;
          margin-top: -2px;
        }

        &__item {
          float: left;
          width: 100%;
          margin-bottom: 0;

          .tarot_starview {
            float: left;
          }

          &__noreview {
            font-size: 16px !important;
            color: #444;
          }

          .tarot_starview svg {
            fill: #aaa;
            width: 16px;
            height: 16px;
            margin-right: 2px;

            &.active {
              fill: #ffb703;
            }
          }
        }
      }

      &__order {
        width: calc(100% - 200px - 200px - 200px - 80px);
        float: left;

        &.desktop {
          display: block;

          @include breakpoint(phablet) {
            display: none;
          }
        }

        &.mobile {
          display: none;

          @include breakpoint(phablet) {
            display: block;
          }
        }

        @include breakpoint(phablet) {
          width: calc(100% + 10px);
          margin: 0 -5px;
          margin-left: 0;
        }

        @include breakpoint(mobile) {
        }

        button {
          width: 100%;
          margin-bottom: 8px;
          border-radius: 8px;
          font-size: 12px;
          font-weight: 700;
          height: 36px;

          svg {
            height: 18px;
            margin-right: 6px;
          }

          @include breakpoint(phablet) {
            width: calc(50% - 10px);
            float: left;
            margin: 0 5px;
          }

          @include breakpoint(mobile) {
          }
        }
      }

      &__name {
        width: 400px;
        float: left;
        padding: 0 10px 0 20px;
        text-align: left;

        a {
          color: $textColor;
        }

        @include breakpoint(phablet) {
          width: calc(100% - 80px);
        }

        @include breakpoint(mobile) {
          width: calc(100% - 50px);
        }

        &__heading {
          width: 100%;
          margin-top: 0px;
          font-size: 16px;
          font-weight: 700;
          color: $textColor;

          a {
            color: $textColor;
          }

          img {
            width: 20px;
            margin-right: 4px;
            margin-top: -1px;
          }
        }
      }

      &__avatar {
        width: 80px;
        height: 80px;
        float: left;
        position: relative;

        @include breakpoint(phablet) {
          margin-top: 0px;
        }

        @include breakpoint(mobile) {
          width: 50px;
          height: 50px;
          margin-top: 4px;
        }

        &__flag {
          width: 30px;
          height: auto;
          margin: -2px 0 0 25px;

          @include breakpoint(mobile) {
            margin: -2px 0 0 10px;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 10px;

    &__heading {
      width: 100%;
      float: left;
    }

    &__name {
      width: calc(100% - 150px);
      float: left;
      font-size: 26px;

      h2 {
        font-size: 26px;
        color: $textColor;
        font-weight: 700;
      }
    }

    &__more {
      width: 150px;
      float: left;
      text-align: right;
      cursor: pointer;
      user-select: none;

      svg {
        width: 18px;
        height: 18px;
        fill: #aaa;
        margin-top: -2px;
      }
    }
  }

  &__button {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;

    button {
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 30px;
    }
  }
}
</style>
