<template>
  <div class="homepage__topic">
    <div class="body_container">
      <!-- <div class="homepage__topic__block">
        <div class="homepage__topic__header">
          <div class="homepage__topic__name">
            {{ language("What topic or method are you interested in?") }}
          </div>
          <div class="homepage__topic__description">
            {{
                language(
                  "Connect with real professionals who have the real skills to help you"
                )
            }}
          </div>
        </div>
        <div class="homepage__topic__body"  v-if="dataTopic && dataTopic.length">
          <VueSlickCarousel :arrows="false" :dots="true" :slidesToShow="1" :adaptiveHeight="true">
            <div class="homepage__topic__border" v-for="(topicArrayItem, indexTopic) in dataTopic"
              :key="'topic_array_' + indexTopic">
              <div class="homepage__topic__data">
                <div class="homepage__topic__data__item" v-for="(itemTopic, index) in topicArrayItem"
                  :key="'topic_item_' + index">
                  <nuxt-link :to="'/advisor?topic=' + itemTopic.taxonomy_slug"><button type="button"
                      class="btn btn-outline-primary">
                      {{ itemTopic.taxonomy_name }}
                    </button></nuxt-link>
                </div>
              </div>
            </div>
          </VueSlickCarousel>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
import VueSlickCarousel from 'vue-slick-carousel';
export default {
  props: ["topicArray"],
  components: { VueSlickCarousel },
  created() {
    if (this.topicArray?.length) {
      let topicLength = this.topicArray?.length;
      let totalTopic = Math.ceil(topicLength / 10);
      let dataTopicToAdd = [];
      for (let indexTopic = 0; indexTopic < totalTopic; indexTopic++) {
        let startIndex = (indexTopic * 10);
        let dataToPrepare = this.topicArray.filter((value, index) => {
          if ((index >= startIndex) && (index < (startIndex + 10))) {
            return true;
          } else {
            return false;
          }
        })
        dataTopicToAdd.push(dataToPrepare)
      }
      this.dataTopic = dataTopicToAdd;
    }
  },
  data() {
    return {
      dataTopic: []
    };
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
  },
};
</script>

<style lang="scss">
@import "~/assets/scss/variables.scss";
@import 'vue-slick-carousel/dist/vue-slick-carousel.css';
// optional style for arrows & dots
@import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css';

.slick-list {
  width: 100%;
  display: inline-block;
}

.slick-slide {
  min-height: 1px;
}

.homepage__topic {
  width: 100%;
  float: left;

  &__body {
    width: 100%;
    float: left;

  }

  &__border {
    width: 100%;
    height: auto;
    float: left;
  }

  &__data {
    width: 100%;
    text-align: center;
    display: block;
    list-style: none;
    position: relative;
    justify-content: center;
    float: left;
    flex-wrap: wrap;
    &__item {
      display: inline-block;
      margin: 5px;
      &:hover {
        button {
          box-shadow: 0 0 0 0.25rem rgba($primaryLightColor, 0.7) !important;
        }
      }
    }
  }

  &__name {
    width: 100%;
    float: left;
    font-size: 24px;
    font-weight: 700;
    color: $textColor;
    text-align: center;
  }

  &__description {
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 400;
    color: $textColor;
    text-align: center;
    margin-bottom: 20px;
  }

  &__header {
    width: 100%;
    float: left;
  }

  &__block {
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
</style>
