<template>
  <div class="user_order">
    <order-detail :orderId="orderId"/>
  </div>
</template>

<script>
import OrderDetail from "~/components/User/OrderDetail.vue";

export default {
  name: "user_order_detail",
  components: {
    OrderDetail
  },
  async asyncData({ env, params, redirect }) {
    try {
      let orderId = params.id;
      return {orderId: orderId}
    } catch (error) {
      return redirect('/error');
    }
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
