<template>
  <div class="user_order">
    <client-only>
      <order-component />
    </client-only>
  </div>
</template>

<script>
import OrderComponent from "~/components/User/OrderComponent.vue";

export default {
  name: "user_order",
  components: {
    OrderComponent
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
.user_order {
  min-height: 500px;
  width: 100%;
  float: left;
}
</style>
