@import "~/assets/scss/variables.scss";
@import "~/assets/scss/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

.btn-primary {
  color: #fff !important;
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
  min-height: 36px;
}

.btn-cancel {
  color: #fff !important;
  background-color: $cancelColor !important;
  border-color: $cancelColor !important;
  min-height: 36px;
}

.form-check-input:checked {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}

.btn-outline-primary {
  background-color: #fff !important;
  border-color: $primaryColor !important;
  color: $primaryColor !important;
  min-height: 36px;
}

.form-check-input:focus {
  border-color: rgba($primaryLightColor, 0.7) !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba($primaryLightColor, 0.6) !important;
}

.form-control:focus {
  border-color: $primaryLightColor !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba($primaryLightColor, 0.6) !important;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba($primaryLightColor, 0.7) !important;
}

//ANTD Reset
// ADD CSS QUESTION
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: $fontFamily;
  letter-spacing: 0.1px;
}

h1 {
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  @include breakpoint(phablet) {
    font-size: 26px;
  }
}

html {
  font-family: $fontFamily;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $textColor;
  scroll-behavior: auto !important;
  height: -webkit-fill-available;
  @include breakpoint(tablet) {
    font-size: 15px;
  }
  @include breakpoint(mobile) {
    font-size: 14px;
  }
  @include breakpoint(tiny_mobile) {
    font-size: 13px;
  }
}

.clear {
  width: 100%;
  clear: both;
}
.body_container {
  margin: 0 auto;
  position: relative;
  padding: 0;
  @include breakpoint(laptop) {
    width: 960px;
    padding: 0 20px;
    max-width: 960px;
  }
  @include breakpoint(tablet) {
    width: 960px;
    max-width: 960px;
    padding: 0 20px;
  }
  @include breakpoint(phablet) {
    width: 100%;
    padding: 0 20px;
  }
}
// LAYOUT
.body {
  margin: 0 auto;
  position: relative;
  &.collapse {
    padding: 0 0 20px 0;
    &.active {
      @include breakpoint(laptop) {
        width: calc(100% - 130px);
        margin: 0 0 0 130px;
      }
    }
    @include breakpoint(laptop) {
      width: calc(100% - 70px);
      margin: 0 0 0 70px;
    }
    @include breakpoint(tablet) {
      width: calc(100% - 70px);
      margin: 0 0 0 70px;
    }
    @include breakpoint(phablet) {
      width: 100%;
      margin: 0px 0px 50px 0px;
      float: left;
    }
    .before_web_body {
      width: 300px;
      height: 10px;
      background: red;
      float: left;
    }
    .web_body {
      width: 100%;
      padding: 0 30px 0 30px;
      margin: 0 auto;
      @include breakpoint(laptop) {
        max-width: 1300px;
      }
      @include breakpoint(phablet) {
        padding: 0 15px 0 15px;
      }
    }
    .container {
      width: 100%;
      padding: 0 30px 0 30px;
      margin: 0px auto;
      @include breakpoint(laptop) {
        max-width: 1300px;
      }
      @include breakpoint(phablet) {
        padding: 0 15px 0 15px;
      }
      .sidebar {
        width: 300px;
        float: right;
        @include breakpoint(tablet) {
          display: none;
        }
        @include breakpoint(phablet) {
          display: none;
        }
      }
      .content {
        width: 100%;
        float: left;
        @include breakpoint(tablet) {
          width: 100%;
        }
        @include breakpoint(phablet) {
          width: 100%;
        }
      }
    }
  }
  &.expand {
    padding: 0 0 20px 0;
    margin: 0px auto;
    @include breakpoint(laptop) {
      width: calc(100% - 220px);
      margin: 0 0 0 220px;
    }
    @include breakpoint(tablet) {
      width: calc(100% - 220px);
      margin: 0 0 0 220px;
    }
    @include breakpoint(phablet) {
      width: 100%;
      margin: 0px 0px 50px 0px;
      float: left;
    }
    .web_body {
      margin: 0 auto;
      width: 100%;
      padding: 0 30px 0 30px;
      @include breakpoint(laptop) {
        max-width: 1300px;
      }
      @include breakpoint(phablet) {
        padding: 0 15px 0 15px;
      }
    }
    .container {
      width: 100%;
      padding: 0 30px 0 30px;
      margin: 0 auto;
      @include breakpoint(laptop) {
        max-width: 1300px;
      }
      @include breakpoint(phablet) {
        padding: 0 15px 0 15px;
      }
      .sidebar {
        width: 300px;
        float: right;
        @include breakpoint(tablet) {
          display: none;
        }
        @include breakpoint(phablet) {
          display: none;
        }
      }
      .content {
        width: calc(100% - 330px);
        margin: 0 30px 0 0;
        float: left;
        @include breakpoint(tablet) {
          width: 100%;
          margin: 0 0px 0 0;
        }
        @include breakpoint(phablet) {
          width: 100%;
          margin: 0 0px 0 0;
        }
      }
    }
  }
  &.not_margin {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .main {
    position: relative;
    z-index: 50;
  }
}

// DESIGN
.box {
  background: #fff;
}

.box_popup {
  box-shadow: 0 3px 8px 1px rgba($borderColor, 0.5);
  border: solid 1px rgba($borderColor, 1);
  background: #ffffff;
  border-radius: 4px;
}

.elmSimulation {
  display: block;
  width: 100%;
  height: 20px;
  animation: timeline;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px auto;
  @keyframes timeline {
    0% {
      background-position: -350px 0;
    }
    100% {
      background-position: 400px 0;
    }
  }
}

.input {
  margin-top: 0.3rem;
  transition: box-shadow 0.1s;
  outline: none;
  border: 0;
  border-radius: 0.4rem;
  box-shadow: inset 0 0 0 1px #e2e2e2;
  background: #fff;
  padding: 0.98rem 1.4rem 0.88rem 1.4rem;
  width: 100%;
  color: #262727;
  font-size: 1rem;
  &:focus {
    box-shadow: inset 0 0 0 2px #2392ec;
    background: #fff;
  }
  &::placeholder {
    color: #e2e2e2;
  }
  &[readonly] {
    background: #f7f6f6;
    &:focus {
      box-shadow: inset 0 0 0 1px #e2e2e2;
    }
  }
  &.error {
    box-shadow: inset 0 0 0 2px #ef4e65;
  }
}

.textarea {
  margin-top: 0.3rem;
  transition: box-shadow 0.1s;
  outline: none;
  border: 0;
  border-radius: 0.4rem;
  box-shadow: inset 0 0 0 1px #e2e2e2;
  background: #fff;
  padding: 0.98rem 1.4rem 0.88rem 1.4rem;
  width: 100%;
  color: #262727;
  font-size: 1rem;
  &:focus {
    box-shadow: inset 0 0 0 2px #2392ec;
    background: #fff;
  }
  &::placeholder {
    color: #e2e2e2;
  }
  &[readonly] {
    background: #f7f6f6;
    &:focus {
      box-shadow: inset 0 0 0 1px #e2e2e2;
    }
  }
  &.error {
    box-shadow: inset 0 0 0 2px #ef4e65;
  }
}

.button {
  margin-top: 0.3rem;
  background: #2392ec;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.48rem 1.4rem 0.38rem 1.4rem;
  letter-spacing: 0.02rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 1.857142857rem;
  transition: background 0.15s ease-in-out, transform 0.1s ease;
  cursor: pointer;
  &:hover {
    background: #1a83d8;
  }
  &:focus {
    outline: none;
    background: #1a83d8;
  }
  &:active {
    transform: scale(0.98);
  }
  &[data-disabled="true"] {
    background: rgba(#2392ec, 0.6);
    &:active {
      transform: scale(1);
    }
  }
  &_loading {
    display: inline-block;
    position: relative;
    width: 1.2rem;
    height: 1rem;
    top: 0.27rem;
  }

  &_loading i {
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: rgb(255, 255, 255);
    border-radius: 11px;
    animation: cssload-spin2 1.73s ease-in-out infinite;
  }
  &_loading i:first-child {
    top: -0.625rem;
    left: 0;
    background: rgb(255, 255, 255);
    animation: cssload-spin 1.73s ease-in-out infinite;
  }
  &_loading i:last-child {
    top: 0.625rem;
    left: -0.625rem;
    background: rgb(255, 255, 255);
    animation: cssload-spin3 1.73s ease-in-out infinite;
  }

  @keyframes cssload-spin {
    0% {
      top: -0.4rem;
      left: 0;
      transform: scale(1);
    }
    17% {
      transform: scale(0.54);
    }
    33% {
      top: 0.4rem;
      left: 0.4rem;
      transform: scale(1);
    }
    50% {
      transform: scale(0.54);
    }
    66% {
      top: 0.4rem;
      left: -0.4rem;
      transform: scale(1);
    }
    83% {
      transform: scale(0.54);
    }
    100% {
      top: -0.4rem;
      left: 0;
      transform: scale(1);
    }
  }

  @keyframes cssload-spin2 {
    0% {
      top: 0.4rem;
      left: 0.4rem;
      transform: scale(1);
    }
    17% {
      transform: scale(0.54);
    }
    33% {
      top: 0.4rem;
      left: -0.4rem;
      transform: scale(1);
    }
    50% {
      transform: scale(0.54);
    }
    66% {
      top: -0.4rem;
      left: 0;
      transform: scale(1);
    }
    83% {
      transform: scale(0.54);
    }
    100% {
      top: 0.4rem;
      left: 0.4rem;
      transform: scale(1);
    }
  }

  @keyframes cssload-spin3 {
    0% {
      top: 0.4rem;
      left: -0.4rem;
      transform: scale(1);
    }
    17% {
      transform: scale(0.54);
    }
    33% {
      top: -0.4rem;
      left: 0;
      transform: scale(1);
    }
    50% {
      transform: scale(0.54);
    }
    66% {
      top: 0.4rem;
      left: 0.4rem;
      transform: scale(1);
    }
    83% {
      transform: scale(0.54);
    }
    100% {
      top: 0.4rem;
      left: -0.4rem;
      transform: scale(1);
    }
  }

  /* color white */
  &.white {
    background: #fff;
    border: solid 2px rgba(#2392ec, 0.7);
    color: rgba(#2392ec, 0.8);
    transition: all 0.25s ease-in-out;
    &:hover {
      color: #fff;
      background: #2392ec;
    }
  }
}

.select {
  margin-top: 0.3rem;
  transition: box-shadow 0.1s;
  outline: none;
  border: 0;
  border-radius: 0.4rem;
  box-shadow: inset 0 0 0 1px #e2e2e2;
  background: #fff;
  padding: 0.98rem 1.4rem 0.88rem 1.4rem;
  width: 100%;
  color: #262727;
  font-size: 1rem;
  &:focus {
    box-shadow: inset 0 0 0 2px #2392ec;
    background: #fff;
  }
  &::placeholder {
    color: #e2e2e2;
  }
  &[readonly] {
    background: #f7f6f6;
    &:focus {
      box-shadow: inset 0 0 0 1px #e2e2e2;
    }
  }
  &.error {
    box-shadow: inset 0 0 0 2px #ef4e65;
  }
}

.form {
  .form_group {
    margin-top: 1rem;
    width: 100%;
    float: left;
    label {
      user-select: none;
      span {
        color: red;
      }
    }
  }
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  appearance: none;
}

path,
ellipse,
circle,
rect,
polygon,
polyline,
line {
  stroke-width: 0;
}
@keyframes ld-cycle {
  0%,
  50%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ld-cycle {
  0%,
  50%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ld.ld-cycle {
  -webkit-animation: ld-cycle 1s infinite linear;
  animation: ld-cycle 1s infinite linear;
  transform-origin: 50px 50px 0px;
  animation-duration: 1s;
  animation-delay: -0.909091s;
  animation-direction: normal;
}
.ld.ld-cycle-first {
  transform-origin: 50px 50px 0px;
}

#loading_editor {
  width: 100%;
  text-align: center;
  position: relative;
  svg {
    width: 60px;
    height: 60px;
    top: calc(50% - 40px);
    left: calc(50% - 30px);
    display: block;
    position: fixed;
    fill: #e0e0e0;
  }
  .text_while_loading {
    width: 150px;
    height: 40px;
    top: calc(50% + 25px);
    left: calc(50% - 70px);
    color: $textLightColor;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    display: block;
    position: fixed;
  }
}

.tooltip {
  display: block !important;
  z-index: 10000;
  .tooltip-inner {
    background: #fff;
    color: #444;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
    padding: 5px 10px 4px;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #fff;
    z-index: 1;
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &.popover {
    $color: #f9f9f9;
    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, 0.1);
    }
    .popover-arrow {
      border-color: $color;
    }
  }
  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }
  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}



.section {
  text-align: justify;
  margin-bottom: 40px;
  h2,
  h3,
  h4,
  h5 {
    font-size: 22px;
    font-weight: 700;
    color: $primaryColor;
    text-align: left;
    width: 100%;
    float: left;
    margin-top: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  p,
  span {
    font-size: 16px !important;
    font-family: $fontFamily  !important;
    color: $textColor;
    line-height: 1.5;
    width: 100%;
    float: left;
    font-weight: 400;
    padding-bottom: 0;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    div {
      width: 100% !important;
    }

    iframe {
      border: 0;
      margin: 0 0 20px 0;
    }
  }
  img {
    margin: 15px 0 15px 0;
    max-width: 100% !important;
    height: auto !important;
  }
  p {
    margin: 5px 0;
  }
  iframe {
    border: 0;
    width: 100%;
    max-height: 500px;
  }
}


.grecaptcha-badge {
  visibility: hidden;
}


.row {
  min-width: calc(100% - 1.5rem);
}

.only_advisor {
  width: 100%;

  &__image {
    width: 100%;
    text-align: center;

    img {
      width: 200px;
      height: auto;
      margin: 0 auto;
      margin-top: 50px;
    }

  }

  &__title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: $textColor;
  }

  &__desc {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: $textColor;
  }

  &__button {
    width: 100%;
    text-align: center;

    button {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 100px;
    }
  }
}

.signin-button > div
{
  max-width: unset!important;
  div {
    max-width: unset!important;
    padding-left: unset!important;
    padding-right: unset!important;
  }

}
.signin-button > div > div > svg {
  height: 37px;
  width: 100%;
  fill: #fff!important;

  g {
    svg {
      fill: #000!important;
      text {
        font-weight: 700;
        font-family: $fontFamily;
        font-size: 10px;
      }
    }
  }
  rect {
    fill: #fff!important;
  }
}

.plyr__controls__item.plyr__progress__container {
  flex: 1;
}
