<template>
  <div class="homepage__question">
    <h1>{{ language("Frequently Asked Questions") }}</h1>
    <section>
      <div class="homepage__question__body_qs">
        <div v-for="(helpItem, helpIndex) in dataNeedHelp" :key="'need_help_' + helpIndex">
          <need-help-child :questionObject="helpItem" :questionChoose="needHelpChoose"
            @handleClickChoose="handleClickChoose" />
        </div>
        <div class="advisor_category__empty w-100" v-if="(!dataNeedHelp || dataNeedHelp.length === 0) && !isLoading">
          <img src="/images/withdrawal.png" />
          <div class="advisor_category__empty__heading">
            {{ language("Need Help is empty!") }}
          </div>
        </div>

      </div>
    </section>
  </div>
</template>

<script>
import { needHelpService } from "../../services/need-help.service";
import NeedHelpChild from "./NeedHelpChild.vue";
import language from "~/modules/language.ts";

export default {
  components: { NeedHelpChild },
  data() {
    return {
      dataNeedHelp: [],
      needHelpChoose: [],
      isLoading: false
    };
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    handleClickChoose(chooseId) {
      if (this.needHelpChoose.indexOf(chooseId) === -1) {
        this.needHelpChoose.push(chooseId);
      } else {
        let indexChoose = this.needHelpChoose.indexOf(chooseId);
        this.needHelpChoose.splice(indexChoose, 1);
      }
    },
    handleProcessData() {
      let dataFilter = {
        page: 1,
        limit: 100,
      };
      this.isLoading = true;
      needHelpService
        .getDataNeedHelp(dataFilter)
        .then((response) => {
          if (response?.data) {
            this.dataNeedHelp = response.data;
          } else {
            this.dataNeedHelp = [];
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.dataNeedHelp = [];
          this.isLoading = false;
        });
    },
  },

  created() {
    this.handleProcessData();
  },
};
</script>


<style lang="scss">
@import "~/assets/scss/variables.scss";

.homepage__question {
  width: 100%;
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;

  h1 {
    width: 100%;
    font-weight: 700;
    font-size: 36px;

    @include breakpoint(phablet) {
      font-size: 26px;
    }
  }

  &__body {
    width: 100%;

    &_qs {
      width: 100%;
      float: left;
      margin-top: 30px;
      margin-bottom: 40px;

      &__item {
        width: 100%;
        padding: 16px 0;
        float: left;
        border-bottom: 1px $borderColor solid;

        &__description {
          width: 100%;
          float: left;
          font-size: 18px;
          font-weight: 400;
          color: $textLightColor;
          transition: all 1500ms;
        }

        &__heading {
          width: 100%;
          float: left;
          user-select: none;
          cursor: pointer;

          p {
            width: calc(100% - 30px);
            float: left;
            font-size: 20px;
            font-weight: 700;
          }

          &__icon {
            width: 30px;
            float: left;
            transition: all 500ms;

            svg {
              width: 18px;
              height: 18px;
              margin: 6px;
            }
          }
        }
      }
    }

    &__item {
      padding: 16px 0;

      &__content {
        width: calc(100% - 50px);
        float: left;
        padding: 0 32px;
      }

      &__title {
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        color: $textColor;
      }

      &__description {
        font-size: 14px;
        margin-top: 6px;
      }

      &__avatar {
        width: 50px;
        height: 50px;
        float: left;
        margin-top: 10px;

        svg {
          width: 40px;
          height: 40px;
          fill: $primaryColor;
        }
      }
    }
  }

  &__block {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__name {
    width: 100%;
    float: left;
    font-size: 34px;
    font-weight: 700;
    color: $textColor;
    text-align: center;
  }

  &__description {
    width: 70%;
    margin: 0 15%;
    float: left;
    font-size: 16px;
    font-weight: 400;
    color: $textColor;
    text-align: center;
    margin-bottom: 20px;
  }

  &__header {
    width: 100%;
    float: left;
  }

  &__footer {
    width: 70%;
    margin: 0 15%;
    float: left;
    font-size: 36px;
    font-weight: 700;
    color: $textColor;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;

    &__button {
      width: 100%;
      float: left;
      text-align: center;
      margin-top: 20px;

      button {
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
        font-weight: 900;
        font-size: 18px;
      }
    }
  }
}

.advisor_category {
  &__empty {
    width: 100%;
    text-align: center;
    padding: 0 0 100px 0;

    img {
      width: 200px;
      margin: 0 auto;
      margin-top: 100px;
    }

    &__heading {
      width: 100%;
      text-align: center;
      font-size: 18px;
      color: #888;
    }
  }
}
</style>
