<template>
  <div>
    <div class="homepage__question__body_qs__item">
      <div
        class="homepage__question__body_qs__item__heading"
        v-on:click="handleClickQuestion(questionObject.help_id)"
      >
        <p>{{ questionObject.help_title }}</p>
        <div class="homepage__question__body_qs__item__heading__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            v-if="questionChoose.indexOf(questionObject.help_id) !== -1"
          >
            <path
              d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"
            />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" v-else>
            <path
              d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
            />
          </svg>
        </div>
      </div>
      <div
        class="homepage__question__body_qs__item__description"
        v-if="questionChoose.indexOf(questionObject.help_id) !== -1"
      >
        {{ questionObject.help_description }}
      </div>
    </div>
  </div>
</template>

<script>
//@ts-ignore
import language from "~/modules/language.ts";
export default {
  components: {},
  props: ["questionChoose", "questionObject"],
  data() {
    return {
      questionActive: 0,
    };
  },
  methods: {
    handleClickQuestion(questionId) {
       this.$emit("handleClickChoose", questionId);
    },
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
  },
};
</script>
<style scoped lang="scss">
@import "~/assets/scss/variables.scss";
.homepage__question {
  width: 100%;
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  &__body {
    width: 100%;

    &_qs {
      width: 100%;
      float: left;
      margin-top: 30px;
      margin-bottom: 40px;
      &__item {
        width: 100%;
        padding: 16px 0;
        float: left;
        border-bottom: 1px $borderColor solid;
        &__description {
          width: 100%;
          float: left;
          font-size: 18px;
          font-weight: 400;
          color: $textLightColor;
          transition: all 1500ms;
        }
        &__heading {
          width: 100%;
          float: left;
          user-select: none;
          cursor: pointer;
          p {
            width: calc(100% - 30px);
            float: left;
            font-size: 20px;
            font-weight: 700;
          }
          &__icon {
            width: 30px;
            float: left;
            transition: all 500ms;
            svg {
              width: 18px;
              height: 18px;
              margin: 6px;
            }
          }
        }
      }
    }
    &__item {
      padding: 16px 0;
      &__content {
        width: calc(100% - 50px);
        float: left;
        padding: 0 32px;
      }
      &__title {
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        color: $textColor;
      }
      &__description {
        font-size: 14px;
        margin-top: 6px;
      }
      &__avatar {
        width: 50px;
        height: 50px;
        float: left;
        margin-top: 10px;
        svg {
          width: 40px;
          height: 40px;
          fill: $primaryColor;
        }
      }
    }
  }
  &__block {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__name {
    width: 100%;
    float: left;
    font-size: 34px;
    font-weight: 700;
    color: $textColor;
    text-align: center;
  }
  &__description {
    width: 70%;
    margin: 0 15%;
    float: left;
    font-size: 16px;
    font-weight: 400;
    color: $textColor;
    text-align: center;
    margin-bottom: 20px;
  }
  &__header {
    width: 100%;
    float: left;
  }
  &__footer {
    width: 70%;
    margin: 0 15%;
    float: left;
    font-size: 36px;
    font-weight: 700;
    color: $textColor;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
    &__button {
      width: 100%;
      float: left;
      text-align: center;
      margin-top: 20px;
      button {
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
        font-weight: 900;
        font-size: 18px;
      }
    }
  }
}
</style>
