<template>
  <div class="body_article">
    <div class="body_container">
      <div class="body_article__breadcrumb">
        <nuxt-link :to="'/'"> {{ language("Home") }}</nuxt-link> >>
        <nuxt-link :to="'/article'">{{ language("Article") }}</nuxt-link>
      </div>
      <h1 class="article_h1">{{ dataArticle.post_title }}</h1>
      <div class="article_content" v-html="dataArticle.post_content"></div>
    </div>
    <div v-if="dataAdvisorTop.length">
      <new-advisors :advisorNew="dataAdvisorTop" />
    </div>
  </div>
</template>

<script>
import { articleService } from "../../services/article.service";
import NewAdvisors from "~/components/Homepage/NewAdvisors.vue";
import { advisorService } from "../../services/advisor.service";
import language from "~/modules/language.ts";

export default {
  name: "article_detail",
  async asyncData({ env, params, redirect }) {
    try {
      //env.NODE_TLS_REJECT_UNAUTHORIZED = false;
      let articleSlug = params.slug;
      let detailArticle = await articleService
        .getArticleBySlug(articleSlug)
        .then((response) => {
          return response;
        })
        .catch((error) => {
          return null;
        });
      if (detailArticle && detailArticle.data) {
        return {
          dataArticle: detailArticle.data,
        };
      } else {
        return redirect("/error");
      }
    } catch (error) {
      return redirect("/error");
    }
  },
  components: {
    NewAdvisors,
  },
  data() {
    return {
      dataAdvisorTop: [],
    };
  },
  created() {
    this.handleGetNewAdvisor();
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default.toString();
      return language(text, lang);
    },
    handleGetNewAdvisor() {
      advisorService
        .getNewAdvisor(1, 6)
        .then((response) => {
          this.dataAdvisorTop = response;
        })
        .catch((error) => {
          this.dataAdvisorTop = [];
        });
    },
  },
};
</script>

<style lang="scss">
@import "~/assets/scss/variables.scss";

h1.article_h1 {
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  margin-top: 10px;

  @include breakpoint(phablet) {
    font-size: 26px;
  }
}

figure,
.image {
  max-width: 100% !important;
  margin: 16px 0 !important;
}

.article_content {
  width: 100%;
  float: left;
  margin-top: 20px;
  margin-bottom: 50px;

  img {
    max-width: 100% !important;
    margin: 0 auto;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  text-align: justify;

  h2,
  h3,
  h4,
  h5 {
    font-size: 22px;
    font-weight: 700;
    color: $primaryColor;
    text-align: left;
    width: 100%;
    float: left;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  p,
  span {
    font-size: 16px !important;
    font-family: $fontFamily !important;
    color: $textColor;
    line-height: 1.5;
    width: 100%;
    float: left;
    font-weight: 400;
    padding-bottom: 0;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    div {
      width: 100% !important;
    }

    iframe {
      border: 0;
      margin: 0 0 20px 0;
    }
  }

  img {
    margin: 15px 0 15px 0;
    max-width: 100% !important;
    height: auto !important;
  }

  p {
    margin: 5px 0;
  }

  iframe {
    border: 0;
    width: 100%;
    max-height: 500px;
  }

  figure {
    max-width: 100%;
    text-align: center;
  }

  h2,
  h3,
  h4 {
    font-weight: 900;
    color: $textColor;
    margin-top: 16px;
    font-size: 22px;
    margin-bottom: 16px;
  }
}
.body_article {
  width: 100%;
  float: left;
  padding-bottom: 40px;
  &__breadcrumb {
    margin-top: 30px;
    width: 100%;
    float: left;
    font-size: 16px;
    margin-bottom: 10px;
    a {
      color: $textColor;
    }
  }
}
</style>
