<template>
  <div>
    <div class="article">
      <list-article :titleArticle="titleArticle" :dataArticle="dataArticle" :isSeeAll="false" />
      <div class="body_container" v-if="isLoading">
        <div class="article__loading">
          <div class="spinner-border m-5" role="status"></div>
        </div>
      </div>

      <div class="advisor_category__empty w-100" v-if="(!dataArticle || dataArticle.length === 0) && !isLoading">
        <img src="/images/withdrawal.png" />
        <div class="advisor_category__empty__heading">
          {{ language("Article is empty!") }}
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import ListArticle from "~/components/Article/ListArticle.vue";
import { articleService } from "../../services/article.service";
import language from "~/modules/language.ts";

export default {
  name: "article_category",
  data() {
    return {
      titleArticle: "Articles",
      dataArticle: [],
      isLoading: false,
      currentPage: 1,
      currentLimit: 12,
      isStopGetArticle: false,
    };
  },
  created() {
    this.handleGetPopularArticles("news", this.currentPage);
    let self = this;
    if (process.client) {
      window.addEventListener("scroll", self.handleScroll, true);
    }
  },
  components: {
    ListArticle,
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default.toString();
      return language(text, lang);
    },
    handleScroll() {
      var self = this;
      if (self.$route.path !== "/article") {
        window.removeEventListener("scroll", self.handleScroll, true);
      }

      // Tính toán phần còn lại của cuộn để load thêm câu hỏi.
      if (!self.isLoading && !self.isStopGetArticle) {
        var remaining =
          document.documentElement.scrollHeight -
          (window.innerHeight + window.pageYOffset);
        if (remaining < 400) {
          let newPage = this.currentPage + 1;
          self.handleGetPopularArticles("news", newPage);
          this.currentPage = newPage;
        }
      }
    },
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    handleGetPopularArticles(articleType, articlePage) {
      this.isLoading = true;
      articleService
        .getArticleByType(articleType, articlePage, this.currentLimit)
        .then((response) => {
          if (response && response.length) {
            this.dataArticle = this.dataArticle.concat(response);
          } else {
            this.isStopGetArticle = true;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          //Error
          this.isLoading = false;
          this.isStopGetArticle = true;
        });
    },
    momentNew(dateTime, format) {
      return moment(dateTime).format(format);
    },
    validURL(str) {
      var pattern = new RegExp(
        "^(https?:\\/\\/)?" + // protocol
        "((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|" + // domain name
        "((\\d{1,3}\\.){3}\\d{1,3}))" + // OR ip (v4) address
        "(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*" + // port and path
        "(\\?[;&a-z\\d%_.~+=-]*)?" + // query string
        "(\\#[-a-z\\d_]*)?$",
        "i"
      ); // fragment locator
      return !!pattern.test(str);
    },
  },
};
</script>

<style lang="scss" scoped>
.article {
  width: 100%;
  float: left;
  margin-top: 0;
  margin-bottom: 50px;

  &__loading {
    text-align: center;
    color: #aaa;
  }
}

.advisor_category {
  &__empty {
    width: 100%;
    text-align: center;
    padding: 0 0 100px 0;

    img {
      width: 200px;
      margin: 0 auto;
      margin-top: 100px;
    }

    &__heading {
      width: 100%;
      text-align: center;
      font-size: 18px;
      color: #888;
    }
  }
}
</style>
