<template>
  <div class="popular_articles">
    <div class="body_container">
      <div class="popular_articles__block">
        <div class="popular_articles__block__heading">
          <div class="popular_articles__block__name">
            <h1>{{ titleArticle }}</h1>
          </div>
          <div class="popular_articles__block__more" v-if="isSeeAll">
            See all
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">

              <path
                d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z" />
            </svg>
          </div>
        </div>
        <div class="popular_articles__block__body container-fluid">
          <div class="row">
            <div class="popular_articles__block__item col-12 col-sm-4" v-for="(articleItem, index) in dataArticle"
              :key="'item_articles_' + index">
              <nuxt-link :to="'/article/' + articleItem.post_name">
                <div class="popular_articles__block__avatar">
                  <img :src="articleItem.post_thumbnail" v-if="validURL(articleItem.post_thumbnail)"
                    :alt="articleItem.post_title" />
                  <img src="/default/background_default.jpeg" v-else :alt="articleItem.post_title" />
                </div>
                <div class="popular_articles__block__meta">
                  <div class="popular_articles__block__date">
                    {{ momentNew(Number(articleItem.createAt), "MMMM Do YYYY, hh:mm:ss") }}
                  </div>
                  <div class="popular_articles__block__title">
                    {{ articleItem.post_title }}
                  </div>
                  <div class="popular_articles__block__description">
                    {{
                        truncateString(
                          articleItem.post_excerpt,
                          70,
                          "..."
                        )
                    }}
                  </div>
                </div>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { stringProcess } from "../../modules/stringProcess";
export default {
  props: ["titleArticle", "dataArticle", "isSeeAll"],
  created() { },
  data() {
    return {};
  },
  methods: {
    truncateString(string, number, text) {
      return stringProcess.truncateString(string, number, text);
    },
    momentNew(dateTime, format) {
      return moment(dateTime).format(format);
    },
    validURL(str) {
      var pattern = new RegExp(
        "^(https?:\\/\\/)?" + // protocol
        "((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|" + // domain name
        "((\\d{1,3}\\.){3}\\d{1,3}))" + // OR ip (v4) address
        "(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*" + // port and path
        "(\\?[;&a-z\\d%_.~+=-]*)?" + // query string
        "(\\#[-a-z\\d_]*)?$",
        "i"
      ); // fragment locator
      return !!pattern.test(str);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.popular_articles {
  width: 100%;
  float: left;

  h1 {
    width: 100%;
    font-weight: 700;
    font-size: 36px;

    @include breakpoint(phablet) {
      font-size: 26px;
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 36px;

    &__heading {
      width: 100%;
      float: left;
    }

    &__name {
      width: calc(100% - 150px);
      float: left;
      font-size: 26px;

      h2 {
        font-size: 26px;
        color: $textColor;
        font-weight: 700;
      }
    }

    &__body {
      width: calc(100% + 16px);
      margin-top: 16px;
      margin-left: -8px;
      margin-right: -8px;
    }

    &__item {
      padding: 8px;
      margin-top: 8px;
    }

    &__avatar {
      width: 100%;
      border-radius: 16px;
      overflow: hidden;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__meta {
      width: 100%;
      float: left;
    }

    &__date {
      width: 100%;
      float: left;
      color: #aaa;
      font-size: 14px;
      font-weight: 400;
      margin-top: 8px;
    }

    &__title {
      font-weight: 700;
      font-size: 18px;
      color: $textColor;
      float: left;
      width: 100%;
      word-wrap: break-word;
      margin-top: 4px;
    }

    &__description {
      width: 100%;
      float: left;
      font-size: 16px;
      font-weight: 400;
      margin-top: 4px;
      word-wrap: break-word;
    }

    &__more {
      width: 150px;
      float: left;
      text-align: right;
      cursor: pointer;
      user-select: none;

      svg {
        width: 18px;
        height: 18px;
        fill: #aaa;
        margin-top: -2px;
      }
    }
  }
}
</style>
