<template>
  <div class="">
    <client-only>
      <div v-if="userObject && userObject.user_role === 'advisor'">
        <div class="payment__block">
          <div class="payment">
            <div class="">
              <h1 class="payment__heading">{{ language("Advisor Setting") }}</h1>
              <div class="payment__body">
                <div class="">
                  <form v-on:submit="handleSubmitData">
                    <div class="payment__body__right__setting">
                      <div class="payment__body__right__setting__title">{{ language("Year Experience") }}</div>
                      <input
                        type="number"
                        class="form-control form-control-lg"
                        aria-describedby="emailHelp"
                        placeholder="Enter your years of experience"
                        min="1"
                        max="99"
                        style="font-size: 16px"
                        v-model.trim="yearExperience.meta_value"
                        required
                        :disabled="isLoading"
                      />
                      <div class="payment__body__right__setting__title">{{ language("Experience") }}</div>
                      <textarea
                        type="textarea"
                        cols="5"
                        class="form-control form-control-lg"
                        placeholder="Describe your experience"
                        style="font-size: 16px"
                        v-model.trim="experience.meta_value"
                        required
                        :disabled="isLoading"
                      />
                      <div
                        class="payment__body__right__setting__preview"
                        v-if="
                          (metaCoverVideo && metaCoverVideo.meta_value) || (metaCoverImage && metaCoverImage.meta_value)
                        "
                      >
                        <div>
                          <button type="submit" class="btn btn-cancel" @click="removeCover" v-if="!isLoading">X</button>
                        </div>
                        <video width="320" height="240" controls v-if="metaCoverVideo && metaCoverVideo.meta_value">
                          <source :src="metaCoverVideo.meta_value" type="video/mp4" />
                          Your browser does not support the video tag.
                        </video>

                        <img :src="metaCoverImage.meta_value" v-if="metaCoverImage && metaCoverImage.meta_value" />
                      </div>

                      <div class="payment__body__right__setting__title">{{ language("Cover image") }}</div>
                      <div class="payment__body__right__setting__file">
                        <input
                          type="file"
                          ref="file_image"
                          id="chat_send_image"
                          v-on:change="(e) => handleSubmitFile(e, 'cover_image')"
                          accept="image/*"
                        />
                      </div>

                      <div class="payment__body__right__setting__title">{{ language("Cover video") }}</div>
                      <div class="payment__body__right__setting__file">
                        <input
                          type="file"
                          ref="file_video"
                          id="chat_send_video"
                          v-on:change="(e) => handleSubmitFile(e, 'cover_video')"
                          accept="video/*"
                        />
                      </div>

                      <div class="payment__body__right__setting__title">{{ language("Certificate") }}</div>
                      <div class="payment__body__right__setting__file">
                        <input
                          type="file"
                          ref="file_image"
                          id="chat_send__certificate_image"
                          v-on:change="(e) => handleSubmitFile(e, 'certificate_image')"
                          accept="image/*"
                        />
                      </div>

                      <div
                        class="payment__body__right__setting__certificate"
                        v-if="metaCertificateImage && metaCertificateImage.length"
                      >
                        <div
                          class="payment__body__right__setting__certificate"
                          v-for="(certificateItem, certificateIndex) in metaCertificateImage"
                          :key="'certificate_' + certificateIndex"
                        >
                          <div>
                            <button type="submit" class="btn btn-cancel" @click="removeCertificate" v-if="!isLoading">
                              X
                            </button>
                          </div>
                          <img :src="certificateItem.meta_value" v-if="certificateItem && certificateItem.meta_value" />
                        </div>
                      </div>

                      <div class="payment__body__right__setting__title">{{ language("Category") }}</div>
                      <div class="payment__body__right__setting__multiselect">
                        <multiselect
                          v-model="categoryValue"
                          :options="totalCategory"
                          :multiple="true"
                          :close-on-select="false"
                          :clear-on-select="false"
                          :preserve-search="true"
                          placeholder="Choose category"
                          label="taxonomy_name"
                          track-by="taxonomy_id"
                          :preselect-first="false"
                          @select="handleSelect"
                          @remove="handleRemove"
                        ></multiselect>
                      </div>
                      <div class="payment__body__right__setting__title">{{ language("Order instruction") }}</div>
                      <p style="font-size: 14px; color: #888">
                        {{
                          language(
                            "If you have specific instructions for your clients, please enter them below. Don't ask for personally identifiable information, such as full name, social media accounts, etc"
                          )
                        }}
                      </p>
                      <textarea
                        type="textarea"
                        cols="5"
                        class="form-control form-control-lg"
                        placeholder="Enter your order instruction"
                        style="font-size: 16px"
                        v-model.trim="orderInstruction.meta_value"
                        :disabled="isLoading"
                      />
                      <button type="submit" class="btn btn-primary" v-if="!isLoading">
                        {{ language("Save data") }}
                      </button>
                      <button class="btn btn-primary" v-if="isLoading" disabled>{{ language("Save data") }}</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="payment__loading" v-if="isLoading || isLoadingMedia">
          <div class="spinner-border text-light" role="status"></div>
        </div>
        <div
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          style="display: block; height: auto; position: fixed; right: 20px; top: 110px"
          v-if="isOpenMessage"
        >
          <div class="toast-header">
            <img src="" class="rounded mr-2" alt="" />
            <strong class="mr-auto text-success">{{ language("Save data Successfully!") }}</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true" v-on:click="handleCloseMessage">&times;</span>
            </button>
          </div>
          <div class="toast-body">{{ language("Your profile update Successfully!") }}</div>
        </div>
      </div>
      <div v-else>
        <div class="only_advisor">
          <div class="only_advisor__image">
            <img src="/images/block-user.png" />
          </div>
          <div class="only_advisor__title">{{ language("This function only for Advisor.") }}</div>
          <div class="only_advisor__desc">{{ language("Do you want to become an Advisor?") }}</div>
          <div class="only_advisor__button">
            <nuxt-link :to="'/become-advisor'"
              ><button class="btn btn-primary">{{ language("Become an Advisor") }}</button></nuxt-link
            >
          </div>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import Vue from "vue";
import { stringProcess } from "~/modules/stringProcess";
import { userMetaService } from "../../services/user.meta.service";
import { taxonomyService } from "../../services/taxonomy.service";
import * as moment from "moment-timezone";
import { presignService } from "~/services/presign.service";
import { s3Service } from "../../services/s3.services";
import Multiselect from "vue-multiselect";
import language from "~/modules/language.ts";
Vue.component("multiselect", Multiselect);

export default {
  data() {
    return {
      generalServiceArray: [],
      isLoading: false,
      isOpenMessage: false,
      isLoadingMedia: false,
      userMeta: null,
      totalCategory: [],
      categoryValue: [],
      dataPayment: {
        payment_method: "",
        payment_value: "",
        payment_name: "",
        payment_address: "",
        payment_tax: "",
      },
      paymentId: "",
      paypalId: "",
      metaCoverImage: {
        meta_id: null,
        meta_value: "",
      },
      metaCertificateImage: [],
      metaCoverVideo: {
        meta_id: null,
        meta_value: "",
      },
      experience: {
        meta_value: "",
      },
      yearExperience: {
        meta_value: "",
      },
      orderInstruction: {
        meta_value: "",
      },
      chooseTaxonomy: [],
      lastCategoryChoose: [],
      userRelationshipObject: [],
    };
  },
  created() {
    //this.isLoading = false;
    if (this.userToken) {
      this.getTotalUserMeta(this.userObject.user_id, this.userToken);
      this.handleGetTotalCategory(this.userToken);
      this.handleGetRelationship(this.userObject.user_id, this.userToken);
    } else {
      if (process.client) {
        this.$router.push({ path: "/login" });
        this.isLoading = true;
      }
    }
  },
  watch: {
    userMeta(newData) {
      try {
        for (let metaItem of newData) {
          if (metaItem.meta_key === "cover_image") {
            this.metaCoverImage = metaItem;
            break;
          }
        }
        let certificateArray = [];
        for (let metaItem of newData) {
          if (metaItem.meta_key === "certificate_image") {
            if (metaItem.meta_value) {
              certificateArray.push(metaItem);
            }
          }
        }
        this.metaCertificateImage = certificateArray;

        for (let metaItem of newData) {
          if (metaItem.meta_key === "cover_video") {
            this.metaCoverVideo = metaItem;
            break;
          }
        }
        for (let metaItem of newData) {
          if (metaItem.meta_key === "year_experience") {
            this.yearExperience = metaItem;
            break;
          }
        }
        for (let metaItem of newData) {
          if (metaItem.meta_key === "experience") {
            this.experience = metaItem;
            break;
          }
        }
        for (let metaItem of newData) {
          if (metaItem.meta_key === "order_instruction") {
            this.orderInstruction = metaItem;
            break;
          }
        }
      } catch {}
    },
    userRelationshipObject(newData) {
      if (newData && newData.length) {
        for (let dataItem of newData) {
          this.categoryValue.push(dataItem.taxonomy);
        }
      } else {
        this.categoryValue = [];
      }
    },
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    /**
     *
     * @param {*} selectedOption
     * @param {*} id
     */
    handleSelect(selectedOption, id) {
      this.handleAddTaxonomy(selectedOption.taxonomy_id);
    },
    /**
     *
     * @param {*} selectedOption
     * @param {*} id
     */
    handleRemove(selectedOption, id) {
      for (let userRelationShipItem of this.userRelationshipObject) {
        if (Number(userRelationShipItem.taxonomy_id) === Number(selectedOption.taxonomy_id)) {
          let relationshipId = userRelationShipItem.taxonomy_relationship_id;
          this.handleRemoveTaxonomy(relationshipId);
        }
      }
    },
    /**
     * @param {*} taxonomyId
     */
    async handleAddTaxonomy(taxonomyId) {
      let dataToAdd = {
        taxonomy_id: taxonomyId,
        object_id: this.userObject.user_id,
      };
      return await taxonomyService
        .addTaxonomyRelationship(dataToAdd, "advisor_category", this.userToken)
        .then((response) => {
          return response.data;
        })
        .catch((error) => {
          return null;
        });
    },
    /**
     * @param {*} taxonomyId
     */
    async handleRemoveTaxonomy(taxonomyId) {
      return await taxonomyService
        .removeTaxonomyRelationship(taxonomyId, this.userToken)
        .then((response) => {
          return response.data;
        })
        .catch((error) => {
          return null;
        });
    },

    /**
     * @author Nghianm
     * @param {*} userId
     */
    async handleRemoveCertificate(metaId) {
      return await userMetaService
        .deleteUserMeta(metaId, this.userToken)
        .then((response) => {
          return response.data;
        })
        .catch((error) => {
          return null;
        });
    },

    handleCloseMessage() {
      this.isOpenMessage = false;
    },
    /**
     * @param {*} value
     */
    addCommas(value) {
      return stringProcess.addCommas(value);
    },
    /**
     * @param {*} value
     * @param {*} format
     */
    momentTime(value, format) {
      return moment(Number(value)).format(format);
    },

    /**
     * @function handleGetTotalCategory
     * @param {*} userToken: string
     * @return
     */
    handleGetTotalCategory(userToken) {
      taxonomyService
        .getTaxonomyByType("category", userToken)
        .then((response) => {
          if (response && response.data) {
            this.totalCategory = response.data;
          }
        })
        .catch((error) => {});
    },

    /**
     * @function handleGetRelationship
     * @param {*} userId
     * @param {*} userToken
     */
    handleGetRelationship(userId, userToken) {
      this.chooseTaxonomy = [];
      this.userRelationshipObject = [];
      taxonomyService
        .getTaxonomyRelationship(userId, "advisor_category", userToken)
        .then((response) => {
          if (response && response.data && response.data.length) {
            for (let itemRelationship of response.data) {
              this.chooseTaxonomy.push(Number(itemRelationship.taxonomy_id));
            }
            this.userRelationshipObject = response.data;
          }
        })
        .catch((error) => {});
    },

    /**
     * @function handleSubmitData
     * @param {*} e
     * @return
     */
    handleSubmitData(e) {
      e.preventDefault();
      let dataUpdate = {
        meta_key: "experience",
        meta_value: this.experience.meta_value,
        is_private: 0,
      };
      if (this.experience.meta_id) {
        this.handleUpdateMetaKey(dataUpdate, this.experience.meta_id);
      } else {
        this.handleCreateMetaKey(dataUpdate);
      }
      let yearExperienUpdate = {
        meta_key: "year_experience",
        meta_value: this.yearExperience.meta_value,
        is_private: 0,
      };
      if (this.yearExperience.meta_id) {
        this.handleUpdateMetaKey(yearExperienUpdate, this.yearExperience.meta_id);
      } else {
        this.handleCreateMetaKey(yearExperienUpdate);
      }
      let orderInstructionUpdate = {
        meta_key: "order_instruction",
        meta_value: this.orderInstruction.meta_value,
        is_private: 0,
      };
      if (this.orderInstruction.meta_id) {
        this.handleUpdateMetaKey(orderInstructionUpdate, this.orderInstruction.meta_id);
      } else {
        this.handleCreateMetaKey(orderInstructionUpdate);
      }
    },

    /**
     * @param {*} dataUpdate
     * @param {*} metaId
     */
    handleUpdateMetaKey(dataUpdate, metaId) {
      this.isLoading = true;
      userMetaService
        .updateUserMeta(this.userObject.user_id, metaId, this.userToken, dataUpdate)
        .then((response) => {
          this.isLoading = false;
          if (response.data) {
            if (response.data && response.data.meta_key === "cover_image") {
              this.metaCoverImage = response.data;
            }
            if (response.data && response.data.meta_key === "cover_video") {
              this.metaCoverVideo = response.data;
            }
            if (response.data && response.data.meta_key === "certificate_image") {
              this.metaCertificateImage = response.data;
            }
            if (response.data && response.data.meta_key === "year_experience") {
              this.yearExperience = response.data;
            }
            if (response.data && response.data.meta_key === "experience") {
              this.experience = response.data;
            }
            if (response.data && response.data.meta_key === "order_instruction") {
              this.orderInstruction = response.data;
            }
            this.isOpenMessage = true;
            setTimeout(() => {
              self.isOpenMessage = false;
            }, 3000);
          } else {
            alert("Have an Error while save Data!");
          }
        })
        .catch((error) => {
          this.isLoading = false;
          alert("Have an Error while save Data!");
        });
    },

    /**
     * @param {*} dataCreate
     */
    handleCreateMetaKey(dataCreate) {
      this.isLoading = true;
      let self = this;
      userMetaService
        .createUserMeta(this.userObject.user_id, this.userToken, dataCreate)
        .then((response) => {
          this.isLoading = false;
          if (response.data) {
            if (response.data && response.data.meta_key === "cover_image") {
              this.metaCoverImage = response.data;
            }
            if (response.data && response.data.meta_key === "cover_video") {
              this.metaCoverVideo = response.data;
            }
            if (response.data && response.data.meta_key === "certificate_image") {
              this.metaCertificateImage = response.data;
            }
            if (response.data && response.data.meta_key === "year_experience") {
              this.yearExperience = response.data;
            }
            if (response.data && response.data.meta_key === "experience") {
              this.experience = response.data;
            }
            if (response.data && response.data.meta_key === "order_instruction") {
              this.orderInstruction = response.data;
            }
            this.isOpenMessage = true;
            setTimeout(() => {
              self.isOpenMessage = false;
            }, 3000);
          } else {
            alert("Have an Error while save Data!");
          }
        })
        .catch((error) => {
          this.isLoading = false;
          alert("Have an Error while save Data!");
        });
    },

    /**
     * @author Nghianm
     * @param {*} e
     */
    removeCertificate(e) {
      e.preventDefault();
      for (let certificateItem of this.metaCertificateImage) {
        if (Number(certificateItem.meta_id) === Number(certificateItem.meta_id)) {
          let certificateId = certificateItem.meta_id;
          this.handleRemoveCertificate(certificateId);
        }
      }
    },

    /**
     * @author Nghianm
     * @param {*} dataImageUpdate
     * @param {*} dataVideoUpdate
     */
    removeCover(e) {
      e.preventDefault();
      let dataImageUpdate = {
        meta_key: "cover_image",
        meta_value: "",
        is_private: 0,
      };
      let dataVideoUpdate = {
        meta_key: "cover_video",
        meta_value: "",
        is_private: 0,
      };
      if (this.metaCoverImage.meta_id) {
        this.handleUpdateMetaKey(dataImageUpdate, this.metaCoverImage.meta_id);
      }
      if (this.metaCoverVideo.meta_id) {
        this.handleUpdateMetaKey(dataVideoUpdate, this.metaCoverVideo.meta_id);
      }
    },

    /**
     * @param {*} userId
     * @param {*} authCode
     */
    getTotalUserMeta(userId, authCode) {
      this.isLoading = true;
      userMetaService
        .getUserMeta(userId, authCode)
        .then((response) => {
          if (response && response.data) {
            this.userMeta = response.data;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoading = false;
        });
    },

    /**
     * @param {*} file
     */
    async handleCreatePresignUrl(file) {
      let dataReturn = await presignService
        .createNewPresign(file.name, file.type, this.userToken)
        .then((response) => {
          if (response.data) {
            return response.data;
          } else {
            return null;
          }
        })
        .catch((error) => {
          return null;
        });

      return dataReturn;
    },

    /**
     * @param {*} dataFile
     */
    async handleSubmitFile(dataFile, uploadType) {
      let fileArray = dataFile.target.files;

      this.isLoadingMedia = true;
      for (var i = 0; i < fileArray.length; i++) {
        let file = fileArray[i];
        let fileTypeAllowed = ["image/jpeg", "image/jpg", "image/gif", "image/png", "video/mp4", "video/quicktime"];
        if (fileTypeAllowed.indexOf(file.type) === -1) {
          alert("Not support this file");
          this.isLoadingMedia = false;
          this.$refs.file_video.value = null;
          this.$refs.file_image.value = null;
          return false;
        }
        let mediaPresign = await this.handleCreatePresignUrl(file);

        if (mediaPresign && mediaPresign.url) {
          let urlPut = mediaPresign.url;
          if (urlPut && urlPut.indexOf("tarotappinhouse.s3.amazonaws.com") !== -1) {
            urlPut = urlPut.replace("tarotappinhouse.s3.amazonaws.com", "tarotappinhouse.s3-accelerate.amazonaws.com");
          }

          let newDataPromise = new Promise((resolve, reject) => {
            const reader = new FileReader();
            let fileType = file.type;
            reader.onload = () => {
              try {
                s3Service
                  .createUserMeta(urlPut, fileType, reader.result)
                  .then(function (response) {
                    if (Number(response.status === 200)) {
                      resolve(true);
                    } else {
                      reject(false);
                    }
                  })
                  .catch(function (error) {
                    reject(false);
                  });
              } catch (err) {
                reject(false);
              }
            };
            reader.onerror = (error) => {
              reject(false);
            };
            reader.readAsArrayBuffer(file);
          });

          //Data Promise
          let dataReturn = await newDataPromise.then(
            (response) => {
              return response;
            },
            (error) => {
              return null;
            }
          );
          if (dataReturn) {
            let urlOriginal = "";
            let dataArrayUrl = mediaPresign.url?.split("?");
            if (dataArrayUrl[0]) {
              urlOriginal = dataArrayUrl[0];
            }
            //Update Data User
            this.handleUpdateDataUser(urlOriginal, uploadType);
            this.isLoadingMedia = false;
            this.$refs.file_video.value = null;
            this.$refs.file_image.value = null;
          } else {
            alert("Not support this file");
            this.isLoadingMedia = false;
            this.$refs.file_video.value = null;
            this.$refs.file_image.value = null;
          }
        } else {
          alert("Not support this file");
          this.isLoadingMedia = false;
          this.$refs.file_video.value = null;
          this.$refs.file_image.value = null;
        }
      }
    },

    /**
     * @param {*} urlMedia
     */
    handleUpdateDataUser(urlMedia, type) {
      let dataUpdate = {
        meta_key: type,
        meta_value: urlMedia,
        is_private: 0,
      };
      let metaId = this.metaCoverVideo?.meta_id;
      if (type === "cover_image") {
        this.metaCoverImage?.meta_id;
      }
      if (metaId) {
        this.handleUpdateMetaKey(dataUpdate, metaId);
      } else {
        this.handleCreateMetaKey(dataUpdate);
      }
      if (type === "cover_image") {
        this.metaCoverImage = {
          meta_id: "",
          meta_value: "",
        };
      } else {
        this.metaCoverVideo = {
          meta_id: "",
          meta_value: "",
        };
      }
      if (type === "cetificate_image") {
        this.metaCertificateImage = {
          meta_id: "",
          meta_value: "",
        };
      }
    },
  },
};
</script>

<style lang="scss" scope>
@import "~/assets/scss/variables.scss";
@import "vue-multiselect/dist/vue-multiselect.min.css";

.payment__body {
  width: 100%;
  float: left;
  min-height: 600px;

  &__right {
    width: 100%;
    float: left;
    max-width: 700px;

    &__setting {
      width: 100%;
      float: left;
      margin-top: 10px;
      margin-bottom: 50px;

      &__multiselect {
        width: 100%;
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      &__file {
        width: 100%;
        overflow: hidden;
        float: left;
        margin-bottom: 10px;
      }

      &__preview {
        width: 100%;
        float: left;
        height: 200px;
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 20px;
        border-radius: 8px;

        img {
          border-radius: 8px;
          margin-top: 25px;
          width: 590px;
          max-width: 100%;
          height: 200px;
          object-fit: cover;
          object-position: center;
          z-index: -1;
          position: absolute;
        }

        video {
          border-radius: 8px;
          width: 590px;
          margin-top: 25px;
          object-fit: cover;
          max-width: 100%;
          object-position: center;
          height: 200px;
          z-index: -1;
          position: absolute;
        }

        button {
          width: 36px;
          height: 36px;
          float: right;
          border-radius: 100%;
          z-index: 1;
        }
      }

      &__certificate {
        width: 100%;
        float: left;
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 8px;
        position: relative;
        img {
          border-radius: 8px;
          width: 590px;
          max-width: 100%;
          height: 400px;
          object-fit: cover;
          object-position: center;
          z-index: -1;
        }
        button {
          width: 36px;
          height: 36px;
          float: right;
          border-radius: 100%;
          z-index: 1;
          position: absolute;
          right: 20px;
        }
      }

      &__title {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        margin-bottom: 8px;
        float: left;

        p {
          color: red;
          margin-bottom: 2px;
          float: right;
        }
      }

      &__desc {
        font-weight: 400;
        color: #888;
      }

      button {
        margin-top: 10px;
      }
    }
  }
}

.payment {
  width: 100%;
  float: left;
  min-height: 600px;

  &__loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    .spinner-border {
      margin-top: calc(50vh - 15px);
    }
  }

  &__heading {
    width: 100%;
    float: left;
    margin-bottom: 16px;
  }

  h1 {
    width: 100%;
    font-weight: 700;
    font-size: 36px;

    @include breakpoint(phablet) {
      font-size: 26px;
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 50px;
  }
}

.toast-header {
  display: inline;
  float: left;
  width: 100%;
}

.toast-body {
  width: 100%;
  float: left;
}

.multiselect__tags {
  font-size: 16px !important;
  padding-left: 16px !important;

  span {
    font-size: 12px;
  }
}

.multiselect__placeholder {
  font-size: 16px !important;
}
</style>
