<template>
  <div>
    <div class="user_dashboard__block">
      <!-- <div class="user_dashboard__left">

      </div> -->

      <div class="user_dashboard__right">
        <div class="user_dashboard__right__avatar" v-if="dataAdvisor">
          <div class="user_dashboard__right__avatar__border">

            <img :src="dataAdvisor.user_avatar" v-if="dataAdvisor.user_avatar" />
            <img :src="'/images/avatar_default.png'" v-else />

          </div>
          <div class="user_dashboard__right__avatar__title" v-if="baseDataUser">
            <p>{{ baseDataUser.display_name ? baseDataUser.display_name : dataAdvisor.user_login }}</p>
            <input type="file" ref="file" id="chat_send_file" v-on:change="handleSubmitFile" accept="image/*" />
          </div>
        </div>


        <div class="user_dashboard__right__setting" v-if="dataAdvisor">
          <!-- <input type="file" id="img" name="img" accept="image/*" /> -->
          <div class="user_dashboard__right__setting__title">  {{ language("Username") }} <font color="red">*</font>
          </div>
          <input type="text" class="form-control form-control-lg" placeholder="Username" style="font-size: 16px"
            v-model.trim="dataAdvisor.user_login" required :disabled="true" />

          <div class="user_dashboard__right__setting__title"> E-mail <font color="red">*</font>
          </div>
          <input type="text" class="form-control form-control-lg" placeholder="User Email" style="font-size: 16px"
            v-model.trim="userObject.user_email" required :disabled="true" />

          <div class="user_dashboard__right__setting__title"> {{ language("Full name") }} <font color="red">*</font>
          </div>
          <input type="text" class="form-control form-control-lg" placeholder="Enter Full name" style="font-size: 16px"
            v-model.trim="baseDataUser.display_name" required :disabled="isLoading" />

          <div class="user_dashboard__right__setting__title"> {{ language("Address") }}</div>

          <input type="text" class="form-control form-control-lg" placeholder="Enter Address" style="font-size: 16px"
            v-model.trim="baseDataUser.user_address" required :disabled="isLoading" />

          <div class="user_dashboard__right__setting__title"> {{ language("Phone number") }}</div>
          <input type="text" class="form-control form-control-lg" placeholder="Enter Phone Number"
            style="font-size: 16px" v-model.trim="baseDataUser.user_numberphone" required :disabled="isLoading" />

          <div class="user_dashboard__right__setting__title"> {{ language("Birthday") }}</div>
          <div class="user_dashboard__right__setting__birthday">
            <select class="form-control" name="date_of_birth:year" tabindex="9" v-model="birthdayValue.year"
              :disabled="isLoading" v-on:change="handleOnChangeYear">
              <option v-for="(birthdayYear, indexYear) in birthdayModule.getYears()" :key="'birthday_' + indexYear"
                :value="birthdayYear.value">
                {{ birthdayYear.value }}
              </option>
            </select>
            <select class="form-control" name="date_of_birth:mon" tabindex="8" v-model="birthdayValue.month"
              :disabled="isLoading" v-on:change="handleOnChangeMonth">
              <option value="">
                 {{ language("Choose Month") }}
              </option>
              <option v-for="(birthdayMonth, indexMonth) in birthdayModule.getMonths()" :key="'month_' + indexMonth"
                :value="birthdayMonth.number">
                {{ birthdayMonth.name }}
              </option>
            </select>
            <select class="form-control" name="date_of_birth:day" tabindex="7" v-model="birthdayValue.day"
              :disabled="isLoading" v-on:change="handleOnChangeDay">
              <option value="">
                 {{ language("Choose Day") }}
              </option>
              <option v-for="(birthdayDay, indexDay) in handleGetDay()" :key="'day_' + indexDay" :value="birthdayDay">
                {{ birthdayDay }}</option>
            </select>
          </div>


          <div class="user_dashboard__right__setting__title"> {{ language("Job") }}</div>
          <input type="text" class="form-control form-control-lg" placeholder="Enter Job" style="font-size: 16px"
            v-model.trim="baseDataUser.user_job" required :disabled="isLoading" />
          <div class="user_dashboard__right__setting__title"> {{ language("Department") }}</div>
          <input type="text" class="form-control form-control-lg" placeholder="Enter Department" style="font-size: 16px"
            v-model.trim="baseDataUser.user_department" required :disabled="isLoading" />

          <div class="user_dashboard__right__setting__title"> {{ language("About you") }}</div>
          <textarea cols="10" class="form-control form-control-lg" placeholder="Enter Bio" style="font-size: 16px"
            v-model.trim="baseDataUser.bio" required :disabled="isLoading" />
          <div class="user_dashboard__right__setting__title"> {{ language("Country") }}</div>
          <select class="form-control" name="date_of_birth:mon" tabindex="8" v-model="baseDataUser.user_nation"
            :disabled="isLoading">
            <option v-for="(itemCountry, indexCountry) in countriesData" :key="'country_' + indexCountry"
              :value="itemCountry.alpha2">
              {{ itemCountry.name }}
            </option>

          </select>
          <button class="btn btn-primary" v-on:click="handleSubmitData">
           {{ language("Save data") }}
          </button>

        </div>
      </div>
    </div>
    <div class="user_dashboard__loading" v-if="isLoading || isLoadingMedia">
      <div class="spinner-border text-light" role="status">
      </div>
    </div>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="display: block;
    height: auto;
    position: fixed;
    right: 20px;
    top: 110px;" v-if="isOpenMessage">
      <div class="toast-header">
        <img src="" class="rounded mr-2" alt="">
        <strong class="mr-auto text-success">Save data Successfully!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true" v-on:click="handleCloseMessage">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Your profile update Successfully!
      </div>
    </div>
  </div>

</template>

<script>
import { advisorService } from '~/services/advisor.service';
import { presignService } from '~/services/presign.service';
import axios from "axios";
import { CountriesHandle } from '~/modules/countries';
import { birthdayModule } from '~/modules/birthday';
import { Validator } from '~/modules/validator';
import * as moment from 'moment-timezone';
import language from "~/modules/language.ts";

export default {
  data() {
    let currentYear = new Date().getFullYear();
    return {
      dataAdvisor: null,
      isLoadingMedia: false,
      isLoading: false,
      birthdayModule: birthdayModule,
      birthdayValue: {
        month: '',
        year: Number(currentYear),
        day: '',
      },
      baseDataUser: {
        user_avatar: '',
        display_name: '',
        user_address: '',
        user_nation: '',
        user_gender: '',
        user_numberphone: '',
        user_job: '',
        user_department: '',
        user_birthday: '',
        bio: '',
      },
      isOpenMessage: false,
      countriesData: CountriesHandle.getCountriesCode()
    };
  },
  created() {
    this.isLoading = true;
    if (this.userObject && this.userObject.user_id) {
      this.handleGetUserDetail(this.userObject.user_id);
    } else {
      if (process.client) {
        this.$router.push({ path: "/login" });
        this.isLoading = true;
      }
    }
  },
  watch: {
    dataAdvisor(newData) {
      if (newData.user_id) {
        this.baseDataUser = {
          user_avatar: newData?.user_avatar || '',
          display_name: newData?.display_name || '',
          user_address: newData?.user_address || '',
          user_nation: newData?.user_nation || '',
          user_gender: newData?.user_gender || '',
          user_numberphone: newData?.user_numberphone || '',
          user_job: newData?.user_job || '',
          user_department: newData?.user_department || '',
          user_birthday: newData?.user_birthday || '',
          bio: newData?.bio || '',
        }
        if (newData.user_birthday && newData.user_birthday.indexOf('/') === -1) {
          let dataYear = moment(newData.user_birthday).tz("UTC").format("YYYY");
          let dataMonth = moment(newData.user_birthday).tz("UTC").format("MM");
          let dataDay = moment(newData.user_birthday).tz("UTC").format("DD");
          // console.log({
          //   year: Number(dataYear),
          //   month: Number(dataMonth),
          //   day: Number(dataDay),
          // })
          this.birthdayValue = {
            year: Number(dataYear),
            month: Number(dataMonth),
            day: Number(dataDay),
          }
        }
      }
    }
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    }
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      lang = lang.toString();
      let dataReturn = language(text, lang);
      return dataReturn.toString();
    },
    handleOnChangeDay(data) {
      let newData = data?.target?.value;
      if (newData) {
        let valueDay = newData;
        let valueMonth = this.birthdayValue.month;
        if (Number(valueDay) < 10) {
          valueDay = '0' + valueDay;
        }

        if (Number(valueMonth) < 10) {
          valueMonth = '0' + valueMonth;
        }
        let birthdayValue = valueDay + '/' + valueMonth + '/' + this.birthdayValue.year;
        this.baseDataUser.user_birthday = birthdayValue;
      } else {
        this.baseDataUser.user_birthday = '';
      }
    },
    handleOnChangeMonth(data) {
      this.birthdayValue.day = '';
      this.baseDataUser.user_birthday = '';
    },
    handleOnChangeYear(data) {
      this.birthdayValue.month = '';
      this.birthdayValue.day = '';
      this.baseDataUser.user_birthday = '';
    },
    handleCloseMessage() {
      this.isOpenMessage = false;
    },
    handleSubmitData() {

      //Check Number Age
      if (this.baseDataUser.user_birthday) {
        let birthdayDate = new Date(this.birthdayValue.year, this.birthdayValue.month, this.birthdayValue.day);
        birthdayDate.setFullYear(birthdayDate.getFullYear() + 13);
        let birthdayTime = birthdayDate.getTime();
        let currentDate = new Date();
        let currentTime = currentDate.getTime();
        if (currentTime < birthdayTime) {
          alert("You are under 13 years old!");
          return false;
        }
      }
      if (!(this.baseDataUser.display_name.trim())) {
        alert("Display name can't be empty!")
        return false;
      }
      if (this.baseDataUser.user_numberphone) {
        if (!Validator.isPhone(this.baseDataUser.user_numberphone)) {
          alert("Phone number is not correct!");
          return false;
        }
      }

      this.isLoading = true;
      let dataToUpdate = this.baseDataUser;
      if (dataToUpdate.user_birthday.indexOf('-') !== -1) {
        delete dataToUpdate.user_birthday;
      }
      if (!dataToUpdate.user_birthday) {
        delete dataToUpdate.user_birthday;
      }

      advisorService.updateUser(dataToUpdate, this.userToken).then((response) => {
        this.$store.commit('updateUser', dataToUpdate);
        this.dataAdvisor = { ...this.dataAdvisor, ...dataToUpdate };
        this.isLoading = false;
        let self = this;
        this.isOpenMessage = true;
        setTimeout(() => {
          self.isOpenMessage = false;
        }, 3000);
      }).catch(error => {
        this.isLoading = false;
        alert("Have Error when update Data!");

      })
    },
    handleGetDay() {
      if (!this.birthdayValue.month) {
        return []
      }
      let dataMonth = this.birthdayModule.getMonths();
      let totalDay = 0;
      for (let dataMonthItem of dataMonth) {
        if (dataMonthItem.number === this.birthdayValue.month) {
          totalDay = dataMonthItem.days
        }
      }
      let dataReturn = [];
      if (Number(this.birthdayValue.year) % 4 === 0 && Number(this.birthdayValue.month) === 2) {
        for (let item = 1; item <= (totalDay + 1); item++) {
          dataReturn.push(item);
        }
      } else {
        for (let item = 1; item <= totalDay; item++) {
          dataReturn.push(item);
        }
      }

      return dataReturn;
    },
    handleGetUserDetail(userId) {
      this.isLoading = true;
      advisorService.getAdvisorDetail(userId).then((response) => {
        if (response.data) {
          this.dataAdvisor = response.data;
        } else {
          this.dataAdvisor = null;
        }
        this.isLoading = false;

      }).catch(error => {
        this.dataAdvisor = null;
        this.isLoading = false;
      });
    },
    async handleCreatePresignUrl(file) {
      let dataReturn = await presignService.createNewPresign(file.name, file.type, this.userToken).then((response) => {
        if (response.data) {
          return response.data;
        } else {
          return null;
        }
      }).catch(error => {
        return null;
      });

      return dataReturn;
    },
    async handleSubmitFile(dataFile) {
      let fileArray = dataFile.target.files;

      this.isLoadingMedia = true;
      for (var i = 0; i < fileArray.length; i++) {
        let file = fileArray[i];
        let fileTypeAllowed = ['image/jpeg', 'image/jpg', 'image/gif', 'image/png'];
        if (fileTypeAllowed.indexOf(file.type) === -1) {
          alert("Not support this file");
          this.isLoadingMedia = false;
          this.$refs.file.value = null;
          return false;
        }
        let mediaPresign = await this.handleCreatePresignUrl(file);

        if (mediaPresign && mediaPresign.url) {
          let urlPut = mediaPresign.url;
          if (
            urlPut &&
            urlPut.indexOf("tarotappinhouse.s3.amazonaws.com") !== -1
          ) {
            urlPut = urlPut.replace(
              "tarotappinhouse.s3.amazonaws.com",
              "tarotappinhouse.s3-accelerate.amazonaws.com"
            );
          }

          let newDataPromise = new Promise((resolve, reject) => {
            const reader = new FileReader();
            let fileType = file.type;
            reader.onload = () => {
              try {
                var config = {
                  method: "put",
                  url: urlPut,
                  headers: {
                    "Content-Type": fileType,
                  },
                  data: reader.result,
                };

                axios(config)
                  .then(function (response) {
                    if (Number(response.status === 200)) {
                      resolve(true);
                    } else {
                      reject(false);
                    }
                  })
                  .catch(function (error) {
                    reject(false);
                  });
              } catch (err) {
                reject(false);
              }
            };
            reader.onerror = (error) => {
              reject(false);
            };
            reader.readAsArrayBuffer(file);
          });

          //Data Promise
          let dataReturn = await newDataPromise.then(
            (response) => {
              return response;
            },
            (error) => {
              return null;
            }
          );
          if (dataReturn) {
            let urlOriginal = '';
            let dataArrayUrl = mediaPresign.url?.split("?");
            if (dataArrayUrl[0]) {
              urlOriginal = dataArrayUrl[0];
            }
            //Update Data User
            this.handleUpdateDataUser({ user_avatar: urlOriginal });
            this.isLoadingMedia = false;
            this.$refs.file.value = null;
          } else {
            alert("Not support this file");
            this.isLoadingMedia = false;
            this.$refs.file.value = null;
          }
        } else {
          alert("Not support this file");
          this.isLoadingMedia = false;
          this.$refs.file.value = null;
        }
      }
    },
    handleUpdateDataUser(dataUpdate) {
      this.isLoading = true;
      advisorService.updateUser(dataUpdate, this.userToken).then((response) => {
        this.isLoading = false;
        this.dataAdvisor = { ...this.dataAdvisor, ...this.baseDataUser, ...dataUpdate };
        this.$store.commit('updateUser', dataUpdate);
        let self = this;

        this.isOpenMessage = true;
        setTimeout(() => {
          self.isOpenMessage = false;
        }, 3000)
      }).catch(error => {
        this.isLoading = false;
        this.$refs.file.value = null;
        alert("Have Error when update Data!");
      })
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.user_dashboard {
  width: 100%;
  float: left;
  min-height: 600px;

  &__loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    .spinner-border {
      margin-top: calc(50vh - 15px);
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 30px;
  }

  &__right {
    width: 100%;
    float: left;
    max-width: 700px;

    &__avatar {
      width: 100%;
      float: left;

      &__border {
        width: 100px;
        height: 100px;
        float: left;
        overflow: hidden;
        border-radius: 50%;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
        }
      }

      &__title {
        width: calc(100% - 100px);
        padding-left: 30px;
        float: left;
        margin-bottom: 4px;

        #chat_send_file {
          width: 100%;
        }

        p {
          width: 100%;
          font-weight: 900;
          font-size: 26px;
          color: $textColor;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

        }
      }
    }

    &__setting {
      width: 100%;
      float: left;
      margin-top: 10px;
      margin-bottom: 50px;

      &__birthday {
        width: calc(100% + 8px);
        margin-left: -4px;
        margin-right: -4px;

        select {
          width: calc(33.3333333% - 8px);
          margin: 0 4px;
          float: left;
        }
      }

      &__title {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        margin-bottom: 8px;
        float: left;

        p {
          color: red;
          margin-bottom: 2px;
          float: right
        }
      }

      button {
        margin-top: 10px;
      }
    }
  }
}

.toast-header {
  display: inline;
  float: left;
  width: 100%;
}

.toast-body {
  width: 100%;
  float: left;
}
</style>
