<template>
  <div class="">
    <client-only>
      <div v-if="userObject && userObject.user_role === 'advisor'">
        <div class="general_service__block">
          <div class="general_service">
            <div class="">
              <h1 class="general_service__heading">{{ language("My Services") }}</h1>
              <div class="general_service__body">
                <div class="">
                  <div
                    class="general_service__body__item"
                    v-for="(generalServiceItem, generalServiceIndex) in generalServiceArray"
                    :key="'general_service_' + generalServiceIndex"
                  >
                    <div class="general_service__body__item__left">
                      <div class="general_service__body__item__left__name">
                        <img
                          :src="generalServiceItem.service_thumbnail"
                          v-if="generalServiceItem && generalServiceItem.service_thumbnail"
                        />
                      </div>
                      <div class="general_service__body__item__left__name">
                        {{ generalServiceItem.service_name }}
                      </div>
                      <div class="general_service__body__item__left__desc">
                        {{ generalServiceItem.service_description }}
                      </div>
                      <div class="general_service__body__item__left__desc">
                        Available time:
                        {{
                          momentTime(
                            processAvailableTime(generalServiceItem.service_available_time).start_time,
                            "HH:mm:ss"
                          )
                        }}
                        -
                        {{
                          momentTime(
                            processAvailableTime(generalServiceItem.service_available_time).end_time,
                            "HH:mm:ss"
                          )
                        }}
                        <!-- {{ processAvailableTime(momentTime(generalServiceItem.service_available_time.start_time, "DD-MM-YYYY HH:mm:ss")) }} -->
                      </div>
                      <div class="general_service__body__item__left__price">
                        Price: {{ generalServiceItem.service_price }}
                        <svg viewBox="0 0 24 24">
                          <path
                            d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="general_service__body__item__right">
                      <div class="form-check form-switch">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          role="switch"
                          id="flexSwitchCheckChecked"
                          :checked="generalServiceItem.service_active"
                          v-on:click="handleChangeGeneralService($event, generalServiceItem)"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="general_service__body">
                <nuxt-link :to="'/user/service'"
                  ><button type="submit" class="btn btn-primary">{{ language("Edit service") }}</button></nuxt-link
                >
              </div>
            </div>
          </div>
        </div>
        <div class="general_service__loading" v-if="isLoading">
          <div class="spinner-border text-light" role="status"></div>
        </div>
        <div
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          style="display: block; height: auto; position: fixed; right: 20px; top: 110px"
          v-if="isOpenMessage"
        >
          <div class="toast-header">
            <img src="" class="rounded mr-2" alt="" />
            <strong class="mr-auto text-success">{{ language("Save data Successfully!") }}</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true" v-on:click="handleCloseMessage">&times;</span>
            </button>
          </div>
          <div class="toast-body">{{ language("Your service update Successfully!") }}</div>
        </div>
      </div>
      <div v-else>
        <div class="only_advisor">
          <div class="only_advisor__image">
            <img src="/images/block-user.png" />
          </div>
          <div class="only_advisor__title">{{ language("This function only for Advisor.") }}</div>
          <div class="only_advisor__desc">{{ language("Do you want to become an Advisor?") }}</div>
          <div class="only_advisor__button">
            <nuxt-link :to="'/become-advisor'"
              ><button class="btn btn-primary">{{ language("Become an Advisor") }}</button></nuxt-link
            >
          </div>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import { generalService } from "../../services/general.service";
import { stringProcess } from "~/modules/stringProcess";
import * as moment from "moment-timezone";
import language from "~/modules/language.ts";

export default {
  data() {
    return {
      generalServiceArray: [],
      //service_available_time: {},
      isLoading: false,
      isOpenMessage: false,
    };
  },
  created() {
    this.isLoading = true;
    if (this.userToken) {
      this.handleGetService(this.userObject.user_id, this.userToken);
    } else {
      if (process.client) {
        this.$router.push({ path: "/login" });
        this.isLoading = true;
      }
    }
  },
  watch: {},
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    handleCloseMessage() {
      this.isOpenMessage = false;
    },
    addCommas(value) {
      return stringProcess.addCommas(value);
    },
    momentTime(value, format) {
      return moment(Number(value)).format(format);
    },
    processAvailableTime(item) {
      let availableTime = null;
      try {
        availableTime = JSON.parse(item);
      } catch (e) {
        availableTime = String(availableTime);
      }
      return availableTime;
    },
    handleChangeGeneralService(e, serviceItem) {
      let statusCheckbox = e.target.checked ? 1 : 0;
      let dataToUpdate = {
        service_id: serviceItem.service_id,
        service_active: statusCheckbox,
        service_price: serviceItem.service_price,
        // createBy: serviceItem.createBy,
        // service_group: serviceItem.service_group,
      };
      let self = this;
      generalService
        .updateGeneralService(this.userToken, dataToUpdate)
        .then((response) => {
          if (response.data) {
            this.isOpenMessage = true;
            setTimeout(() => {
              self.isOpenMessage = false;
            }, 3000);
          }
        })
        .catch((error) => {
          this.handleGetService(this.userObject.user_id, this.userToken);
        });
    },

    handleGetService(userId, authCode) {
      this.isLoading = true;
      generalService
        .getGeneralServiceByUserId(authCode, userId)
        .then((response) => {
          if (response && response.data) {
            this.generalServiceArray = response.data;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoadMore = false;
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scope>
@import "~/assets/scss/variables.scss";

.general_service {
  width: 100%;
  float: left;
  min-height: 600px;

  &__loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    .spinner-border {
      margin-top: calc(50vh - 15px);
    }
  }

  &__heading {
    width: 100%;
    float: left;
    margin-bottom: 16px;
  }

  h1 {
    width: 100%;
    font-weight: 700;
    font-size: 36px;

    @include breakpoint(phablet) {
      font-size: 26px;
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 50px;
  }

  &__body {
    width: 100%;
    float: left;

    &__item {
      padding: 10px 20px;
      border: 2px $primaryLightColor solid;
      border-radius: 8px;
      margin-bottom: 16px;
      float: left;
      width: 100%;

      &__left {
        width: calc(100% - 60px);
        float: left;
        padding-right: 16px;

        &__name {
          font-size: 20px;
          font-weight: 700;
          color: $textColor;
          margin-top: 8px;
          width: 100%;

          img {
            border-radius: 8px;
            width: 500px;
            max-width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: center;
            z-index: -1;
          }
        }
        &__desc {
          font-size: 16px;
          width: 100%;
          color: #888;
        }

        &__price {
          width: 100%;
          margin-top: 8px;
          font-weight: 900;
          color: $primaryColor;
          margin-bottom: 10px;

          svg {
            width: 20px;
            height: 20px;
            margin-top: -3px;
            fill: $primaryColor;
          }
        }
      }

      &__right {
        width: 60px;
        float: left;
        text-align: right;

        .form-switch .form-check-input {
          width: 50px;
          height: 30px;
          float: right;
          cursor: pointer;
          margin-top: 40px;
        }
      }
    }

    button {
      margin-bottom: 50px;
    }
  }
}

.toast-header {
  display: inline;
  float: left;
  width: 100%;
}

.toast-body {
  width: 100%;
  float: left;
}
</style>
