<template>
  <div class="invoices">
    <client-only>
      <div v-if="userObject && userObject.user_role === 'advisor'">

        <div class="invoices__image">
          <img src="/images/blank_invoices.png" />

        </div>
        <div class="invoices__title">
            {{ language("Invoices is empty") }}
        </div>
      </div>
      <div v-else>
        <div class="only_advisor">
          <div class="only_advisor__image">
            <img src="/images/block-user.png" />
          </div>
          <div class="only_advisor__title">
              {{ language("This function only for Advisor.") }}
          </div>
          <div class="only_advisor__desc">
              {{ language("Do you want to become an Advisor?") }}
          </div>
          <div class="only_advisor__button">
            <nuxt-link :to="'/become-advisor'"><button class="btn btn-primary">  {{ language("Become an Advisor") }}</button></nuxt-link>
          </div>
        </div>

      </div>
    </client-only>
  </div>
</template>

<script>
import language from "~/modules/language.ts";

export default {
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    }
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      lang = lang.toString();
      let dataReturn = language(text, lang);
      return dataReturn.toString();
    },
  }
}
</script>

<style lang="scss" scoped>
.invoices {
  text-align: center;

  &__image {
    margin-top: 200px;

    img {
      width: 200px;
      margin: 0 auto;
    }
  }

  &__title {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #aaa;
  }
}
</style>
