<template>
  <div class="">
    <client-only>
      <div v-if="userObject && userObject.user_role === 'advisor'">
        <div class="payment__block">
          <div class="payment">
            <div class="">
              <h1 class="payment__heading">
                {{ language("Language Setting") }}
              </h1>
              <div class="payment__body">
                <div class="">
                  <form v-on:submit="handleSubmitData">
                    <div class="payment__body__right__setting">
                      <div class="payment__body__right__setting__title">
                        {{ language("Choose language") }} <font color="red">*</font>
                      </div>
                      <select
                        class="form-control"
                        name="date_of_birth:mon"
                        tabindex="8"
                        v-model="language.language_type"
                        :disabled="isLoading"
                      >
                        <option value="english">English</option>
                        <option value="vietnamese">Vietnamese</option>
                      </select>
                      <button type="submit" class="btn btn-primary" v-if="language.language_type && !isLoading">
                        {{ language("Save data") }}
                      </button>
                      <button class="btn btn-primary" v-if="!language.language_type || isLoading" disabled>
                        {{ language("Save data") }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="payment__loading" v-if="isLoading">
          <div class="spinner-border text-light" role="status"></div>
        </div>
        <div
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          style="display: block; height: auto; position: fixed; right: 20px; top: 110px"
          v-if="isOpenMessage"
        >
          <div class="toast-header">
            <img src="" class="rounded mr-2" alt="" />
            <strong class="mr-auto text-success"> {{ language("Save data Successfully!") }}</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true" v-on:click="handleCloseMessage">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            {{ language("Your language update Successfully!") }}
          </div>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import { stringProcess } from "~/modules/stringProcess";
import { userMetaService } from "../../services/user.meta.service";
import * as moment from "moment-timezone";
import language from "~/modules/language.ts";

export default {
  data() {
    return {
      isLoading: false,
      isOpenMessage: false,
      userMeta: null,
      language: {
        language_type: "vietnamese",
      },
    };
  },
  created() {
    this.isLoading = false;
    if (this.userToken) {
      this.handleGetPayment(this.userObject.user_id, this.userToken);
    } else {
      if (process.client) {
        this.$router.push({ path: "/login" });
        this.isLoading = true;
      }
    }
  },
  watch: {
    userMeta(newData) {
      try {
        for (let metaItem of newData) {
          if (metaItem.meta_key === "vietnamese") {
            this.paypalId = metaItem.meta_id;
          }
          if (metaItem.meta_key === "language_type") {
            if (metaItem.meta_value) {
              let dataToSave = JSON.parse(metaItem.meta_value);
              this.language = dataToSave;
              this.paymentId = metaItem.meta_id;
            }
          }
        }
      } catch {}
    },
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      lang = lang.toString();
      let dataReturn = language(text, lang);
      return dataReturn.toString();
    },
    handleCloseMessage() {
      this.isOpenMessage = false;
    },
    addCommas(value) {
      return stringProcess.addCommas(value);
    },
    momentTime(value, format) {
      return moment(Number(value)).format(format);
    },
    handleSubmitData(e) {
      e.preventDefault();
      let dataPaypal = {
        meta_key: "paypal",
        meta_value: this.language.payment_value,
        is_private: 1,
      };
      if (this.paypalId) {
        this.handleUpdateMetaKey(dataPaypal, this.paypalId);
      } else {
        this.handleCreateMetaKey(dataPaypal);
      }
      let language = {
        meta_key: "language_type",
        meta_value: JSON.stringify(this.language),
        is_private: 1,
      };
      if (this.paymentId) {
        this.handleUpdateMetaKey(language, this.paymentId);
      } else {
        this.handleCreateMetaKey(language);
      }
    },
    handleUpdateMetaKey(dataUpdate, metaId) {
      this.isLoading = true;
      userMetaService
        .updateUserMeta(this.userObject.user_id, metaId, this.userToken, dataUpdate)
        .then((response) => {
          this.isLoading = false;
          if (response.data) {
            this.isOpenMessage = true;
            setTimeout(() => {
              self.isOpenMessage = false;
            }, 3000);
          } else {
            alert("Have an Error while save Data!");
          }
        })
        .catch((error) => {
          this.isLoading = false;
          alert("Have an Error while save Data!");
        });
    },
    handleCreateMetaKey(dataCreate) {
      this.isLoading = true;
      let self = this;
      userMetaService
        .createUserMeta(this.userObject.user_id, this.userToken, dataCreate)
        .then((response) => {
          this.isLoading = false;
          if (response.data) {
            this.isOpenMessage = true;
            setTimeout(() => {
              self.isOpenMessage = false;
            }, 3000);
          } else {
            alert("Have an Error while save Data!");
          }
        })
        .catch((error) => {
          this.isLoading = false;
          alert("Have an Error while save Data!");
        });
    },
    handleGetPayment(userId, authCode) {
      this.isLoading = true;
      userMetaService
        .getUserMeta(userId, authCode)
        .then((response) => {
          if (response && response.data) {
            this.userMeta = response.data;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scope>
@import "~/assets/scss/variables.scss";

.payment__body {
  width: 100%;
  float: left;
  min-height: 600px;

  &__right {
    width: 100%;
    float: left;
    max-width: 700px;

    &__setting {
      width: 100%;
      float: left;
      margin-top: 10px;
      margin-bottom: 50px;

      &__title {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        margin-bottom: 8px;
        float: left;

        p {
          color: red;
          margin-bottom: 2px;
          float: right;
        }
      }

      &__desc {
        font-weight: 400;
        color: #888;
      }

      button {
        margin-top: 10px;
      }
    }
  }
}

.payment {
  width: 100%;
  float: left;
  min-height: 600px;

  &__loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    .spinner-border {
      margin-top: calc(50vh - 15px);
    }
  }

  &__heading {
    width: 100%;
    float: left;
    margin-bottom: 16px;
  }

  h1 {
    width: 100%;
    font-weight: 700;
    font-size: 36px;

    @include breakpoint(phablet) {
      font-size: 26px;
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 50px;
  }
}

.toast-header {
  display: inline;
  float: left;
  width: 100%;
}

.toast-body {
  width: 100%;
  float: left;
}
</style>

