<template>
  <div class="body_container">
    <div class="user_order__block">
      <div class="user_order__left" v-if="orderDetail">
        <div class="user_order__left__heading">
          <div class="user_order__left__heading__left">
            <nuxt-link to="/user/order">
              <div class="user_order__left__heading__left__back">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                  <path
                    d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"
                  />
                </svg>
              </div>
              Detail order #{{ orderDetail.order_id }}
            </nuxt-link>
          </div>
          <div class="user_order__left__heading__right">
            <div :class="handleGetClassStatus(orderDetail.order_status)">
              {{ handleGetTextStatus(orderDetail.order_status) }}
            </div>
          </div>

          <p class="user_order__left__heading__desc">
            Order created at: {{ momentTime(orderDetail.createAt, "MMMM Do YYYY, hh:mm") }}
          </p>
        </div>

        <div class="user_order__left__body">
          <div class="user_order__left__body__block mt-3">
            <div class="user_order__left__body__seller">
              <nuxt-link :to="'/advisor/' + orderDetail.user_orders_order_seller_idTouser.user_login">
                <div class="user_order__left__body__seller__avatar">
                  <img
                    :src="orderDetail.user_orders_order_seller_idTouser.user_avatar"
                    v-if="orderDetail.user_orders_order_seller_idTouser.user_avatar"
                  />
                  <img :src="'/images/avatar_default.png'" v-else />
                </div>
                <div class="user_order__left__body__seller__title">
                  <div class="user_order__left__body__seller__title__name">
                    Seller:
                    {{
                      orderDetail.user_orders_order_seller_idTouser.display_name
                        ? orderDetail.user_orders_order_seller_idTouser.display_name
                        : orderDetail.user_orders_order_seller_idTouser.user_login
                    }}
                  </div>

                  <div
                    class="user_order__left__body__seller__title__mail"
                    v-if="orderDetail.user_orders_order_seller_idTouser.user_email"
                  >
                    {{ orderDetail.user_orders_order_seller_idTouser.user_email }}
                  </div>
                  <div
                    class="user_order__left__body__seller__title__desc"
                    v-if="orderDetail.user_orders_order_seller_idTouser.bio"
                  >
                    {{ truncateString(orderDetail.user_orders_order_seller_idTouser.bio, 250, "...") }}
                  </div>
                </div>
              </nuxt-link>
            </div>
          </div>

          <div class="user_order__left__body__description">
            <h3>
              {{ orderDetail.service.service_name }} -
              {{ orderDetail.service.service_price * orderDetail.order_quantity }}
              <svg viewBox="0 0 24 24">
                <path
                  d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z"
                />
              </svg>
            </h3>
            {{ orderDetail.service.service_description }}
          </div>
          <div class="user_order__left__body__summary">
            <table class="table">
              <tbody>
                <tr>
                  <td>{{ orderDetail.service.service_name }}</td>
                  <td style="text-align: right">
                    {{ orderDetail.service.service_price }}
                    <svg viewBox="0 0 24 24">
                      <path
                        d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z"
                      />
                    </svg>
                  </td>
                </tr>
                <tr>
                  <td>Qty</td>
                  <td style="text-align: right">{{ orderDetail.order_quantity }} minute(s)</td>
                </tr>
                <tr>
                  <th>Total</th>
                  <th style="text-align: right">
                    {{ orderDetail.order_price * orderDetail.order_quantity }}
                    <svg viewBox="0 0 24 24">
                      <path
                        d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z"
                      />
                    </svg>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row" v-if="orderDetail.service.service_type !== 'chat'">
            <div class="col-12 col-sm-6">
              <div class="user_order__left__body__description" v-if="orderNote">
                <h3>Customer situation</h3>
              </div>

              <div class="user_order__left__body__video" v-if="orderNote">
                <div class="user_order__left__body__video__left">
                  <div class="user_order__left__body__video__left__video">
                    <video controls v-if="orderNote && orderNote.video_link">
                      <source :src="orderNote.video_link" type="video/mp4" />
                      Your browser does not support the video tag.
                    </video>
                  </div>
                </div>

                <div class="user_order__left__body__video__right" v-if="isMoreInfo">
                  <div class="user_order__left__body__video__right__title">Information</div>
                  <div class="user_order__left__body__video__right__item" v-if="orderNote.display_name">
                    <b>Name:</b> {{ orderNote.display_name }}
                  </div>
                  <div class="user_order__left__body__video__right__item" v-if="orderNote.gender">
                    <b>Gender:</b> {{ orderNote.gender }}
                  </div>
                  <div class="user_order__left__body__video__right__item" v-if="orderNote.birth_day">
                    <b>Birthday:</b> {{ momentTimeBirthday(orderNote.birth_day, "YYYY-MM-DD") }}
                  </div>

                  <div class="user_order__left__body__video__right__title" v-if="orderNote.situation">
                    General situation
                  </div>
                  <div class="user_order__left__body__video__right__item" v-if="orderNote.situation">
                    {{ orderNote.situation }}
                  </div>

                  <div
                    class="user_order__left__body__video__right__title"
                    v-if="orderNote.questions && orderNote.questions.length"
                  >
                    Questions
                  </div>
                  <div
                    class="user_order__left__body__video__right__item"
                    v-for="(questionItem, questionIndex) in orderNote.questions"
                    :key="'question__' + questionIndex"
                  >
                    <div class="user_order__left__body__video__right__item__question">
                      {{ questionIndex + 1 }}
                    </div>
                    {{ questionItem }}
                  </div>
                </div>

                <div
                  class="user_order__left__body__video__more"
                  v-on:click="
                    () => {
                      isMoreInfo = !isMoreInfo;
                    }
                  "
                >
                  {{ !isMoreInfo ? "See more infomation" : "Collapse infomation" }}

                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" v-if="!isMoreInfo">
                    <path
                      d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"
                    />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" v-if="isMoreInfo">
                    <path
                      d="M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="user_order__left__body__description" v-if="orderResult">
                <h3>Advisor video Reply</h3>
              </div>
              <div class="user_order__left__body__video" v-if="orderResult">
                <div class="user_order__left__body__video__result">
                  <video controls v-if="orderResult && orderResult.videoPath">
                    <source :src="orderResult.videoPath" type="video/mp4" />
                    Your browser does not support the video tag.
                  </video>
                </div>
              </div>

              <div
                class="user_order__left__body__description"
                v-if="
                  (orderDetail.order_status === 'paid' || orderDetail.order_status === 'in_process') &&
                  userObject.user_role === 'advisor' &&
                  !orderResult
                "
              >
                <h3>Advisor video reply</h3>
              </div>
              <div
                class="user_order__left__body__video__left__video"
                v-if="
                  (orderDetail.order_status === 'paid' || orderDetail.order_status === 'in_process') &&
                  userObject.user_role === 'advisor' &&
                  !orderResult
                "
              >
                <div class="user_order__left__body__video__left__video__block" v-on:click="handleClickFile">
                  Upload your video to Accept Order
                </div>
                <input
                  type="file"
                  ref="file_video"
                  style=""
                  id="chat_send_video"
                  v-on:change="handleSubmitFile"
                  accept="video/*"
                />
              </div>
            </div>
          </div>
        </div>

        <div
          class="user_order__left__heading"
          v-if="
            orderDetail.order_status !== 'draft' &&
            orderDetail.order_status !== 'cancelled' &&
            orderDetail.order_status !== 'refunded' &&
            orderDetail.service.service_type === 'chat'
          "
        >
          <div class="row">
            <div class="col-6">
              <a :href="'/chat/chat/' + orderDetail.order_pnr"
                ><button type="button" class="btn btn-primary w-100">See chat history</button></a
              >
            </div>
            <div class="col-6" v-if="userObject.user_role !== 'advisor'">
              <nuxt-link :to="'/advisor/' + orderDetail.user_orders_order_seller_idTouser.user_login"
                ><button type="button" class="btn btn-outline-primary w-100">Make new live chat</button></nuxt-link
              >
            </div>
            <div class="col-6" v-if="userObject.user_role === 'advisor'">
              <button type="button" class="btn btn-secondary w-100" disabled>Make new live chat</button>
            </div>
          </div>
        </div>

        <div
          class="user_order__left__heading"
          v-if="
            orderDetail.order_status === 'paid' &&
            userObject.user_role === 'advisor' &&
            orderDetail.service.service_type !== 'chat'
          "
        >
          <div class="row">
            <div class="col-12 col-sm-6 d-none d-sm-block">
              <button type="button" class="btn btn-danger w-100 mt-3" v-on:click="handleCancelOrder">Deny order</button>
            </div>

            <div class="col-12 col-sm-6">
              <button type="button" class="btn btn-success w-100 mt-3" v-on:click="handleDoneOrder">
                Accept order
              </button>
            </div>

            <div class="col-12 col-sm-6 d-block d-sm-none">
              <button type="button" class="btn btn-secondary w-100 mt-3" v-on:click="handleCancelOrder">
                Deny order
              </button>
            </div>
          </div>
        </div>

        <div
          class="user_order__left__heading"
          v-if="
            orderDetail.order_status === 'in_process' &&
            userObject.user_role === 'advisor' &&
            orderDetail.service.service_type !== 'chat'
          "
        >
          <div class="row">
            <div class="col-12 col-sm-6 d-none d-sm-block">
              <button type="button" class="btn btn-secondary w-100 mt-3" disabled>Deny order</button>
            </div>

            <div class="col-12 col-sm-6">
              <button type="button" class="btn btn-success w-100 mt-3" v-on:click="handleDoneOrder">
                Send your Respond
              </button>
            </div>

            <div class="col-12 col-sm-6 d-block d-sm-none">
              <button type="button" class="btn btn-secondary w-100 mt-3" disabled>Deny order</button>
            </div>
          </div>
        </div>

        <div
          class="user_order__left__heading"
          v-if="orderDetail.order_status === 'paid' && userObject.user_role !== 'advisor'"
        >
          <div class="row">
            <div class="col-12">
              <button type="button" class="btn btn-danger w-100 mt-3" v-on:click="handleCancelOrder">
                Cancel order
              </button>
            </div>
          </div>
        </div>
        <div
          class="user_order__left__heading"
          v-if="
            orderDetail.service &&
            orderDetail.service.service_type === 'chat' &&
            orderDetail.order_status === 'paid' &&
            userObject.user_role === 'advisor'
          "
        >
          <div class="row">
            <div class="col-12">
              <button type="button" class="btn btn-danger w-100 mt-3" v-on:click="handleCancelOrder">
                Cancel order
              </button>
            </div>
          </div>
        </div>

        <div class="user_order__left__body mt-4" v-if="orderDetail.order_status === 'processed'">
          <div class="user_order__left__body__description">
            <h3>Order Review</h3>
          </div>
          <Rating :orderId="this.orderId" />
        </div>
      </div>
    </div>
    <div class="user_order__loading" v-if="isLoading || isLoadingMedia">
      <div class="spinner-border text-light" role="status"></div>
    </div>

    <div
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      style="display: block; height: auto; position: fixed; right: 20px; top: 110px"
      v-if="isOpenMessage"
    >
      <div class="toast-header">
        <img src="" class="rounded mr-2" alt="" />
        <strong class="mr-auto text-success">Update order Successfully!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true" v-on:click="handleCloseMessage">&times;</span>
        </button>
      </div>
      <div class="toast-body">Your order update Successfully!</div>
    </div>
  </div>
</template>

<script>
import { orderService } from "~/services/order.service";
import * as moment from "moment-timezone";
import { stringProcess } from "../../modules/stringProcess";
import { presignService } from "~/services/presign.service";
import { s3Service } from "../../services/s3.services";
import Rating from "../Order/Rating.vue";

export default {
  components: { Rating },
  data() {
    return {
      orderDetail: null,
      isLoading: false,
      orderNote: null,
      orderResult: null,
      videoReply: "",
      isOpenMessage: false,
      isLoadingMedia: false,
      isMoreInfo: false,
    };
  },
  props: ["orderId"],
  created() {
    this.isLoading = true;
    if (this.userToken) {
      this.handleGetOrderDetail(this.orderId, this.userToken);
    } else {
      if (process.client) {
        this.$router.push({ path: "/login" });
        this.isLoading = true;
      }
    }
  },
  watch: {
    orderDetail(newData) {
      if (newData && newData.order_id) {
        this.handleGetOrderMeta(newData.order_id);
      }
    },
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
  },
  methods: {
    handleGetOrderMeta(orderId) {
      orderService.getOrderMeta(orderId, this.userToken).then((response) => {
        if (response && response.data) {
          for (let orderMetaItem of response.data) {
            if (orderMetaItem.meta_key === "order_result" && orderMetaItem.meta_value) {
              this.orderResult = JSON.parse(orderMetaItem.meta_value);
            }
          }
        }
      });
    },
    handleClickFile() {
      let element = document.getElementById("chat_send_video");
      if (element) {
        element.click();
      }
    },
    handleDoneOrder() {
      if (!this.orderResult) {
        alert("You must upload Video before Change order Status!");
        return false;
      }
      orderService
        .updateOrder(this.orderDetail.order_id, "processed", this.userToken)
        .then((response) => {
          if (response) {
            this.handleGetOrderDetail(this.orderId, this.userToken);
            this.isOpenMessage = true;
            let self = this;
            setTimeout(() => {
              self.isOpenMessage = false;
            }, 4000);
          }
        })
        .catch((error) => {
          alert("Have an Error when update Order");
        });
    },
    handleCancelOrder() {
      if (confirm("This action can not be UNDONE, are you sure?") == true) {
        orderService
          .updateOrder(this.orderDetail.order_id, "cancelled", this.userToken)
          .then((response) => {
            if (response) {
              this.$router.push({ path: "/user/order", query: { status: "cancelled" } });
            }
          })
          .catch((error) => {
            alert("Have an Error when update Order");
          });
      } else {
      }
    },
    handleGetTextStatus(status) {
      let textButton = "Draft";
      switch (status) {
        case "draft":
          textButton = "Draft";
          break;
        case "cancelled":
          textButton = "Cancelled";
          break;
        case "refunded":
          textButton = "Refunded";
          break;
        case "processed":
          textButton = "Processed";
          break;
        case "in_process":
          textButton = "In Process";
          break;
        case "paid":
          textButton = "Paid";
          break;
      }
      return textButton;
    },
    truncateString(string, number, text) {
      return stringProcess.truncateString(string, number, text);
    },
    handleGetClassStatus(status) {
      let classButton = "btn w-100";
      switch (status) {
        case "draft":
          classButton = classButton + " btn-secondary";
          break;
        case "cancelled":
          classButton = classButton + " btn-secondary";
          break;
        case "refunded":
          classButton = classButton + " btn-danger";
          break;
        case "processed":
          classButton = classButton + " btn-success";
          break;
        case "in_process":
          classButton = classButton + " btn-success";
          break;
        case "paid":
          classButton = classButton + " btn-success";
          break;
      }
      return classButton;
    },
    momentTime(value, format) {
      return moment(Number(value)).format(format);
    },
    momentTimeBirthday(value, format) {
      return moment(value).format(format);
    },

    handleGetOrderDetail(orderId, authCode) {
      orderService
        .getDetailOrder(orderId, authCode)
        .then((response) => {
          if (response && response.data) {
            this.orderDetail = response.data;
            try {
              if (response.data?.order_note) {
                this.orderNote = JSON.parse(response.data?.order_note);
              }
            } catch (error) {}
          } else {
            this.orderDetail = null;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.orderDetail = null;
          this.isLoading = false;
        });
    },
    /**
     * @param {*} file
     */
    async handleCreatePresignUrl(file) {
      let dataReturn = await presignService
        .createNewPresign(file.name, file.type, this.userToken)
        .then((response) => {
          if (response.data) {
            return response.data;
          } else {
            return null;
          }
        })
        .catch((error) => {
          return null;
        });

      return dataReturn;
    },

    /**
     * @param {*} dataFile
     */
    async handleSubmitFile(dataFile) {
      let fileArray = dataFile.target.files;

      this.isLoadingMedia = true;
      for (var i = 0; i < fileArray.length; i++) {
        let file = fileArray[i];
        let fileTypeAllowed = ["image/jpeg", "image/jpg", "image/gif", "image/png", "video/mp4", "video/quicktime"];
        if (fileTypeAllowed.indexOf(file.type) === -1) {
          alert("Not support this file");
          this.isLoadingMedia = false;
          this.$refs.file_video.value = null;

          return false;
        }

        orderService
          .updateOrder(this.orderDetail.order_id, "in_process", this.userToken)
          .then((response) => {})
          .catch((error) => {});

        let mediaPresign = await this.handleCreatePresignUrl(file);

        if (mediaPresign && mediaPresign.url) {
          let urlPut = mediaPresign.url;
          if (urlPut && urlPut.indexOf("tarotappinhouse.s3.amazonaws.com") !== -1) {
            urlPut = urlPut.replace("tarotappinhouse.s3.amazonaws.com", "tarotappinhouse.s3-accelerate.amazonaws.com");
          }

          let newDataPromise = new Promise((resolve, reject) => {
            const reader = new FileReader();
            let fileType = file.type;
            reader.onload = () => {
              try {
                s3Service
                  .createUserMeta(urlPut, fileType, reader.result)
                  .then(function (response) {
                    if (Number(response.status === 200)) {
                      resolve(true);
                    } else {
                      reject(false);
                    }
                  })
                  .catch(function (error) {
                    reject(false);
                  });
              } catch (err) {
                reject(false);
              }
            };
            reader.onerror = (error) => {
              reject(false);
            };
            reader.readAsArrayBuffer(file);
          });

          //Data Promise
          let dataReturn = await newDataPromise.then(
            (response) => {
              return response;
            },
            (error) => {
              return null;
            }
          );
          if (dataReturn) {
            let urlOriginal = "";
            let dataArrayUrl = mediaPresign.url?.split("?");
            if (dataArrayUrl[0]) {
              urlOriginal = dataArrayUrl[0];
            }
            //Update Data User
            this.handleSetVideoData(urlOriginal);
            this.isLoadingMedia = false;
            this.$refs.file_video.value = null;
          } else {
            alert("Not support this file");
            this.isLoadingMedia = false;
            this.$refs.file_video.value = null;
          }
        } else {
          alert("Not support this file");
          this.isLoadingMedia = false;
          this.$refs.file_video.value = null;
        }
      }
    },
    handleSetVideoData(videoUrl) {
      if (!videoUrl) {
        return false;
      }
      this.videoReply = videoUrl;
      let videoData = {
        videoPath: videoUrl,
        width: 1920,
        height: 1080,
      };

      let dataToUpdate = {
        order_id: this.orderDetail.order_id,
        meta_key: "order_result",
        meta_value: JSON.stringify(videoData),
      };
      orderService.createOrderMeta(dataToUpdate, this.userToken).then((response) => {
        if (response && response.data) {
          if (response.data.meta_key === "order_result" && response.data.meta_value) {
            this.orderResult = JSON.parse(response.data.meta_value);
          }
        }
      });
    },
    handleCloseMessage() {
      this.isOpenMessage = false;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.user_order {
  width: 100%;
  float: left;
  min-height: 600px;

  &__loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    .spinner-border {
      margin-top: calc(50vh - 15px);
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 30px;
  }

  &__left {
    width: 100%;
    float: left;
    margin-bottom: 50px;

    &__body {
      float: left;
      width: 100%;

      &__video {
        width: 100%;
        float: left;

        &__more {
          width: 100%;
          cursor: pointer;
          user-select: none;
          color: $textColor;
          font-weight: 700;
          font-size: 15px;
          float: left;
          margin-top: 16px;
          margin-bottom: 16px;
          position: relative;
          border-bottom: 1px #efefef solid;
          padding: 4px 0px;

          svg {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 5px;
            right: 0px;
            fill: #aaa;
          }
        }

        &__result {
          width: 100%;
          height: 300px;
          border-radius: 16px;
          overflow: hidden;

          video {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 300px;
          }
        }

        &__left {
          width: 100%;
          float: left;

          &__video {
            width: 100%;
            height: 300px;
            border-radius: 16px;
            overflow: hidden;

            input {
              height: 0;
              width: 0;
              overflow: hidden;
            }

            &__block {
              width: 100%;
              float: left;
              height: 300px;
              border-radius: 16px;
              border: 2px dotted #aaa;
              text-align: center;
              line-height: 300px;
              cursor: pointer;
              user-select: none;

              &:hover {
                background-color: #f0f0f0;
              }
            }

            video {
              width: 100%;
              object-fit: cover;
              object-position: center;
              height: 300px;
            }
          }
        }

        &__right {
          width: 100%;
          float: left;
          margin-top: 20px;
          margin-bottom: 10px;

          &__title {
            font-size: 18px;
            font-weight: 700;
            color: $textColor;
            margin-bottom: 5px;
            margin-top: 5px;
          }

          &__item {
            font-size: 16px;
            font-weight: 400;
            color: #666;

            &__question {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              display: inline-block;
              background-color: $primaryLightColor;
              color: #fff;
              line-height: 16px;
              font-size: 12px;
              font-weight: 700;
              text-align: center;
              margin-top: -2px;
            }
          }
        }
      }

      &__description {
        margin: 0;
        width: 100%;
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;

        h3 {
          line-height: 1.2;
        }
      }

      &__block {
        width: 100%;
        float: left;
        border: 1px #e5e5e5 solid;
        border-radius: 8px;
        padding: 0px 20px;

        @include breakpoint(phablet) {
          padding: 0;
          border: none;
        }
      }

      h3 {
        width: 100%;
        font-weight: 700;
        float: left;
        font-size: 22px !important;
        padding-bottom: 8px;
        margin-bottom: 0px;

        svg {
          width: 20px;
          height: 20px;
          fill: $textColor;
          margin-top: -2px;
          fill: #ee9b00;
        }
      }

      &__seller {
        width: 100%;
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;

        @include breakpoint(phablet) {
          width: calc(100% + 40px);
          padding: 26px 20px 20px 20px;
          margin-left: -20px;
          margin-right: -20px;
          background-color: #f0f0f0;
        }

        &__avatar {
          width: 120px;
          height: 120px;
          float: left;
          border-radius: 50%;
          overflow: hidden;

          @include breakpoint(phablet) {
            width: 30px;
            height: 30px;
            margin-top: -5px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__title {
          width: calc(100% - 120px);
          padding: 0 20px;
          float: left;

          @include breakpoint(phablet) {
            width: calc(100% - 30px);
            padding: 0 16px;
            margin-top: -8px;
          }

          &__name {
            font-weight: 700;
            font-size: 20px;
            width: 100%;
            float: left;
          }

          &__mail {
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            color: #aaa;
            float: left;
          }

          &__desc {
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            color: $textColor;
            float: left;
            text-align: initial;
            margin-top: 10px;

            @include breakpoint(phablet) {
              font-size: 14px;
              width: calc(100% + 60px);
              margin-top: 20px;
              margin-left: -46px;
            }
          }
        }
      }

      &__list {
        float: left;
        width: 100%;
        margin-bottom: 30px;

        &__avatar {
          width: 120px;
          height: 120px;
          float: left;

          @include breakpoint(phablet) {
            width: 80px;
            height: 80px;
          }

          svg {
            width: 60px;
            height: 60px;
            margin: 30px;
            fill: $primaryColor;

            @include breakpoint(phablet) {
              width: 40px;
              height: 40px;
              margin: 20px;
            }
          }
        }

        &__title {
          width: calc(100% - 120px);
          float: left;
          padding: 20px;

          @include breakpoint(phablet) {
            width: calc(100% - 80px);
            padding: 10px 20px;
          }

          &__heading {
            width: 100%;
            font-size: 18px;
            color: $textColor;
            font-weight: 700;
          }
        }

        &__block {
          width: 100%;
          margin-top: 10px;
          float: left;
          border-radius: 8px;
          border: 1px $primaryLightColor solid;
          background-color: $primaryBackground;
        }
      }
    }

    &__heading {
      width: 100%;
      float: left;

      margin-bottom: 0;

      &__left {
        width: calc(100% - 150px);
        float: left;

        &__back {
          width: 36px;
          border-radius: 50%;
          height: 36px;
          background: #efefef;
          margin-right: 8px;
          float: left;
          margin-top: 10px;

          @include breakpoint(phablet) {
            margin-top: 2px;
          }

          &:hover {
            background: #dfdfdf;
          }

          svg {
            width: 20px;
            height: 20px;
            fill: $textColor;
            margin: 8px 8px 0 8px;
            float: left;
          }
        }

        @include breakpoint(mobile) {
          width: 100%;
        }

        a {
          font-size: 36px;
          font-weight: 700;
          color: $textColor;

          @include breakpoint(phablet) {
            font-size: 26px;
          }
        }
      }

      &__right {
        float: right;
        width: 150px;

        @include breakpoint(mobile) {
          width: 100%;
        }

        .btn {
          width: 100%;
          font-weight: 700 !important;
          font-size: 15px;
          margin-top: 10px;

          @include breakpoint(phablet) {
            margin-top: 3px;
          }

          @include breakpoint(mobile) {
            margin-top: 12px;
          }
        }
      }

      @include breakpoint(phablet) {
        font-size: 22px;

        button {
          margin-top: 8px;
        }
      }

      &__desc {
        width: 100%;
        float: left;
        font-size: 16px;
        font-weight: 400;
        color: #aaa;

        @include breakpoint(phablet) {
          margin-top: 10px;
        }
      }
    }

    table {
      td,
      th {
        padding-left: 0;
        padding-right: 0;

        svg {
          width: 18px;
          height: 18px;
          margin-top: -2px;
          fill: #ee9b00;
        }
      }
    }
  }
}

.toast-header {
  display: inline;
  float: left;
  width: 100%;
}

.toast-body {
  width: 100%;
  float: left;
}
</style>
