<template>
  <div class="body_container">
    <div class="user_order__block">
      <client-only>
        <div class="user_order__left">
          <h1 class="user_order__left__heading" v-on:click="handlePrevious()">
            <div class="user_order__left__heading__back">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                <path
                  d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"
                />
              </svg>
            </div>
            {{ language("Orders") }}
          </h1>

          <div class="user_order__left__body" v-if="userObject">
            <ul class="nav nav-pills user_order__left__body__menu">
              <li
                class="nav-item"
                v-on:click="
                  () => {
                    orderStatus = 'paid';
                  }
                "
              >
                <a :class="orderStatus == 'paid' ? 'nav-link active' : 'nav-link'" href="#"> {{ language("Paid") }}</a>
              </li>
              <li
                class="nav-item"
                v-on:click="
                  () => {
                    orderStatus = 'in_process';
                  }
                "
              >
                <a :class="orderStatus == 'in_process' ? 'nav-link active' : 'nav-link'" href="#">
                  {{ language("In Process") }}</a
                >
              </li>
              <li
                class="nav-item"
                v-on:click="
                  () => {
                    orderStatus = 'processed';
                  }
                "
              >
                <a :class="orderStatus == 'processed' ? 'nav-link active' : 'nav-link'" href="#">
                  {{ language("Processed") }}</a
                >
              </li>
              <li
                class="nav-item"
                v-on:click="
                  () => {
                    orderStatus = 'cancelled';
                  }
                "
              >
                <a :class="orderStatus == 'cancelled' ? 'nav-link active' : 'nav-link'" href="#">
                  {{ language("Cancelled") }}</a
                >
              </li>
              <li
                class="nav-item"
                v-on:click="
                  () => {
                    orderStatus = 'refunded';
                  }
                "
              >
                <a :class="orderStatus == 'refunded' ? 'nav-link active' : 'nav-link'" href="#">
                  {{ language("Refunded") }}</a
                >
              </li>
              <li
                class="nav-item"
                v-on:click="
                  () => {
                    orderStatus = 'draft';
                  }
                "
                v-if="userObject.user_role !== 'advisor'"
              >
                <a :class="orderStatus == 'draft' ? 'nav-link active' : 'nav-link'" href="#">
                  {{ language("Draft") }}</a
                >
              </li>
            </ul>

            <div class="user_order__left__body__border">
              <div
                class="user_order__left__body__border__item"
                v-for="(orderItem, orderIndex) in orderData"
                :key="'order_data_2' + orderIndex"
              >
                <nuxt-link :to="'/user/order/' + orderItem.order_id">
                  <div class="order__item__avatar">
                    <div class="order__item__avatar__border" v-if="userObject.user_role !== 'advisor'">
                      <img
                        :src="
                          orderItem.user_orders_order_seller_idTouser.user_avatar
                            ? orderItem.user_orders_order_seller_idTouser.user_avatar
                            : '/images/avatar_default.png'
                        "
                        @error="replaceByDefault"
                      />
                    </div>
                    <div class="order__item__avatar__border" v-if="userObject.user_role === 'advisor'">
                      <img
                        :src="
                          orderItem.user_orders_order_customer_idTouser.user_avatar
                            ? orderItem.user_orders_order_customer_idTouser.user_avatar
                            : '/images/avatar_default.png'
                        "
                        @error="replaceByDefault"
                      />
                    </div>
                  </div>

                  <div class="order__item__right">
                    <div class="user_order__left__body__border__item__top" v-if="userObject.user_role === 'advisor'">
                      <div class="user_order__left__body__border__item__top__name">
                        <p>
                          {{
                            orderItem.user_orders_order_customer_idTouser.display_name
                              ? orderItem.user_orders_order_customer_idTouser.display_name
                              : orderItem.user_orders_order_customer_idTouser.user_login
                          }}
                          - {{ orderItem.service.service_name }}
                        </p>
                      </div>
                      <div class="user_order__left__body__border__item__top__right">
                        <div
                          :class="
                            'user_order__left__body__border__item__top__right__border type_' +
                            orderItem.service.service_type
                          "
                          v-if="orderItem.service.service_type === 'clip'"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path
                              d="M384 112v288c0 26.51-21.49 48-48 48h-288c-26.51 0-48-21.49-48-48v-288c0-26.51 21.49-48 48-48h288C362.5 64 384 85.49 384 112zM576 127.5v256.9c0 25.5-29.17 40.39-50.39 25.79L416 334.7V177.3l109.6-75.56C546.9 87.13 576 102.1 576 127.5z"
                            />
                          </svg>
                        </div>
                        <div
                          :class="
                            'user_order__left__body__border__item__top__right__border type_' +
                            orderItem.service.service_type
                          "
                          v-if="orderItem.service.service_type === 'qclip'"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path
                              d="M384 112v288c0 26.51-21.49 48-48 48h-288c-26.51 0-48-21.49-48-48v-288c0-26.51 21.49-48 48-48h288C362.5 64 384 85.49 384 112zM576 127.5v256.9c0 25.5-29.17 40.39-50.39 25.79L416 334.7V177.3l109.6-75.56C546.9 87.13 576 102.1 576 127.5z"
                            />
                          </svg>
                        </div>
                        <div
                          :class="
                            'user_order__left__body__border__item__top__right__border type_' +
                            orderItem.service.service_type
                          "
                          v-if="orderItem.service.service_type === 'chat'"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                              d="M511.1 63.1v287.1c0 35.25-28.75 63.1-64 63.1h-144l-124.9 93.68c-7.875 5.75-19.12 .0497-19.12-9.7v-83.98h-96c-35.25 0-64-28.75-64-63.1V63.1c0-35.25 28.75-63.1 64-63.1h384C483.2 0 511.1 28.75 511.1 63.1z"
                            />
                          </svg>
                        </div>
                        <div
                          :class="
                            'user_order__left__body__border__item__top__right__border type_' +
                            orderItem.service.service_type
                          "
                          v-if="orderItem.service.service_type === 'other'"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                              d="M507.9 196.4l-104-153.8C399.4 35.95 391.1 32 384 32H127.1C120 32 112.6 35.95 108.1 42.56l-103.1 153.8c-6.312 9.297-5.281 21.72 2.406 29.89l231.1 246.2C243.1 477.3 249.4 480 256 480s12.94-2.734 17.47-7.547l232-246.2C513.2 218.1 514.2 205.7 507.9 196.4zM382.5 96.59L446.1 192h-140.1L382.5 96.59zM256 178.9L177.6 80h156.7L256 178.9zM129.5 96.59L205.1 192H65.04L129.5 96.59zM256 421L85.42 240h341.2L256 421z"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>

                    <div class="user_order__left__body__border__item__top" v-else>
                      <div class="user_order__left__body__border__item__top__name">
                        <p>
                          {{
                            orderItem.user_orders_order_seller_idTouser.display_name
                              ? orderItem.user_orders_order_seller_idTouser.display_name
                              : orderItem.user_orders_order_seller_idTouser.user_login
                          }}
                          - {{ orderItem.service.service_name }}
                        </p>
                      </div>
                      <div class="user_order__left__body__border__item__top__right">
                        <div
                          :class="
                            'user_order__left__body__border__item__top__right__border type_' +
                            orderItem.service.service_type
                          "
                          v-if="orderItem.service.service_type === 'clip'"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path
                              d="M384 112v288c0 26.51-21.49 48-48 48h-288c-26.51 0-48-21.49-48-48v-288c0-26.51 21.49-48 48-48h288C362.5 64 384 85.49 384 112zM576 127.5v256.9c0 25.5-29.17 40.39-50.39 25.79L416 334.7V177.3l109.6-75.56C546.9 87.13 576 102.1 576 127.5z"
                            />
                          </svg>
                        </div>
                        <div
                          :class="
                            'user_order__left__body__border__item__top__right__border type_' +
                            orderItem.service.service_type
                          "
                          v-if="orderItem.service.service_type === 'qclip'"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path
                              d="M384 112v288c0 26.51-21.49 48-48 48h-288c-26.51 0-48-21.49-48-48v-288c0-26.51 21.49-48 48-48h288C362.5 64 384 85.49 384 112zM576 127.5v256.9c0 25.5-29.17 40.39-50.39 25.79L416 334.7V177.3l109.6-75.56C546.9 87.13 576 102.1 576 127.5z"
                            />
                          </svg>
                        </div>
                        <div
                          :class="
                            'user_order__left__body__border__item__top__right__border type_' +
                            orderItem.service.service_type
                          "
                          v-if="orderItem.service.service_type === 'chat'"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                              d="M511.1 63.1v287.1c0 35.25-28.75 63.1-64 63.1h-144l-124.9 93.68c-7.875 5.75-19.12 .0497-19.12-9.7v-83.98h-96c-35.25 0-64-28.75-64-63.1V63.1c0-35.25 28.75-63.1 64-63.1h384C483.2 0 511.1 28.75 511.1 63.1z"
                            />
                          </svg>
                        </div>
                        <div
                          :class="
                            'user_order__left__body__border__item__top__right__border type_' +
                            orderItem.service.service_type
                          "
                          v-if="orderItem.service.service_type === 'other'"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path
                              d="M4.87403 12.874L10.5858 18.5858C11.2525 19.2525 11.5858 19.5858 12 19.5858C12.4142 19.5858 12.7475 19.2525 13.4142 18.5858L19.126 12.874C19.5512 12.4488 19.7639 12.2361 19.8291 11.9597C19.8944 11.6832 19.7993 11.3979 19.6091 10.8274L18.9117 8.73509C18.4717 7.41505 18.2517 6.75503 17.7279 6.37752C17.2041 6 16.5084 6 15.117 6H8.88304C7.49159 6 6.79587 6 6.2721 6.37752C5.74832 6.75503 5.52832 7.41505 5.0883 8.73509L4.39088 10.8274C4.2007 11.3979 4.10561 11.6832 4.17087 11.9597C4.23614 12.2361 4.44877 12.4488 4.87403 12.874Z"
                              stroke="#222222"
                              stroke-linecap="round"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>

                    <div class="user_order__left__body__border__item__bottom">
                      <div class="user_order__left__body__border__item__bottom__left">
                        <div class="user_order__left__body__border__item__bottom__left__item">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                              d="M256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512zM232 256C232 264 236 271.5 242.7 275.1L338.7 339.1C349.7 347.3 364.6 344.3 371.1 333.3C379.3 322.3 376.3 307.4 365.3 300L280 243.2V120C280 106.7 269.3 96 255.1 96C242.7 96 231.1 106.7 231.1 120L232 256z"
                            />
                          </svg>
                          <p v-if="orderItem.service.service_type === 'chat'">
                            {{ orderItem.order_quantity }} {{ orderItem.order_quantity > 1 ? "minutes" : "minute" }}
                          </p>
                          <p
                            v-if="
                              orderItem.service.service_type === 'clip' || orderItem.service.service_type === 'qclip'
                            "
                          >
                            {{ orderItem.order_quantity }} {{ orderItem.order_quantity > 1 ? "video" : "video" }}
                          </p>
                          -
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                              d="M96 32C96 14.33 110.3 0 128 0C145.7 0 160 14.33 160 32V64H288V32C288 14.33 302.3 0 320 0C337.7 0 352 14.33 352 32V64H400C426.5 64 448 85.49 448 112V160H0V112C0 85.49 21.49 64 48 64H96V32zM448 464C448 490.5 426.5 512 400 512H48C21.49 512 0 490.5 0 464V192H448V464z"
                            />
                          </svg>
                          {{ momentTime(orderItem.createAt, "MMMM Do YYYY, hh:mm") }}
                        </div>
                        <div class="user_order__left__body__border__item__bottom__left__price">
                          Price:
                          {{ orderItem.order_price * orderItem.order_quantity }}
                          <svg viewBox="0 0 24 24">
                            <path
                              d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z"
                            />
                          </svg>
                        </div>
                      </div>
                      <div class="user_order__left__body__border__item__bottom__right">#{{ orderItem.order_id }}</div>
                    </div>
                  </div>
                </nuxt-link>
              </div>

              <div class="user_order__left__body__border__loading" v-if="isLoading">
                <div class="spinner-border text-secondary" role="status"></div>
              </div>

              <div
                class="user_order__left__body__border__empty"
                v-if="(!orderData || (orderData && orderData.length === 0)) && !isLoading"
              >
                <img src="/images/withdrawal.png" />
                <div class="user_order__left__body__border__empty__heading">
                  You have no {{ handleGetTextStatus(orderStatus) }} order!
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-outline-primary w-100" v-if="isLoadMore" v-on:click="handleLoadMore">
              LOAD MORE
            </button>
          </div>
        </div>
      </client-only>
    </div>
  </div>
</template>

<script>
import { orderService } from "~/services/order.service";
import * as moment from "moment-timezone";
import language from "~/modules/language.ts";

export default {
  data() {
    let orderStatusPrepare = "paid";
    if (this.$route?.query?.status) {
      orderStatusPrepare = this.$route?.query?.status;
    }
    return {
      orderData: [],
      isLoading: false,
      orderPage: 1,
      orderLimit: 20,
      isLoadMore: false,
      orderStatus: orderStatusPrepare,
    };
  },
  created() {
    this.isLoading = true;
    if (this.userToken) {
      this.handleGetOrder(this.orderPage, this.orderLimit, this.orderStatus, this.userToken);
    } else {
      if (process.client) {
        this.$router.push({ path: "/login" });
        this.isLoading = true;
      }
    }
  },
  watch: {
    orderStatus(newData) {
      this.orderData = [];
      this.isLoadMore = false;
      this.handleGetOrder(this.orderPage, this.orderLimit, newData, this.userToken);
      this.$router.push({ query: { status: newData } });
    },
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    replaceByDefault(e) {
      e.target.src = "/images/avatar_default.png";
    },
    handleGetTextStatus(status) {
      let textButton = "Draft";
      switch (status) {
        case "draft":
          textButton = "Draft";
          break;
        case "cancelled":
          textButton = "Cancelled";
          break;
        case "refunded":
          textButton = "Refunded";
          break;
        case "processed":
          textButton = "Processed";
          break;
        case "in_process":
          textButton = "In Process";
          break;
        case "paid":
          textButton = "Paid";
          break;
      }
      return textButton;
    },
    handleGetClassStatus(status) {
      let classButton = "btn";
      switch (status) {
        case "draft":
          classButton = classButton + " btn-outline-secondary";
          break;
        case "cancelled":
          classButton = classButton + " btn-outline-secondary";
          break;
        case "refunded":
          classButton = classButton + " btn-outline-danger";
          break;
        case "processed":
          classButton = classButton + " btn-outline-success";
          break;
        case "in_process":
          classButton = classButton + " btn-success";
          break;
        case "paid":
          classButton = classButton + " btn-outline-success";
          break;
      }
      return classButton;
    },
    momentTime(value, format) {
      return moment(Number(value)).format(format);
    },
    handleLoadMore() {
      let newPage = this.orderPage + 1;
      this.isLoadMore = false;
      this.handleGetOrder(newPage, this.orderLimit, this.orderStatus, this.userToken);
      this.orderPage = newPage;
    },
    handleGetOrder(orderPage, orderLimit, orderStatus, authCode) {
      this.isLoading = true;
      orderService
        .getOrders(orderPage, orderLimit, orderStatus, authCode)
        .then((response) => {
          if (response && response.data) {
            this.orderData = this.orderData.concat(response.data);
            if (response.data.length < this.orderLimit) {
              this.isLoadMore = false;
            } else {
              this.isLoadMore = true;
            }
          } else {
            this.isLoadMore = false;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoadMore = false;
          this.isLoading = false;
        });
    },
    handlePrevious() {
      window.history.go(-1);
      return false;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.user_order {
  width: 100%;
  float: left;
  min-height: 600px;

  &__loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    .spinner-border {
      margin-top: calc(50vh - 15px);
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 30px;
  }

  .order__item {
    &__avatar {
      width: 60px;
      height: 60px;
      float: left;

      &__border {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &__right {
      width: calc(100% - 60px);
      float: left;
      padding-left: 30px;
    }
  }

  &__left {
    width: 100%;
    float: left;
    margin-bottom: 50px;

    &__body {
      width: 100%;
      float: left;

      &__border {
        width: 100%;
        position: relative;
        float: left;
        margin-bottom: 20px;

        &__empty {
          width: 100%;
          text-align: center;

          img {
            margin: 0 auto;
            width: 160px;
            margin-top: 100px;
          }

          &__heading {
            width: 100%;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            color: #888;
            margin-bottom: 100px;
          }
        }

        &__loading {
          width: 100%;
          float: left;
          text-align: center;

          .spinner-border {
            margin: 0 auto;
            margin-top: 100px;
            margin-bottom: 100px;
            color: #aaa !important;
          }
        }

        &__item {
          width: 100%;
          float: left;
          border-bottom: 1px #efefef solid;
          padding: 20px 0;

          &:hover {
            background: $primaryBackground;
            width: calc(100% + 40px);
            margin-left: -20px;
            margin-right: -20px;
            padding: 20px;
            border-radius: 16px;

            @include breakpoint(phablet) {
              border-radius: 0;
            }
          }

          &__top {
            width: 100%;
            float: left;

            &__avatar {
              width: 30px;
              height: 30px;
              float: left;
              border-radius: 50%;
              overflow: hidden;
              margin-top: 4px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            &__name {
              width: calc(100% - 30px);
              float: left;
              padding: 0 20px 0 0px;
              font-size: 18px;
              font-weight: 700;
              color: $textColor;
            }

            &__right {
              width: 30px;
              height: 30px;
              margin-top: 4px;
              float: left;

              &__border {
                background-color: #00afb9;
                border-radius: 8px;
                width: 100%;
                height: 100%;
                &.type_chat {
                  background-color: #5e548e;
                }
                &.type_clip {
                  background-color: #3a86ff;
                }
                &.type_qclip {
                  background-color: #e36414;
                }
                &.type_other {
                  background-color: #e94051;
                }

                svg {
                  fill: #fff;
                  height: 16px;
                  width: 16px;
                  margin: 7px;
                }
              }
            }
          }

          &__bottom {
            width: 100%;
            float: left;

            &__left {
              width: calc(100% - 100px);
              float: left;

              @include breakpoint(phablet) {
                width: calc(100% - 80px);
              }

              &__price {
                background-color: #ee9b00;
                border-radius: 8px;
                float: left;
                padding: 2px 12px;
                margin-top: 8px;

                svg {
                  width: 14px;
                  fill: #fff;
                  margin-top: -3px;
                }

                font-size: 14px;
                font-weight: 700;
                color: #fff;
              }

              &__item {
                width: 100%;
                float: left;
                font-size: 14px;
                font-weight: 400;
                color: #777;
                margin-top: -10px;
                p {
                  display: inline-block;
                }
                svg {
                  width: 15px;
                  height: 15px;
                  fill: #777;
                  margin: -2px 8px 0 0;
                }
              }
            }

            &__right {
              width: 100px;
              text-align: right;
              float: left;
              font-size: 20px;
              font-weight: 400;
              color: #888;

              @include breakpoint(phablet) {
                font-size: 18px;
                width: 80px;
              }

            }
          }
        }
      }

      table {
        min-width: 600px;
      }

      .nav-pills .nav-link {
        border-radius: 8px !important;
      }

      &__menu {
        width: 100%;
        float: left;
        margin-bottom: 20px;

        .nav-item {
          background-color: #f0f0f0;
          margin-right: 8px;
          margin-bottom: 8px;
          border-radius: 8px;
        }
      }
    }

    &__heading {
      width: 100%;
      float: left;
      margin-bottom: 16px;
      cursor: pointer;
      user-select: none;

      &__back {
        width: 36px;
        border-radius: 50%;
        height: 36px;
        background: #efefef;
        margin-right: 8px;
        float: left;
        margin-top: 4px;

        @include breakpoint(phablet) {
          margin-top: -1px;
        }

        &:hover {
          background: #dfdfdf;
        }

        svg {
          width: 20px;
          height: 20px;
          fill: $textColor;
          margin: 8px 8px 0 8px;
          float: left;
        }
      }
    }

    h1 {
      width: 100%;
      font-weight: 700;
      font-size: 36px;

      @include breakpoint(phablet) {
        font-size: 26px;
      }
    }
  }
}
</style>
