<template>
  <div class="">
    <client-only>
      <div v-if="userObject && userObject.user_role === 'advisor'">
        <div class="payment__block">
          <div class="payment">
            <div class="">
              <h1 class="payment__heading">
                {{ language("Payment Setting") }}
              </h1>
              <div class="payment__body">

                <div class="">
                  <form v-on:submit="handleSubmitData">
                    <div class="payment__body__right__setting">
                      <div class="payment__body__right__setting__title">
                        {{ language("Payment method") }} <font color="red">*</font>
                      </div>
                      <select
                        class="form-control"
                        name="date_of_birth:mon"
                        tabindex="8"
                        v-model="dataPayment.payment_method"
                        :disabled="isLoading"
                      >
                        <option value="">
                          {{ language("Select payment method") }}
                        </option>
                        <option value="paypal">Paypal</option>
                        <option value="banking">Chuyển khoản</option>
                      </select>
                      <div v-if="dataPayment.payment_method">
                        <div v-if="dataPayment.payment_method === 'paypal'">
                          <div class="payment__body__right__setting__title">
                            Paypal E-mail <font color="red">*</font>
                          </div>
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="Enter Paypal E-mail"
                            style="font-size: 16px"
                            v-model.trim="dataPayment.payment_value"
                            required
                            :disabled="isLoading"
                          />

                          <div class="payment__body__right__setting__title">{{ language("Payment fullname") }}</div>
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="Paypal Fullname"
                            style="font-size: 16px"
                            v-model.trim="dataPayment.payment_name"
                            :disabled="isLoading"
                          />

                          <div class="payment__body__right__setting__title">{{ language("Payment address") }}</div>
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="Payment address"
                            style="font-size: 16px"
                            v-model.trim="dataPayment.payment_address"
                            :disabled="isLoading"
                          />

                          <div class="payment__body__right__setting__title">
                            {{ language("Tax identification number") }}
                          </div>
                          <input
                            type="number"
                            class="form-control form-control-lg"
                            placeholder="Tax identification number"
                            style="font-size: 16px"
                            v-model.trim="dataPayment.payment_tax"
                            :disabled="isLoading"
                          />
                        </div>

                        <div v-if="dataPayment.payment_method === 'banking'">
                          <div class="payment__body__right__setting__title">Ngân hàng <font color="red">*</font></div>
                          <select
                            class="form-control"
                            name=""
                            tabindex="8"
                            placeholder="Chọn ngân hàng"
                            v-model="dataPayment.bank_name"
                            :disabled="isLoadingAdvisor"
                          >
                            <option :value="0" disabled>Chọn ngân hàng</option>
                            <option
                              v-for="(itemBank, indexBank) in BankData"
                              :key="'bank_' + indexBank"
                              :value="itemBank.shortName"
                            >
                              {{ itemBank.vn_name }}
                            </option>
                          </select>

                          <div class="payment__body__right__setting__title">
                            Số tài khoản <font color="red">*</font>
                          </div>
                          <input
                            type="number"
                            class="form-control form-control-lg"
                            placeholder="Nhập số tài khoản"
                            style="font-size: 16px"
                            v-model.trim="dataPayment.bank_id"
                            required
                            :disabled="isLoading"
                          />

                          <div class="payment__body__right__setting__title">Tên chủ tài khoản</div>
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="Nhập tên"
                            style="font-size: 16px"
                            v-model.trim="dataPayment.bank_owner"
                            :disabled="isLoading"
                          />
                        </div>
                      </div>

                      <button type="submit" class="btn btn-primary" v-if="dataPayment.payment_method && !isLoading">
                        {{ language("Save data") }}
                      </button>
                      <button class="btn btn-primary" v-if="!dataPayment.payment_method || isLoading" disabled>
                        {{ language("Save data") }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="payment__loading" v-if="isLoading">
          <div class="spinner-border text-light" role="status"></div>
        </div>
        <div
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          style="display: block; height: auto; position: fixed; right: 20px; top: 110px"
          v-if="isOpenMessage"
        >
          <div class="toast-header">
            <img src="" class="rounded mr-2" alt="" />
            <strong class="mr-auto text-success">{{ language("Save data Successfully!") }}</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true" v-on:click="handleCloseMessage">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            {{ language("Your payment update Successfully!") }}
          </div>
        </div>
      </div>
      <div v-else>
        <div class="only_advisor">
          <div class="only_advisor__image">
            <img src="/images/block-user.png" />
          </div>
          <div class="only_advisor__title">
            {{ language("This function only for Advisor.") }}
          </div>
          <div class="only_advisor__desc">
            {{ language("Do you want to become an Advisor?") }}
          </div>
          <div class="only_advisor__button">
            <nuxt-link :to="'/become-advisor'"
              ><button class="btn btn-primary">{{ language("Become an Advisor") }}</button></nuxt-link
            >
          </div>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import { stringProcess } from "~/modules/stringProcess";
import { userMetaService } from "../../services/user.meta.service";
import * as moment from "moment-timezone";
import language from "~/modules/language.ts";
import { BankModule } from "~/modules/bank";

export default {
  data() {
    return {
      isLoading: false,
      isOpenMessage: false,
      userMeta: null,
      paymentMethodArray: [],
      metaPaymentMethod:[],
      dataPayment: {
        payment_method: "",
        payment_value: "",
        payment_name: "",
        payment_address: "",
        payment_tax: "",
        bank_name: "",
        bank_id: "",
        bank_owner: "",
      },
      paymentId: "",
      paypalId: "",
      bankingId: "",
      BankData: BankModule.getBank(),
    };
  },
  created() {
    this.isLoading = false;
    if (this.userToken) {
      this.handleGetPayment(this.userObject.user_id, this.userToken);
    } else {
      if (process.client) {
        this.$router.push({ path: "/login" });
        this.isLoading = true;
      }
    }
  },
  watch: {
    userMeta(newData) {
      try {
        for (let metaItem of newData) {
          if (metaItem.meta_key === "paypal") {
            this.paypalId = metaItem.meta_id;
            paymentMethodArray.push(metaItem);
          }
          if (metaItem.meta_key === "banking") {
            this.bankingId = metaItem.meta_id;
            paymentMethodArray.push(metaItem);
          }
          // this.metaPaymentMethod = paymentMethodArray;
          if (metaItem.meta_key === "payment_method") {
            if (metaItem.meta_value) {
              let dataToSave = JSON.parse(metaItem.meta_value);
              this.dataPayment = dataToSave;
              this.paymentId = metaItem.meta_id;
            }
          }
          this.metaPaymentMethod = paymentMethodArray;
        }
      } catch {}
    },
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      lang = lang.toString();
      let dataReturn = language(text, lang);
      return dataReturn.toString();
    },
    handleCloseMessage() {
      this.isOpenMessage = false;
    },
    addCommas(value) {
      return stringProcess.addCommas(value);
    },
    momentTime(value, format) {
      return moment(Number(value)).format(format);
    },
    handleSubmitData(e) {
      e.preventDefault();
      let dataPaypal = {
        meta_key: "paypal",
        meta_value: this.dataPayment.payment_value,
        is_private: 1,
      };
      if (this.paypalId) {
        this.handleUpdateMetaKey(dataPaypal, this.paypalId);
      } else {
        this.handleCreateMetaKey(dataPaypal);
      }
      let dataBanking = {
        meta_key: "banking",
        meta_value: this.dataPayment.payment_value,
        is_private: 1,
      };
      if (this.bankingId) {
        this.handleUpdateMetaKey(dataBanking, this.bankingId);
      } else {
        this.handleCreateMetaKey(dataBanking);
      }
      let dataPayment = {
        meta_key: "payment_method",
        meta_value: JSON.stringify(this.dataPayment),
        is_private: 1,
      };
      if (this.paymentId) {
        this.handleUpdateMetaKey(dataPayment, this.paymentId);
      } else {
        this.handleCreateMetaKey(dataPayment);
      }
    },
    handleUpdateMetaKey(dataUpdate, metaId) {
      this.isLoading = true;
      userMetaService
        .updateUserMeta(this.userObject.user_id, metaId, this.userToken, dataUpdate)
        .then((response) => {
          this.isLoading = false;
          if (response.data) {
            this.isOpenMessage = true;
            setTimeout(() => {
              self.isOpenMessage = false;
            }, 3000);
          } else {
            alert("Have an Error while save Data!");
          }
        })
        .catch((error) => {
          this.isLoading = false;
          alert("Have an Error while save Data!");
        });
    },
    handleCreateMetaKey(dataCreate) {
      this.isLoading = true;
      let self = this;
      userMetaService
        .createUserMeta(this.userObject.user_id, this.userToken, dataCreate)
        .then((response) => {
          this.isLoading = false;
          if (response.data) {
            this.isOpenMessage = true;
            setTimeout(() => {
              self.isOpenMessage = false;
            }, 3000);
          } else {
            alert("Have an Error while save Data!");
          }
        })
        .catch((error) => {
          this.isLoading = false;
          alert("Have an Error while save Data!");
        });
    },
    handleGetPayment(userId, authCode) {
      this.isLoading = true;
      userMetaService
        .getUserMeta(userId, authCode)
        .then((response) => {
          if (response && response.data) {
            this.userMeta = response.data;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scope>
@import "~/assets/scss/variables.scss";

.payment__body {
  width: 100%;
  float: left;
  min-height: 600px;

  &__right {
    width: 100%;
    float: left;
    max-width: 700px;

    &__setting {
      width: 100%;
      float: left;
      margin-top: 10px;
      margin-bottom: 50px;

      &__title {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        margin-bottom: 8px;
        float: left;

        p {
          color: red;
          margin-bottom: 2px;
          float: right;
        }
      }

      &__desc {
        font-weight: 400;
        color: #888;
      }

      button {
        margin-top: 10px;
      }
    }
  }
}

.payment {
  width: 100%;
  float: left;
  min-height: 600px;

  &__loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    .spinner-border {
      margin-top: calc(50vh - 15px);
    }
  }

  &__heading {
    width: 100%;
    float: left;
    margin-bottom: 16px;
  }

  h1 {
    width: 100%;
    font-weight: 700;
    font-size: 36px;

    @include breakpoint(phablet) {
      font-size: 26px;
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 50px;
  }
}

.toast-header {
  display: inline;
  float: left;
  width: 100%;
}

.toast-body {
  width: 100%;
  float: left;
}
</style>
