<template>
  <div>
    <div class="security__block">
      <!-- <div class="security__left">

      </div> -->

      <div class="security__right">
        <h1 class="security__right__heading">
          Change your password
        </h1>

        <div class="security__right__setting">
          <form v-on:submit="handleSubmitData">

            <div class="alert alert-danger alert-dismissible fade show" role="alert"
              v-if="message.status && message.text">
              {{ message.text }}
              <button type="button" class="btn close" data-dismiss="alert" aria-label="Close"
                v-on:click="() => { message = { status: false, text: '' } }">
                <span aria-hidden="true" style="font-size: 40px; color: ">&times;</span>
              </button>
            </div>



            <div class="security__right__setting__title">Old password</div>
            <div class="form-group-show__block">
              <input :type="(!showOldPassword) ? 'password' : 'text'" class="form-control form-control-lg"
                placeholder="Enter old Password" style="font-size: 16px" v-model.trim="oldPassword" required
                :disabled="isLoading" v-on:change="handleOnChange"/>
              <div :class="(showOldPassword) ? 'form-group-show active' : 'form-group-show'"
                v-on:click="() => { showOldPassword = !showOldPassword }">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                  <path
                    d="M279.6 160.4C282.4 160.1 285.2 160 288 160C341 160 384 202.1 384 256C384 309 341 352 288 352C234.1 352 192 309 192 256C192 253.2 192.1 250.4 192.4 247.6C201.7 252.1 212.5 256 224 256C259.3 256 288 227.3 288 192C288 180.5 284.1 169.7 279.6 160.4zM480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6V112.6zM288 112C208.5 112 144 176.5 144 256C144 335.5 208.5 400 288 400C367.5 400 432 335.5 432 256C432 176.5 367.5 112 288 112z" />
                </svg>
              </div>
            </div>


            <div class="security__right__setting__title">New password</div>
            <div class="form-group-show__block">
              <input :type="(!showNewPassword) ? 'password' : 'text'" class="form-control form-control-lg"
                placeholder="Enter new Password" style="font-size: 16px" v-model.trim="newPassword" required
                :disabled="isLoading" v-on:change="handleOnChange"/>
              <div :class="(showNewPassword) ? 'form-group-show active' : 'form-group-show'"
                v-on:click="() => { showNewPassword = !showNewPassword }">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                  <path
                    d="M279.6 160.4C282.4 160.1 285.2 160 288 160C341 160 384 202.1 384 256C384 309 341 352 288 352C234.1 352 192 309 192 256C192 253.2 192.1 250.4 192.4 247.6C201.7 252.1 212.5 256 224 256C259.3 256 288 227.3 288 192C288 180.5 284.1 169.7 279.6 160.4zM480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6V112.6zM288 112C208.5 112 144 176.5 144 256C144 335.5 208.5 400 288 400C367.5 400 432 335.5 432 256C432 176.5 367.5 112 288 112z" />
                </svg>
              </div>
            </div>


            <button class="btn btn-primary" type="submit">
              Save data
            </button>
          </form>

        </div>
      </div>
    </div>
    <div class="security__loading" v-if="isLoading || isLoadingMedia">
      <div class="spinner-border text-light" role="status">
      </div>
    </div>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="display: block;
    height: auto;
    position: fixed;
    right: 20px;
    top: 110px;" v-if="isOpenMessage">
      <div class="toast-header">
        <img src="" class="rounded mr-2" alt="">
        <strong class="mr-auto text-success">Save data Successfully!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true" v-on:click="handleCloseMessage">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Your profile update Successfully!
      </div>
    </div>
  </div>

</template>

<script>
import { advisorService } from '~/services/advisor.service';
import { loginService } from '~/services/login.service';

export default {
  data() {
    let currentYear = new Date().getFullYear();
    return {
      isLoadingMedia: false,
      isLoading: false,
      isOpenMessage: false,
      oldPassword: '',
      newPassword: '',
      showOldPassword: false,
      showNewPassword: true,
      authCodeLogout: '',
      message: {
        status: false,
        text: ""
      }
    };
  },
  created() {
    if (this.userObject && this.userObject.user_id) {
    } else {
      if (process.client) {
        this.$router.push({ path: "/login" });
      }
    }
  },
  watch: {
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    }
  },
  methods: {
    handleCloseMessage() {
      this.isOpenMessage = false;
    },
    handleSubmitData(e,) {
      e.preventDefault();
      this.handleLogin(this.oldPassword, false);
    },
    handleOnChange() {
      this.message = {
        status: false,
        message: ''
      }
    },
    handleLogin(password = this.oldPassword, isReload = false) {
      if (!isReload) {
        this.isLoading = true;
      }

      //Login first
      let dataLogin = {
        user_email: this.userObject.user_email,
        password: password,
        device_uuid: "67675.khjHGJJ.87687.dsggdw",
        device_signature: '',
        remember: '0',
        device_type: 'website'
      }
      loginService.loginNew(dataLogin).then((response) => {
        if (response && response.data) {
          //Handle Change password
          let newAuthCode = response?.headers["x-authorization"];
          this.authCodeLogout = newAuthCode;
          if (isReload) {
            //Reload
            let dataToUpdate = response.data;
            dataToUpdate = {
              ...dataToUpdate,
              ...{ auth_code: response?.headers["x-authorization"] },
              ...{ device_signature: this.userObject.device_signature }
            };
            localStorage.setItem("user", JSON.stringify(dataToUpdate));
            this.$store.commit('reloadUser', true);

          } else {
            this.handleChangePassword(newAuthCode);
          }

        } else {
          if (!isReload) {
            this.isLoading = false;
            this.message = {
              status: true,
              text: "Password is not correct. Try again!"
            }
          }

        }
      }).catch(error => {
        this.isLoading = false;
        if (Number(error?.response?.status) >= 500) {
          this.message = {
            status: true,
            text: "Have an Error while Update password!"
          }
        } else {
          this.message = {
            status: true,
            text: "Password is not correct. Try again!"
          }
        }
      })
    },
    handleChangePassword(authCode) {
      let dataUpdate = {
        user_pass: this.newPassword
      }
      advisorService.updateUser(dataUpdate, authCode).then((response) => {
        this.isLoading = false;
        this.handleLogin(this.newPassword, true);
        this.isOpenMessage = true;
        setTimeout(() => {
          self.isOpenMessage = false;
        }, 3000)
      }).catch(error => {
        this.isLoading = false;
        alert("Have Error when update Data!");
      })
    },
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.security {
  width: 100%;
  float: left;
  min-height: 600px;

  &__loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    .spinner-border {
      margin-top: calc(50vh - 15px);
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 30px;
  }

  &__right {
    width: 100%;
    float: left;
    max-width: 700px;

    &__heading {
      width: 100%;
      float: left;
      margin-top: 20px;
      margin-bottom: 16px;
    }

    h1 {
      width: 100%;
      font-weight: 700;
      font-size: 36px;

      @include breakpoint(phablet) {
        font-size: 26px;
      }
    }


    &__setting {
      width: 100%;
      float: left;
      margin-top: 10px;
      margin-bottom: 50px;

      &__title {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        margin-bottom: 8px;
        float: left;

        p {
          color: red;
          margin-bottom: 2px;
          float: right
        }
      }

      button {
        margin-top: 10px;
      }
    }
  }
}

.form-group-show__block {
  position: relative;
  width: 100%;
  float: left;
}

.form-group-show {
  position: absolute;
  top: 6px;
  right: 16px;
  cursor: pointer;

  &.active {
    svg {
      fill: #2ec4b6;
    }
  }

  svg {
    fill: #999;
    width: 20px;
    height: 20px;
  }
}

.toast-header {
  display: inline;
  float: left;
  width: 100%;
}

.toast-body {
  width: 100%;
  float: left;
}

.alert {
  button {
    width: 20px;
    position: absolute;
    top: -12px;
    right: 16px;

    span {
      font-size: 26px;
    }
  }
}
</style>
