<template>
  <div class="">
    <client-only>
      <div v-if="userObject && userObject.user_role === 'advisor'">
        <div class="service_setting__block">
          <div class="service_setting">
            <div class="">
              <h1 class="service_setting__heading">{{ language("My Services") }}</h1>
              <div class="service_setting__body">
                <div class="">
                  <div
                    class="service_setting__body__item"
                    v-for="(generalServiceItem, generalServiceIndex) in generalServiceArray"
                    :key="'service_setting_' + generalServiceIndex"
                  >
                    <div class="service_setting__body__item__left">
                      <div class="service_setting__body__item__left__name">
                        <img
                          :src="generalServiceItem.service_thumbnail"
                          v-if="generalServiceItem && generalServiceItem.service_thumbnail"
                        />
                      </div>
                      <div v-if="generalServiceItem && generalServiceItem.service_thumbnail">
                        <div class="service_setting__body__item__left__name">
                          {{ language("Service name") }}
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="Enter Service name"
                            style="font-size: 16px"
                            v-model.trim="generalServiceItem.service_name"
                            :disabled="isLoading"
                          />
                        </div>
                      </div>
                      <div v-else>
                        <div class="service_setting__body__item__left__name">
                          {{ generalServiceItem.service_name }}
                        </div>
                      </div>
                      <div v-if="generalServiceItem && generalServiceItem.service_thumbnail">
                        <div class="service_setting__body__item__left__desc">
                          {{ language("Description") }}
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="Enter Service description"
                            style="font-size: 16px"
                            v-model.trim="generalServiceItem.service_description"
                            :disabled="isLoading"
                          />
                        </div>
                      </div>
                      <div v-else>
                        <div class="service_setting__body__item__left__desc">
                          {{ generalServiceItem.service_description }}
                        </div>
                      </div>

                      <!-- Available time -->
                      <div class="service_setting__body__item__left__desc">
                        Available time:
                        {{
                          momentTime(
                            processAvailableTime(generalServiceItem.service_available_time).start_time,
                            "HH:mm:ss"
                          )
                        }}
                        -
                        {{
                          momentTime(
                            processAvailableTime(generalServiceItem.service_available_time).end_time,
                            "HH:mm:ss"
                          )
                        }}
                      </div>
                      <div>
                        <div class="service_setting__body__item__left__price">
                          {{ language("Price") }}
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="Enter Service price"
                            style="font-size: 16px"
                            v-model.trim="generalServiceItem.service_price"
                            :disabled="isLoading"
                          />
                          <div v-if="generalServiceItem && generalServiceItem.service_thumbnail">
                            <div class="service_setting__body__item__left__button">
                              <button
                                class="btn btn-primary"
                                v-on:click="handleChangePremiumService($event, generalServiceItem)"
                              >
                                {{ language("Save data") }}
                              </button>
                            </div>
                          </div>
                          <div v-else>
                            <div class="service_setting__body__item__left__desc">
                              <div class="service_setting__body__item__left__button">
                                <button
                                  class="btn btn-primary"
                                  v-on:click="handleChangeGeneralService($event, generalServiceItem)"
                                >
                                  {{ language("Save data") }}
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="service_setting__body__item__right">
                      <button
                        class="btn btn-primary"
                        v-on:click="handleChangeGeneralService($event, generalServiceItem)"
                      >
                        Save
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service_setting__loading" v-if="isLoading">
          <div class="spinner-border text-light" role="status"></div>
        </div>
        <div
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          style="display: block; height: auto; position: fixed; right: 20px; top: 110px"
          v-if="isOpenMessage"
        >
          <div class="toast-header">
            <img src="" class="rounded mr-2" alt="" />
            <strong class="mr-auto text-success">{{ language("Save data Successfully!") }}</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true" v-on:click="handleCloseMessage">&times;</span>
            </button>
          </div>
          <div class="toast-body">{{ language("Your service update Successfully!") }}</div>
        </div>
      </div>
      <div v-else>
        <div class="only_advisor">
          <div class="only_advisor__image">
            <img src="/images/block-user.png" />
          </div>
          <div class="only_advisor__title">{{ language("This function only for Advisor.") }}</div>
          <div class="only_advisor__desc">{{ language("Do you want to become an Advisor?") }}</div>
          <div class="only_advisor__button">
            <nuxt-link :to="'/become-advisor'"
              ><button class="btn btn-primary">{{ language("Become an Advisor") }}</button></nuxt-link
            >
          </div>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import { generalService } from "../../services/general.service";
import { stringProcess } from "~/modules/stringProcess";
import * as moment from "moment-timezone";
import language from "~/modules/language.ts";

export default {
  data() {
    return {
      generalServiceArray: [],
      generalServiceItem: "",
      isLoading: false,
      isOpenMessage: false,
    };
  },
  created() {
    this.isLoading = true;
    if (this.userToken) {
      this.handleGetService(this.userObject.user_id, this.userToken);
    } else {
      if (process.client) {
        this.$router.push({ path: "/login" });
        this.isLoading = true;
      }
    }
  },
  watch: {},
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      lang = lang.toString();
      // console.log(lang);
      // console.log(dataReturn);
      let dataReturn = language(text, lang);
      return dataReturn.toString();
    },
    handleCloseMessage() {
      this.isOpenMessage = false;
    },
    addCommas(value) {
      return stringProcess.addCommas(value);
    },
    momentTime(value, format) {
      return moment(Number(value)).format(format);
    },
    processAvailableTime(item) {
      let availableTime = null;
      try {
        availableTime = JSON.parse(item);
      } catch (e) {
        availableTime = String(availableTime);
      }
      return availableTime;
    },
    handleChangeGeneralService(e, serviceItem) {
      let statusCheckbox = e.target.checked ? 1 : 0;
      let dataToUpdate = {
        service_id: serviceItem.service_id,
        service_active: statusCheckbox,
        service_price: serviceItem.service_price,
        // createBy: serviceItem.createBy,
        // service_group: serviceItem.service_group,
      };
      let self = this;
      generalService
        .updateGeneralService(this.userToken, dataToUpdate)
        .then((response) => {
          if (response.data) {
            this.isOpenMessage = true;
            setTimeout(() => {
              self.isOpenMessage = false;
            }, 3000);
          }
        })
        .catch((error) => {
          this.handleGetService(this.userObject.user_id, this.userToken);
        });
    },

    handleChangePremiumService(e, serviceItem) {
      let statusCheckbox = e.target.checked ? 1 : 0;
      let dataToUpdate = {
        service_id: serviceItem.service_id,
        service_active: statusCheckbox,
        service_name: serviceItem.service_name,
        service_description: serviceItem.service_description,
        service_price: serviceItem.service_price,
        service_thumbnail: serviceItem.service_thumbnail,
        // createBy: serviceItem.createBy,
        // service_group: serviceItem.service_group,
      };
      let self = this;
      generalService
        .updateGeneralService(this.userToken, dataToUpdate)
        .then((response) => {
          if (response.data) {
            this.isOpenMessage = true;
            setTimeout(() => {
              self.isOpenMessage = false;
            }, 3000);
          }
        })
        .catch((error) => {
          this.handleGetService(this.userObject.user_id, this.userToken);
        });
    },

    handleGetService(userId, authCode) {
      this.isLoading = true;
      generalService
        .getGeneralServiceByUserId(authCode, userId)
        .then((response) => {
          if (response && response.data) {
            this.generalServiceArray = response.data;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoadMore = false;
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scope>
@import "~/assets/scss/variables.scss";

.service_setting {
  width: 100%;
  float: left;
  min-height: 600px;

  &__loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    .spinner-border {
      margin-top: calc(50vh - 15px);
    }
  }

  &__heading {
    width: 100%;
    float: left;
    margin-bottom: 16px;
  }

  h1 {
    width: 100%;
    font-weight: 700;
    font-size: 36px;

    @include breakpoint(phablet) {
      font-size: 26px;
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 50px;
  }

  &__body {
    width: 100%;
    float: left;

    &__item {
      padding: 10px 20px;
      border: 2px $primaryLightColor solid;
      border-radius: 8px;
      margin-bottom: 16px;
      float: left;
      width: 100%;

      &__left {
        // width: calc(100% - 60px);
        float: left;
        padding-right: 16px;

        &__name {
          font-size: 20px;
          font-weight: 700;
          color: $textColor;
          margin-top: 8px;
          width: 100%;

          img {
            border-radius: 8px;
            width: 700px;
            max-width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: center;
            z-index: -1;
          }
        }

        &__desc {
          font-size: 16px;
          width: 100%;
          color: #888;
        }

        &__price {
          width: 100%;
          margin-top: 8px;
          font-weight: 900;
          color: $primaryColor;
          margin-bottom: 10px;

          input {
            width: 555px;
          }
          svg {
            width: 20px;
            height: 20px;
            margin-top: -3px;
            fill: $primaryColor;
          }
        }

        &__button {
          float: right;
          width: 100%;
          margin-top: 8px;
          font-weight: 900;
          color: $primaryColor;
          margin-bottom: 10px;

          input {
            width: 400px;
          }
          svg {
            width: 20px;
            height: 20px;
            margin-top: -3px;
            fill: $primaryColor;
          }
        }
      }

      &__right {
        width: 60px;
        float: right;
        text-align: right;
        select {
          height: 42px;
        }
        button {
          margin-top: 95px;
        }
      }
    }
  }
}

.toast-header {
  display: inline;
  float: left;
  width: 100%;
}

.toast-body {
  width: 100%;
  float: left;
}
</style>

