<template>
  <div class="">
    <div class="user_balance__block">
      <div class="user_balance__left">
        <div class="">
          <h1 class="user_balance__left__heading">
            <div class="user_balance__left__heading__title">  {{ language("Balance & Transactions") }}</div>
            <div class="user_balance__left__heading__button">
                <nuxt-link :to="'/download'">
                  <button class="btn btn-primary">{{ language("TOPUP") }}</button>
                </nuxt-link>
              </div>
          </h1>
          <div class="user_balance__left__body">
            <div class="user_balance__left__body__top">
              <div class="user_balance__left__body__top__title">
                {{ language("My balance") }}
              </div>
              <div class="user_balance__left__body__top__coin mx-auto">
                <div class="user_balance__left__body__top__coin__text align-self-center">{{ addCommas(totalBalance) }}
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z" />
                  </svg>
                </div>
              </div>

            </div>
            <div class="user_balance__left__body__block">
              <div class="user_balance__left__body__block__item" v-for="(balanceItem, balanceIndex) in transactionData"
                :key="'transaction_' + balanceIndex">
                <div class="user_balance__left__body__block__item__avatar plus"
                  v-if="balanceItem.transaction_method === 'plus'">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path
                      d="M374.6 246.6C368.4 252.9 360.2 256 352 256s-16.38-3.125-22.62-9.375L224 141.3V448c0 17.69-14.33 31.1-31.1 31.1S160 465.7 160 448V141.3L54.63 246.6c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160C387.1 213.9 387.1 234.1 374.6 246.6z" />
                  </svg>
                </div>
                <div class="user_balance__left__body__block__item__avatar minus"
                  v-if="balanceItem.transaction_method === 'minus'">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path
                      d="M374.6 310.6l-160 160C208.4 476.9 200.2 480 192 480s-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 370.8V64c0-17.69 14.33-31.1 31.1-31.1S224 46.31 224 64v306.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0S387.1 298.1 374.6 310.6z" />
                  </svg>
                </div>
                <div class="user_balance__left__body__block__item__title">
                  <div class="user_balance__left__body__block__item__top">
                    {{ balanceItem.transaction_ref }}
                  </div>
                  <div class="user_balance__left__body__block__item__bottom">
                    {{ momentTime(Number(balanceItem.createAt), 'YYYY-MM-DD hh:mm:ss') }}
                  </div>
                </div>
                <div class="user_balance__left__body__block__item__right">
                  <div
                    :class="(balanceItem.transaction_method === 'plus') ? 'user_balance__left__body__block__item__right__coin' : 'user_balance__left__body__block__item__right__coin minus'">
                    {{ (balanceItem.transaction_method === 'plus') ? "+" : "-" }}{{
                        addCommas(balanceItem.transaction_value)
                    }}
                    coin
                  </div>
                  <div class="user_balance__left__body__block__item__right__desc">
                    {{ language("Balance:") }} {{ addCommas(balanceItem.transaction_new_balance) }} coin
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-outline-primary w-100" v-if="isLoadMore"
              v-on:click="handleLoadMore">{{ language("LOAD MORE") }}</button>
          </div>
        </div>

      </div>
    </div>
    <div class="user_balance__loading" v-if="isLoading">
      <div class="spinner-border text-light" role="status">
      </div>
    </div>
  </div>

</template>

<script>
import { transactionsService } from '~/services/transactions.service';
import { stringProcess } from '~/modules/stringProcess';
import * as moment from 'moment-timezone';
import language from "~/modules/language.ts";

export default {
  data() {
    return {
      transactionData: [],
      isLoading: false,
      balancePage: 1,
      balanceLimit: 20,
      totalBalance: 0,
      isLoadMore: false,
    };
  },
  created() {
    this.isLoading = true;
    if (this.userToken) {
      this.handleGetBalance(this.balancePage, this.balanceLimit, this.userToken);
    } else {
      if (process.client) {
        this.$router.push({ path: "/login" });
        this.isLoading = true;
      }
    }
  },
  watch: {

  },
  computed: {

    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    }
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    addCommas(value) {
      return stringProcess.addCommas(value);
    },
    handleGetTextStatus(status) {
      let textButton = 'Draft';
      switch (status) {
        case 'draft':
          textButton = 'Draft'; break;
        case 'cancelled':
          textButton = 'Cancelled'; break;
        case 'refunded':
          textButton = 'Refunded'; break;
        case 'processed':
          textButton = 'Processed'; break;
        case 'in_process':
          textButton = 'In Process'; break;
        case 'paid':
          textButton = 'Paid'; break;
      }
      return textButton
    },
    handleGetClassStatus(status) {
      let classButton = 'btn';
      switch (status) {
        case 'draft':
          classButton = classButton + ' btn-outline-secondary'
          break;
        case 'cancelled':
          classButton = classButton + ' btn-outline-secondary';
          break;
        case 'refunded':
          classButton = classButton + ' btn-outline-danger';
          break;
        case 'processed':
          classButton = classButton + ' btn-outline-success';
          break;
        case 'in_process':
          classButton = classButton + ' btn-success';
          break;
        case 'paid':
          classButton = classButton + ' btn-outline-success';
          break;
      }
      return classButton;
    },
    momentTime(value, format) {
      return moment(Number(value)).format(format);
    },
    handleLoadMore() {
      let newPage = this.balancePage + 1;
      this.handleGetBalance(newPage, this.balanceLimit, this.userToken);
      this.balancePage = newPage;
    },
    handleGetBalance(balancePage, balanceLimit, authCode) {
      transactionsService.getTransactions(balancePage, balanceLimit, authCode).then((response) => {
        if (response && response.data) {
          this.transactionData = this.transactionData.concat(response.data);
          if (response.data.length < this.balanceLimit) {
            this.isLoadMore = false;
          } else {
            this.isLoadMore = true;
          }
          if (balancePage === 1 && response.data && response.data[0]) {
            this.totalBalance = response.data[0].transaction_new_balance
          }
        } else {
          this.isLoadMore = false;
        }
        this.isLoading = false;
      }).catch(error => {
        this.isLoadMore = false;
        this.isLoading = false;
      });
    }
  }
};
</script>

<style lang="scss" scope>
@import "~/assets/scss/variables.scss";

.user_balance {
  width: 100%;
  float: left;
  min-height: 600px;

  &__loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    .spinner-border {
      margin-top: calc(50vh - 15px);
    }
  }

  &__block {
    width: 100%;
    float: left;
    margin-top: 30px;
  }

  &__left {
    width: 100%;
    float: left;
    margin-bottom: 50px;

    &__body {
      table {
        min-width: 600px;
      }

      &__top {
        width: 100%;
        float: left;
        background-color: $primaryBackground;
        padding: 20px;
        border-radius: 8px;
        &__button {
          margin: 0 auto;
        }

        &__title {
          width: 100%;
          text-align: center;
          color: $primaryColor;
          font-size: 20px;
          font-weight: 700;

          @include breakpoint(phablet) {
            font-size: 16px;
          }
        }

        &__coin {
          width: 100%;
          text-align: center;
          color: $primaryColor;
          font-size: 60px;
          font-weight: 700;
          text-align: center;

          &__text {
            display: inline-block;
            margin: 0 auto;
            position: relative;

            svg {
              width: 50px;
              height: 50px;
              margin-top: -14px;
              fill: $primaryColor;
              position: absolute;
              top: 33px;
              right: -60px;
            }
          }


          @include breakpoint(phablet) {
            font-size: 30px;

            svg {
              width: 30px;
              height: 30px;
              top: 22px;
              right: -36px;
              fill: $primaryColor;
            }
          }

        }
      }

      &__block {
        width: 100%;
        float: left;
        margin-top: 20px;

        &__item {
          padding-top: 20px;
          padding-bottom: 20px;
          border-bottom: 1px #efefef solid;
          float: left;
          width: 100%;

          &__avatar {
            width: 50px;
            height: 50px;
            float: left;
            background-color: #2a9d8f;
            border-radius: 16px;

            &.minus {
              background-color: #e76f51;
            }

            @include breakpoint(phablet) {
              display: none;
            }


            svg {
              width: 20px;
              height: 20px;
              margin: 15px;
              fill: #fff;
            }
          }

          &__title {
            width: calc(100% - 200px - 50px);
            float: left;
            padding: 0 16px;

            @include breakpoint(phablet) {
              width: 100%;
              padding: 0;
            }
          }

          &__top {
            font-size: 16px;
            font-weight: 700;
            word-break: break-all;
            word-break: break-word;
          }

          &__bottom {
            font-size: 16px;
            color: #999;
            font-weight: 400;
            word-break: break-all;
            word-break: break-word;
          }

          &__right {
            width: 200px;
            float: left;

            @include breakpoint(phablet) {
              width: 100%;
            }

            &__coin {
              width: 100%;
              text-align: right;
              border-radius: 8px;
              color: #2a9d8f;
              font-weight: 900;
              font-size: 16px;
              margin-top: -4px;

              &.minus {
                color: #e76f51;
              }

              @include breakpoint(phablet) {
                text-align: left;
                margin-top: 8px;
              }
            }

            &__desc {
              width: 100%;
              text-align: right;
              font-size: 14px;
              font-weight: 400;
              margin-top: 8px;

              @include breakpoint(phablet) {
                text-align: left;
              }
            }
          }
        }

      }
    }

    &__heading {
      width: 100%;
      float: left;
      margin-bottom: 16px;
      &__title {
        width: calc(100% - 80px);
        float: left;
        @include breakpoint(mobile) {
          width: 100%;
        }
      }
      &__button {
        width: 80px;
        float: left;
        @include breakpoint(mobile) {
          width: 100%;
        }
        button {
          font-weight: 700;
          font-size: 15px;
          @include breakpoint(mobile) {
            width: 100%;
            margin-top: 20px;
          }
        }
      }
    }

    h1 {
      width: 100%;
      font-weight: 700;
      font-size: 36px;

      @include breakpoint(phablet) {
        font-size: 26px;
      }
    }
  }
}
</style>
