<template>
  <div class="invoices">
    <div class="invoices__image">
      <img src="/images/video_background.png" />

    </div>
    <div class="invoices__title">
      {{ language("Video order is empty") }}
    </div>

  </div>
</template>

<script>
import language from "~/modules/language.ts";
export default {
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
  }
}
</script>

<style lang="scss" scoped>
.invoices {
  text-align: center;
  &__image {
    margin-top: 200px;
    img {
      width: 200px;
      margin: 0 auto;
    }
  }
  &__title {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #aaa;
  }
}
</style>
