<template>
  <div>
    <client-only>
      <div v-if="userObject && userObject.user_role === 'advisor'">
        <h1 class="policies_heading">{{ language("Submit withdrawal request") }}</h1>
        <div class="row section">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <form v-on:submit="handleSubmit" v-if="userMeta && userMeta.length">
                  <div class="form-group">
                    <div class="form-group">
                      <div class="form__payment">
                        <label class="pt-3 pb-2">{{ language("Payment Method") }} <font color="red">*</font></label>
                        <div
                          v-for="(paymentMethodItem, paymentMethodIndex) in userMeta"
                          :key="'payment_method_' + paymentMethodIndex"
                          v-on:click="
                            () => {
                              paymentMethodId = Number(paymentMethodItem.meta_id);
                            }
                          "
                          :class="
                            Number(paymentMethodId) == Number(paymentMethodItem.meta_id)
                              ? 'form__payment__item active'
                              : 'form__payment__item'
                          "
                        >
                          <div
                            class="form__payment__item__icon"
                            v-if="
                              getPaymentMethod(paymentMethodItem.meta_value) &&
                              getPaymentMethod(paymentMethodItem.meta_value).payment_method === 'paypal'
                            "
                          >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                              <path
                                d="M111.4 295.9c-3.5 19.2-17.4 108.7-21.5 134-.3 1.8-1 2.5-3 2.5H12.3c-7.6 0-13.1-6.6-12.1-13.9L58.8 46.6c1.5-9.6 10.1-16.9 20-16.9 152.3 0 165.1-3.7 204 11.4 60.1 23.3 65.6 79.5 44 140.3-21.5 62.6-72.5 89.5-140.1 90.3-43.4.7-69.5-7-75.3 24.2zM357.1 152c-1.8-1.3-2.5-1.8-3 1.3-2 11.4-5.1 22.5-8.8 33.6-39.9 113.8-150.5 103.9-204.5 103.9-6.1 0-10.1 3.3-10.9 9.4-22.6 140.4-27.1 169.7-27.1 169.7-1 7.1 3.5 12.9 10.6 12.9h63.5c8.6 0 15.7-6.3 17.4-14.9.7-5.4-1.1 6.1 14.4-91.3 4.6-22 14.3-19.7 29.3-19.7 71 0 126.4-28.8 142.9-112.3 6.5-34.8 4.6-71.4-23.8-92.6z"
                              />
                            </svg>
                          </div>

                          <div
                            class="form__payment__item__icon"
                            v-if="
                              getPaymentMethod(paymentMethodItem.meta_value) &&
                              getPaymentMethod(paymentMethodItem.meta_value).payment_method === 'banking'
                            "
                          >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                              <path
                                d="M243.4 2.587C251.4-.8625 260.6-.8625 268.6 2.587L492.6 98.59C506.6 104.6 514.4 119.6 511.3 134.4C508.3 149.3 495.2 159.1 479.1 160V168C479.1 181.3 469.3 192 455.1 192H55.1C42.74 192 31.1 181.3 31.1 168V160C16.81 159.1 3.708 149.3 .6528 134.4C-2.402 119.6 5.429 104.6 19.39 98.59L243.4 2.587zM256 128C273.7 128 288 113.7 288 96C288 78.33 273.7 64 256 64C238.3 64 224 78.33 224 96C224 113.7 238.3 128 256 128zM127.1 416H167.1V224H231.1V416H280V224H344V416H384V224H448V420.3C448.6 420.6 449.2 420.1 449.8 421.4L497.8 453.4C509.5 461.2 514.7 475.8 510.6 489.3C506.5 502.8 494.1 512 480 512H31.1C17.9 512 5.458 502.8 1.372 489.3C-2.715 475.8 2.515 461.2 14.25 453.4L62.25 421.4C62.82 420.1 63.41 420.6 63.1 420.3V224H127.1V416z"
                              />
                            </svg>
                          </div>
                          <div class="form__payment__item__title">
                            <div
                              class="form__payment__item__title__name"
                              v-if="getPaymentMethod(paymentMethodItem.meta_value)"
                            >
                              {{
                                handleGetPaymentMethod(getPaymentMethod(paymentMethodItem.meta_value).payment_method)
                              }}
                            </div>

                            <div
                              class="form__payment__item__title__desc"
                              v-if="getPaymentMethod(paymentMethodItem.meta_value).payment_method === 'paypal'"
                            >
                              {{ getPaymentMethod(paymentMethodItem.meta_value).payment_value }} ({{
                                getPaymentMethod(paymentMethodItem.meta_value).payment_name
                              }})
                            </div>
                            <div
                              class="form__payment__item__title__desc"
                              v-if="getPaymentMethod(paymentMethodItem.meta_value).payment_method === 'banking'"
                            >
                              {{ getPaymentMethod(paymentMethodItem.meta_value).bank_name }} ({{
                                getPaymentMethod(paymentMethodItem.meta_value).bank_owner
                              }})
                            </div>
                          </div>
                          <div
                            class="form__payment__item__success"
                            v-if="Number(paymentMethodId) === Number(paymentMethodItem.meta_id)"
                          >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                              <path
                                d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM371.8 211.8C382.7 200.9 382.7 183.1 371.8 172.2C360.9 161.3 343.1 161.3 332.2 172.2L224 280.4L179.8 236.2C168.9 225.3 151.1 225.3 140.2 236.2C129.3 247.1 129.3 264.9 140.2 275.8L204.2 339.8C215.1 350.7 232.9 350.7 243.8 339.8L371.8 211.8z"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>

                      <div class="form__payment__balance">
                        {{ language("Total Balance:") }} {{ addCommas(totalBalance) }} coin
                      </div>
                      <div class="form__payment__process total_coin">
                        {{ language("Total coin in process:") }} {{ addCommas(totalInProcess) }} coin
                      </div>

                      <label class="pt-3 pb-2"
                        >{{ language("Enter coin to withdrawal") }} <font color="red">*</font></label
                      >
                      <input
                        type="number"
                        class="form-control form-control-lg"
                        aria-describedby="emailHelp"
                        placeholder="Number coin"
                        style="font-size: 16px"
                        v-model.trim="coinToSubmit"
                        required
                        :disabled="loadingSubmit"
                      />

                      <div class="form__payment__process">
                        {{ language("Total Receive: ") }}
                        {{ addCommas(Math.round(handleGetTotalUsd(coinToSubmit, currentRate, currentFee) * 800)) }} vnđ
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100 mt-4" :disabled="loadingSubmit">
                      {{ loadingSubmit ? "Submit..." : "Submit" }}
                    </button>

                    <div class="withdrawal_history">
                      <h2 class="withdrawal_history__heading">{{ language("Request History") }}</h2>
                      <div
                        class="withdrawal_history__item"
                        v-for="(contactFormItem, contactFormIndex) in contactFormData"
                        :key="'contact_form_' + contactFormIndex"
                      >
                        <div class="withdrawal_history__item__date">
                          {{ momentTime(Number(contactFormItem.createAt), "YYYY-MM-DD hh:mm:ss") }}
                          <div
                            :class="
                              'withdrawal_history__item__date__button ' +
                              handleGetStatus(Number(contactFormItem.contactform_status)).status
                            "
                          >
                            {{ handleGetStatus(Number(contactFormItem.contactform_status)).text }}
                          </div>
                        </div>
                        <div class="withdrawal_history__item__body">
                          <div
                            class="withdrawal_history__item__body__detail"
                            v-if="
                              handleGetDataPayment(contactFormItem.contactform_content) &&
                              handleGetDataPayment(contactFormItem.contactform_content).coin
                            "
                          >
                            <div class="withdrawal_history__item__body__detail__left">
                              <b>{{ language("Withdrawal coin:") }}</b>
                            </div>
                            <div class="withdrawal_history__item__body__detail__right">
                              {{ handleGetDataPayment(contactFormItem.contactform_content).coin }} coin
                            </div>
                          </div>
                          <div class="withdrawal_history__item__body__detail">
                            <div class="withdrawal_history__item__body__detail__left">
                              <b>{{ language("Total Receive: ") }}</b>
                            </div>
                            <div class="withdrawal_history__item__body__detail__right">
                              {{
                                addCommas(handleGetTotalUsd(
                                  Number(handleGetDataPayment(contactFormItem.contactform_content).coin),
                                  parseFloat(handleGetDataPayment(contactFormItem.contactform_content).current_rate),
                                  Number(handleGetDataPayment(contactFormItem.contactform_content).current_fee)
                                ) * 800)
                              }}
                              vnđ
                            </div>
                          </div>
                          <div class="withdrawal_history__item__body__detail">
                            <div class="withdrawal_history__item__body__detail__left">
                              <b>{{ language("Fee:") }}</b>
                            </div>
                            <div class="withdrawal_history__item__body__detail__right">
                              {{ handleGetDataPayment(contactFormItem.contactform_content).current_fee }} vnđ
                            </div>
                          </div>
                          <div class="withdrawal_history__item__body__detail">
                            <div class="withdrawal_history__item__body__detail__left">
                              <b>{{ language("Payment method:") }}</b>
                            </div>
                            <div class="withdrawal_history__item__body__detail__right">
                              {{
                                handleGetPaymentMethod(
                                  handleGetDataPayment(contactFormItem.contactform_content).payment_method
                                    .payment_method
                                )
                              }}
                              -
                              {{
                                handleGetDataPayment(contactFormItem.contactform_content).payment_method.payment_value
                              }}
                              ({{
                                handleGetDataPayment(contactFormItem.contactform_content).payment_method.payment_name
                              }})
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="withdrawal_history__empty" v-if="contactFormData && contactFormData.length === 0">
                        <img src="/images/withdrawal.png" />
                        <div class="withdrawal_history__empty__heading">
                          {{ language("History request is empty!") }}
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="payment_method__require" v-if="!userMeta || userMeta.length === 0">
                  <div class="payment_method__require__image">
                    <img src="/images/withdrawal.png" />
                  </div>
                  <div class="payment_method__require__title">
                    {{ language("Please add Payment method before Withdrawal!") }}
                  </div>
                  <div class="payment_method__require__button">
                    <nuxt-link :to="'/user/payment'"
                      ><button class="btn btn-primary">
                        {{ language("ADD PAYMENT METHOD") }}
                      </button></nuxt-link
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          style="display: block; height: auto; position: fixed !important; right: 20px; top: 110px"
          v-if="isOpenMessage"
        >
          <div class="toast-header">
            <img src="" class="rounded mr-2" alt="" />
            <strong class="mr-auto text-success">{{ language("Submit Successfully!") }}</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true" v-on:click="handleCloseMessage">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            {{ language("Submit a Withdrawal request successfully!") }}
          </div>
        </div>
      </div>
      <div v-else>
        <div class="only_advisor">
          <div class="only_advisor__image">
            <img src="/images/block-user.png" />
          </div>
          <div class="only_advisor__title">
            {{ language("This function only for Advisor.") }}
          </div>
          <div class="only_advisor__desc">
            {{ language("Do you want to become an Advisor?") }}
          </div>
          <div class="only_advisor__button">
            <nuxt-link :to="'/become-advisor'"
              ><button class="btn btn-primary">{{ language("Become an Advisor") }}</button></nuxt-link
            >
          </div>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import Vue from "vue";
import { VueReCaptcha } from "vue-recaptcha-v3";
// For more options see below
Vue.use(VueReCaptcha, { siteKey: "6LeDG4QgAAAAAP7MzpBC3lV4FqbGMZYZzGs67VX2" });
import { contactFormService } from "~/services/contactform.service";
import { userMetaService } from "../../services/user.meta.service";
import { transactionsService } from "~/services/transactions.service";
import { stringProcess } from "~/modules/stringProcess";
import * as moment from "moment-timezone";
import language from "~/modules/language.ts";

export default {
  name: "remove_user",
  data() {
    return {
      coinToSubmit: 0,
      loadingSubmit: false,
      isOpenMessage: false,
      userMeta: [],
      isLoading: false,
      paymentMethodId: 0,
      totalBalance: 0,
      totalInProcess: 0,
      currentRate: 0.1,
      currentFee: 0,
      contactFormData: [],
      // userObject: {},
      // userToken: null,
    };
  },
  created() {
    this.isLoading = false;
    if (this.userToken) {
      this.handleGetBalance(1, 1, this.userToken);
      this.handleGetPayment(this.userObject.user_id, this.userToken);
      this.handleGetContactForm(this.userToken);
    } else {
      // if (process.client) {
      //   this.$router.push({ path: "/login" });
      //   this.isLoading = true;
      // }
    }
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
  },
  watch: {
    contactFormData(newData) {
      let totalCoinProcess = 0;
      if (newData && newData.length) {
        for (let newDataItem of newData) {
          if (Number(newDataItem.contactform_status) === 0) {
            let dataContact = this.handleGetDataPayment(newDataItem.contactform_content);
            totalCoinProcess = totalCoinProcess + Number(dataContact.coin);
          }
        }
      }
      this.totalInProcess = totalCoinProcess;
    },
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      lang = lang.toString();
      let dataReturn = language(text, lang);
      return dataReturn.toString();
    },
    handleGetStatus(number) {
      let dataReturn = {
        status: "pending",
        text: "Pending",
      };
      switch (Number(number)) {
        case 1:
          dataReturn = {
            status: "in_process",
            text: "In Process",
          };
          break;
        case 2:
          dataReturn = {
            status: "done",
            text: "Done",
          };
          break;
        case 3:
          dataReturn = {
            status: "deny",
            text: "Deny",
          };
          break;
      }
      return dataReturn;
    },
    addCommas(value) {
      return stringProcess.addCommas(value);
    },
    getPaymentMethod(data) {
      try {
        return JSON.parse(data);
      } catch (error) {
        return null;
      }
    },
    handleGetPaymentMethod(value) {
      if (value === "paypal") {
        return "Paypal";
      } else if (value === "banking") {
        return "Banking";
      }
    },
    handleGetTotalUsd(totalCoin, totalRate, totalFee) {
      return totalCoin * totalRate - totalFee;
    },
    handleCloseMessage() {
      this.isOpenMessage = false;
    },
    handleGetContactForm(userToken) {
      contactFormService
        .getContactFormByName(userToken, "Withdrawal")
        .then((response) => {
          if (response.data) {
            this.contactFormData = response.data;
          }
        })
        .catch((error) => {});
    },
    momentTime(value, format) {
      return moment(Number(value)).format(format);
    },
    handleGetDataPayment(data) {
      let dataReturn = null;
      try {
        dataReturn = JSON.parse(data);
      } catch (error) {}
      return dataReturn;
    },
    handleSubmit(e) {
      let self = this;
      e.preventDefault();
      if (Number(this.coinToSubmit) + Number(this.totalInProcess) > Number(this.totalBalance)) {
        alert("Not enough balance to withdraw!");
        return false;
      }
      if (!this.paymentMethodId) {
        alert("You need to choose a payment method when withdrawing");
        return false;
      }
      if (Number(this.coinToSubmit) < 500) {
        alert("Can't withdrawal under 500 coin. Please contact admin for detail!");
        return false;
      }

      try {
        this.loadingSubmit = true;
        let paymentObject = null;
        for (let paymentMethodItem of this.userMeta) {
          if (Number(this.paymentMethodId) === Number(paymentMethodItem.meta_id)) {
            paymentObject = JSON.parse(paymentMethodItem.meta_value);
          }
        }
        let dataSubmit = {
          coin: this.coinToSubmit,
          current_rate: this.currentRate,
          current_fee: this.currentFee,
          payment_method_id: this.paymentMethodId,
          payment_method: paymentObject,
        };

        let dataToAdd = {
          contactform_name: "Withdrawal",
          contactform_content: JSON.stringify(dataSubmit),
          contactform_email: this.userObject.user_email,
          "g-recaptcha-response": "",
        };
        contactFormService
          .createContactForm(dataToAdd, this.userToken)
          .then((response) => {
            if (response && response.data) {
              this.coinToSubmit = 0;
              this.isOpenMessage = true;
              this.handleGetContactForm(this.userToken);
              setTimeout(() => {
                self.isOpenMessage = false;
              }, 3000);
            } else {
              alert("Have an Error when submit to Server.");
            }
            this.loadingSubmit = false;
          })
          .catch((error) => {
            this.loadingSubmit = false;
            alert("Have an Error when submit to Server.");
          });
      } catch (error) {
        alert("Have an Error when submit to Server.");
      }
    },
    handleGetPayment(userId, authCode) {
      this.isLoading = true;
      userMetaService
        .getUserMetaByMetaKey(userId, authCode, "payment_method")
        .then((response) => {
          if (response && response.data) {
            this.userMeta = response.data;
            if (response.data[1]) {
              if (response.data[1].meta_id) {
                this.paymentMethodId = Number(response.data[1].meta_id);
              }
            }
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoading = false;
        });
    },
    handleGetBalance(balancePage, balanceLimit, authCode) {
      transactionsService
        .getTransactions(balancePage, balanceLimit, authCode)
        .then((response) => {
          if (response && response.data) {
            if (balancePage === 1 && response.data && response.data[0]) {
              this.totalBalance = response.data[0].transaction_new_balance;
            }
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoading = false;
        });
    },
  },
};
</script>
<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";
.policies_heading {
  width: 100%;
  margin-top: 40px;
  float: left;
}

.payment_method__require {
  &__image {
    width: 100%;
    text-align: center;

    img {
      width: 200px;
      margin: 0 auto;
      margin-top: 150px;
    }
  }

  &__title {
    width: 100%;
    font-size: 20px;
    color: #444;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__button {
    width: 100%;
    text-align: center;
    margin-bottom: 150px;

    button {
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.withdrawal_history {
  width: 100%;
  float: left;
  width: 100%;

  &__heading {
    margin-top: 40px;
    float: left;
    width: 100%;
  }

  &__empty {
    width: 100%;
    float: left;
    text-align: center;

    img {
      width: 200px;
      margin: 0 auto;
    }

    &__heading {
      font-size: 18px;
      color: #888;
      font-weight: 700;
      margin-top: 16px;
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &__item {
    width: 100%;
    float: left;
    background-color: #efefef;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;

    &__date {
      font-size: 20px;
      font-weight: 700;
      width: 100%;
      float: left;
      margin-bottom: 10px;
      color: #444;

      &__button {
        float: left;
        font-size: 16px;
        background-color: #aaa;
        color: #fff;
        padding: 4px 10px;
        border-radius: 8px;
        margin-right: 8px;

        &.in_process {
          background-color: #f0f3bd;
          color: #535610;
        }

        &.done {
          background-color: #00a896;
          color: #fff;
        }

        &.deny {
          background-color: #e63946;
          color: #fff;
        }
      }
    }

    &__body {
      &__detail {
        width: 100%;
        float: left;
        border-bottom: 1px #fff solid;
        padding: 6px 0;

        &__left {
          width: 160px;
          float: left;
          text-align: left;
          font-size: 15px;
        }

        &__right {
          width: calc(100% - 160px);
          float: left;
          text-align: right;
          font-size: 15px;
        }
      }
    }
  }
}

h1 {
  width: 100%;
  font-weight: 700;
  font-size: 36px;

  @include breakpoint(phablet) {
    font-size: 26px;
  }
}

.form__payment {
  width: 100%;
  float: left;
  margin-top: 20px;

  &__balance {
    width: 100%;
    margin-top: 30px;
    float: left;
    font-size: 18px;
    color: $primaryColor;
    font-weight: 700;
  }

  &__process {
    width: 100%;
    margin-top: 10px;
    float: left;
    font-size: 16px;
    color: #00a896;
    font-weight: 700;

    &.total_coin {
      color: $textColor;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__item {
    width: 100%;
    float: left;
    border: 2px #efefef solid;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
    user-select: none;

    &.active {
      border: 2px #00a896 solid;
      background-color: #ebfffd;
    }

    &__success {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 10px;
      right: -6px;

      svg {
        width: 22px;
        height: 22px;
        fill: #00a896;
      }
    }

    &__icon {
      width: 50px;
      height: 50px;
      float: left;

      svg {
        width: 30px;
        height: 30px;
        fill: $primaryColor;
        margin: 10px;
      }
    }

    &__title {
      width: calc(100% - 50px);
      float: left;
      padding: 0 10px;

      &__name {
        font-size: 16px;
        font-weight: 700;
        color: $textColor;
      }

      &__desc {
        color: #888;
      }
    }
  }
}

.toast-header {
  display: inline;
  float: left;
  width: 100%;
}

.toast-body {
  width: 100%;
  float: left;
}
</style>
