<template>
  <div class="horoscope">
    <div class="body_container">
      <div class="horoscope__block">
        <div class="horoscope__body">
          <div class="horoscope__body__header">
            <div class="row">

              <div v-for="(zodiacItem, index) in dataZodiac" :key="'data_zodiac_' + index" class="col-4 col-sm-2 p-1"
                v-tooltip.bottom="zodiacItem.time" v-on:click="
                  () => {
                    activeZodiac = zodiacItem.name;
                  }
                ">
                <div :class="
                  activeZodiac === zodiacItem.name
                    ? 'horoscope__body__header__item m-1 active'
                    : 'horoscope__body__header__item m-1'
                ">
                  <div class="horoscope__body__header__item__avatar">
                    <img :src="`/images/${zodiacItem.name}.png`" />
                  </div>
                  <div class="horoscope__body__header__item__title">
                    {{ zodiacItem.name }}
                  </div>
                </div>

              </div>

            </div>
          </div>
          <div class="horoscope__body__type">
            <div :class="
              activeType === 'day'
                ? 'horoscope__body__type__item active'
                : 'horoscope__body__type__item'
            " v-on:click="
  () => {
    activeType = 'day';
  }
">
              Daily
            </div>
            <div :class="
              activeType === 'week'
                ? 'horoscope__body__type__item active'
                : 'horoscope__body__type__item'
            " v-on:click="
  () => {
    activeType = 'week';
  }
">
              Weekly
            </div>
            <div :class="
              activeType === 'month'
                ? 'horoscope__body__type__item active'
                : 'horoscope__body__type__item'
            " v-on:click="
  () => {
    activeType = 'month';
  }
">
              Monthly
            </div>
          </div>
          <div class="horoscope__body__content">
            <div class="horoscope__body__content__header">
              <div :class="
                activeButton === 'previous'
                  ? 'horoscope__body__content__header__item active'
                  : 'horoscope__body__content__header__item'
              " v-on:click="
  () => {
    activeButton = 'previous';
  }
">
                {{ previousButton }}
              </div>
              <div :class="
                activeButton === 'current'
                  ? 'horoscope__body__content__header__item active'
                  : 'horoscope__body__content__header__item'
              " v-on:click="
  () => {
    activeButton = 'current';
  }
">
                {{ currentButton }}
              </div>
              <div :class="
                activeButton === 'next'
                  ? 'horoscope__body__content__header__item active'
                  : 'horoscope__body__content__header__item'
              " v-on:click="
  () => {
    activeButton = 'next';
  }
">
                {{ nextButton }}
              </div>
            </div>
            <div class="horoscope__body__content__data">
              <div class="horoscope__body__content__title">
                <h1>{{ currentTitle }}</h1>
                <div class="horoscope__body__content__title__time">
                  {{ noteText }}
                </div>
              </div>
              <div class="horoscope__body__content__description">
                {{ currentContent }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
import Vue from "vue";
import { horoscopeService } from "../../services/horoscope.service";
import { VTooltip, VPopover, VClosePopover } from "v-tooltip";
Vue.directive("tooltip", VTooltip);
Vue.directive("close-popover", VClosePopover);
Vue.component("v-popover", VPopover);
import * as moment from "moment";

export default {
  props: ["topicArray"],
  created() {
    let horoscopeMonth = moment().format("MM");
    let horoscopeWeek = moment().format("W");
    this.currentWeek = horoscopeWeek;
    this.currentMonth = horoscopeMonth;
    this.activeZodiac = "aries";
    this.activeType = "day";
    this.currentDay = moment().format("YYYY-MM-DD");
    this.noteText = moment().format("YYYY-MM-DD");
    this.handleChangeTitle();
  },
  data() {
    return {
      noteText: "",
      currentDay: null,
      currentMonth: null,
      currentWeek: null,
      currentTitle: "",
      currentContent: "",
      previousButton: "Yesterday",
      currentButton: "Today",
      nextButton: "Tomorrow",
      activeButton: "current",
      activeZodiac: "aries",
      activeType: "day",
      dataHoroscope: null,
      dataZodiac: [
        { name: "aries", time: "Mar 21 – Apr 19" },
        { name: "taurus", time: "Apr 20 – May 20" },
        { name: "gemini", time: "May 21 – Jun 21" },
        { name: "cancer", time: "Jun 22 – Jul 22" },
        { name: "leo", time: "Jul 23 – Aug 22" },
        { name: "virgo", time: "Aug 23 – Sep 22" },
        { name: "libra", time: "Sep 23 – Oct 22" },
        { name: "scorpio", time: "Oct 23 – Nov 21" },
        { name: "sagittarius", time: "Nov 22 – Dec 21" },
        { name: "capricorn", time: "Dec 22 – Jan 19" },
        { name: "aquarius", time: "Jan 20 – Feb 18" },
        { name: "pisces", time: "Feb 19 – Mar 20" },
      ],
    };
  },
  watch: {
    dataHoroscope(newData) {
      if (newData) {
        this.currentContent = newData?.horoscope_value;
      } else {
        this.currentContent =
          "Currently we don't have horoscopes for this date. Please check back later to view this horoscope.";
      }
    },
    activeZodiac(newData) {
      this.handleGetHoroscope(
        this.currentDay,
        this.currentWeek,
        this.currentMonth,
        this.activeType,
        newData
      );
      this.handleChangeTitle();
    },
    activeType(newData) {
      this.activeButton = "current";
      if (newData === "week" || newData === "month") {
        this.currentButton = "This " + this.capitalizeFirstLetter(newData);
        this.nextButton = "Next " + this.capitalizeFirstLetter(newData);
        this.previousButton = "Previous " + this.capitalizeFirstLetter(newData);
        this.noteText = moment().format("YYYY-MM");
        if (newData === "week") {
          this.handleWeek(new Date());
        }
      } else {
        this.currentButton = "Today";
        this.nextButton = "Tomorrow";
        this.previousButton = "Yesterday";
        this.noteText = moment().format("YYYY-MM-DD");
      }
      this.handleGetHoroscope(
        this.currentDay,
        this.currentWeek,
        this.currentMonth,
        newData,
        this.activeZodiac
      );
      this.handleChangeTitle();
    },
    activeButton(newData) {
      let currentDate = new Date();
      if (this.activeType === "day") {
        let nextDay = currentDate.getTime() / 1;
        if (newData === "next") {
          nextDay = currentDate.setDate(currentDate.getDate() + 1);
        }
        if (newData === "previous") {
          nextDay = currentDate.setDate(currentDate.getDate() - 1);
        }
        this.currentDay = moment(nextDay).format("YYYY-MM-DD");
        this.currentWeek = moment(nextDay).format("WW");
        this.currentMonth = moment(nextDay).format("MM");
        this.noteText = moment(nextDay).format("YYYY-MM-DD");
      }
      if (this.activeType === "month") {
        let nextDay = currentDate.getTime() / 1;
        if (newData === "next") {
          nextDay = currentDate.setMonth(currentDate.getMonth() + 1);
        }
        if (newData === "previous") {
          nextDay = currentDate.setMonth(currentDate.getMonth() - 1);
        }
        this.currentDay = moment(nextDay).format("YYYY-MM-DD");
        this.currentWeek = moment(nextDay).format("WW");
        this.currentMonth = moment(nextDay).format("MM");
        this.noteText = moment(nextDay).format("YYYY-MM");
      }
      if (this.activeType === "week") {
        let nextDay = currentDate.getTime() / 1;
        if (newData === "next") {
          nextDay = currentDate.setDate(currentDate.getDate() + 7);
        }
        if (newData === "previous") {
          nextDay = currentDate.setDate(currentDate.getDate() - 7);
        }
        this.currentDay = moment(nextDay).format("YYYY-MM-DD");
        this.currentWeek = moment(nextDay).format("WW");
        this.currentMonth = moment(nextDay).format("MM");
        this.handleWeek(new Date(nextDay));
      }
      this.handleChangeTitle();
    },
    currentDay(newData) {
      let currentDay = moment().format("YYYY-MM-DD");
      this.handleGetHoroscope(
        this.currentDay,
        this.currentWeek,
        this.currentMonth,
        this.activeType,
        this.activeZodiac
      );
    },
  },
  methods: {
    capitalizeFirstLetter(string) {
      if (!string) {
        return "";
      }
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    handleWeek(curr) {
      let first = curr.getDate() - curr.getDay();
      let last = first + 6;
      let firstday = moment(curr.setDate(first)).format("YYYY-MM-DD");
      let lastday = moment(curr.setDate(last)).format("YYYY-MM-DD");
      let dataText = firstday + " - " + lastday;
      this.noteText = dataText;
    },
    handleChangeTitle() {
      let stringType = "Daily";
      switch (this.activeType) {
        case "week":
          stringType = "Weekly";
          break;
        case "month":
          stringType = "Monthly";
          break;
      }
      this.currentTitle =
        `${stringType} Horoscope - ${this.capitalizeFirstLetter(this.activeZodiac)}`;
    },
    handleGetHoroscope(date, week, month, type, zodiac) {
      let language = this.$store.state.language.default;
      let dataFilter = {
        page: 1,
        limit: 1,
        language: language,
        horoscope_zodiac: zodiac,
        horoscope_type: type,
      };
      if (type === "day") {
        dataFilter = { ...dataFilter, ...{ horoscope_date: date } };
      }
      if (type === "week") {
        dataFilter = { ...dataFilter, ...{ horoscope_week: week } };
      }
      if (type === "month") {
        dataFilter = { ...dataFilter, ...{ horoscope_month: month } };
      }
      horoscopeService
        .getHoroscope(dataFilter)
        .then((response) => {
          if (response && response.data && response.data[0]) {
            this.dataHoroscope = response.data[0];
          } else {
            this.dataHoroscope = null;
          }
        })
        .catch((error) => {
          this.dataHoroscope = null;
        });
    },
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.horoscope {
  width: 100%;
  float: left;

  &__body {
    width: 100%;
    float: left;

    &__header {
      float: left;
      width: 100%;

      &__item {
        border: 1px $borderColor solid;
        border-radius: 8px;
        cursor: pointer;
        padding: 10px 8px;

        &.active {
          border: 1px $primaryColor solid;
          background: $primaryBackground;
        }

        &__avatar {
          width: 100%;
          height: 50px;
          padding-top: 10px;
          text-align: center;

          img {
            width: 40px;
            height: 40px;
          }
        }

        &__title {
          margin-top: 8px;
          width: 100%;
          text-align: center;
          font-size: 12px;
          font-weight: 700;
          color: $textColor;
          text-transform: capitalize;
        }
      }
    }

    &__type {
      width: 100%;
      margin-top: 30px;
      float: left;

      &__item {
        float: left;
        border: $borderColor 2px solid;
        padding: 8px 30px;
        font-size: 16px;
        font-weight: 900;
        color: $textColor;
        margin-right: 8px;
        border-radius: 30px;
        cursor: pointer;
        user-select: none;

        @include breakpoint(phablet) {
          padding: 8px 16px;
          font-size: 14px;
        }

        &.active {
          border: $primaryColor 2px solid;
          color: $primaryColor;
          background-color: $primaryBackground;
        }
      }
    }

    &__content {
      width: 100%;
      float: left;
      margin-top: 10px;
      border: 1px $borderColor solid;
      padding: 20px;
      border-radius: 8px;

      @include breakpoint(phablet) {
        border: 0;
        padding: 20px 0;
      }

      &__header {
        width: 100%;
        float: left;

        &__item {
          margin-top: 8px;
          float: left;
          border-bottom: 2px #fff solid;
          padding: 10px 0 10px 0;
          margin-right: 30px;
          font-size: 18px;
          font-weight: 700;
          color: $textColor;
          cursor: pointer;
          user-select: none;

          @include breakpoint(phablet) {
            margin-right: 16px;
            font-size: 14px;
            font-weight: 900;
          }

          &.active {
            border-bottom: 2px $primaryColor solid;
            font-size: 18px;
            font-weight: 700;
            color: $primaryColor;

            @include breakpoint(phablet) {
              font-size: 14px;
              font-weight: 900;
            }

          }
        }
      }

      &__title {
        width: 100%;
        float: left;
        margin-top: 18px;

        h1 {
          font-size: 36px !important;
          font-weight: 700 !important;
          color: $textColor  !important;

          @include breakpoint(phablet) {
            width: 100%;
            font-size: 26px !important;
          }
        }

        &__time {
          float: left;
          background: $primaryBackground;
          border-radius: 8px;
          margin-top: 6px;
          font-weight: 700;
          font-size: 14px;
          margin-left: 0;
          margin-bottom: 16px;
          padding: 5px 16px;
        }
      }
    }
  }

  &__block {
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
</style>
