<template>
  <div class="advisor_detail">
    <div
      class="advisor_detail__avatar"
      :style="`background-image: url(&quot;/images/user_background.jpeg&quot;)`"
      v-if="
        (!userCoverImage || (userCoverImage && !userCoverImage.meta_value)) &&
        (!userCoverVideo || (userCoverVideo && !userCoverVideo.meta_value))
      "
    >
      <div class="advisor_detail__avatar__block"></div>
    </div>
    <div class="advisor_detail__avatar" v-if="userCoverVideo && userCoverVideo.meta_value">
      <video id="advisor_detail__avatar__video" loop="" muted="" data-autoplay="" playsinline="" autoplay="">
        <source :src="userCoverVideo.meta_value" type="video/mp4" />
      </video>
      <div class="advisor_detail__avatar__block"></div>
    </div>
    <div
      class="advisor_detail__avatar"
      v-if="(!userCoverVideo || !userCoverVideo.meta_value) && userCoverImage && userCoverImage.meta_value"
      :style="`background-image: url(&quot;${userCoverImage.meta_value}&quot;)`"
    >
      <div class="advisor_detail__avatar__block"></div>
    </div>
    <div class="body_container advisor_detail__border_up">
      <div class="advisor_detail__left">
        <div class="advisor_detail__left__header">
          <div class="advisor_detail__left__header">
            <div class="advisor_detail__left__header__left">
              <div class="advisor_detail__left__header__left__avatar">
                <div class="advisor_detail__left__header__left__avatar__img">
                  <img :src="dataAdvisor.user_avatar" v-if="dataAdvisor.user_avatar" @error="replaceByDefault" />
                  <img src="~/assets/images/avatar_default.png" v-else />
                </div>

                <client-only>
                  <div
                    class="advisor_detail__left__header__left__avatar__online"
                    v-if="onlineUser && onlineUser.length && onlineUser.indexOf(Number(dataAdvisor.user_id)) !== -1"
                  ></div>
                  <div class="advisor_detail__left__header__left__avatar__offline" v-else></div>
                </client-only>
              </div>
            </div>
            <div class="advisor_detail__left__header__right">
              <div>
                <div class="advisor_detail__left__header__right__title">
                  {{ dataAdvisor.display_name ? dataAdvisor.display_name : dataAdvisor.user_login }}
                  <div class="advisor_detail__left__header__left__avatar__flag">
                    <img
                      :src="getFlagByCode(dataAdvisor.user_nation)"
                      :alt="dataAdvisor.display_name"
                      v-if="getFlagByCode(dataAdvisor.user_nation)"
                    />
                  </div>
                </div>
                <div class="advisor_detail__left__header__right__rating">
                  <div class="advisor_detail__left__header__right__rating__item" v-if="dataAdvisor.average_rating">
                    <p>{{ Math.round(dataAdvisor.average_rating * 10) / 10 }}</p>
                    <rating :starNumber="dataAdvisor.average_rating" />
                  </div>
                  <div class="advisor_detail__left__header__right__rating__item" v-else>
                    <p class="advisor_detail__left__header__right__rating__item__noreview">
                      {{ language("No reviews") }}
                    </p>
                  </div>
                  <div class="advisor_detail__left__header__right__rating__order">
                    {{ language("Total order:") }}
                    {{ dataAdvisor.order_quantity }}
                    {{ Number(dataAdvisor.order_quantity) === 1 ? "order" : "orders" }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="advisor_detail__left__header__right__border__detail">
            <client-only>
              <!-- <div
                class="general_service__body__item"
                v-for="(serviceItem, serviceIndex) in generalServiceArray"
                :key="'advisor_service_' + serviceIndex"
                :class="
                  onlineUser && onlineUser.length && onlineUser.indexOf(Number(dataAdvisor.user_id)) !== -1
                    ? 'advisor_detail__left__header__right__detail'
                    : 'advisor_detail__left__header__right__detail disable'
                "
              > -->
              <div
                v-for="(serviceItem, serviceIndex) in handleFilterService(userService)"
                :key="'advisor_service_' + serviceIndex"
                :class="
                  onlineUser && onlineUser.length && onlineUser.indexOf(Number(dataAdvisor.user_id)) !== -1
                    ? 'advisor_detail__left__header__right__detail'
                    : 'advisor_detail__left__header__right__detail disable'
                "
              >
                <div class="advisor_detail__left__header__right__detail__left">
                  <div class="advisor_detail__left__header__right__detail__left__title">
                    {{ serviceItem.service_name }}
                  </div>
                  <div class="advisor_detail__left__header__right__detail__left__desc">
                    {{ serviceItem.service_description }}
                  </div>
                </div>
                <div
                  class="advisor_detail__left__header__right__detail__right"
                  v-if="serviceItem.service_type === 'other'"
                >
                  <button
                    type="button"
                    class="btn btn-primary w-100"
                    v-on:click="handleChooseService(serviceItem)"
                    :disabled="Number(serviceItem.service_active) !== 1"
                  >
                    <svg
                      viewBox="0 0 512 512"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      v-if="serviceItem.service_type === 'other'"
                    >
                      <path
                        d="M507.9 196.4l-104-153.8C399.4 35.95 391.1 32 384 32H127.1C120 32 112.6 35.95 108.1 42.56l-103.1 153.8c-6.312 9.297-5.281 21.72 2.406 29.89l231.1 246.2C243.1 477.3 249.4 480 256 480s12.94-2.734 17.47-7.547l232-246.2C513.2 218.1 514.2 205.7 507.9 196.4zM382.5 96.59L446.1 192h-140.1L382.5 96.59zM256 178.9L177.6 80h156.7L256 178.9zM129.5 96.59L205.1 192H65.04L129.5 96.59zM256 421L85.42 240h341.2L256 421z"
                      />
                    </svg>
                    {{ serviceItem.service_price }} coin/min
                  </button>
                </div>
                <div
                  class="advisor_detail__left__header__right__detail__right"
                  v-if="serviceItem.service_type === 'clip' || serviceItem.service_type === 'qclip'"
                >
                  <button
                    type="button"
                    class="btn btn-primary w-100"
                    v-on:click="handleChooseService(serviceItem)"
                    :disabled="Number(serviceItem.service_active) !== 1"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      v-if="serviceItem.service_type !== 'chat'"
                    >
                      <path
                        d="M384 112v288c0 26.51-21.49 48-48 48h-288c-26.51 0-48-21.49-48-48v-288c0-26.51 21.49-48 48-48h288C362.5 64 384 85.49 384 112zM576 127.5v256.9c0 25.5-29.17 40.39-50.39 25.79L416 334.7V177.3l109.6-75.56C546.9 87.13 576 102.1 576 127.5z"
                      />
                    </svg>
                    {{ serviceItem.service_price }} coin/min
                  </button>
                </div>
                <div
                  class="advisor_detail__left__header__right__detail__right"
                  v-if="serviceItem.service_type === 'chat'"
                >
                  <button
                    type="button"
                    class="btn btn-primary w-100"
                    v-on:click="handleChooseService(serviceItem)"
                    :disabled="
                      Number(serviceItem.service_active) !== 1 ||
                      !(onlineUser && onlineUser.length !== 0 && onlineUser.indexOf(Number(dataAdvisor.user_id)) !== -1)
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      v-if="serviceItem.service_type === 'chat'"
                    >
                      <path
                        d="M511.1 63.1v287.1c0 35.25-28.75 63.1-64 63.1h-144l-124.9 93.68c-7.875 5.75-19.12 .0497-19.12-9.7v-83.98h-96c-35.25 0-64-28.75-64-63.1V63.1c0-35.25 28.75-63.1 64-63.1h384C483.2 0 511.1 28.75 511.1 63.1z"
                      />
                    </svg>
                    {{ serviceItem.service_price }} coin/min
                  </button>
                </div>
              </div>
            </client-only>
          </div>
        </div>
        <div class="advisor_detail__left__body">
          <div class="advisor_detail__left__body__heading">
            <h2>{{ language("About") }}</h2>
          </div>
          <div class="advisor_detail__left__body__detail" v-html="dataAdvisor.bio"></div>

          <div v-if="yearExperience && yearExperience.meta_value">
            <div class="advisor_detail__left__body__heading">
              <h2>{{ language("Years of Experience:") }} {{ yearExperience.meta_value }} {{ language("years") }}</h2>
            </div>
          </div>

          <div v-if="experience && experience.meta_value">
            <div class="advisor_detail__left__body__heading">
              <h2>{{ language("Experience") }}</h2>
            </div>
            <div class="advisor_detail__left__body__detail" v-html="experience.meta_value"></div>
          </div>

          <div>
            <div>
              <div class="advisor_detail__left__body__heading">
                <h2>{{ language("Certificate") }}</h2>
              </div>
            </div>
            <div
              class="payment__body__right__setting__certificate"
              v-for="(certificateItem, certificateIndex) in metaCertificateImage"
              :key="'certificate_' + certificateIndex"
            >
              <img :src="certificateItem.meta_value" v-if="certificateItem && certificateItem.meta_value" />
            </div>
          </div>

          <div
            class="advisor_detail__left__body__heading"
            v-if="userRelationshipObject && userRelationshipObject.length"
          >
            <h2>{{ language("Category") }}</h2>
          </div>
          <div
            class="advisor_detail__left__body__body_button"
            v-if="userRelationshipObject && userRelationshipObject.length"
          >
            <div
              v-for="(relationshipItem, relationshipIndex) in userRelationshipObject"
              :key="'relationship__' + relationshipIndex"
            >
              <nuxt-link :to="'/advisor?topic=' + relationshipItem.taxonomy.taxonomy_slug"
                ><button class="btn btn-sm btn-outline-secondary mr-1 mb-1">
                  {{ relationshipItem.taxonomy.taxonomy_name }}
                </button></nuxt-link
              >
            </div>
          </div>

          <div v-if="orderInstruction && orderInstruction.meta_value">
            <div class="advisor_detail__left__body__heading">
              <h2>{{ language("Order instruction") }}</h2>
            </div>
            <div class="advisor_detail__left__body__detail" v-html="orderInstruction.meta_value"></div>
          </div>
        </div>
      </div>
      <div class="advisor_detail__right">
        <div
          class="advisor_detail__right__video"
          v-if="(userCoverVideo && userCoverVideo.meta_value) || (userCoverImage && userCoverImage.meta_value)"
        >
          <div
            class="advisor_detail__right__video__bg"
            v-on:click="
              handleOpenLightbox(
                userCoverVideo.meta_value ? userCoverVideo.meta_value : userCoverImage.meta_value,
                userCoverVideo.meta_value ? 'video' : 'image'
              )
            "
          >
            <img :src="dataAdvisor.user_avatar" v-if="dataAdvisor.user_avatar" @error="replaceByDefault" />
            <img :src="`/advisors/advisor_01.jpeg`" v-else />
            <div class="advisor_detail__right__video__svg">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path
                  d="M361 215C375.3 223.8 384 239.3 384 256C384 272.7 375.3 288.2 361 296.1L73.03 472.1C58.21 482 39.66 482.4 24.52 473.9C9.377 465.4 0 449.4 0 432V80C0 62.64 9.377 46.63 24.52 38.13C39.66 29.64 58.21 29.99 73.03 39.04L361 215z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="advisor_detail__right__rating">
          <div class="advisor_detail__right__rating__heading">
            <h2>{{ language("Language") }}</h2>
          </div>
          <div class="advisor_detail__left__body__body_button">
            <div class="advisor_detail__left__body__body_button__detail">{{ language("English") }}</div>
          </div>

          <div class="advisor_detail__right__rating__heading">
            <h2>{{ language("Review") }}</h2>
          </div>
          <div class="advisor_detail__right__rating__item" v-if="dataUserReview.length === 0">
            {{ language("Not have Review") }}
          </div>
          <div
            class="advisor_detail__right__rating__item"
            v-for="(ratingItem, ratingIndex) in dataUserReview"
            :key="'rating_view_' + ratingIndex"
          >
            <div class="advisor_detail__right__rating__item__title">
              <div class="advisor_detail__right__rating__item__title__avatar">
                <img
                  :src="ratingItem.user_review_createByTouser.user_avatar"
                  v-if="ratingItem.user_review_createByTouser.user_avatar"
                />
                <img src="~/assets/images/avatar_default.png" v-else />
              </div>
              {{
                ratingItem.user_review_createByTouser.display_name
                  ? ratingItem.user_review_createByTouser.display_name
                  : ratingItem.user_review_createByTouser.user_login
              }}
            </div>
            <div class="popular_articles__block__date">
              {{ momentNew(Number(ratingItem.createAt), "MMMM Do YYYY, hh:mm:ss") }}
            </div>
            <div class="advisor_detail__right__rating__item__point">
              <rating :starNumber="ratingItem.review_point" />
            </div>

            <div class="advisor_detail__right__rating__item__content">
              {{ ratingItem.review_content }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <CoolLightBox :items="items" :index="index" @close="index = null"> </CoolLightBox>
    <order-advisor
      :dataAdvisor="dataAdvisor"
      :chooseClipService="chooseClipService"
      :chooseChatService="chooseChatService"
      :openPopup="openPopup"
      :orderTypeCurrent="orderTypeCurrent"
      @setOpenPopup="
        (value) => {
          openPopup = value;
        }
      "
      :chatStep="chatStep"
      @setChatStep="
        (value) => {
          chatStep = value;
        }
      "
      :quickReading="quickReading"
      :videoReading="videoReading"
    />
    <div class="payment__loading" v-if="isLoading">
      <div class="spinner-border text-light" role="status"></div>
    </div>

    <div class="chat_preview_background" v-if="videoModal">
      <button
        type="button"
        title="Close"
        class="chat_preview_background__close"
        v-on:click="
          () => {
            videoModal = false;
          }
        "
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"
          ></path>
        </svg>
      </button>

      <div
        class="chat_preview_background__click"
        v-on:click="
          () => {
            videoModal = false;
          }
        "
      ></div>
      <div class="chat_preview_background__block">
        <video crossorigin playsinline id="player" v-if="userCoverVideo.meta_value">
          <!-- Video files -->
          <source :src="`${userCoverVideo.meta_value}`" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</template>
<script>
import Rating from "../Default/Rating.vue";
import { flagModule } from "../../modules/flags";
import { reviewService } from "~/services/review.service";
import { userServiceService } from "~/services/user.service.service";
import { userMetaService } from "../../services/user.meta.service";
import moment from "moment";
import CoolLightBox from "vue-cool-lightbox";
import OrderAdvisor from "~/components/Advisor/Order/OrderAdvisor";
import { stringProcess } from "~/modules/stringProcess";
import { taxonomyService } from "../../services/taxonomy.service";
import Plyr from "plyr";
import language from "~/modules/language.ts";

export default {
  props: ["dataAdvisor"],
  components: {
    Rating,
    CoolLightBox,
    OrderAdvisor,
  },
  watch: {
    userMeta(newData) {
      try {
        for (let metaItem of newData) {
          if (metaItem.meta_key === "cover_image") {
            this.userCoverImage = metaItem;
            break;
          }
        }
        for (let metaItem of newData) {
          if (metaItem.meta_key === "cover_video") {
            this.userCoverVideo = metaItem;
            break;
          }
        }
        for (let metaItem of newData) {
          if (metaItem.meta_key === "experience") {
            this.experience = metaItem;
            break;
          }
        }
        for (let metaItem of newData) {
          if (metaItem.meta_key === "year_experience") {
            this.yearExperience = metaItem;
            break;
          }
        }

        for (let metaItem of newData) {
          if (metaItem.meta_key === "order_instruction") {
            this.orderInstruction = metaItem;
            break;
          }
        }

        let certificateArray = [];
        for (let metaItem of newData) {
          if (metaItem.meta_key === "certificate_image") {
            certificateArray.push(metaItem);
          }
        }
        this.metaCertificateImage = certificateArray;
      } catch {}
    },
  },
  name: "advisor-detail",
  created() {
    this.handleGetUserReview();
    this.handleGetUserService();
    this.handleGetRelationship(this.dataAdvisor.user_id);
    this.getTotalUserMeta(this.dataAdvisor.user_id, "");
  },
  data() {
    return {
      serviceArray: [],
      dataUserReview: [],
      generalServiceArray: [],
      userCoverImage: "",
      userCoverVideo: "",
      experience: null,
      yearExperience: null,
      orderInstruction: null,
      metaCertificateImage: [],
      userMeta: [],
      userService: [],
      userRelationshipObject: [],
      items: [],
      index: null,
      openPopup: false,
      chooseChatService: 0,
      chooseClipService: 0,
      isLoading: false,
      orderTypeCurrent: "chat",
      chatStep: "choose_package",
      quickReading: null,
      videoReading: null,
      videoModal: false,
    };
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
    onlineUser() {
      return this.$store.state.onlineUser;
    },
  },
  methods: {
    // List all service
    // handleGetService(userId, authCode) {
    //   this.isLoading = true;
    //   generalService
    //     .getGeneralServiceByUserId(authCode, userId)
    //     .then((response) => {
    //       if (response && response.data) {
    //         this.generalServiceArray = response.data;
    //       }
    //       this.isLoading = false;
    //     })
    //     .catch((error) => {
    //       this.isLoadMore = false;
    //       this.isLoading = false;
    //     });
    // },

    language(text) {
      var lang = this.$store.state.language.default;
      lang = lang.toString();
      let dataReturn = language(text, lang);
      return dataReturn.toString();
    },
    /**
     * @param {*} userId
     * @param {*} authCode
     */
    getTotalUserMeta(userId, authCode) {
      userMetaService
        .getUserMeta(userId, authCode)
        .then((response) => {
          if (response && response.data) {
            this.userMeta = response.data;
          }
        })
        .catch((error) => {});
    },

    /**
     * @function handleGetRelationship
     * @param {*} userId
     * @param {*} userToken
     */
    handleGetRelationship(userId) {
      this.userRelationshipObject = [];
      taxonomyService
        .getTaxonomyRelationship(userId, "advisor_category", "")
        .then((response) => {
          if (response && response.data && response.data.length) {
            this.userRelationshipObject = response.data;
          }
        })
        .catch((error) => {});
    },

    addCommas(value) {
      return stringProcess.addCommas(value);
    },

    handleChooseService(service) {
      if (!this.userToken) {
        this.$router.push({ path: "/login" });
        return false;
      }
      if (this.userObject.user_role !== "user") {
        alert("You can't order because you are Advisor!");
        return false;
      }
      if (service.service_type === "chat") {
        this.chooseChatService = Number(service.service_id);
        this.openPopup = true;
        this.chatStep = "choose_package";
        this.orderTypeCurrent = "chat";
      }
      if (service.service_type === "clip" || service.service_type === "qclip") {
        this.chooseClipService = service.service_id;
        this.openPopup = true;
        this.chatStep = "order_clip";
        this.orderTypeCurrent = "clip";
      }
      if (service.service_type === "other") {
        this.$router.push({ path: "/download" });
        return false;
      }
    },

    handleFilterService(services) {
      return services.filter((item, index) => {
        if (item.service_type === "clip" || item.service_type === "chat" || item.service_type === "other") {
          return true;
        } else {
          return false;
        }
      });
    },
    momentNew(dateTime, format) {
      return moment(dateTime).format(format);
    },
    replaceByDefault(e) {
      e.target.src = "/images/avatar_default.png";
    },
    handleGetUserService() {
      userServiceService
        .getUserService(this.dataAdvisor.user_id)
        // .then((response) => {
        //   if (response && response.data) {
        //     this.generalServiceArray = response.data;
        //   }
        //   this.isLoading = false;
        // })
        // .catch((error) => {
        //   this.isLoadMore = false;
        //   this.isLoading = false;
        // });

        .then((response) => {
          if (response.data) {
            this.userService = response.data;
            for (let serviceItem of response.data) {
              if (serviceItem.service_type === "clip") {
                this.videoReading = serviceItem;
              }
              if (serviceItem.service_type === "qclip") {
                this.quickReading = serviceItem;
              }
            }
          } else {
            this.userService = [];
          }
        })
        .catch((error) => {
          this.userService = [];
        });
    },
    handleOpenLightbox(url, type) {
      if (type === "image") {
        let dataToSet = [url];
        this.items = dataToSet;
        this.index = 0;
      } else {
        this.videoModal = true;
        this.playVideo;
        this.playVideo();
      }
    },
    handleGetUserReview() {
      let dataFilter = {
        page: 1,
        limit: 100,
        seller_id: this.dataAdvisor.user_id,
      };
      reviewService
        .getReviewByUserId(dataFilter)
        .then((response) => {
          if (response.data) {
            this.dataUserReview = response.data;
          } else {
            this.dataUserReview = [];
          }
        })
        .catch((error) => {
          this.dataUserReview = [];
        });
    },
    getFlagByCode(code) {
      if (!code) {
        return "";
      }
      code = code.toUpperCase();
      let dataFlag = flagModule.findFlagByCode(code);
      if (dataFlag) {
        return dataFlag.image;
      } else {
        return "";
      }
    },
    playVideo() {
      var self = this;
      setTimeout(function () {
        const player = new Plyr("#player", {
          title: "Preview video",
          autoplay: true,
          invertTime: false,
          tooltips: { controls: true, seek: true },
          fullscreen: {
            enabled: true,
            fallback: true,
            iosNative: true,
          },
          loading: true,
          controls: [
            "play",
            "progress",
            "current-time",
            "duration",
            "mute",
            "volume",
            "settings",
            "fullscreen",
            "play-large",
            "progress",
            "pip",
            "airplay",
          ],
          i18n: {
            qualityBadge: {
              2160: "4K",
              1440: "2K",
              1080: "HD",
              720: "HD",
              576: "SD",
              480: "SD",
            },
          },
        });
      }, 100);
    },
  },
};
</script>

<style lang="scss">
@import "~/assets/scss/variables.scss";
@import "~/assets/scss/video/plyr.css";

.advisor_detail {
  &__avatar {
    height: 300px;
    width: 100%;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;

    &__block {
      background: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.2),
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 1)
        )
        repeat scroll 0 0 transparent;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 300px;
      z-index: 100;
    }

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__border_up {
    margin-top: -130px;
  }

  &__left {
    width: calc(100% - 300px);
    float: left;
    margin-top: 40px;
    padding-right: 40px;
    margin-bottom: 40px;

    @include breakpoint(phablet) {
      width: 100%;
      padding-right: 0;
      margin-bottom: 10px;
    }

    &__header {
      width: 100%;
      float: left;

      &__left {
        width: 150px;
        float: left;

        @include breakpoint(phablet) {
          width: 80px;
        }

        &__avatar {
          width: 110px;
          height: 110px;
          float: left;
          border-radius: 50%;
          position: relative;

          @include breakpoint(phablet) {
            width: 60px;
            height: 60px;
          }

          &__img {
            width: 110px;
            height: 110px;
            float: left;
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            @include breakpoint(phablet) {
              width: 60px;
              height: 60px;
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &__online {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 4px #fff solid;
            background-color: $successColor;
            bottom: 6px;
            right: 6px;

            @include breakpoint(mobile) {
              bottom: 0;
              right: 0;
              width: 16px;
              height: 16px;
              border: 3px #fff solid;
            }
          }

          &__offline {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 4px #fff solid;
            background-color: #aaa;
            bottom: 6px;
            right: 6px;

            @include breakpoint(mobile) {
              bottom: 0;
              right: 0;
              width: 16px;
              height: 16px;
              border: 3px #fff solid;
            }
          }

          &__flag {
            float: left;

            img {
              width: 40px;
              height: auto;
              margin-right: 8px;
              margin-top: -2px;

              @include breakpoint(phablet) {
                width: 30px;
              }
            }
          }
        }
      }

      &__right {
        width: calc(100% - 150px);
        float: left;

        @include breakpoint(phablet) {
          width: calc(100% - 80px);
        }

        &__border__detail {
          width: 100%;
          float: left;
          margin-top: 20px;
        }

        &__detail {
          width: 100%;
          float: left;
          border-bottom: 1px #efefef solid;
          border-top: 1px #efefef solid;
          margin-top: -1px;

          &__left {
            width: calc(100% - 160px);
            padding-right: 10px;
            float: left;

            &__title {
              margin-top: 8px;
              font-weight: 700;
              color: $primaryColor;
              font-size: 16px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }

            &__desc {
              margin-bottom: 8px;
              color: #777;
              font-size: 16px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }

          &__right {
            width: 160px;
            float: left;

            button {
              margin-top: 12px;
              height: 40px;
              position: relative;
              padding-left: 30px;

              svg {
                width: 18px;
                height: 18px;
                fill: #fff;
                position: absolute;
                top: 10px;
                left: 8px;
              }
            }
          }
        }

        &__service {
          width: calc(100% + 8px);
          margin-right: -4px;
          margin-left: -4px;
          float: left;
          margin-top: 16px;

          @include breakpoint(phablet) {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
          }

          &__item {
            width: calc(50% - 8px);
            margin: 4px;
            float: left;

            @include breakpoint(phablet) {
              width: 100%;
              margin: 4px 0;
            }

            button {
              min-height: 50px;
              font-size: 14px;
              font-weight: 700;
            }
          }
        }

        &__title {
          width: 100%;
          margin-top: 4px;
          float: left;
          font-weight: 700;
          font-size: 26px;
          color: $textColor;

          @include breakpoint(phablet) {
            margin-top: -4px;
            font-size: 20px;
          }
        }

        &__rating {
          width: 100%;
          float: left;
          padding: 0px 10px 0 0;

          &__order {
            width: 100%;
            float: left;
            text-align: left;
            margin-top: 4px;
          }

          p {
            float: left;
            line-height: 30px;
            margin-right: 8px;
            font-size: 21px;
            font-weight: 400;
            margin-top: -2px;
            margin-bottom: -5px;
          }

          &__item {
            float: left;
            width: 100%;
            margin-bottom: 0;

            &__noreview {
              font-size: 16px !important;
              color: #888;
            }

            .tarot_starview {
              float: left;
            }

            .tarot_starview svg {
              fill: #aaa;
              width: 20px;
              height: 20px;
              margin-right: 3px;

              &.active {
                fill: #ffb703;
              }
            }
          }
        }
      }
    }

    &__body {
      width: 100%;
      float: left;
      margin-top: 20px;

      div {
        float: left;
        margin-right: 6px;
        margin-bottom: 2px;
      }

      &__body_button {
        margin-top: 5px;
        margin-right: 5px;
        float: left;

        &__detail {
          padding: 4px 16px;
          background: $primaryBackground;
          border-radius: 4px;
          font-weight: 400;
          color: $textColor;
        }
      }

      &__heading {
        width: 100%;
        float: left;
      }

      h2 {
        font-size: 24px;
        font-weight: 700;
        color: $textColor;
        margin-top: 20px;
      }

      &__detail {
        width: 100%;
        float: left;
        word-wrap: break-word;
        margin-bottom: 20px;
        white-space: pre-wrap;
      }

      img {
        overflow: hidden;
        width: 580px;
        height: 400px;
        object-fit: fill;
        object-position: center;
      }
    }
  }

  &__right {
    width: 300px;
    float: left;

    @include breakpoint(phablet) {
      width: 100%;
    }

    &__rating {
      &__item {
        float: left;
        width: 100%;
        margin-bottom: 0;
        border-bottom: 1px #efefef solid;
        padding: 8px 0;

        &__empty {
          width: 100%;
          text-align: center;

          img {
            margin: 0 auto;
            width: 160px;
            margin-top: 20px;
          }

          &__heading {
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            color: #888;
            margin-bottom: 50px;
          }
        }

        &__point {
          width: 100%;
          float: left;
          margin-top: 4px;
        }

        &__content {
          width: 100%;
          float: left;
          margin-top: 8px;
          word-wrap: break-word;
        }

        .popular_articles__block__date {
          width: 100%;
          float: left;
          font-size: 16px;
          color: #aaa;
        }

        &__title {
          width: 100%;
          float: left;
          font-size: 18px;
          font-weight: 700;
          color: $textColor;

          &__avatar {
            width: 26px;
            height: 26px;
            overflow: hidden;
            border-radius: 50%;
            float: left;
            margin-right: 8px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .tarot_starview {
          float: left;
        }

        .tarot_starview svg {
          fill: #aaa;
          width: 20px;
          height: 20px;

          &.active {
            fill: #ffb703;
          }
        }
      }

      &__heading {
        width: 100%;
        float: left;

        h2 {
          float: left;
          width: 100%;
          margin-top: 30px;
          font-size: 24px;
          font-weight: 700;
          color: $textColor;
        }
      }
    }

    &__video {
      width: 100%;
      float: left;
      margin-top: 50px;
      cursor: pointer;

      &__svg {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        top: calc(50% - 30px);
        right: calc(50% - 30px);

        svg {
          width: 30px;
          height: 30px;
          margin: 15px 12px 15px 17px;
          fill: #fff;
        }
      }

      &__bg {
        width: 100%;
        height: 160px;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        transition: 0.5s all;

        &:hover {
          img {
            width: 110%;
            height: 110%;
          }
        }

        img {
          width: 100%;
          height: 100%;
          transition: 0.5s all;
          object-fit: cover;
        }
      }
    }
  }
}

.advisor_play_video {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat_preview_background {
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  text-align: center;

  @include breakpoint(mobile) {
    padding: 0;
  }

  &__close {
    background: #444;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin: 0;
    padding: 9px;
    transition: color 0.2s;
    vertical-align: top;
    visibility: inherit;
    width: 40px;
    height: 40px;
    color: #ccc;
    z-index: 100000066;

    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }

  &__click {
    z-index: 1000001;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__block {
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    max-height: 100%;
    z-index: 10000002;

    .plyr__video-wrapper {
      background-color: rgba(0, 0, 0, 0) !important;
    }

    .plyr__poster {
      background-color: rgba(0, 0, 0, 0) !important;
    }

    .plyr--video {
      height: 100%;
      z-index: 10000002;
    }

    video {
      max-width: 100%;
      z-index: 10000003;
      background-color: rgba(255, 255, 255, 0) !important;
    }
  }
}
</style>
