<template>
  <div>
    <section>
      <div class="advisor_category__left">
        <div class="advisor_category__left__block">
          <svg viewBox="0 0 512 512" class="advisor_category__left__block__svg">
            <path
              d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z" />
          </svg>
          <input type="email" class="form-control advisor_category__left__block__search" id="exampleFormControlInput1"
            placeholder="Search..." v-model="dataFilter.display_name" />

        </div>
      </div>
      <div class="advisor_category__right">
        <select class="form-control" tabindex="9" v-model="dataFilter.category">
          <option value="">
            {{ language("Category") }}
          </option>
          <option v-for="(categoryItem, categoryIndex) in totalCategory" :key="'birthday_' + categoryIndex"
            :value="categoryItem.taxonomy_slug">
            {{ categoryItem.taxonomy_name }}
          </option>
        </select>

        <select class="form-control" tabindex="8" v-model="dataFilter.user_nation" :disabled="isLoading">
          <option value="">
            {{ language("Country") }}
          </option>
          <option v-for="(itemCountry, indexCountry) in countriesData" :key="'country_' + indexCountry"
            :value="itemCountry.alpha2">
            {{ itemCountry.name }}
          </option>
        </select>
      </div>
      <div class="advisor_category__empty" v-if="(!dataAdvisor || dataAdvisor.length === 0) && !isLoading">
        <img src="/images/withdrawal.png" />
        <div class="advisor_category__empty__heading">
          {{ language("Advisor list is empty!") }}
        </div>

      </div>
      <top-advisors :topAdvisor="dataAdvisor" :isCategory="true" v-if="dataAdvisor" />
    </section>

    <div class="article">
      <div class="article__loading" v-if="isLoading">
        <div class="spinner-border m-5" role="status"></div>
      </div>
    </div>

    <button type="button" class="btn btn-outline-primary w-100"
      v-if="isLoadMore && dataAdvisor && dataAdvisor.length > 0" v-on:click="handleLoadMore">
      {{ language("LOAD MORE") }}</button>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
import TopAdvisors from "~/components/Homepage/TopAdvisors.vue";
import { advisorService } from '../../services/advisor.service';
import { taxonomyService } from '../../services/taxonomy.service';
import { CountriesHandle } from '~/modules/countries';
export default {
  name: "advisor_category_item",
  components: {
    TopAdvisors
  },
  watch: {
    'dataFilter.display_name'(newData) {
      clearTimeout(this.timeOutSearch);
      let self = this;
      this.timeOutSearch = setTimeout(() => {
        self.advisorPage = 1;
        self.handleSearchAdvisor(1, newData, this.dataFilter.user_nation, this.idList);
      }, 500);
    },
    'dataFilter.user_nation'(newData) {
      this.advisorPage = 1;
      this.handleSearchAdvisor(1, this.dataFilter.display_name, newData, this.idList);
    },
    idList(newData) {
      if (newData !== null) {
        this.advisorPage = 1;
        this.handleSearchAdvisor(1, this.dataFilter.display_name, this.dataFilter.user_nation, newData);
      } else {
        this.dataAdvisor = [];
      }

    },
    'dataFilter.category'(newData) {
      if (newData) {
        let taxonomyId = '';
        if (this.totalCategory) {
          for (let taxonomyItem of this.totalCategory) {
            if (taxonomyItem.taxonomy_slug === newData) {
              taxonomyId = taxonomyItem.taxonomy_id;
            }
          }
          this.$router.push({ query: { topic: newData } })
          this.handleChooseCateogry(taxonomyId);
        }
      } else {
        this.idList = '';
      }
    }
  },
  data() {
    let prepareTopic = '';
    if (this.$route?.query?.topic) {
      prepareTopic = this.$route?.query?.topic;
    }
    return {
      dataAdvisor: [],
      advisorPage: 1,
      advisorLimit: 10,
      isLoadMore: false,
      isLoading: false,
      totalCategory: [],
      countriesData: CountriesHandle.getCountriesCode(),
      timeOutSearch: null,
      idList: '',
      dataFilter: {
        category: prepareTopic,
        display_name: '',
        user_nation: '',
      }
    }
  },
  created() {
    if (this.dataFilter.category) {
    } else {
      this.isLoading = true;
      this.handleSearchAdvisor(1, '', '', '');
    }
    this.handleGetTotalCategory();
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    handleChooseCateogry(categoryId) {
      taxonomyService.getAdvisorByTaxonomy(categoryId).then((response) => {
        let dataIds = [];
        if (response.data && response.data.length) {
          for (let dataItem of response.data) {
            dataIds.push(dataItem.object_id);
          }
          let dataString = dataIds.join(',');
          this.idList = dataString;
        } else {
          this.idList = null;
        }
      }).catch((error) => {
        this.idList = null;
      })
    },
    handleGetTotalCategory() {
      taxonomyService.getTaxonomyByType('category', '').then((response) => {
        if (response && response.data) {
          this.totalCategory = response.data;
          let taxonomyChooseId = '';
          for (let categoryItem of response.data) {
            if (categoryItem.taxonomy_slug === this.dataFilter.category) {
              taxonomyChooseId = categoryItem.taxonomy_id;
            }
          }
          if (taxonomyChooseId) {
            this.handleChooseCateogry(taxonomyChooseId);
          }
        }
      }).catch(error => {
      })
    },
    handleSearchAdvisor(page, keyword, userNation, userList) {
      this.isLoading = true;
      if (page === 1) {
        this.dataAdvisor = [];
      }
      let dataFilter = {
        page: page,
        limit: this.advisorLimit,
        user_role: 'advisor'
      }
      if (keyword) {
        dataFilter = { ...dataFilter, ...{ display_name: keyword } }
      }
      if (userNation) {
        dataFilter = { ...dataFilter, ...{ user_nation: userNation } }
      }
      if (userList) {
        dataFilter = { ...dataFilter, ...{ ids: userList } }
      }
      advisorService.getAllAdvisor(dataFilter).then((response) => {
        if (response.data) {
          if (page === 1) {
            this.dataAdvisor = response.data;
          } else {
            this.dataAdvisor = this.dataAdvisor.concat(response.data);
          }

          if (response.data.length < this.advisorLimit) {
            this.isLoadMore = false;
          } else {
            this.isLoadMore = true;
          }
        } else {
          this.isLoadMore = false;
          if (page === 1) {
            this.dataAdvisor = [];
          }
        }
        this.isLoading = false;
      }).catch(error => {
        this.isLoadMore = false;
        this.isLoading = false;
      });
    },
    handleLoadMore() {
      let newPage = this.advisorPage + 1;
      this.handleSearchAdvisor(newPage, this.dataFilter.display_name, this.dataFilter.user_nation, this.idList);
      this.advisorPage = newPage;
    },
    handleGetNewAdvisor(advisorPage, adVisorLimit) {
      advisorService
        .getNewAdvisor(advisorPage, adVisorLimit)
        .then((response) => {
          if (response.length) {
            this.dataAdvisor = this.dataAdvisor.concat(response);
            if (response.length < this.advisorLimit) {
              this.isLoadMore = false;
            } else {
              this.isLoadMore = true;
            }
          } else {
            this.isLoadMore = false;
          }
        })
        .catch((error) => {
          this.isLoadMore = false;
        });
    },
  }
};
</script>


<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.advisor_category {
  &__empty {
    width: 100%;
    text-align: center;
    padding: 0 0 100px 0;

    img {
      width: 200px;
      margin: 0 auto;
      margin-top: 100px;
    }

    &__heading {
      width: 100%;
      text-align: center;
      font-size: 18px;
      color: #888;
    }
  }

  &__left {
    width: 40%;
    float: left;
    position: relative;
    padding-right: 10px;

    @include breakpoint(mobile) {
      width: 100%;
      margin-bottom: 5px;
      padding-right: 0;
    }

    &__block {
      position: relative;

      &__svg {
        position: absolute;
        top: 9px;
        left: 10px;
        width: 18px;
        height: 18px;
        fill: #aaa;
      }

      &__search {
        padding-left: 40px;
      }
    }
  }

  &__right {
    width: 60%;
    float: left;

    @include breakpoint(mobile) {
      width: 100%;
    }

    select {
      width: 160px;
      float: right;
      margin-left: 8px;

      @include breakpoint(mobile) {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
}

.article {
  width: 100%;
  float: left;

  &__loading {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: #aaa;
  }
}
</style>
