<template>
  <div>
    <div class="become_advisor">
      <div class="become_advisor__header">
        <div class="body_container">
          <div class="become_advisor__left">
            <div class="become_advisor__left__block">
              <div class="become_advisor__left__heading">
                {{ language("We are looking for the best psychics") }}
              </div>
              <div class="become_advisor__left__description">
                <div class="become_advisor__left__description__heading">
                  {{ language("Work from home or even on the go!") }}
                </div>
                <div>
                  {{
                    language(
                      "Fuda is seeking world class professional psychics with the highest moral and ethical standards. If you are a gifted psychic, this could be the opportunity that you have been looking for. Earn money providing online readings from the comfort of your home or even on the go (using Fuda mobile app). Qualified candidates have experience using their psychic abilities and must be capable of delivering accurate and insightful readings to our customers using computer, iPad or smartphone."
                    )
                  }}
                </div>
              </div>
              <div class="become_advisor__left__button">
                <nuxt-link to="/register-advisor"
                  ><button type="button" class="btn btn-light">{{ language("Become an Advisor") }}</button>
                </nuxt-link>
              </div>
            </div>
          </div>
          <div class="become_advisor__right">
            <img src="/images/background-fudaly.jpeg" alt="Fuda" />
          </div>
        </div>
      </div>
    </div>
    <div class="become_advisor__body">
      <div class="body_container">
        <div class="row">
          <div class="col-6 col-sm-4">
            <div class="become_advisor__body__item">
              <div class="become_advisor__body__item__avatar">
                <svg class="bi bi-tablet" viewBox="0 0 16 16">
                  <path
                    d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"
                  />
                  <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                </svg>
              </div>
              <div class="become_advisor__body__item__text">
                {{
                  language(
                    "Our user-friendly platform will enable you to work using your PC, laptop, iPad or Smartphone"
                  )
                }}
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="become_advisor__body__item">
              <div class="become_advisor__body__item__avatar">
                <svg class="bi bi-people" viewBox="0 0 16 16">
                  <path
                    d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"
                  />
                </svg>
              </div>
              <div class="become_advisor__body__item__text">
                {{ language("You can build your customer base and earn income when and where you wish") }}
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="become_advisor__body__item">
              <div class="become_advisor__body__item__avatar">
                <svg class="bi bi-cash-coin" viewBox="0 0 16 16">
                  <path
                    fill-rule="evenodd"
                    d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"
                  />
                  <path
                    d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"
                  />
                  <path
                    d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"
                  />
                  <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                </svg>
              </div>
              <div class="become_advisor__body__item__text">
                {{ language("You can make more than $2000/wk") }}
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="become_advisor__body__item">
              <div class="become_advisor__body__item__avatar">
                <svg class="bi bi-wallet2" viewBox="0 0 16 16">
                  <path
                    d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"
                  />
                </svg>
              </div>
              <div class="become_advisor__body__item__text">
                {{ language("We pay on time and offer various payment methods") }}
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="become_advisor__body__item">
              <div class="become_advisor__body__item__avatar">
                <svg class="bi bi-megaphone" viewBox="0 0 16 16">
                  <path
                    d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"
                  />
                </svg>
              </div>
              <div class="become_advisor__body__item__text">
                {{ language("We provide a range of promotional opportunities") }}
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="become_advisor__body__item">
              <div class="become_advisor__body__item__avatar">
                <svg class="bi bi-telephone-forward" viewBox="0 0 16 16">
                  <path
                    d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.762.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z"
                  />
                </svg>
              </div>
              <div class="become_advisor__body__item__text">
                {{ language("We offer reliable 24/7 support") }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="become_advisor__footer">
      <div class="body_container">
        <div class="become_advisor__footer__left">
          <div class="become_advisor__footer__left__heading">
            {{ language("Work from home or even on the go!") }}
          </div>
          <div class="become_advisor__footer__left__button">
            <nuxt-link to="/register-advisor"
              ><button type="button" class="btn btn-primary">{{ language("Apply now") }}</button>
            </nuxt-link>
          </div>
        </div>
        <div class="become_advisor__footer__right">
          <img src="/images/advisor-min.jpeg" alt="Fuda" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//@ts-ignore
import language from "~/modules/language.ts";
export default {
  components: {},
  scrollToTop: true,
  data() {
    return {
      questionActive: 0,
    };
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      lang = lang.toString();
      let dataReturn = language(text, lang);
      return dataReturn.toString();
    },
  },
};
</script>
<style scoped lang="scss">
@import "~/assets/scss/variables.scss";

.become_advisor {
  width: 100%;
  float: left;
  position: relative;
  background-color: #502f84;
  //background: url("/default/background_app.jpeg") no-repeat;
  //background-size: cover;
  content: "";
  position: relative;

  @include breakpoint(phablet) {
    margin-top: 0;
    padding-bottom: 40px;
  }

  &__block {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__left {
    width: 50%;
    float: left;
    min-height: 500px;
    position: relative;
    z-index: 2;

    @include breakpoint(phablet) {
      width: 100%;
      min-height: unset;
    }

    &__block {
      width: 100%;
    }

    &__heading {
      width: 100%;
      float: left;
      font-size: 36px;
      letter-spacing: 0px;
      font-weight: 700;
      color: #fff;
      margin-top: 80px;
      text-align: left;
      line-height: 1.3;

      @include breakpoint(phablet) {
        margin-top: 40px;
        text-align: center;
        font-size: 30px;
      }
    }

    &__button {
      width: 100%;
      float: left;
      margin-top: 30px;
      margin-bottom: 60px;

      @include breakpoint(phablet) {
        width: 258px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 0px;
        float: unset;
      }

      button {
        font-size: 16px;
        font-weight: 700;
        color: $textColor;
        border-radius: 26px;
        padding: 16px 36px;

        @include breakpoint(phablet) {
          width: 100%;
        }
      }
    }

    &__description {
      width: 100%;
      float: left;
      font-size: 14px;
      color: #f0f0f0;
      text-align: left;
      margin-top: 26px;
      font-weight: 400;

      &__heading {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 8px;
      }

      @include breakpoint(phablet) {
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }

  &__right {
    width: calc(50% - 20px);
    float: left;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 90px;
    text-align: right;

    @include breakpoint(phablet) {
      width: 100%;
      margin-left: unset;
      text-align: center;
      padding-top: 0px;
    }

    img {
      width: 100%;
      height: auto;
      margin-left: 0;
      z-index: 0;
    }
  }

  &__body {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    float: left;

    &__item {
      margin-top: 20px;
      margin-bottom: 20px;

      &__avatar {
        width: 40px;
        height: 40px;
        fill: $primaryColor;
        margin-bottom: 16px;
      }
    }
  }

  &__footer {
    width: 100%;
    float: left;
    background-color: #e4e4e4;

    &__left {
      width: 50%;
      float: left;

      @include breakpoint(phablet) {
        width: 100%;
      }

      &__heading {
        font-size: 40px;
        line-height: 1.3;
        margin-top: 120px;
        margin-bottom: 20px;
        font-weight: 700;
        color: $textColor;

        @include breakpoint(phablet) {
          width: 100%;
          text-align: center;
          margin-top: 40px;
        }
      }

      &__button {
        text-align: left;

        @include breakpoint(phablet) {
          text-align: center;
        }

        button {
          font-size: 16px;
          font-weight: 700;
          padding: 16px 36px;
          border-radius: 26px;

          @include breakpoint(phablet) {
            margin-bottom: 50px;
          }

          @include breakpoint(mobile) {
            width: 100%;
            margin-bottom: 40px;
          }
        }
      }
    }

    &__right {
      width: 50%;
      float: left;
      max-height: 400px;
      overflow: hidden;
      object-position: center;

      @include breakpoint(phablet) {
        display: none;
      }

      @include breakpoint(mobile) {
        width: 100%;
        display: block;
      }

      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
</style>
