<template>
  <div>
    <client-only>
      <div v-if="!statusAppcept">
        <div class="appcept_cookie">
          <p> We use cookies for various purposes including analytics and personalized marketing. By continuing to use
            the
            service, you agree to our use of cookies as described in the <a href="/policies">Cookie Policy.</a>
          </p>
          <button class="appcept_cookie_button" v-on:click="handleAcceptCookies">Accept All Cookies</button>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
export default {
  name: 'accept_cookie_component',
  data() {
    return {
      statusAppcept: true,
    }
  },
  created() {
    if (process.client) {
      let dataCookie = localStorage.getItem("cookie");
      if (dataCookie && Number(dataCookie) === 1) {
        this.statusAppcept = true;
      } else {
        this.statusAppcept = false;
      }
    }
  },
  methods: {
    handleAcceptCookies() {
      this.statusAppcept = true;
      localStorage.setItem("cookie", "1");
    }
  }
}
</script>
<style lang="scss">
@import "~/assets/scss/variables.scss";

.appcept_cookie {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0;
  padding: 10px 20px 10px 20px;
  background-color: rgba(#2b2d42, 0.8);
  color: #fff;
  z-index: 1000;

  @include breakpoint(mobile) {
    margin-right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }


  &_button {
    width: 160px;
    float: left;
    padding: 10px;
    background: #ffc300;
    color: #2b2d42;
    font-size: 12px;
    border-radius: 8px;
    border: 0;
    font-weight: 700;

    @include breakpoint(mobile) {
      width: 100%;
    }

    &:hover {
      background: #ffd60a;
    }
  }

  p {
    width: calc(100% - 160px);
    float: left;
    margin-bottom: 0px;
    font-size: 15px;
    margin-top: 7px;
    padding-right: 16px;

    @include breakpoint(mobile) {
      width: 100%;
      margin-bottom: 6px;
      padding-right: 0;
    }
  }

  a {
    color: #ffc300;

    &:hover {
      color: #ffd60a;
    }
  }

  p {}
}
</style>
