<template>
  <div id="header_body">
    <header :class="isHiddenTopBar ? 'header hidden' : 'header'">
      <div :class="isHiddenTopBar ? 'header__new_top hidden' : 'header__new_top'">
        <div class="body_container">
          <div class="header__new_top__left">
            <div class="header__new_top__left__item">
              <nuxt-link :to="'/become-advisor'">{{ language("Become an Advisor") }}</nuxt-link>
            </div>
            <div class="header__new_top__left__item">|</div>
            <div class="header__new_top__left__item">
              <nuxt-link :to="'/download'">{{ language("Donwload App") }}</nuxt-link>
            </div>
            <div class="header__new_top__left__item">|</div>
            <div class="header__new_top__left__item">
              <a href="https://www.facebook.com/fuda.appuni.io" target="_blank">{{ language("Connect Facebook") }}</a>
            </div>
            <div class="header__new_top__left__item">|</div>
            <div class="header__new_top__left__item">
              <a href="https://www.instagram.com/fudaly.world/" target="_blank">Instagram</a>
            </div>
          </div>
          <div class="header__new_top__right">
            <div class="header__new_top__right__item">
              <nuxt-link :to="'/page/contact-us'">{{ language("Contact us") }}</nuxt-link>
            </div>
            <!-- <div class="header__new_top__right__item">|</div>
            <div class="header__new_top__right__item">
              <nuxt-link :to="'/advisor'">{{ language("Find an Advisor") }}</nuxt-link>
            </div> -->
          </div>
        </div>
      </div>

      <div class="body_container">
        <div :class="isHiddenTopBar ? 'header__block hidden' : 'header__block'">
          <div class="header__new_bottom">
            <div class="header__logo">
              <nuxt-link :to="'/'">
                <div class="header__logo__block">
                  <img src="~/assets/images/logo_tarot.png" />
                </div>
                <p>Fuda</p>
              </nuxt-link>
            </div>
            <div class="header_mobile_menu">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" v-on:click="handleOpenPopup">
                <path
                  d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"
                />
              </svg>
            </div>

            <div
              class="header_mobile_search"
              v-if="!openMobileSearch"
              v-on:click="
                () => {
                  openMobileSearch = true;
                }
              "
            >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"
                />
              </svg>
            </div>

            <div
              class="header_mobile_search"
              v-if="openMobileSearch"
              v-on:click="
                () => {
                  openMobileSearch = false;
                  openPopupSearch = false;
                }
              "
            >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                <path
                  d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"
                />
              </svg>
            </div>

            <client-only>
              <div class="header_mobile__tool_menu" v-if="openPopup">
                <div class="header_mobile__tool_menu__header">
                  <div class="header__logo">
                    <nuxt-link :to="'/'">
                      <div class="header__logo__block">
                        <img src="~/assets/images/logo_tarot.png" />
                      </div>
                      <p>Fuda</p>
                    </nuxt-link>
                  </div>
                </div>

                <ul class="list-group">
                  <nuxt-link :to="'/article'">
                    <li class="list-group-item">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path
                          d="M336 64h-53.88C268.9 26.8 233.7 0 192 0S115.1 26.8 101.9 64H48C21.5 64 0 85.48 0 112v352C0 490.5 21.5 512 48 512h288c26.5 0 48-21.48 48-48v-352C384 85.48 362.5 64 336 64zM192 64c17.67 0 32 14.33 32 32c0 17.67-14.33 32-32 32S160 113.7 160 96C160 78.33 174.3 64 192 64zM272 224h-160C103.2 224 96 216.8 96 208C96 199.2 103.2 192 112 192h160C280.8 192 288 199.2 288 208S280.8 224 272 224z"
                        /></svg
                      >{{ language("Articles") }}
                    </li>
                  </nuxt-link>
                  <nuxt-link :to="'/horoscope'">
                    <li class="list-group-item">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path
                          d="M180.5 141.5C219.7 108.5 272.6 80 336 80C399.4 80 452.3 108.5 491.5 141.5C530.5 174.5 558.3 213.1 572.4 241.3C577.2 250.5 577.2 261.5 572.4 270.7C558.3 298 530.5 337.5 491.5 370.5C452.3 403.5 399.4 432 336 432C272.6 432 219.7 403.5 180.5 370.5C164.3 356.7 150 341.9 137.8 327.3L48.12 379.6C35.61 386.9 19.76 384.9 9.474 374.7C-.8133 364.5-2.97 348.7 4.216 336.1L50 256L4.216 175.9C-2.97 163.3-.8133 147.5 9.474 137.3C19.76 127.1 35.61 125.1 48.12 132.4L137.8 184.7C150 170.1 164.3 155.3 180.5 141.5L180.5 141.5zM416 224C398.3 224 384 238.3 384 256C384 273.7 398.3 288 416 288C433.7 288 448 273.7 448 256C448 238.3 433.7 224 416 224z"
                        /></svg
                      >{{ language("Horoscopes") }}
                    </li>
                  </nuxt-link>
                  <nuxt-link :to="'/need-help'">
                    <li class="list-group-item">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                          d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c17.67 0 32 14.33 32 32c0 17.67-14.33 32-32 32S224 177.7 224 160C224 142.3 238.3 128 256 128zM296 384h-80C202.8 384 192 373.3 192 360s10.75-24 24-24h16v-64H224c-13.25 0-24-10.75-24-24S210.8 224 224 224h32c13.25 0 24 10.75 24 24v88h16c13.25 0 24 10.75 24 24S309.3 384 296 384z"
                        /></svg
                      >{{ language("Need Helps") }}
                    </li>
                  </nuxt-link>
                  <nuxt-link :to="'/questions'">
                    <li class="list-group-item">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                          d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 400c-18 0-32-14-32-32s13.1-32 32-32c17.1 0 32 14 32 32S273.1 400 256 400zM325.1 258L280 286V288c0 13-11 24-24 24S232 301 232 288V272c0-8 4-16 12-21l57-34C308 213 312 206 312 198C312 186 301.1 176 289.1 176h-51.1C225.1 176 216 186 216 198c0 13-11 24-24 24s-24-11-24-24C168 159 199 128 237.1 128h51.1C329 128 360 159 360 198C360 222 347 245 325.1 258z"
                        /></svg
                      >{{ language("Q&A") }}
                    </li>
                  </nuxt-link>

                  <div v-if="userObject">
                    <!-- <div class="profile__layout__left__body__title">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                          d="M495.9 166.6C499.2 175.2 496.4 184.9 489.6 191.2L446.3 230.6C447.4 238.9 448 247.4 448 256C448 264.6 447.4 273.1 446.3 281.4L489.6 320.8C496.4 327.1 499.2 336.8 495.9 345.4C491.5 357.3 486.2 368.8 480.2 379.7L475.5 387.8C468.9 398.8 461.5 409.2 453.4 419.1C447.4 426.2 437.7 428.7 428.9 425.9L373.2 408.1C359.8 418.4 344.1 427 329.2 433.6L316.7 490.7C314.7 499.7 307.7 506.1 298.5 508.5C284.7 510.8 270.5 512 255.1 512C241.5 512 227.3 510.8 213.5 508.5C204.3 506.1 197.3 499.7 195.3 490.7L182.8 433.6C167 427 152.2 418.4 138.8 408.1L83.14 425.9C74.3 428.7 64.55 426.2 58.63 419.1C50.52 409.2 43.12 398.8 36.52 387.8L31.84 379.7C25.77 368.8 20.49 357.3 16.06 345.4C12.82 336.8 15.55 327.1 22.41 320.8L65.67 281.4C64.57 273.1 64 264.6 64 256C64 247.4 64.57 238.9 65.67 230.6L22.41 191.2C15.55 184.9 12.82 175.3 16.06 166.6C20.49 154.7 25.78 143.2 31.84 132.3L36.51 124.2C43.12 113.2 50.52 102.8 58.63 92.95C64.55 85.8 74.3 83.32 83.14 86.14L138.8 103.9C152.2 93.56 167 84.96 182.8 78.43L195.3 21.33C197.3 12.25 204.3 5.04 213.5 3.51C227.3 1.201 241.5 0 256 0C270.5 0 284.7 1.201 298.5 3.51C307.7 5.04 314.7 12.25 316.7 21.33L329.2 78.43C344.1 84.96 359.8 93.56 373.2 103.9L428.9 86.14C437.7 83.32 447.4 85.8 453.4 92.95C461.5 102.8 468.9 113.2 475.5 124.2L480.2 132.3C486.2 143.2 491.5 154.7 495.9 166.6V166.6zM256 336C300.2 336 336 300.2 336 255.1C336 211.8 300.2 175.1 256 175.1C211.8 175.1 176 211.8 176 255.1C176 300.2 211.8 336 256 336z" />
                      </svg>{{ language("General Setting") }}
                    </div>
                    <nuxt-link :to="'/user/dashboard'">
                      <div
                        :class="($route.fullPath === '/user/dashboard') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                        {{ language("General Information") }}
                      </div>
                    </nuxt-link>
                    <nuxt-link :to="'/user/notification'">
                      <div
                        :class="($route.fullPath === '/user/notification') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                        {{ language("Notification Setting") }}
                      </div>
                    </nuxt-link> -->

                    <!-- <nuxt-link :to="'/user/language'">
                      <div
                        :class="($route.fullPath === '/user/language') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                        {{ language("Language") }}
                      </div>
                    </nuxt-link> -->

                    <!-- <nuxt-link :to="'/user/security'">
                      <div
                        :class="($route.fullPath === '/user/security') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                        Security Setting
                      </div>
                    </nuxt-link> -->

                    <!-- <div class="profile__layout__left__body__title">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path
                          d="M96 0C107.5 0 117.4 8.19 119.6 19.51L121.1 32H541.8C562.1 32 578.3 52.25 572.6 72.66L518.6 264.7C514.7 278.5 502.1 288 487.8 288H170.7L179.9 336H488C501.3 336 512 346.7 512 360C512 373.3 501.3 384 488 384H159.1C148.5 384 138.6 375.8 136.4 364.5L76.14 48H24C10.75 48 0 37.25 0 24C0 10.75 10.75 0 24 0H96zM128 464C128 437.5 149.5 416 176 416C202.5 416 224 437.5 224 464C224 490.5 202.5 512 176 512C149.5 512 128 490.5 128 464zM512 464C512 490.5 490.5 512 464 512C437.5 512 416 490.5 416 464C416 437.5 437.5 416 464 416C490.5 416 512 437.5 512 464z" />
                      </svg>{{ language("Order") }}
                    </div>
                    <nuxt-link :to="'/user/order'">
                      <div class="profile__layout__left__body__item">
                        {{ language("Order History") }}
                      </div>
                    </nuxt-link>
                    <nuxt-link :to="'/user/balance'">
                      <div
                        :class="($route.fullPath === '/user/balance') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                        {{ language("Balance & Transactions") }}
                      </div>
                    </nuxt-link>
                    <a :href="'/chat/list'">
                      <div class="profile__layout__left__body__item">
                        {{ language("Chat Manager") }}
                      </div>
                    </a> -->

                    <div class="profile__layout__left__body__title">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                        <path
                          d="M248 167.5l64.9 98.8H183.1l64.9-98.8zM496 256c0 136.9-111.1 248-248 248S0 392.9 0 256 111.1 8 248 8s248 111.1 248 248zm-99.8 82.7L248 115.5 99.8 338.7h30.4l33.6-51.7h168.6l33.6 51.7h30.2z"
                        /></svg
                      >{{ language("Advisor Setting") }}
                    </div>
                    <nuxt-link :to="'/user/advisor'">
                      <div
                        :class="
                          $route.fullPath === '/user/advisor'
                            ? 'profile__layout__left__body__item active'
                            : 'profile__layout__left__body__item'
                        "
                      >
                        {{ language("Advisor Setting") }}
                      </div>
                    </nuxt-link>
                    <!-- <nuxt-link :to="'/user/general-service'">
                      <div
                        :class="($route.fullPath === '/user/general-service') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                        {{ language("My Services") }}
                      </div>
                    </nuxt-link> -->
                    <nuxt-link :to="'/user/invoices'">
                      <div
                        :class="
                          $route.fullPath === '/user/invoices'
                            ? 'profile__layout__left__body__item active'
                            : 'profile__layout__left__body__item'
                        "
                      >
                        {{ language("Invoices") }}
                      </div>
                    </nuxt-link>
                    <nuxt-link :to="'/user/withdrawal'">
                      <div
                        :class="
                          $route.fullPath === '/user/withdrawal'
                            ? 'profile__layout__left__body__item active'
                            : 'profile__layout__left__body__item'
                        "
                      >
                        {{ language("Withdrawal") }}
                      </div>
                    </nuxt-link>
                    <!-- <nuxt-link :to="'/user/service'">
                       <div
                        :class="(fullPath === '/user/service') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                        {{ language("Service Setting") }}
                       </div>
                    </nuxt-link> -->
                    <nuxt-link :to="'/user/payment'">
                      <div
                        :class="
                          $route.fullPath === '/user/payment'
                            ? 'profile__layout__left__body__item active'
                            : 'profile__layout__left__body__item'
                        "
                      >
                        {{ language("Payment Setting") }}
                      </div>
                    </nuxt-link>
                  </div>
                </ul>

                <div class="header_mobile__tool_menu__header__footer">
                  <div class="row" v-if="!userObject">
                    <div class="col">
                      <nuxt-link to="/login"
                        ><button type="button" class="btn btn-primary w-100">{{ language("LOGIN") }}</button>
                      </nuxt-link>
                    </div>
                    <div class="col">
                      <nuxt-link to="/signup"
                        ><button type="button" class="btn btn-outline-primary w-100">{{ language("SIGN UP") }}</button>
                      </nuxt-link>
                    </div>
                  </div>
                  <div class="header_mobile__tool_menu__header__footer__border" v-if="userObject">
                    <div class="header_mobile__tool_menu__header__footer__avatar">
                      <nuxt-link to="/user/user-menu">
                        <img :src="userObject.user_avatar" v-if="userObject.user_avatar" />
                        <img :src="'/images/avatar_default.png'" v-else />
                      </nuxt-link>
                    </div>
                    <div class="header_mobile__tool_menu__header__footer__name">
                      <div class="header_mobile__tool_menu__header__footer__name__title">
                        <nuxt-link to="/user/user-menu">
                          {{ userObject.display_name ? userObject.display_name : userObject.user_login }}
                        </nuxt-link>
                      </div>
                      <div class="header_mobile__tool_menu__header__footer__name__desc">
                        <nuxt-link to="/user/balance">
                          <div class="header__right__login__popup__user__name__desc">
                            {{ addCommas(totalBalance.toString()) }}
                            <svg data-v-e5dff69a="" viewBox="0 0 24 24">
                              <path
                                data-v-e5dff69a=""
                                d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z"
                              ></path>
                            </svg>
                          </div>
                        </nuxt-link>
                      </div>
                    </div>

                    <div class="header_mobile__tool_menu__header__footer__button">
                      <button type="button" class="btn btn-secondary w-100" v-on:click="handleLogout()">
                        {{ language("LOGOUT") }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </client-only>
            <client-only>
              <div class="header_mobile__tool_search" v-if="openMobileSearch">
                <div class="header__search__block">
                  <svg viewBox="0 0 512 512" class="header__search__block__svg">
                    <path
                      d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"
                    />
                  </svg>
                  <input
                    type="email"
                    class="form-control header__search__heading"
                    id="exampleFormControlInput1"
                    placeholder="Search..."
                    v-model="searchText"
                    v-on:click="handleSearchFirst()"
                  />
                </div>
              </div>
            </client-only>
            <!-- <div :class="(userObject) ? 'header__search big' : 'header__search'">
              <div class="header__search__block">
                <svg viewBox="0 0 512 512" class="header__search__block__svg">
                  <path
                    d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z" />
                </svg>
                <input type="email" class="form-control header__search__heading" id="exampleFormControlInput1"
                  placeholder="Search..." v-model="searchText" v-on:click="handleSearchFirst()" />
              </div>
            </div> -->
            <div>
              <div class="header__search__block__bg" v-on:click="handleOpenPopupSearch" v-if="openPopupSearch"></div>
              <div
                :class="isHiddenTopBar ? 'header__search__block__popup hidden' : 'header__search__block__popup'"
                v-if="openPopupSearch"
              >
                <div class="header__search__block__popup__empty" v-if="advisorObject.length === 0">
                  {{ language("Not have Data") }}
                </div>
                <div
                  class="header__search__block__popup__item"
                  v-for="(dataAdvisor, advisorIndex) in advisorObject"
                  :key="'advisor_index_' + advisorIndex"
                >
                  <nuxt-link :to="'/advisor/' + dataAdvisor.user_login">
                    <div class="header__search__block__popup__item__left__avatar">
                      <img :src="dataAdvisor.user_avatar" v-if="dataAdvisor.user_avatar" />
                      <img src="~/assets/images/avatar_default.png" v-else />
                    </div>

                    <div class="header__search__block__popup__item__right">
                      <div>
                        <div class="header__search__block__popup__item__right__title">
                          {{ dataAdvisor.display_name ? dataAdvisor.display_name : dataAdvisor.user_login }}
                          <div class="header__search__block__popup__item__left__avatar__flag">
                            <img
                              :src="getFlagByCode(dataAdvisor.user_nation)"
                              :alt="dataAdvisor.display_name"
                              v-if="getFlagByCode(dataAdvisor.user_nation)"
                            />
                          </div>
                        </div>
                        <div class="header__search__block__popup__item__right__rating">
                          <div class="header__search__block__popup__item__right__rating__item">
                            <p>{{ Math.round(dataAdvisor.average_rating * 10) / 10 }}</p>
                            <rating :starNumber="dataAdvisor.average_rating" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </nuxt-link>
                </div>
              </div>
            </div>

            <div class="header__right__login__popup__bg" v-on:click="handleOpenPopup" v-if="openPopup"></div>
            <div :class="userObject ? 'header__right small' : 'header__right'">
              <div class="header__right__gift">
                <div class="header__right__gift__item">
                  <nuxt-link :to="'/download'">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path
                        d="M152 0H154.2C186.1 0 215.7 16.91 231.9 44.45L256 85.46L280.1 44.45C296.3 16.91 325.9 0 357.8 0H360C408.6 0 448 39.4 448 88C448 102.4 444.5 115.1 438.4 128H480C497.7 128 512 142.3 512 160V224C512 241.7 497.7 256 480 256H32C14.33 256 0 241.7 0 224V160C0 142.3 14.33 128 32 128H73.6C67.46 115.1 64 102.4 64 88C64 39.4 103.4 0 152 0zM190.5 68.78C182.9 55.91 169.1 48 154.2 48H152C129.9 48 112 65.91 112 88C112 110.1 129.9 128 152 128H225.3L190.5 68.78zM360 48H357.8C342.9 48 329.1 55.91 321.5 68.78L286.7 128H360C382.1 128 400 110.1 400 88C400 65.91 382.1 48 360 48V48zM32 288H224V512H80C53.49 512 32 490.5 32 464V288zM288 512V288H480V464C480 490.5 458.5 512 432 512H288z"
                      />
                    </svg>
                  </nuxt-link>
                </div>
              </div>
              <client-only>
                <div class="header__right__login" v-if="!userObject">
                  <nuxt-link :to="'/login'"> {{ language("LOGIN") }} </nuxt-link>
                  /
                  <nuxt-link :to="'/signup'"> {{ language("SIGN IN") }} </nuxt-link>
                </div>

                <div class="header__right__login" v-if="userObject">
                  <div class="header__right__login__avatar" v-on:click="handleOpenPopup">
                    <img :src="userObject.user_avatar" v-if="userObject.user_avatar" />
                    <img :src="'/images/avatar_default.png'" v-else />
                  </div>

                  <div class="header__right__login__popup" v-if="openPopup">
                    <ul class="list-group">
                      <div class="header__right__login__popup__user">
                        <div class="header__right__login__popup__user__avatar">
                          <img :src="userObject.user_avatar" v-if="userObject.user_avatar" />
                          <img :src="'/images/avatar_default.png'" v-else />
                          <!-- <nuxt-link to="/user/dashboard">
                            <img :src="userObject.user_avatar" v-if="userObject.user_avatar" />
                            <img :src="'/images/avatar_default.png'" v-else />
                          </nuxt-link> -->
                        </div>
                        <div class="header__right__login__popup__user__name">
                          <!-- <div class="header__right__login__popup__user__name__title">
                            <nuxt-link to="/user/dashboard">{{
                              userObject.display_name ? userObject.display_name : userObject.user_login
                            }}</nuxt-link>
                          </div> -->
                          <div class="header__right__login__popup__user__name__desc">
                            {{ language("Balance:") }} {{ addCommas(totalBalance.toString()) }}
                            <svg data-v-e5dff69a="" viewBox="0 0 24 24">
                              <path
                                data-v-e5dff69a=""
                                d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z"
                              ></path>
                            </svg>
                          </div>
                          <!-- <nuxt-link to="/user/balance">
                            <div class="header__right__login__popup__user__name__desc">
                              {{ language("Balance:") }} {{ addCommas(totalBalance.toString()) }}
                              <svg data-v-e5dff69a="" viewBox="0 0 24 24">
                                <path
                                  data-v-e5dff69a=""
                                  d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z"
                                ></path>
                              </svg>
                            </div>
                          </nuxt-link> -->
                        </div>
                      </div>
                      <!-- <div class="profile__layout__left__body__title" v-on:click="() => { openItemPopup = 'setting' }">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                          <path
                            d="M495.9 166.6C499.2 175.2 496.4 184.9 489.6 191.2L446.3 230.6C447.4 238.9 448 247.4 448 256C448 264.6 447.4 273.1 446.3 281.4L489.6 320.8C496.4 327.1 499.2 336.8 495.9 345.4C491.5 357.3 486.2 368.8 480.2 379.7L475.5 387.8C468.9 398.8 461.5 409.2 453.4 419.1C447.4 426.2 437.7 428.7 428.9 425.9L373.2 408.1C359.8 418.4 344.1 427 329.2 433.6L316.7 490.7C314.7 499.7 307.7 506.1 298.5 508.5C284.7 510.8 270.5 512 255.1 512C241.5 512 227.3 510.8 213.5 508.5C204.3 506.1 197.3 499.7 195.3 490.7L182.8 433.6C167 427 152.2 418.4 138.8 408.1L83.14 425.9C74.3 428.7 64.55 426.2 58.63 419.1C50.52 409.2 43.12 398.8 36.52 387.8L31.84 379.7C25.77 368.8 20.49 357.3 16.06 345.4C12.82 336.8 15.55 327.1 22.41 320.8L65.67 281.4C64.57 273.1 64 264.6 64 256C64 247.4 64.57 238.9 65.67 230.6L22.41 191.2C15.55 184.9 12.82 175.3 16.06 166.6C20.49 154.7 25.78 143.2 31.84 132.3L36.51 124.2C43.12 113.2 50.52 102.8 58.63 92.95C64.55 85.8 74.3 83.32 83.14 86.14L138.8 103.9C152.2 93.56 167 84.96 182.8 78.43L195.3 21.33C197.3 12.25 204.3 5.04 213.5 3.51C227.3 1.201 241.5 0 256 0C270.5 0 284.7 1.201 298.5 3.51C307.7 5.04 314.7 12.25 316.7 21.33L329.2 78.43C344.1 84.96 359.8 93.56 373.2 103.9L428.9 86.14C437.7 83.32 447.4 85.8 453.4 92.95C461.5 102.8 468.9 113.2 475.5 124.2L480.2 132.3C486.2 143.2 491.5 154.7 495.9 166.6V166.6zM256 336C300.2 336 336 300.2 336 255.1C336 211.8 300.2 175.1 256 175.1C211.8 175.1 176 211.8 176 255.1C176 300.2 211.8 336 256 336z" />
                        </svg>{{ language("General Setting") }} <div class="profile__layout__left__body__title__button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                            v-if="openItemPopup === 'setting'">
                            <path
                              d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" v-else>
                            <path
                              d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z" />
                          </svg>

                        </div>
                      </div> -->
                      <!-- <div
                        :class="
                          openItemPopup === 'setting'
                            ? 'profile__layout__left__body__transition setting'
                            : 'profile__layout__left__body__transition'
                        "
                      >
                        <nuxt-link :to="'/user/dashboard'">
                          <div
                            :class="($route.fullPath === '/user/dashboard') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                            {{ language("General Information") }}
                          </div>
                        </nuxt-link>
                        <nuxt-link :to="'/user/notification'">
                          <div
                            :class="($route.fullPath === '/user/notification') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                            {{ language("Notification Setting") }}
                          </div>
                        </nuxt-link>

                        <nuxt-link :to="'/user/language'">
                          <div
                            :class="($route.fullPath === '/user/language') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                            {{ language("Language") }}
                          </div>
                        </nuxt-link>

                        <nuxt-link :to="'/user/security'">
                          <div
                            :class="($route.fullPath === '/user/security') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                            Security Setting
                          </div>
                        </nuxt-link>
                      </div> -->

                      <!-- <div class="profile__layout__left__body__title" v-on:click="() => { openItemPopup = 'general' }">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                          <path
                            d="M96 0C107.5 0 117.4 8.19 119.6 19.51L121.1 32H541.8C562.1 32 578.3 52.25 572.6 72.66L518.6 264.7C514.7 278.5 502.1 288 487.8 288H170.7L179.9 336H488C501.3 336 512 346.7 512 360C512 373.3 501.3 384 488 384H159.1C148.5 384 138.6 375.8 136.4 364.5L76.14 48H24C10.75 48 0 37.25 0 24C0 10.75 10.75 0 24 0H96zM128 464C128 437.5 149.5 416 176 416C202.5 416 224 437.5 224 464C224 490.5 202.5 512 176 512C149.5 512 128 490.5 128 464zM512 464C512 490.5 490.5 512 464 512C437.5 512 416 490.5 416 464C416 437.5 437.5 416 464 416C490.5 416 512 437.5 512 464z" />
                        </svg>{{ language("Order") }} <div class="profile__layout__left__body__title__button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                            v-if="openItemPopup === 'general'">
                            <path
                              d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" v-else>
                            <path
                              d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z" />
                          </svg>

                        </div>
                      </div> -->
                      <!-- <div
                        :class="
                          openItemPopup === 'general'
                            ? 'profile__layout__left__body__transition general'
                            : 'profile__layout__left__body__transition'
                        "
                      >
                        <nuxt-link :to="'/user/order'">
                          <div class="profile__layout__left__body__item">
                            {{ language("Order History") }}
                          </div>
                        </nuxt-link>
                        <nuxt-link :to="'/user/balance'">
                          <div
                            :class="($route.fullPath === '/user/balance') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                            {{ language("Balance & Transactions") }}
                          </div>
                        </nuxt-link>
                        <a :href="'/chat/list'">
                          <div class="profile__layout__left__body__item">
                            {{ language("Chat Manager") }}
                          </div>
                        </a>
                      </div> -->

                      <div
                        class="profile__layout__left__body__title"
                        v-on:click="
                          () => {
                            openItemPopup = 'advisor';
                          }
                        "
                      >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                          <path
                            d="M248 167.5l64.9 98.8H183.1l64.9-98.8zM496 256c0 136.9-111.1 248-248 248S0 392.9 0 256 111.1 8 248 8s248 111.1 248 248zm-99.8 82.7L248 115.5 99.8 338.7h30.4l33.6-51.7h168.6l33.6 51.7h30.2z"
                          /></svg
                        >{{ language("Advisor Setting") }}
                        <div class="profile__layout__left__body__title__button">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 384 512"
                            v-if="openItemPopup === 'advisor'"
                          >
                            <path
                              d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"
                            />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" v-else>
                            <path
                              d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
                            />
                          </svg>
                        </div>
                      </div>
                      <div
                        :class="
                          openItemPopup === 'advisor'
                            ? 'profile__layout__left__body__transition advisor'
                            : 'profile__layout__left__body__transition'
                        "
                      >
                        <nuxt-link :to="'/user/advisor'">
                          <div
                            :class="
                              $route.fullPath === '/user/advisor'
                                ? 'profile__layout__left__body__item active'
                                : 'profile__layout__left__body__item'
                            "
                          >
                            {{ language("Advisor Setting") }}
                          </div>
                        </nuxt-link>
                        <nuxt-link :to="'/user/general-service'">
                          <div
                            :class="
                              $route.fullPath === '/user/general-service'
                                ? 'profile__layout__left__body__item active'
                                : 'profile__layout__left__body__item'
                            "
                          >
                            {{ language("My Services") }}
                          </div>
                        </nuxt-link>
                        <nuxt-link :to="'/user/invoices'">
                          <div
                            :class="
                              $route.fullPath === '/user/invoices'
                                ? 'profile__layout__left__body__item active'
                                : 'profile__layout__left__body__item'
                            "
                          >
                            {{ language("Invoices") }}
                          </div>
                        </nuxt-link>
                        <nuxt-link :to="'/user/withdrawal'">
                          <div
                            :class="
                              $route.fullPath === '/user/withdrawal'
                                ? 'profile__layout__left__body__item active'
                                : 'profile__layout__left__body__item'
                            "
                          >
                            {{ language("Withdrawal") }}
                          </div>
                        </nuxt-link>
                        <nuxt-link :to="'/user/payment'">
                          <div
                            :class="
                              $route.fullPath === '/user/payment'
                                ? 'profile__layout__left__body__item active'
                                : 'profile__layout__left__body__item'
                            "
                          >
                            {{ language("Payment Setting") }}
                          </div>
                        </nuxt-link>
                      </div>

                      <div class="w-100">
                        <button class="btn btn-outline-secondary w-100 btn-sm mt-3 mb-3" v-on:click="handleLogout()">
                          {{ language("Logout") }}
                        </button>
                      </div>
                    </ul>
                  </div>
                </div>
              </client-only>
            </div>
            <div class="header__center">
              <client-only>
                <ul v-if="!userObject">
                  <nuxt-link :to="'/article'">
                    <li>{{ language("Articles") }}</li>
                  </nuxt-link>
                  <nuxt-link :to="'/horoscope'">
                    <li>{{ language("Horoscopes") }}</li>
                  </nuxt-link>
                  <nuxt-link :to="'/need-help'">
                    <li>{{ language("Need Helps") }}</li>
                  </nuxt-link>
                  <nuxt-link :to="'/questions'">
                    <li>{{ language("Q&A") }}</li>
                  </nuxt-link>
                </ul>
                <ul v-if="userObject">
                  <nuxt-link :to="'/article'">
                    <li>{{ language("Articles") }}</li>
                  </nuxt-link>
                  <nuxt-link :to="'/horoscope'">
                    <li>{{ language("Horoscopes") }}</li>
                  </nuxt-link>
                  <nuxt-link :to="'/need-help'">
                    <li>{{ language("Need Helps") }}</li>
                  </nuxt-link>
                  <nuxt-link :to="'/questions'">
                    <li>{{ language("Q&A") }}</li>
                  </nuxt-link>
                  <!-- <nuxt-link :to="'/advisor'">
                    <li>{{ language("Advisors") }}</li>
                  </nuxt-link>
                  <nuxt-link :to="'/horoscope'">
                    <li>{{ language("Horoscopes") }}</li>
                  </nuxt-link>
                  <nuxt-link :to="'/user/order'">
                    <li>{{ language("Orders") }}</li>
                  </nuxt-link>
                  <nuxt-link :to="'/user/dashboard'">
                    <li>{{ language("Setting") }}</li>
                  </nuxt-link> -->
                </ul>
              </client-only>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header__bg"></div>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
import { stringProcess } from "~/modules/stringProcess.js";
import { loginService } from "~/services/login.service";
import Rating from "../Default/Rating.vue";
import socket from "~/plugins/socket.io.js";
import { flagModule } from "../../modules/flags";
import { advisorService } from "~/services/advisor.service";
import { transactionsService } from "~/services/transactions.service";
export default {
  name: "q-header",
  data() {
    return {
      searchText: "",
      openPopup: false,
      openPopupSearch: false,
      timeOutSearch: null,
      advisorObject: [],
      loadingSearch: false,
      openMobileSearch: false,
      isHiddenTopBar: false,
      totalBalance: 0,
      firstGetBalance: true,
      openItemPopup: "setting",
    };
  },
  components: { Rating },
  computed: {
    userToken() {
      return this.$store.state.userToken;
    },
    userObject() {
      return this.$store.state.userObject;
    },
  },
  created() {
    var self = this;
    if (process.client) {
      window.addEventListener("scroll", self.handleScroll, true);
    }
  },

  watch: {
    "$route.params": {
      handler(newValue) {
        this.openPopup = false;
        this.openPopupSearch = false;
        this.openMobileSearch = false;
        window.scrollTo(0, 0);
      },
    },
    searchText(newData) {
      this.openPopupSearch = true;
      clearTimeout(this.timeOutSearch);
      let self = this;
      this.timeOutSearch = setTimeout(() => {
        self.handleSearchAdvisor(newData);
      }, 500);
    },
  },
  methods: {
    handleScroll() {
      var self = this;
      if (document.documentElement.scrollTop > 30) {
        this.isHiddenTopBar = true;
      } else {
        this.isHiddenTopBar = false;
      }
    },
    getFlagByCode(code) {
      if (!code) {
        return "";
      }
      code = code.toUpperCase();
      let dataFlag = flagModule.findFlagByCode(code);
      if (dataFlag) {
        return dataFlag.image;
      } else {
        return "";
      }
    },
    handleLogout() {
      loginService.logout(this.userToken);
      this.$store.commit("logout", true);
      this.openPopup = false;
      window.location.href = "/";
    },
    handleOpenPopup() {
      this.openPopup = !this.openPopup;
      if (this.firstGetBalance && this.userToken) {
        this.handleGetBalance(1, 1, this.userToken);
        this.firstGetBalance = false;
      }
    },
    handleSearchAdvisor(keyword) {
      this.loadingSearch = true;
      let dataFilter = {
        page: 1,
        limit: 8,
        display_name: keyword,
        user_role: "advisor",
      };
      advisorService
        .getAllAdvisor(dataFilter)
        .then((response) => {
          if (response.data) {
            this.advisorObject = response.data;
          }
          this.loadingSearch = false;
        })
        .catch((error) => {
          this.loadingSearch = false;
        });
    },
    handleSearchFirst() {
      if (!this.searchText) {
        this.openPopupSearch = true;
        this.handleSearchAdvisor("");
      }
    },
    handleOpenPopupSearch() {
      this.openPopupSearch = !this.openPopupSearch;
    },
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    handleGetBalance(balancePage, balanceLimit, authCode) {
      transactionsService
        .getTransactions(balancePage, balanceLimit, authCode)
        .then((response) => {
          if (response && response.data) {
            if (balancePage === 1 && response.data && response.data[0]) {
              this.totalBalance = response.data[0].transaction_new_balance;
            }
          }
        })
        .catch((error) => {});
    },
    addCommas(value) {
      return stringProcess.addCommas(value);
    },
  },
};
</script>

<style lang="scss">
@import "~/assets/scss/variables.scss";

.header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px #efefef solid;
  position: fixed;
  top: 0;
  z-index: 6;
  transition: 300ms all;

  &.hidden {
    height: 70px;

    @include breakpoint(phablet) {
      height: 60px;
    }
  }

  @include breakpoint(phablet) {
    height: 60px;
  }

  &__new_bottom {
    width: 100%;
    height: 60px;
    float: left;
    margin-top: 0px;

    @include breakpoint(phablet) {
      height: 70px;
      margin-top: 0;
    }
  }

  &__new_top {
    width: 100%;
    height: 30px;
    float: left;
    background: #efefef;
    transition: 300ms all;

    &.hidden {
      height: 0;
      overflow: hidden;
    }

    @include breakpoint(phablet) {
      display: none;
    }

    &__left {
      width: 50%;
      float: left;

      &__item {
        float: left;
        margin-right: 8px;
        font-size: 12px;
        color: $textColor;
        margin-top: 6px;
        font-weight: 400;

        svg {
          width: 14px;
          height: 14px;
          fill: rgba($textColor, 0.7);
          margin-left: 5px;
          margin-right: 5px;
          margin-top: -0.5px;
        }

        a {
          color: $textColor;
        }
      }
    }

    &__right {
      width: 50%;
      float: right;

      &__item {
        float: right;
        margin-right: 8px;
        font-size: 12px;
        color: $textColor;
        margin-top: 6px;
        font-weight: 400;

        svg {
          width: 14px;
          height: 14px;
          fill: rgba($textColor, 0.7);
          margin-left: 5px;
          margin-right: 5px;
          margin-top: 0px;
        }

        a {
          color: $textColor;
        }
      }
    }
  }

  .header_mobile__tool_search {
    display: none;
    position: absolute;
    top: 0;
    left: 10px;
    right: 60px;
    height: 60px;
    margin: 0px 10px;
    background: #fff;
    padding: 12px 0 10px 0;

    @include breakpoint(phablet) {
      display: block;
    }
  }

  .header_mobile__tool_menu {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    margin: 0px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
    background: #fff;
    padding: 20px;
    z-index: 10000000000;

    @include breakpoint(phablet) {
      display: block;
    }

    &__header {
      border-bottom: 1px #efefef solid;
      height: 70px;

      &__footer {
        height: 60px;
        bottom: 0;
        padding: 8px 20px 0px 20px;
        width: 300px;
        left: 0;
        right: 0;
        position: absolute;
        width: 100%;
        border-top: 1px #efefef solid;

        .col {
          padding: 4px !important;
        }

        &__border {
          width: 100%;
          float: left;
        }

        &__avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          float: left;

          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
          }
        }

        &__name {
          width: calc(100% - 40px - 70px);
          float: left;
          padding: 0 8px;

          &__title {
            font-weight: 700;
            font-size: 14px;
            margin-top: -4px;
            color: $textColor;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          &__desc {
            width: 100%;
            color: #aaa;
            font-size: 12px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        &__button {
          width: 70px;
          float: left;

          button {
            font-size: 10px;
            font-weight: 900;
            margin-top: 2px;
            height: 40px;
          }
        }
      }
    }
  }

  .header_mobile_menu {
    display: none;
    position: absolute;
    top: 0;
    left: 2px;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;

    &:hover {
      background-color: $primaryBackground;
    }

    svg {
      width: 20px;
      height: 20px;
      margin: 10px;
      fill: #888;
    }

    @include breakpoint(phablet) {
      display: block;
    }
  }

  .header_mobile_search {
    display: none;
    position: absolute;
    top: 0;
    right: 2px;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    fill: #888;

    &:hover {
      background-color: $primaryBackground;
    }

    svg {
      width: 20px;
      height: 20px;
      margin: 10px;
    }

    @include breakpoint(phablet) {
      display: block;
    }
  }

  @include breakpoint(phablet) {
    height: 60px;
  }

  &__bg {
    width: 100%;
    float: left;
    height: 100px;

    @include breakpoint(phablet) {
      height: 60px;
    }
  }

  &__block {
    width: 100%;
    float: left;
    height: 70px;
  }

  .header__logo {
    width: 140px;
    float: left;
    margin: 10px 0 0 0;

    @include breakpoint(phablet) {
      width: 200px;
      margin: 0 auto;
      float: unset;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    p {
      font-weight: 700;
      font-size: 20px;
      color: $primaryColor;
      line-height: 50px;
      float: left;
      margin-left: 8px;
      letter-spacing: -1px;

      @include breakpoint(phablet) {
        line-height: 40px;
      }
    }

    &__block {
      width: 40px;
      height: 40px;
      float: left;
      background-color: #661697;
      border-radius: 10px;
      margin-top: 4px;

      img {
        height: 30px;
        width: auto;
        margin: 5px 5px;
      }

      @include breakpoint(phablet) {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        margin-top: 0px;

        img {
          height: 30px;
          width: auto;
          margin: 5px 5px;
        }
      }
    }
  }

  .header__search {
    width: calc(100% - 340px - 170px - 200px);
    float: left;
    position: relative;

    &.big {
      width: calc(100% - 340px - 90px - 200px);
    }

    @include breakpoint(phablet) {
      display: none;
    }

    &__block {
      width: 100%;
      margin-top: 16px;
      float: left;
      position: relative;

      @include breakpoint(phablet) {
        margin-top: 0;
      }

      &__bg {
        width: 100%;
        position: fixed;
        top: 90px;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10000;

        @include breakpoint(phablet) {
          top: 60px;
        }
      }

      &__popup {
        left: 20px;
        width: 500px;
        height: auto;
        top: 100px;
        position: absolute;
        background-color: #fff;
        z-index: 100000;
        min-height: 50px;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        &.hidden {
          top: 70px;

          @include breakpoint(phablet) {
            top: 60px;
          }
        }

        @include breakpoint(phablet) {
          top: 60px;
          left: 0;
          right: 0;
          height: calc(100vh);
          border-radius: 0;
          width: 100%;
        }

        &__empty {
          padding: 20px;
          text-align: center;
        }

        &__item {
          cursor: pointer;
          user-select: none;
          font-weight: 700;
          width: 100%;
          float: left;
          padding: 8px 20px;

          &__left {
            width: 50px;
            height: 50px;
            float: left;

            &__avatar {
              width: 50px;
              height: 50px;
              float: left;
              border-radius: 50%;
              overflow: hidden;

              &__flag {
                width: 20px;
                height: 20px;
                float: left;
                margin-right: 6px;
                margin-top: -2px;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }

          &__right {
            width: calc(100% - 50px);
            float: left;
            padding: 0 15px;

            &__rating {
              width: 100%;
              float: left;

              &__item {
                width: 100%;
                float: left;
              }
            }

            p {
              float: left;
              line-height: 20px;
              margin-right: 8px;
              margin-top: 4px;
            }

            .tarot_starview {
              float: left;
            }

            .tarot_starview svg {
              fill: #aaa;
              width: 17px;
              height: 17px;

              &.active {
                fill: #ffb703;
              }
            }

            &__title {
              width: 100%;
              float: left;
              font-size: 16px;
              color: $textColor;
              font-weight: 400;
            }
          }

          &:hover {
            background-color: $primaryBackground;
          }
        }
      }

      &__svg {
        position: absolute;
        top: 15px;
        left: 15px;
        fill: #ccc;
        width: 18px;
        height: 18px;
        margin-top: -6px;
      }

      input {
        padding-left: 40px;
        font-size: 16px;
      }
    }
  }

  .header__center {
    width: 340px;
    float: left;

    @include breakpoint(phablet) {
      display: none;
    }

    ul {
      width: 100%;
      float: left;
      margin-top: 14px;
      padding-left: 8px;

      li {
        float: left;
        list-style-type: none;
        margin: 0 8px;
        line-height: 36px;
        color: $textColor;
        font-weight: 700;
        font-size: 14px;
      }
    }
  }

  .header__right {
    width: 230px;
    float: right;
    margin-top: 14px;

    @include breakpoint(phablet) {
      display: none;
    }

    &.small {
      width: 90px;
    }

    &__gift {
      width: 36px;
      height: 36px;
      float: left;
      margin-right: 10px;

      svg {
        width: 20px;
        height: 20px;
        margin: 8px;
        fill: #aaa;
      }
    }

    &__login {
      float: right;
      line-height: 36px;
      font-size: 14px;
      position: relative;

      &__popup {
        right: 0;
        width: 300px;
        height: auto;
        top: 55px;
        position: absolute;
        background-color: #fff;
        z-index: 100000;
        min-height: 100px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 16px;
        overflow: hidden;

        &__user {
          width: 100%;
          float: left;
          margin-top: 20px;
          border-bottom: 1px #efefef solid;
          padding-bottom: 10px;

          &__avatar {
            width: 46px;
            height: 46px;
            float: left;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &__name {
            width: calc(100% - 46px);
            padding: 0 0 0 16px;
            float: left;

            &__title {
              width: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              font-size: 16px;
              font-weight: 700;
              line-height: 1;
            }

            &__desc {
              background: #ee9b00;
              padding: 5px 12px;
              border-radius: 8px;
              font-weight: 700;
              display: inline-block;
              color: #fff;
              line-height: 1;

              svg {
                width: 16px;
                height: 16px;
                fill: #fff;
                margin-top: -2px;
              }
            }
          }
        }

        @include breakpoint(phablet) {
          display: none;
        }

        &__bg {
          width: 100%;
          position: fixed;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: 10000;

          @include breakpoint(phablet) {
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
      }

      &__avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      a {
        color: $textColor;
        font-weight: 700;
      }
    }
  }

  ul.list-group {
    overflow-y: auto;
    padding: 0 16px;

    @include breakpoint(phablet) {
      height: calc(100% - 130px);
      padding-bottom: 40px;
      width: calc(100% + 20px);
      margin-right: -20px;
      padding: 0;
      padding-right: 20px;
    }
  }

  .list-group-item {
    cursor: pointer;
    user-select: none;
    font-weight: 700;
    padding: 0px 8px !important;
    border: 0 !important;
    color: $primaryColor;

    @include breakpoint(phablet) {
      padding: 10px 0 !important;
      border: none;
      border-bottom: 1px #efefef solid !important;
    }

    svg {
      width: 18px;
      margin-right: 8px;
      margin-top: -2px;
      fill: $primaryColor;
    }

    &:hover {
      background-color: $primaryBackground;
    }
  }
}

.profile__layout {
  width: 100%;
  float: left;

  &__left {
    float: left;

    @include breakpoint(mobile) {
      width: 100% !important;
      display: none;

      &.user_menu {
        display: block;
        padding-top: 20px;
      }
    }

    &__body {
      width: 100%;
      position: -webkit-sticky;
      position: sticky;
      top: 120px;
      padding-bottom: 70px;

      &__transition {
        transition: 300ms all;
        height: 0px;
        overflow: hidden;
        width: 100%;
        float: left;

        &.advisor {
          height: 144px;
        }

        &.general {
          height: 108px;
        }

        &.setting {
          height: 72px;
        }
      }

      &__title {
        width: 100%;
        font-weight: 700;
        color: $primaryColor;
        margin: 10px 0 0px 0;
        padding-bottom: 8px;
        position: relative;
        border-bottom: 1px #efefef solid;
        cursor: pointer;
        user-select: none;

        &__button {
          position: absolute;
          top: 0px;
          right: 6px;

          svg {
            width: 18px;
            height: 18px;
          }
        }

        @include breakpoint(phablet) {
          margin-bottom: 8px;
          border-bottom: 1px #efefef solid;
        }

        &.hover {
          cursor: pointer;
        }

        svg {
          width: 20px;
          fill: $primaryColor;
          margin-top: -2px;
          margin-right: 6px;
        }
      }

      &__item {
        padding: 0px 16px;
        font-size: 16px;
        cursor: pointer;
        color: $textColor;
        user-select: none;
        font-weight: 400;
        transition: 300ms all;

        @include breakpoint(phablet) {
          padding: 8px 16px;
        }

        a {
          color: $textColor;
        }

        &.active {
          background-color: #2a9d8f;
          color: #fff;
          font-weight: 700;
          font-size: 14px;

          a {
            color: #fff;
          }

          &:hover {
            background-color: #2a9d8f;
            color: #fff;
            font-weight: 700;
            font-size: 14px;

            a {
              color: #fff;
            }
          }
        }

        &:hover {
          background-color: #efefef;
          color: $textColor;
          font-weight: 400;

          a {
            color: $textColor;
          }
        }
      }
    }
  }
}
</style>
