<template>
  <div class="advisor_detail_detail">

    <section>
      <advisor-component :dataAdvisor="dataAdvisor" />
    </section>

    <div v-if="dataAdvisorTop.length">
      <new-advisors :advisorNew="dataAdvisorTop" />
    </div>
  </div>
</template>
<script>

import AdvisorComponent from "../../components/Advisor/AdvisorComponent.vue";
import NewAdvisors from "~/components/Homepage/NewAdvisors.vue";
import { advisorService } from '../../services/advisor.service';
import { userServiceService } from "../../services/user.service.service";
export default {
  name: "advisor_detail",
  components: {
    AdvisorComponent,
    NewAdvisors
  },
  created() {
    this.handleGetNewAdvisor();
    let self = this;
    setTimeout(() => {
      this.handleGetOnlineUser();
    }, 800);
    setInterval(() => {
      this.handleGetOnlineUser();
    }, 60000)
  },
  data() {
    return {
      dataAdvisorTop: [],
    }
  },
  async asyncData({ env, params, redirect }) {
    try {
      let advisorSlug = params.slug;
      let detailAdvisor = await advisorService
        .getAdvisorDetail(advisorSlug)
        .then((response) => {
          return response;
        })
        .catch((error) => {
          return null;
        });
      if (detailAdvisor && detailAdvisor.data) {
        return {
          dataAdvisor: detailAdvisor.data,
        };
      } else {
        return redirect('/error');
      }
    } catch (error) {
      return redirect('/error');
    }
  },
  methods: {
     handleGetOnlineUser() {
      userServiceService.getOnlineUser().then((response) => {
        let data = [];
        if (response && response.data) {
          for (let userItem of response.data) {
            data.push(Number(userItem.user_id));
          }
        }
        this.$store.commit('setOnlineUser', data);
      }).catch(error => {
        this.$store.commit('setOnlineUser', []);
      });
    },
    handleGetNewAdvisor() {
      advisorService
        .getNewAdvisor(1, 6)
        .then((response) => {
          this.dataAdvisorTop = response;
        })
        .catch((error) => {
          this.dataAdvisorTop = [];
        });
    },
  }
};
</script>


<style lang="scss" scoped>
.advisor_detail_detail {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}
</style>
