<template>
  <div class="category_advisor">
    <div class="body_container">
      <div class="category_advisor__heading">
        <h1>{{ language("All Advisors") }}</h1>
      </div>
      <section>
        <advisor-category-component />
      </section>
    </div>
  </div>
</template>
<script>

import language from "~/modules/language.ts";
import AdvisorCategoryComponent from "~/components/Advisor/AdvisorCategoryComponent.vue";
import { userServiceService } from "../../services/user.service.service";
export default {
  name: "advisor_category",
  components: {
    AdvisorCategoryComponent
  },
  data() {
    return {}
  },
  created() {
    let self = this;
    setTimeout(() => {
      this.handleGetOnlineUser();
    }, 800);
    setInterval(() => {
      this.handleGetOnlineUser();
    }, 60000)
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    handleGetOnlineUser() {
      userServiceService.getOnlineUser().then((response) => {
        let data = [];
        if (response && response.data) {
          for (let userItem of response.data) {
            data.push(Number(userItem.user_id));
          }
        }
        this.$store.commit('setOnlineUser', data);
      }).catch(error => {
        this.$store.commit('setOnlineUser', []);
      });
    }
  }
};
</script>


<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.category_advisor {
  width: 100%;
  float: left;
  margin-bottom: 50px;

  &__heading {
    h1 {
      width: 100%;
      float: left;
      font-size: 36px;
      letter-spacing: 0px;
      font-weight: 700;
      color: $textColor;
      margin-top: 30px;
      text-align: left;
      line-height: 1.3;

      @include breakpoint(phablet) {
        margin-top: 30px;
        text-align: left;
        font-size: 30px;
      }
    }

  }
}
</style>
