<template>
  <div>
    <become-advisor-component/>
  </div>
</template>

<script>
import BecomeAdvisorComponent from '~/components/Advisor/BecomeAdvisorComponent.vue';

export default {
  name: "new_advisor",
  components: {
    BecomeAdvisorComponent
  },
  scrollToTop: true
};
</script>
