<template>
  <div>
    <app-store-big/>
    <info/>
  </div>
</template>
 
<script>
import AppStoreBig from '~/components/Homepage/AppStoreBig.vue';

export default {
  name: "download",
  components: {
    AppStoreBig
  },
};
</script>
