<template>
  <div class="horoscope__parent">
    <block-horoscope />
    <div v-if="dataAdvisor.length"><new-advisors :advisorNew="dataAdvisor" /></div>
    <popular-articles />
  </div>
</template>

<script>
import PopularArticles from "~/components/Homepage/PopularArticles.vue";
import Horoscopes from "~/components/Horoscope/Horoscope.vue";
import NewAdvisors from "~/components/Homepage/NewAdvisors.vue";
import { advisorService } from "../services/advisor.service";

export default {
  name: "horoscope",
  components: {
    PopularArticles,
    "block-horoscope": Horoscopes,
    NewAdvisors,
  },
  data() {
    return {
      dataAdvisor: [],
    };
  },
  created() {
    this.handleGetNewAdvisor();
  },
  methods: {
    handleGetNewAdvisor() {
      advisorService
        .getNewAdvisor(1, 6)
        .then((response) => {
          this.dataAdvisor = response;
        })
        .catch((error) => {
          this.dataAdvisor = [];
        });
    },
  },
};
</script>

<style lang="scss" scope>
.horoscope__parent {
  padding-bottom: 50px;
  width: 100%;
  float: left;
}
</style>
