<template>
  <div>
    <banner />
    <new-advisors :advisorNew="advisorNew" />
    <topic :topicArray="topicArray" />
    <div class="body_total">
      <div class="body_container">
        <top-advisors :topAdvisor="topAdvisor" :isCategory="false" />
      </div>
    </div>

    <popular-articles />
    <need-help />
    <questions />
    <app-store />
    <info />
  </div>
</template>

<script>
import Banner from "~/components/Homepage/Banner.vue";
import Topic from "~/components/Homepage/Topic.vue";
import NewAdvisors from "~/components/Homepage/NewAdvisors.vue";
import PopularArticles from "~/components/Homepage/PopularArticles.vue";
import TopAdvisors from "~/components/Homepage/TopAdvisors.vue";
import NeedHelp from "~/components/Homepage/NeedHelp.vue";
import AppStore from "~/components/Homepage/AppStore.vue";
import Questions from "~/components/Homepage/Questions.vue";

import { advisorService } from "../services/advisor.service";
import { topicService } from "../services/topic.service";
import Info from "~/components/Homepage/Info.vue";
import { userServiceService } from "../services/user.service.service";

export default {
  name: "homepage",
  scrollToTop: true,
  async asyncData({ env }) {
    try {
      env.NODE_TLS_REJECT_UNAUTHORIZED = false;
      let dataAdvisor = await advisorService
        .getNewAdvisor(1, 10)
        .then((response) => {
          return response;
        })
        .catch((error) => {
          return [];
        });
      let load_more = false;
      if (dataAdvisor.length == 5) {
        load_more = true;
      }
      let topicArray = await topicService
        .getTopics(1, 30)
        .then((response) => {
          return response;
        })
        .catch((error) => {
          return [];
        });

      return {
        advisorNew: dataAdvisor,
        topAdvisor: dataAdvisor,
        topicArray: topicArray,
        advisorLoadMore: load_more,
      };
    } catch (error) {
      return {
        advisorNew: [],
        topAdvisor: [],
        topicArray: [],
        advisorLoadMore: false,
      };
    }
  },
  created() {
    let self = this;
    setTimeout(() => {
      this.handleGetOnlineUser();
    }, 800);
    setInterval(() => {
      this.handleGetOnlineUser();
    }, 60000);
  },
  methods: {
    handleGetOnlineUser() {
      userServiceService
        .getOnlineUser()
        .then((response) => {
          let data = [];
          if (response && response.data) {
            for (let userItem of response.data) {
              data.push(Number(userItem.user_id));
            }
          }
          this.$store.commit("setOnlineUser", data);
        })
        .catch((error) => {
          this.$store.commit("setOnlineUser", []);
        });
    },
  },
  components: {
    Banner,
    NewAdvisors,
    Topic,
    TopAdvisors,
    PopularArticles,
    NeedHelp,
    Questions,
    AppStore,
    Info,
  },
};
</script>

<style lang="scss" scoped>
.body_total {
  width: 100%;
  float: left;
}
</style>
