<template>
  <div>
    <div class="body_container">
      <section>
        <need-help-component/>
      </section>
    </div>
  </div>
</template>
<script>

import NeedHelpComponent from "../components/NeedHelp/NeedHelpComponent.vue";
export default {
  name: "need_help",
  components: {
    NeedHelpComponent
  }
};
</script>
