<template>
  <div>
    <div class="body_container">
      <h1 class="policies_heading">Fuda Policies</h1>
      <section>
        <p>MOBILE APP PRIVACY POLICY</p>
        <h2>FUDA</h2>
        <p>Last updated [June 16th, 2022]</p>
        <p>
          We respect the privacy of our users. This Privacy Policy explains how we collect, use, disclose, and safeguard
          your information after you visit our mobile application (the “Fuda”). Please read this Privacy Policy
          carefully. IF you are doing NOT believe THE TERMS OF THIS PRIVACY POLICY, PLEASE don't ACCESS the appliance.
        </p>
        <p>
          We reserve the correct to create changes to the present Privacy Policy at any time and for any reason. we'll
          warn you about any changes by updating the “Last Updated” date of this Privacy Policy. you're encouraged to
          periodically review this Privacy Policy to remain informed of updates. you'll be deemed to possess been made
          tuned in to, are going to be subject to, and can be deemed to possess accepted the changes in any revised
          Privacy Policy by your continued use of the applying after the date such revised Privacy Policy is posted.
        </p>
        <p>
          This Privacy Policy doesn't apply to the third-party online/mobile store from which you put in the appliance
          or make payments, including any in-game virtual items, which can also collect and use data about you. We don't
          seem to be accountable for any of the info collected by any such third party.
        </p>
        <h2>COLLECTION OF YOUR INFORMATION</h2>
        <p>
          We may collect information about you in a variety of ways. The information we may collect through the
          Application depends on the content and materials you use and includes:&nbsp;
        </p>
        <p>Personal Data</p>
        <p>
          Demographic and other personally identifiable information (such as your name and email address) that you
          voluntarily give to us when choosing to participate in various activities related to the Application, such as
          chat, posting messages in comment sections or our forums, liking posts, sending feedback, and responding to
          surveys. If you choose to share data about yourself via your profile, online chat, or other interactive areas
          of the Application, please be advised that all data you disclose in these areas is public and your data will
          be accessible to anyone who accesses the Application.
        </p>
        <h2>Derivative Data &nbsp;</h2>
        <p>
          The information our servers automatically collect when you access the Application, such as your native actions
          that are integral to the Fudalyworld, including liking, re-blogging, or replying to a post, as well as other
          interactions with the Application and other users via server log files.&nbsp;
        </p>
        <h2>Financial Data</h2>
        <p>
          Financial information, like data associated with your payment method (e.g. valid mastercard number, card
          brand, expiration date) that we may collect once you purchase, order, return, exchange, or request information
          about our services from the Fuda. [We store only very limited, if any, financial information that we collect.
          Otherwise, all financial information is stored by our payment processor,
          <a href="https://payments.google.com/payments/apis-secure/get_legal_document?ldo=0&ldt=privacynotice"
            >Google Checkout,</a
          >
          <a href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full">Paypal</a>, and you're encouraged to review
          their privacy policy and speak to them directly for responses to your questions.
        </p>
        <h2>Facebook Permissions</h2>
        <p>
          The Application may by default access your Facebook basic account information, including your name, email,
          gender, birthday, current city, and profile picture URL, moreover as other information that you simply like
          better to make public. We can also request access to other permissions associated with your accounts, like
          friends, check-ins, and likes, and you will favor to grant or deny us access to every permission. For more
          information regarding Facebook permissions, see the Facebook Permissions Reference page.
        </p>
        <h2>Data from Social Networks &nbsp;</h2>
        <p>
          User information from social networking sites, like Facebook, Google+ Instagram, Pinterest, or Twitter,
          including your name, your social network username, location, gender, birth date, email address, profile
          picture, and public data for contacts, if you connect your account to such social networks. This information
          might also include the contact information of anyone you invite to use and/or join the Fuda.
        </p>
        <h2>Geo-Location Information</h2>
        <p>
          We may request access or permission to track location-based information from your mobile device, either
          continuously or while you are using the Application, to provide location-based services. If you wish to change
          our access or permissions, you may do so in your device's settings.
        </p>
        <h2>Mobile Device Access</h2>
        <p>
          We may request access or permission to certain features from your mobile device, including your mobile
          device's [bluetooth, calendar, camera, contacts, microphone, reminders, sensors, SMS messages, social media
          accounts, storage,] and other features. If you would like to change our access or permissions, you can do so
          in your device's settings.
        </p>
        <h2>Mobile Device Data</h2>
        <p>
          Device information such as your mobile device ID number, model, and manufacturer, version of your operating
          system, phone number, country, location, and any other data you choose to provide.
        </p>
        <h2>Push Notifications</h2>
        <p>
          We may request to send you to push notifications regarding your account or the Application. If you wish to
          opt-out of receiving these types of communications, you may turn them off in your device's settings.
        </p>
        <h2>Third-Party Data</h2>
        <p>
          Information from third parties, such as personal information or network friends, if you connect your account
          to the third party and grant the Fuda permission to access this information.
        </p>
        <h2>Data From Contests, Giveaways, and Surveys</h2>
        <p>
          Personal and other information may be provided when entering contests or giveaways and/or responding to
          surveys.
        </p>
        <h2>USE OF YOUR INFORMATION</h2>
        <p>
          Having accurate information about you permits us to provide you with a smooth, efficient, and customized
          experience. Specifically, we may use information collected about you through the Fuda to:
        </p>
        <p>1. Administer sweepstakes, promotions, and contests.</p>
        <p>2. Assist enforcement and reply to subpoenas.</p>
        <p>3. Compile anonymous statistical data and analysis to be used internally or with third parties.</p>
        <p>4. Create and manage your account.</p>
        <p>
          5. Deliver targeted advertising, coupons, newsletters, and other information regarding promotions and
          therefore the Fuda to you.
        </p>
        <p>6. Email you regarding your account or order.</p>
        <p>7. Enable user-to-user communications.</p>
        <p>8. Fulfill and manage purchases, orders, payments, and other transactions associated with the Fuda.</p>
        <p>9. Generate a private profile about you to form future visits to the Fuda more personalized.</p>
        <p>10. Increase the efficiency and operation of the Fuda.</p>
        <p>11. Monitor and analyze usage and trends to boost your experience with the Fuda.</p>
        <p>12. Notify you of updates to the appliance.</p>
        <p>13. Offer new products, services, mobile applications, and/or recommendations to you.</p>
        <p>14. Perform other business activities as required.</p>
        <p>15. Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.</p>
        <p>16. Process payments and refunds.</p>
        <p>17. Request feedback and contact you about your use of this application.</p>
        <p>18. Resolve disputes and troubleshoot problems.</p>
        <p>19. Respond to product and customer service requests.</p>
        <p>20. Send you a newsletter.</p>
        <p>21. Solicit support for the application.</p>
        <h2>DISCLOSURE OF YOUR INFORMATION</h2>
        <p>
          We may share information we have collected about you in certain situations. Your information may be disclosed
          as follows:
        </p>
        <h2>By Law or to Protect Rights</h2>
        <p>
          If we believe the release of information about you is necessary to respond to legal process, to investigate or
          remedy potential violations of our policies, or to protect the rights, property, and safety of others, we may
          share your information as permitted or required by any applicable law, rule, or regulation. This includes
          exchanging information with other entities for fraud protection and credit risk reduction.
        </p>
        <h2>Third-Party Service Providers</h2>
        <p>
          We may share your information with third parties that perform services for us or on our behalf, including
          payment processing, data analysis, email delivery, hosting services, customer service, and marketing
          assistance.&nbsp;
        </p>
        <h2>Marketing Communications</h2>
        <p>
          With your consent, or with an opportunity for you to withdraw consent, we may share your information with
          third parties for marketing purposes, as permitted by law.
        </p>
        <h2>Interactions with Other Users</h2>
        <p>
          If you interact with other users of Fuda, those users may see your name, profile photo, and descriptions of
          your activity, including sending invitations to other users, chatting with other users, liking posts, and
          following blogs.
        </p>
        <h2>Online Postings</h2>
        <p>
          When you post comments, contributions, or other content to Fuda, your posts may be viewed by all users and may
          be publicly distributed outside Fuda in perpetuity.
        </p>
        <h2>Third-Party Advertisers</h2>
        <p>
          We may use third-party advertising companies to serve ads when you visit Fuda. These companies may use
          information about your visits to Fuda and other websites that are contained in web cookies to provide
          advertisements about goods and services of interest to you.
        </p>
        <h2>Affiliates</h2>
        <p>
          We may share your information with our affiliates, in which case we will require those affiliates to honor
          this Privacy Policy. Affiliates include our parent company and any subsidiaries, joint venture partners, or
          other companies that we control or that are under common control with us.
        </p>
        <h2>Business Partners</h2>
        <p>
          We may share your information with our business partners to offer you certain products, services, or
          promotions.
        </p>
        <h2>Social Media Contacts &nbsp;</h2>
        <p>
          If you connect to Fuda through a social network, your contacts on the social network will see your name,
          profile photo, and descriptions of your activity.
        </p>
        <p>Other Third Parties</p>
        <p>
          We may share your information with advertisers and investors to conduct general business analysis. We may also
          share your information with such third parties for marketing purposes, as permitted by law.
        </p>
        <h2>Sale or Bankruptcy</h2>
        <p>
          If we reorganize or sell all or some of our assets, undergo a merger, or are acquired by another entity, we
          may transfer your information to the successor entity. If we venture out of business or enter bankruptcy, your
          information would be an asset transferred or acquired by a 3rd party. You acknowledge that such transfers may
          occur which the transferee may decline to honor commitments we made during this Privacy Policy.
        </p>
        <p>
          We don't seem to be answerable for the actions of third parties with whom you share personal or sensitive
          data, and that we haven't any authority to manage or control third-party solicitations. If you now not wish to
          receive correspondence, emails, or other communications from third parties, you're to blame for contacting the
          third party directly.
        </p>
        <h2>TRACKING TECHNOLOGIES</h2>
        <h2>Cookies and Web Beacons</h2>
        <p>
          We may use cookies, web beacons, tracking pixels, and other tracking technologies on Fuda to help customize
          the application and improve your experience. When you access our application, your personal information is not
          collected through the use of tracking technology. Most browsers are set to accept cookies by default. You can
          remove or reject cookies, but be aware that such action could affect the availability and functionality of
          Fuda. You may not decline web beacons. However, they can be rendered ineffective by declining all cookies or
          by modifying your web browser's settings to notify you each time a cookie is tendered, permitting you to
          accept or decline cookies on an individual basis.
        </p>
        <h2>Internet-Based Advertising</h2>
        <p>
          Additionally, we may use third-party software to serve ads on our application, implement email marketing
          campaigns, and manage other interactive marketing initiatives. This third-party software may use cookies or
          similar tracking technology to help manage and optimize your online experience with us. For more information
          about opting out of interest-based ads, visit the<a href="http://www.networkadvertising.org/choices/"
            >&nbsp;Network Advertising Initiative Opt-Out Tool</a
          >
          or<a href="http://www.aboutads.info/choices/">&nbsp;Digital Advertising Alliance Opt-Out Tool</a>.
        </p>
        <h2>Website Analytics</h2>
        <p>
          We may also partner with selected third-party vendors[, such as Cloudfare, Google Analytics..., to allow
          tracking technologies and remarketing services on the app through the use of first-party cookies and
          third-party cookies, to, among other things, analyze and track users' use of the application, determine the
          popularity of certain content, and better understand online activity. By accessing our application, you
          consent to the collection and use of your information by these third-party vendors. You are encouraged to
          review their privacy policy and contact them directly for responses to your questions. We do not transfer
          personal information to these third-party vendors. However, if you do not want any information to be collected
          and used by tracking technologies, you can install and/or update your settings. You should be aware that
          getting a new computer, installing a new browser, upgrading an existing browser, or erasing or otherwise
          altering your browser's cookies files may also clear certain opt-out cookies, plug-ins, or settings.
        </p>
        <h2>THIRD-PARTY WEBSITES</h2>
        <p>
          The Application may contain links to third-party websites and applications of interest, including
          advertisements and external services, that don't seem to be affiliated with us. Once you have got used these
          links to depart the appliance, any information you provide to those third parties isn't covered by this
          Privacy Policy, and that we cannot guarantee the protection and privacy of your information. Before visiting
          and providing any information to any third-party websites, you must inform yourself of the privacy policies
          and practices (if any) of the third-party answerable for that website, and may take those steps necessary to,
          in your discretion, protect the privacy of your information. We don't seem to be answerable for the content or
          privacy and security practices and policies of any third parties, including other sites, services, or
          applications which will be linked to or from the applying.
        </p>
        <h2>SECURITY OF YOUR INFORMATION</h2>
        <p>
          We use administrative, technical, and physical security measures to assist protect your personal information.
          While we've taken reasonable steps to secure the non-public information you provide to us, please bear in mind
          that despite our efforts, no security measures are perfect or impenetrable, and no method of information
          transmission is guaranteed against any interception or other sort of misuse. Any information disclosed online
          is susceptible to interception and misuse by unauthorized parties. Therefore, we cannot guarantee complete
          security if you provide personal information.
        </p>
        <h2>POLICY FOR CHILDREN</h2>
        <p>
          We do not knowingly solicit information from or market to children under the age of 13. If you become aware of
          any data we have collected from children under age 13, please contact us using the contact information
          provided below.
        </p>
        <h2>CONTROLS FOR DO-NOT-TRACK FEATURES &nbsp;</h2>
        <p>
          Most web browsers and some mobile operating systems (and our mobile applications) include a Do-Not-Track
          (“DNT”) feature or setting you'll activate to signal your privacy preference to not have data about your
          online browsing activities monitored and picked up. No uniform technology standard for recognizing and
          implementing DNT signals has been finalized. As such, we don't currently reply to DNT browser signals or the
          other mechanism that automatically communicates your choice to not be tracked online. If a regular for online
          tracking is adopted that we must follow within the future, we'll inform you that practice during a Good Book
          of this Privacy Policy.
        </p>
        <h2>OPTIONS REGARDING YOUR INFORMATION</h2>
        <h2>Account Information</h2>
        <p>You may at any time review or change the information in your account or terminate your account by:</p>
        <p>● Logging into your account settings and updating your account</p>
        <p>● Contacting us using the contact information provided below</p>
        <p>
          Upon your request to terminate your account, we will deactivate or delete your account and information from
          our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot
          problems, assist with any investigations, enforce our Terms of Use, and/or comply with legal requirements.
        </p>
        <h2>Emails and Communications</h2>
        <p>
          If you no longer wish to receive correspondence, emails, or other communications from us, you may opt out by:
        </p>
        <p>● Noting your preferences at the time you register your account with Fuda</p>
        <p>● Logging into your account settings and updating your preferences.</p>
        <p>● Contacting us using the contact information provided below.</p>
        <p>
          If you no longer wish to receive correspondence, emails, or other communications from third parties, you are
          responsible for contacting the third party directly.
        </p>
        <h2>CALIFORNIA PRIVACY RIGHTS</h2>
        <p>
          California Civil Code Section 1798.83, also called the “Shine The Light” law, permits our users who are
          California residents to request and acquire from us, once a year and freed from charge, information about
          categories of non-public information (if any) we disclosed to 3rd parties for marketing purposes and also the
          names and addresses of all third parties with which we shared personal information within the immediately
          preceding year. If you're a California resident and would really like to create such missive of invitation,
          please submit your request in writing to us using the contact information provided below.
        </p>
        <p>
          If you're under 18 years old, reside in California, and have a registered account with the applying, you have
          got the correct to request the removal of unwanted data that you just publicly post on the applying. To
          request the removal of such data, please contact us using the contact information provided below, and include
          the e-mail address related to your account and an announcement that you just reside in California. we'll
          confirm the info isn't publicly displayed on the applying, but please bear in mind that the info might not be
          completely or comprehensively aloof from our systems.
        </p>
        <h2>CONTACT US</h2>
        <p>If you have questions or comments about this Privacy Policy, please contact us at:</p>
        <p>Email: support@appuni.io</p>
        Website: <a href="https://fuda.appuni.io/" target="_blank">https://fuda.appuni.io/</a>
        <br />
        Fanpage:
        <a href="https://www.facebook.com/fuda.appuni.io" target="_blank">https://www.facebook.com/fuda.appuni.io</a>
      </section>
    </div>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
export default {
  name: "policies-en",
  methods: {
    language(text) {
      var lang = this.$store.state.language.default.toString();
      return language(text, lang);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.policies_heading {
  width: 100%;
  margin-top: 40px;
  float: left;
}

h1 {
  width: 100%;
  font-weight: 700;
  font-size: 36px;

  @include breakpoint(phablet) {
    font-size: 26px;
  }
}

section {
  text-align: justify;
  h2,
  h3,
  h4,
  h5 {
    font-size: 22px;
    font-weight: 700;
    color: $primaryColor;
    text-align: left;
    width: 100%;
    float: left;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  p,
  span {
    font-size: 16px !important;
    font-family: $fontFamily !important;
    color: $textColor;
    line-height: 1.5;
    width: 100%;
    float: left;
    font-weight: 400;
    padding-bottom: 0;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    div {
      width: 100% !important;
    }

    iframe {
      border: 0;
      margin: 0 0 20px 0;
    }
  }

  img {
    margin: 15px 0 15px 0;
    max-width: 100% !important;
    height: auto !important;
  }

  p {
    margin: 5px 0;
  }

  iframe {
    border: 0;
    width: 100%;
    max-height: 500px;
  }
}
</style>

