<template>
  <div>
    <RecoveryPassword/>
  </div>
</template>

<script>
import RecoveryPassword from '../components/Login/RecoveryPassword.vue';
export default {
  name: "recovery_password",
  components: {RecoveryPassword}
}
</script>
<style lang="scss" scoped>
</style>
