<template>
    <div>
      <register-advisor-form :dataUser="dataUser"></register-advisor-form>
    </div>
  </template>
  
  <script>
  import RegisterAdvisorForm from "~/components/Login/RegisterForeignerAdvisorForm";
  
  export default {
    layout: "blank",
    name: "register_advisor",
    async asyncData({ app, store, env, context, route, params, redirect, req }) {
      try {
        if (req.body && req.body.credential && req.body?.g_csrf_token) {
          return {
            dataUser: {
              credential: req.body?.credential,
              g_csrf_token: req.body?.g_csrf_token,
              apple_code: '',
              apple_id_token: ''
            },
          };
        } else if (req.body && req.body?.id_token && req.body?.code) {
          return {
            dataUser: {
              credential: "",
              g_csrf_token: "",
              apple_code: req.body?.code,
              apple_id_token: req.body?.id_token
            },
          };
        } else {
          return {
            dataUser: {
              credential: "",
              g_csrf_token: "",
            },
          };
        }
      } catch (error) {
        return {
          dataUser: {
            credential: "",
            g_csrf_token: "",
          },
        };
      }
    },
    components: {
      RegisterAdvisorForm,
    },
  };
  </script>
  
  <style>
  </style>
  
