<template>
  <div>
    <client-only>
      <SubmitRemoveUserVueEng />
    </client-only>
  </div>
</template>

<script>
import SubmitRemoveUserVueEng from "../components/Page/SubmitRemoveUserEng.vue";
export default {
  name: "remove_user_body",
  components: { SubmitRemoveUserVueEng },
};
</script>
<style lang="scss" scoped></style>

