<template>
  <div>
    <client-only>
      <SubmitRemoveUserVueSpa />
    </client-only>
  </div>
</template>

<script>
import SubmitRemoveUserVueSpa from "../components/Page/SubmitRemoveUserSpa.vue";
export default {
  name: "remove_user_body",
  components: { SubmitRemoveUserVueSpa },
};
</script>
<style lang="scss" scoped></style>
