<template>
  <div>
    <client-only>
      <SubmitRemoveUserVue />
    </client-only>
  </div>
</template>

<script>
import SubmitRemoveUserVue from "../components/Page/SubmitRemoveUser.vue";
export default {
  name: "remove_user_body",
  components: { SubmitRemoveUserVue },
};
</script>
<style lang="scss" scoped></style>
