<template>
  <div class="user_balance">
    <advisor-setting/>
  </div>
</template>

<script>
import AdvisorSetting from "~/components/User/AdvisorSetting.vue";

export default {
  name: "general_service",
  layout: "profile-layout",
  components: {
    AdvisorSetting
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
