<template>
  <div class="user_balance">
    <user-balance/>
  </div>
</template>

<script>
import UserBalance from "~/components/User/UserBalance.vue";

export default {
  name: "user_balance",
  layout: "profile-layout",
  components: {
    UserBalance
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
