<template>
  <div class="user_dashboard">
    <dashboard-component/>
  </div>
</template>

<script>
import DashboardComponent from "~/components/User/DashboardComponent.vue";

export default {
  name: "user_dashboard",
  layout: "profile-layout",
  components: {
    DashboardComponent
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
