<template>
  <div class="user_balance">
    <general-service/>
  </div>
</template>

<script>
import GeneralService from "~/components/User/GeneralService.vue";

export default {
  name: "general_service",
  layout: "profile-layout",
  components: {
    GeneralService
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
