<template>
  <div class="user_balance">
    <invoices-component/>
  </div>
</template>

<script>
import InvoicesComponent from "~/components/User/InvoicesComponent.vue";

export default {
  name: "invoices_component",
  layout: "profile-layout",
  components: {
    InvoicesComponent
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
