<template>
  <div class="payment_setting">
    <language-setting />
  </div>
</template>

<script>
import LanguageSetting from "~/components/User/LanguageSetting.vue";

export default {
  name: "notification_setting",
  layout: "profile-layout",
  components: {
    LanguageSetting,
  },
  data() {
    return {};
  },
  created() {},
};
</script>

<style lang="scss" scope></style>
