<template>
  <div class="payment_setting">
    <notification-setting/>
  </div>
</template>

<script>
import NotificationSetting from "~/components/User/NotificationSetting.vue";

export default {
  name: "notification_setting",
  layout: "profile-layout",
  components: {
    NotificationSetting
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
