<template>
  <div class="payment_setting">
    <payment-setting/>
  </div>
</template>

<script>
import PaymentSetting from "~/components/User/PaymentSetting.vue";

export default {
  name: "general_service",
  layout: "profile-layout",
  components: {
    PaymentSetting
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
