<template>
  <div class="user_dashboard">
    <security-setting/>
  </div>
</template>

<script>
import SecuritySetting from "~/components/User/SecuritySetting.vue";

export default {
  name: "security_setting",
  layout: "profile-layout",
  components: {
    SecuritySetting
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
