<template>
  <div class="service_setting">
    <service-setting/>
  </div>
</template>

<script>
import ServiceSetting from "~/components/User/ServiceSetting.vue";

export default {
  name: "general_service",
  layout: "profile-layout",
  components: {
    ServiceSetting
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
