<template>
  <div class="user_balance">
    <user-menu/>
  </div>
</template>

<script>
import UserMenu from "~/components/User/UserMenu.vue";

export default {
  name: "user_menu",
  layout: "profile-layout",
  components: {
    UserMenu
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
