<template>
  <div class="user_balance">
    <video-component/>
  </div>
</template>

<script>
import VideoComponent from "~/components/User/VideoComponent.vue";

export default {
  name: "video_component",
  layout: "profile-layout",
  components: {
    VideoComponent
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
