<template>
  <div class="user_balance">
    <withdrawal-component/>
  </div>
</template>

<script>
import WithdrawalComponent from "~/components/User/WithdrawalComponent.vue";

export default {
  name: "withdrawal_component",
  layout: "profile-layout",
  components: {
    WithdrawalComponent
  },
  data() {
    return {
    };
  },
  created() {

  },

};
</script>

<style lang="scss" scope>
</style>
