<template>
  <div class="login">
    <div id="fb-root"></div>
    <div class="login__left">
      <img src="/images/image_login.svg" />
    </div>
    <client-only>
      <div class="login__right">
        <div class="login__right__block">
          <div class="login__right__form">
            <div class="login__right__form__logo">
              <nuxt-link :to="'/'">
                <div class="login__right__form__logo__block">
                  <img src="~/assets/images/logo_tarot.png" />
                </div>
                <p>Fuda</p>
              </nuxt-link>
            </div>

            <div class="login__right__form__username">
              <h2>{{ language("Hello Again!") }}</h2>

              <div class="login__right__form__username__alert" v-if="message.status && message.text">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{ message.text }}
                  <button
                    type="button"
                    class="btn close"
                    data-dismiss="alert"
                    aria-label="Close"
                    v-on:click="handleCloseMessage"
                  >
                    <span aria-hidden="true" style="font-size: 30px; color: ">&times;</span>
                  </button>
                </div>
              </div>

              <div class="login_with_social">
                <div class="login_with_google">
                  <div
                    id="taki_login_google"
                    class="g_id_signin"
                    data-type="standard"
                    data-size="large"
                    data-theme="filled_blue"
                    data-ux_mode="popup"
                    data-text="sign_in_with"
                    data-shape="rectangular"
                    data-logo_alignment="left"
                    :data-width="dataWidth"
                    style="width: 100% !important; float: left"
                  ></div>
                </div>
                <div class="login_with_facebook" v-on:click="handleLoginFacebook">
                  <div class="login_with_facebook__svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                      <path
                        d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                      />
                    </svg>
                  </div>
                  <p>{{ language("Login with Facebook") }}</p>
                </div>
                <div class="login_with_apple">
                  <div class="login_with_apple__svg">
                    <div class="">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path
                          d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"
                        />
                      </svg>
                    </div>
                  </div>

                  <div
                    id="appleid-signin"
                    class="signin-button"
                    data-color="black"
                    data-border="true"
                    data-type="sign in"
                  ></div>
                </div>
                <!-- <div class="login_with_email" v-on:click="() => { isLoginMail = !isLoginMail }">
                  <div class="login_with_email__svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path
                        d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2L512 176V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2z" />
                    </svg>
                  </div>
                  <p>Login with E-mail</p>
                </div> -->
              </div>

              <div class="pt-3 mb-3 w-100" style="float: left">
                <p style="text-align: center; width: 100%">
                  {{ language("Don't have an account?") }}
                  <nuxt-link :to="'/signup'">{{ language("Sign up now") }}</nuxt-link>
                  {{ language(". If you have an account by e-mail and password, click") }}
                  <a
                    href="#"
                    v-on:click="
                      () => {
                        isLoginMail = !isLoginMail;
                      }
                    "
                    >{{ language("here") }}</a
                  >
                  {{ language("to login.") }}
                </p>
                <p style="text-align: center; width: 100%">
                  <nuxt-link :to="'/recover-password'">{{ language("Forgot password") }}</nuxt-link>
                </p>
              </div>

              <div style="width: 100%; float: left" v-if="isLoginMail">
                <div class="form-group">
                  <label class="pt-4 pb-2" for="exampleInputEmail1">Email</label>
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                    style="font-size: 16px"
                    v-model.trim="userName"
                    @keyup.enter="joinSubmit"
                    required
                    :disabled="isLoading"
                  />
                </div>
                <div class="form-group">
                  <label class="pt-3 pb-2" for="exampleInputPassword1">Password</label>
                  <input
                    :type="isShowPassword ? 'text' : 'password'"
                    class="form-control form-control-lg"
                    id="exampleInputPassword1"
                    placeholder="Password"
                    style="font-size: 16px"
                    v-model.trim="password"
                    @keyup.enter="joinSubmit"
                    required
                    :disabled="isLoading"
                  />
                  <div
                    :class="isShowPassword ? 'form-group-show active' : 'form-group-show'"
                    v-on:click="
                      () => {
                        isShowPassword = !isShowPassword;
                      }
                    "
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                      <path
                        d="M279.6 160.4C282.4 160.1 285.2 160 288 160C341 160 384 202.1 384 256C384 309 341 352 288 352C234.1 352 192 309 192 256C192 253.2 192.1 250.4 192.4 247.6C201.7 252.1 212.5 256 224 256C259.3 256 288 227.3 288 192C288 180.5 284.1 169.7 279.6 160.4zM480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6V112.6zM288 112C208.5 112 144 176.5 144 256C144 335.5 208.5 400 288 400C367.5 400 432 335.5 432 256C432 176.5 367.5 112 288 112z"
                      />
                    </svg>
                  </div>
                </div>
                <div class="form-group form-check pt-3 pb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                    v-model="rememberPassword"
                    :disabled="isLoading"
                  />
                  <label class="form-check-label" for="exampleCheck1">{{ language("Remember for 30 days") }}</label>
                </div>
                <button type="submit" class="btn btn-primary w-100" @click="joinSubmit" v-if="!isLoading">
                  {{ language("Login") }}
                </button>

                <button type="submit" class="btn btn-primary w-100" v-if="isLoading" disabled>
                  <span class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>
                  {{ language("Login...") }}
                </button>
              </div>
            </div>

            <div
              id="g_id_onload"
              data-client_id="1464443790-nc9hnb03v10vlsoltni54arum2av636q.apps.googleusercontent.com"
              :data-login_uri="mainUrl + '/login'"
              data-cancel_on_tap_outside="false"
              data-skip_prompt_cookie="sid"
              v-if="isShowPopup"
            ></div>
          </div>
        </div>
      </div>
      <div class="modal-body__loading" v-if="isLoading">
        <div class="spinner-border text-secondary" role="status"></div>
      </div>
    </client-only>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
import { loginService } from "../../services/login.service";
export default {
  data() {
    return {
      userName: "",
      rememberPassword: false,
      message: {
        status: false,
        text: "",
      },
      isLoading: false,
      password: "",
      formState: {
        username: "",
        password: "",
        remember: true,
      },
      gapi: null,
      isShowPopup: false,
      dataWidth: 400,
      isShowPassword: false,
      idToken: "",
      permissionGranted: false,
      loading: false,
      isLoginMail: false,
      mainUrl: process.env.mainFrontendUrl,
    };
  },
  props: ["dataUser"],
  mounted() {
    let recaptchaScript = document.createElement("script");
    recaptchaScript.setAttribute("src", "https://accounts.google.com/gsi/client");
    recaptchaScript.setAttribute("async", "");
    recaptchaScript.setAttribute("defer", "");
    document.head.appendChild(recaptchaScript);

    let appleScript = document.createElement("script");
    appleScript.setAttribute(
      "src",
      "https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"
    );
    document.head.appendChild(appleScript);

    let facebookScript = document.createElement("script");
    facebookScript.setAttribute(
      "src",
      "https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0&appId=1153021275276469&autoLogAppEvents=1"
    );
    facebookScript.setAttribute("crossorigin", "anonymous");
    facebookScript.setAttribute("defer", "");
    facebookScript.setAttribute("async", "");
    facebookScript.setAttribute("nonce", "BO3Ua1T2");
    document.head.appendChild(facebookScript);
  },

  created() {
    if (process.client) {
      this.isShowPopup = true;
      if (this.userObject) {
        window.location.href = "/";
      }
      this.handleRequestPermission();
      this.handleGetIdToken();
      let currentWidth = window.innerWidth;

      if (currentWidth > 500) {
        if (currentWidth <= 1080) {
          let rightWidth = currentWidth / 2;
          this.dataWidth = rightWidth - 40;
        } else {
          this.dataWidth = 400;
        }
      } else {
        this.dataWidth = currentWidth - 40;
      }

      document.addEventListener("AppleIDSignInOnSuccess", (event) => {
        // Handle successful response.
        console.log(event.detail.data);
      });

      // Listen for authorization failures.
      document.addEventListener("AppleIDSignInOnFailure", (event) => {
        // Handle error.
        console.log(event.detail.error);
      });
    }

    if (this.dataUser && this.dataUser.credential) {
      this.isShowPopup = false;
      this.isLoading = true;
      const params = new URLSearchParams();
      params.append("id_token", this.dataUser.credential);
      params.append("device_uuid", "68413da2d51809da");
      params.append("device_type", "website");
      params.append("user_id", this.dataUser.g_csrf_token);

      this.isLoading = true;
      let self = this;
      setTimeout(() => {
        params.append("device_signature", self.idToken);
        loginService
          .loginWithGoogle(params)
          .then((response) => {
            if (response && response.data) {
              let dataToUpdate = response.data;
              dataToUpdate = {
                ...dataToUpdate,
                ...{ auth_code: response?.headers["x-authorization"] },
                ...{ device_signature: self.idToken },
              };
              localStorage.setItem("user", JSON.stringify(dataToUpdate));
              self.$store.commit("reloadUser", true);
              window.location.href = "/";
            } else {
              self.message = {
                status: true,
                text: "Have an error. Please try again! ",
              };
            }
            self.isLoading = false;
          })
          .catch((error) => {
            self.isLoading = false;
            self.message = {
              status: true,
              text: error.response.data.message,
            };
          });
      }, 1000);
    } else {
      this.isShowPopup = true;
    }

    if (this.dataUser && this.dataUser.apple_code) {
      this.isLoading = true;
      this.isShowPopup = false;
      const params = new URLSearchParams();
      params.append("identityToken", this.dataUser.apple_id_token);
      params.append("device_uuid", "68413da2d51809da");
      params.append("device_type", "website");

      this.isLoading = true;
      let self = this;
      setTimeout(() => {
        params.append("device_signature", self.idToken);
        loginService
          .loginWithApple(params)
          .then((response) => {
            if (response && response.data) {
              let dataToUpdate = response.data;
              dataToUpdate = {
                ...dataToUpdate,
                ...{ auth_code: response?.headers["x-authorization"] },
                ...{ device_signature: self.idToken },
              };
              localStorage.setItem("user", JSON.stringify(dataToUpdate));
              self.$store.commit("reloadUser", true);
              window.location.href = "/";
            } else {
              self.message = {
                status: true,
                text: "Have an error. Please try again! ",
              };
            }
            self.isLoading = false;
          })
          .catch((error) => {
            self.isLoading = false;
            self.message = {
              status: true,
              text: error.response.data.message,
            };
          });
      }, 1000);
    } else {
      this.isShowPopup = true;
    }
  },
  watch: {
    gapi(newData) {},
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    async handleRequestPermission() {
      const permission = await Notification.requestPermission();
      this.permissionGranted = permission === "granted";
    },
    async handleGetIdToken() {
      try {
        this.loading = true;
        let currentToken;
        try {
          currentToken = await this.$fire.messaging.getToken();
        } catch (error) {
          this.idToken = "";
          this.loading = false;
        }
        if (currentToken) {
          this.idToken = currentToken;
        } else {
          this.idToken = "";
        }
        this.loading = false;
      } catch (error) {
        this.idToken = "";
        this.loading = false;
      }
    },
    handleLoginFacebook() {
      let self = this;
      window.FB.login(
        function (response) {
          if (response.authResponse) {
            let accessToken = response.authResponse.accessToken;
            self.isShowPopup = false;
            self.isLoading = true;
            const params = new URLSearchParams();
            params.append("access_token", accessToken);
            params.append("device_uuid", "68413da2d51809da");
            params.append("device_type", "website");
            params.append("device_signature", self.idToken);

            self.isLoading = true;
            loginService
              .loginWithFacebook(params)
              .then((response) => {
                if (response && response.data) {
                  let dataToUpdate = response.data;
                  dataToUpdate = {
                    ...dataToUpdate,
                    ...{ auth_code: response?.headers["x-authorization"] },
                    ...{ device_signature: self.idToken },
                  };
                  localStorage.setItem("user", JSON.stringify(dataToUpdate));
                  self.$store.commit("reloadUser", true);
                  window.location.href = "/";
                } else {
                  self.message = {
                    status: true,
                    text: "Have an error. Please try again! ",
                  };
                }
                self.isLoading = false;
              })
              .catch((error) => {
                self.isLoading = false;
                self.message = {
                  status: true,
                  text: error.response.data.message,
                };
              });
            //Process API Facebook
          }
        },
        { scope: "public_profile,email" }
      );
    },
    handleCloseMessage() {
      this.message = {
        status: false,
        text: "",
      };
    },
    joinSubmit() {
      this.handleCloseMessage();
      if (!this.userName || !this.password) {
        this.message = {
          status: true,
          text: "Please fill out E-mail and Password!",
        };
        return false;
      }

      const params = new URLSearchParams();
      params.append("user_email", this.userName);
      params.append("password", this.password);
      params.append("device_uuid", "67675.khjHGJJ.87687.dsggdw");
      params.append("device_signature", this.idToken);
      if (this.rememberPassword) {
        params.append("remember", "1");
      } else {
        params.append("remember", "0");
      }
      params.append("device_type", "website");

      this.isLoading = true;
      loginService
        .login(params)
        .then((response) => {
          if (response && response.data) {
            let dataToUpdate = response.data;
            dataToUpdate = {
              ...dataToUpdate,
              ...{ auth_code: response?.headers["x-authorization"] },
              ...{ device_signature: this.idToken },
            };
            localStorage.setItem("user", JSON.stringify(dataToUpdate));
            this.$store.commit("reloadUser", true);
            window.location.href = "/";
          } else {
            this.message = {
              status: true,
              text: "Email and Password is not correct. Please try again! ",
            };
            this.isShowPopup = true;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoading = false;
          this.message = {
            status: true,
            text: "Username or Password is not match!",
          };
          if (error.response.data.message[0].message === "account_password_not_match") {
            this.message = {
              status: true,
              text: "Username or Password is not match!",
            };
          }
          this.isShowPopup = true;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.login {
  width: 100%;
  float: left;

  &__left {
    width: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: $backgroundColor;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    overflow: hidden;

    @include breakpoint(mobile) {
      display: none;
    }

    img {
      max-width: 400px;
      width: 80%;
      margin: 0 auto;
    }
  }

  &__right {
    width: 50%;
    float: left;
    padding-bottom: 50px;
    overflow-y: auto;
    margin-left: 50%;

    &__block {
      overflow-y: auto;
      width: 100%;
      float: left;
    }

    @include breakpoint(mobile) {
      width: 100%;
      margin-left: 0;
    }

    .login_with_facebook {
      width: 100%;
      background: #fff;
      border-radius: 6px;
      margin-top: 10px;
      float: left;
      border: 1px #3578e5 solid;
      transition: 500ms all;
      cursor: pointer;
      user-select: none;

      &__svg {
        width: 38px;
        float: left;
        border-radius: 4px 0 0 4px;
        background: #3578e5;
        height: 39px;
        margin-top: -1px;

        svg {
          width: 20px;
          height: 20px;
          fill: #fff;
          margin: 9px;
        }
      }

      p {
        width: calc(100% - 38px);
        float: left;
        font-weight: 700;
        font-size: 14px;
        color: #3578e5;
        line-height: 38px;
        text-align: center;
        padding: 0 10px;
        margin-bottom: 0;
      }

      &:hover {
        background: #f0f0f0;
      }
    }

    .login_with_email {
      width: 100%;
      background: #fff;
      border-radius: 6px;
      margin-top: 10px;
      float: left;
      border: 1px $primaryColor solid;
      transition: 500ms all;
      cursor: pointer;
      user-select: none;

      &__svg {
        width: 38px;
        float: left;
        border-radius: 4px 0 0 4px;
        background: $primaryColor;
        height: 39px;
        margin-top: -1px;

        svg {
          width: 20px;
          height: 20px;
          fill: #fff;
          margin: 9px;
        }
      }

      p {
        width: calc(100% - 38px);
        float: left;
        font-weight: 700;
        font-size: 14px;
        color: $primaryColor;
        line-height: 38px;
        text-align: center;
        padding: 0 10px;
        margin-bottom: 0;
      }

      &:hover {
        background: #f0f0f0;
      }
    }

    .login_with_google {
      width: 100%;
      float: left;
      overflow: hidden;
      border-radius: 6px;
      cursor: pointer;
      user-select: none;

      span {
        font-size: 14px;
        font-family: $fontFamily;
        font-weight: 700;
      }
    }

    .login_with_apple {
      width: 100%;
      float: left;
      position: relative;
      height: 40px;
      border-radius: 6px;
      border: 1px #000 solid;
      overflow: hidden;
      margin-top: 10px;

      &__svg {
        width: 38px;
        height: 38px;
        background-color: #000;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;

        svg {
          width: 20px;
          height: 20px;
          fill: #fff;
          margin: 9px;
        }
      }

      .signin-button {
        width: 100%;
        float: left;
        margin-left: 17px;
      }
    }

    &__form {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      &__logo {
        // width: 200px;
        float: left;
        margin: 100px 0 10px 0;

        p {
          font-weight: 900;
          font-size: 18px;
          color: $primaryColor;
          line-height: 50px;
          float: left;
          margin-left: 8px;
        }

        &__block {
          width: 50px;
          height: 50px;
          float: left;
          background-color: #661697;
          border-radius: $borderRadiusPrimary;

          img {
            height: 40px;
            width: auto;
            margin: 5px 5px;
            border-radius: 10px;
          }
        }
      }

      &__username {
        margin-top: 10px;
        max-width: 400px;
        border-top: 1px $borderColor solid;
        padding-top: 30px;
        width: 100%;

        .alert {
          button {
            position: absolute;
            top: 4px;
            right: 4px;
          }
        }
      }

      &__username__label {
        display: block;
        text-align: center;
        font-weight: 700;
        color: #292929;
      }

      h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700 !important;
      }

      &__avatar {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;

        &__overlay {
          position: absolute;
          background-color: #000;

          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          opacity: 0;
          height: 100px;
          width: 100px;
          border-radius: 50%;
          transition: 0.3s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }

      &__label {
        &:hover {
          .login__right__form__avatar__overlay {
            opacity: 0.2;
          }
        }
      }

      .login_with_social {
        width: 100%;
        float: left;
        margin-top: 50px;

        &__text {
          width: 100%;
          margin-top: 30px;
          margin-bottom: 40px;
          text-align: center;
          border-bottom: 1px $borderColor solid;
          height: 15px;

          &__heading {
            width: 160px;
            background: #fff;
            margin: 0 auto;
            height: 30px;
            font-size: 14px;
            font-weight: 700;
            padding: 0 20px;
            line-height: 30px;
          }
        }
      }
    }
  }

  .login__form__label .login__form .login__form .login__form__username__input {
    width: 100%;
    margin-top: 2rem;
    padding: 0.4rem;
    border: none;
    border-bottom: 1px solid #afb4b8;
    text-align: center;
    font-size: 18px;
  }
}

.form-group {
  position: relative;
}

.form-group-show {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 56px;
  cursor: pointer;
  right: 0;
  user-select: none;

  &.active {
    svg {
      fill: $primaryColor;
    }
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #aaa;
  }
}

.modal-body {
  &__loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    .spinner-border {
      margin: 0 auto;
      margin-top: calc(50vh - 50px);
      margin-bottom: 100px;
      color: #fff !important;
    }
  }
}

.login__right__form__username__alert {
  width: 100%;
  float: left;
  margin-bottom: -40px;
  margin-top: 10px;

  button {
    margin-right: 10px;
  }
}
</style>
