<template>
  <div>
    <div class="body_container">
      <h1 class="policies_heading">{{ language("Reset password") }}</h1>
      <div class="row section">
        <div class="col-12">
          <div class="row">
            <div class="col-sm-8 col-12">
              <div class="static-page-p">
                {{ language("Enter the email associated with your account and we'll send an email with instructions to reset your password") }}</div>
              <form v-on:submit="handleSubmit">
                <div class="form-group">
                  <div class="form-group">

                    <label class="pt-3 pb-2">Email address <font color="red">*</font></label>
                    <input type="email" class="form-control form-control-lg" aria-describedby="emailHelp"
                      placeholder="Enter email" style="font-size: 16px" v-model.trim="dataSubmit.user_email" required :disabled="loadingSubmit"/>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 mt-4" :disabled="loadingSubmit">{{(loadingSubmit)?"Submit...":"Submit"}}</button>
                </div>
              </form>

              <br />
              <br />
              <p>
                E-mail: support@appuni.io
              </p>

            </div>
          </div>
        </div>
      </div>

      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true"
        style="display: block; height: auto; position: fixed!important; right: 20px; top: 90px;" v-if="isOpenMessage">
        <div class="toast-header">
          <img src="" class="rounded mr-2" alt="">
          <strong class="mr-auto text-success">{{ language("Submit Successfully!") }}</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true" v-on:click="handleCloseMessage">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          {{ language("Submit your information successfully!") }}
        </div>
      </div>

    </div>

  </div>
</template>

<script>
import Vue from "vue";
import { VueReCaptcha } from 'vue-recaptcha-v3';
// For more options see below
Vue.use(VueReCaptcha, { siteKey: '6LeDG4QgAAAAAP7MzpBC3lV4FqbGMZYZzGs67VX2' });
import { contactFormService } from "~/services/contactform.service";
import language from "~/modules/language.ts";

export default {
  name: "remove_user",
  data() {
    return {
      dataSubmit: {
        user_email: ''
      },
      loadingSubmit: false,
      isOpenMessage: false,
    }
  },
  created() {

  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    }
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    handleCloseMessage() {
      this.isOpenMessage = false;
    },
    handleSubmit(e) {
      let self = this;
      e.preventDefault();
      this.loadingSubmit = true;
      this.$recaptcha("login").then((token) => {
        let dataToAdd = {
          contactform_name: "ForgotPassword",
          contactform_content: JSON.stringify(this.dataSubmit),
          contactform_email: this.dataSubmit.user_email,
          "g-recaptcha-response": token
        };
        contactFormService.createContactForm(dataToAdd, this.userToken).then((response) => {
          if (response && response.data) {
            this.dataSubmit = {
              user_email: '',
              detail: ''
            };
            this.isOpenMessage = true;
            setTimeout(() => {
              self.isOpenMessage = false;
            }, 3000);
          } else {
            alert("Have an Error when submit to Server.");
          }
          this.loadingSubmit = false;

        }).catch((error) => {
          this.loadingSubmit = false;
          alert("Have an Error when submit to Server.");
        });
      }).catch(erorr => {
        this.loadingSubmit = false;
        alert("Have an Error when check reCaptcha Google!");
      });
    }
  }
}
</script>
<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.policies_heading {
  width: 100%;
  margin-top: 40px;
  float: left;
}

h1 {
  width: 100%;
  font-weight: 700;
  font-size: 36px;

  @include breakpoint(phablet) {
    font-size: 26px;
  }
}

.toast-header {
  display: inline;
  float: left;
  width: 100%;
}

.toast-body {
  width: 100%;
  float: left;
}
</style>
