<template>
    <div class="login">
      <div id="fb-root"></div>
      <div class="register_advisor__right" id="register_advisor__right">
        <client-only>
          <div class="register_advisor__right__block">
            <div class="register_advisor__right__form">
              <div class="register_advisor__right__form__logo">
                <nuxt-link :to="'/'">
                  <div class="register_advisor__right__form__logo__block">
                    <img src="~/assets/images/logo_tarot.png" />
                  </div>
                  <p>Fuda</p>
                </nuxt-link>
              </div>
              <div class="register_advisor__right__form__username" v-if="userObject && isInputAdvisor">
                <div class="register_advisor__success">
                  <div class="svg-container">
                    <svg
                      class="ft-green-tick"
                      xmlns="http://www.w3.org/2000/svg"
                      height="100"
                      width="100"
                      viewBox="0 0 48 48"
                      aria-hidden="true"
                    >
                      <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22" />
                      <path
                        class="tick"
                        fill="none"
                        stroke="#FFF"
                        stroke-width="6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-miterlimit="10"
                        d="M14 27l5.917 4.917L34 17"
                      />
                    </svg>
                  </div>
                  <div class="register_advisor__success__title">{{ language("Summit successfully!") }}</div>
                  <div class="register_advisor__success__desc">
                    {{ successText }}
                  </div>
                  <div class="register_advisor__success__button">
                    <nuxt-link to="/"
                      ><button type="button" class="btn btn-primary">{{ language("Go to homepage") }}</button></nuxt-link
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </client-only>
      </div>
  
      <div class="register_advisor__left">
        <div class="register_advisor__left__heading" data-v-5742bb94="">Về FUDA</div>
        <div class="register_advisor__left__title" data-v-5742bb94="">
          Fuda là nền tảng kết nối các chuyên gia tâm linh đến tất cả mọi người. Với mục tiêu đưa các chuyên gia đến với
          những người dùng đang cần sự giúp đỡ trên toàn thế giới một cách nhanh chóng và chuyên nghiệp nhất. Fuda chính
          thức ra mắt vào tháng 10 năm 2022 bởi <b>Công ty Cổ phần Công nghệ ICEO.</b>
        </div>
        <div class="register_advisor__left__description" data-v-5742bb94="">
          Đến với Fuda để kết nối tới nhiều người cần giúp đỡ hơn, nâng cao thu nhập, có thêm nhiều trải nghiệm và chuyên
          nghiệp hóa thương hiệu của bản thân!
        </div>
        <img src="/images/background-fudaly.jpeg" alt="Fuda" />
      </div>
    </div>
  </template>
  
  <script>
  import Vue from "vue";
  import Multiselect from "vue-multiselect";
  import language from "~/modules/language.ts";
  import { VueReCaptcha } from "vue-recaptcha-v3";
  Vue.use(VueReCaptcha, { siteKey: "6LeDG4QgAAAAAP7MzpBC3lV4FqbGMZYZzGs67VX2" });
  
  // register globally
  Vue.component("multiselect", Multiselect);
  
  export default {
    data() {
      return {
        userName: "",
        rememberPassword: false,
        message: {
          status: false,
          text: "",
        },
        successText:
          "Cảm ơn bạn đã gửi yêu cầu của bạn. Khi chúng tôi nhận được thông tin của bạn, chúng tôi sẽ xem xét đơn đăng ký và phê duyệt hoặc liên hệ với bạn nếu có yêu cầu khác. Nếu bạn có bất kỳ câu hỏi, phản hồi, nhận xét hoặc mối quan tâm nào, vui lòng liên hệ với chúng tôi qua email support@appuni.io.",
        isLoading: false,
        password: "",
        fullName: "",
        gapi: null,
        isShowPopup: true,
        dataWidth: 400,
        isShowPassword: false,
        options: ["list", "of", "options"],
        isInputAdvisor: true,
        isLoadingAdvisor: false,
        contactFormName: "BecomeAdvisor",
        idToken: "",
        permissionGranted: false,
        loading: false,
        isLoginMail: false,
        mainUrl: process.env.mainFrontendUrl,
      };
    },
    props: ["dataUser"],
    computed: {
      userObject() {
        return true;
      },
      userToken() {
        return null;
      },
    },
    created() {
      if (process.client) {
        this.handleRequestPermission();
        this.handleGetIdToken();
      }
      if (process.client) {
        let currentWidth = window.innerWidth;
  
        if (currentWidth > 500) {
          if (currentWidth <= 1080) {
            let rightWidth = currentWidth / 2;
            this.dataWidth = rightWidth - 40;
          } else {
            this.dataWidth = 400;
          }
        } else {
          this.dataWidth = currentWidth - 40;
        }
      }
    },
    watch: {
      gapi(newData) {},
      categoryValue(newData) {
        this.advisorData.category = newData;
      },
      topicValue(newData) {
        this.advisorData.topic = newData;
      },
    },
    methods: {
      language(text) {
        var lang = this.$store.state.language.default;
        return language(text, lang);
      },
      async handleRequestPermission() {
        const permission = await Notification.requestPermission();
        this.permissionGranted = permission === "granted";
      },
      async handleGetIdToken() {
        try {
          this.loading = true;
          let currentToken;
          try {
            currentToken = await this.$fire.messaging.getToken();
          } catch (error) {
            this.idToken = "";
            this.loading = false;
          }
          if (currentToken) {
            this.idToken = currentToken;
          } else {
            this.idToken = "";
          }
          this.loading = false;
        } catch (error) {
          this.idToken = "";
          this.loading = false;
        }
      },
  
      handleCloseMessage() {
        this.message = {
          status: false,
          text: "",
        };
      },
    },
  };
  </script>
  
  <style lang="scss">
  @import "~/assets/scss/variables.scss";
  @import "vue-multiselect/dist/vue-multiselect.min.css";
  
  .register_advisor {
    width: 100%;
    float: left;
  
    &__left {
      width: 50%;
      right: 50%;
      top: 0;
      bottom: 0;
      position: fixed;
      overflow-y: auto;
      background-color: #502f84;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 40px;
      overflow: hidden;
  
      @include breakpoint(mobile) {
        display: none;
      }
  
      &__heading {
        width: 100%;
        float: left;
        font-size: 50px;
        margin-left: 15px;
        letter-spacing: 0px;
        font-weight: 600;
        color: #fff;
        text-align: left;
      }
      &__title {
        width: 95%;
        float: left;
        font-size: 18px;
        color: #fff;
        text-align: left;
        margin-top: 3px;
        font-weight: 400;
        margin-left: 15px;
      }
      &__description {
        width: 90%;
        float: left;
        font-size: 22px;
        letter-spacing: 0px;
        font-weight: 600;
        color: #fff;
        text-align: left;
        padding-top: 28px;
        margin-left: 15px;
      }
  
      img {
        max-width: 500px;
        width: 80%;
        margin: 0 auto;
        // margin-top: 100px;
      }
    }
  
    &__right {
      width: 50%;
      float: left;
      margin-left: 50%;
      padding-bottom: 50px;
      overflow-y: auto;
      label {
        font-weight: 700;
      }
  
      &__block {
        overflow-y: auto;
        width: 100%;
        float: left;
      }
  
      @include breakpoint(mobile) {
        width: 100%;
        margin-left: 0;
      }
  
      .login_with_social {
        margin-top: 20px;
      }
  
      .login_with_facebook {
        width: 100%;
        background: #fff;
        border-radius: 6px;
        margin-top: 10px;
        float: left;
        border: 1px #3578e5 solid;
        transition: 500ms all;
        cursor: pointer;
        user-select: none;
  
        &__svg {
          width: 38px;
          float: left;
          border-radius: 4px 0 0 4px;
          background: #3578e5;
          height: 39px;
          margin-top: -1px;
  
          svg {
            width: 20px;
            height: 20px;
            fill: #fff;
            margin: 9px;
          }
        }
  
        p {
          width: calc(100% - 38px);
          float: left;
          font-weight: 700;
          font-size: 14px;
          color: #3578e5;
          line-height: 38px;
          text-align: center;
          padding: 0 10px;
          margin-bottom: 0;
        }
  
        &:hover {
          background: #f0f0f0;
        }
      }
  
      .login_with_apple {
        width: 100%;
        float: left;
        position: relative;
        height: 40px;
        border-radius: 6px;
        border: 1px #000 solid;
        overflow: hidden;
        margin-top: 10px;
  
        &__svg {
          width: 38px;
          height: 38px;
          background-color: #000;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 1;
  
          svg {
            width: 20px;
            height: 20px;
            fill: #fff;
            margin: 9px;
          }
        }
  
        .signin-button {
          width: 100%;
          float: left;
        }
      }
  
      .login_with_email {
        width: 100%;
        background: #fff;
        border-radius: 6px;
        margin-top: 10px;
        float: left;
        border: 1px $primaryColor solid;
        transition: 500ms all;
        cursor: pointer;
        user-select: none;
  
        &__svg {
          width: 38px;
          float: left;
          border-radius: 4px 0 0 4px;
          background: $primaryColor;
          height: 39px;
          margin-top: -1px;
  
          svg {
            width: 20px;
            height: 20px;
            fill: #fff;
            margin: 9px;
          }
        }
  
        p {
          width: calc(100% - 38px);
          float: left;
          font-weight: 700;
          font-size: 14px;
          color: $primaryColor;
          line-height: 38px;
          text-align: center;
          padding: 0 10px;
          margin-bottom: 0;
        }
  
        &:hover {
          background: #f0f0f0;
        }
      }
  
      .login_with_google {
        width: 100%;
        float: left;
        overflow: hidden;
        border-radius: 6px;
        cursor: pointer;
        user-select: none;
  
        span {
          font-size: 14px;
          font-family: $fontFamily;
          font-weight: 700;
        }
      }
  
      &__form {
        //padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
  
        &__logo {
          // width: 200px;
          float: left;
          margin: 100px 0 10px 0;
  
          p {
            font-weight: 900;
            font-size: 18px;
            color: $primaryColor;
            line-height: 50px;
            float: left;
            margin-left: 8px;
          }
  
          &__block {
            width: 50px;
            height: 50px;
            float: left;
            background-color: #661697;
            border-radius: $borderRadiusPrimary;
  
            img {
              height: 40px;
              width: auto;
              margin: 5px 5px;
            }
          }
        }
  
        &__username {
          margin-top: 10px;
          max-width: 400px;
          border-top: 1px $borderColor solid;
          padding-top: 30px;
          width: 100%;
  
          button {
            margin-top: 20px;
          }
  
          .alert {
            button {
              position: absolute;
              top: 4px;
              right: 4px;
            }
          }
        }
  
        &__username__label {
          display: block;
          text-align: center;
          font-weight: 700;
          color: #292929;
        }
  
        h2 {
          font-family: "Montserrat", sans-serif;
          font-weight: 700 !important;
        }
  
        &__avatar {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          object-fit: cover;
  
          &__overlay {
            position: absolute;
            background-color: #000;
  
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
  
            opacity: 0;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            transition: 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
  
        &__label {
          &:hover {
            .login__right__form__avatar__overlay {
              opacity: 0.2;
            }
          }
        }
  
        .login_with_social {
          width: 100%;
          float: left;
  
          &__text {
            width: 100%;
            margin-top: 30px;
            margin-bottom: 40px;
            text-align: center;
            border-bottom: 1px $borderColor solid;
            height: 15px;
  
            &__heading {
              width: 160px;
              background: #fff;
              margin: 0 auto;
              height: 30px;
              font-size: 14px;
              font-weight: 700;
              padding: 0 20px;
              line-height: 30px;
            }
          }
        }
      }
    }
  
    .login__form__label .login__form .login__form .login__form__username__input {
      width: 100%;
      margin-top: 2rem;
      padding: 0.4rem;
      border: none;
      border-bottom: 1px solid #afb4b8;
      text-align: center;
      font-size: 18px;
    }
  }
  
  .form-group {
    position: relative;
  }
  
  .multiselect__tags {
    font-size: 16px !important;
    padding-left: 16px !important;
  
    span {
      font-size: 12px;
    }
  }
  
  .multiselect__placeholder {
    font-size: 16px !important;
  }
  
  .form-group-show {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    cursor: pointer;
    right: 0;
    user-select: none;
  
    &.active {
      svg {
        fill: $primaryColor;
      }
    }
  
    svg {
      width: 24px;
      height: 24px;
      fill: #aaa;
    }
  }
  
  @supports (animation: grow 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards) {
    .tick {
      stroke-opacity: 0;
      stroke-dasharray: 29px;
      stroke-dashoffset: 29px;
      animation: draw 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards;
      animation-delay: 0.6s;
    }
  
    .circle {
      fill-opacity: 0;
      stroke: #219a00;
      stroke-width: 16px;
      transform-origin: center;
      transform: scale(0);
      animation: grow 1s cubic-bezier(0.25, 0.25, 0.25, 1.25) forwards;
    }
  }
  
  @keyframes grow {
    60% {
      transform: scale(0.8);
      stroke-width: 4px;
      fill-opacity: 0;
    }
  
    100% {
      transform: scale(0.9);
      stroke-width: 8px;
      fill-opacity: 1;
      fill: #219a00;
    }
  }
  
  @keyframes draw {
    0%,
    100% {
      stroke-opacity: 1;
    }
  
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  path {
    stroke-width: 2px !important;
  }
  
  // Styles
  :root {
    --theme-color: var(--color-purple);
  }
  
  .register_advisor__success {
    width: 100%;
    text-align: center;
  
    &__title {
      width: 100%;
      font-size: 26px;
      font-weight: 700;
      color: $textColor;
      margin-top: 20px;
      margin-bottom: 16px;
    }
  
    &__description {
      font-size: 16px;
    }
  
    &__button {
      button {
        font-size: 16px;
        font-weight: 700;
        padding: 8px 40px;
      }
    }
  }
  </style>
  