<template>
  <div class="login">
    <div id="fb-root"></div>
    <div class="register_advisor__left">
      <img src="/images/background-fudaly.jpeg" alt="Fuda" />
    </div>
    <div class="register_advisor__right" id="register_advisor__right">
      <client-only>
        <div class="register_advisor__right__block">
          <div class="register_advisor__right__form">
            <div class="register_advisor__right__form__logo">
              <nuxt-link :to="'/'">
                <div class="register_advisor__right__form__logo__block">
                  <img src="~/assets/images/logo_tarot.png" />
                </div>
                <p>Fuda</p>
              </nuxt-link>
            </div>
            <div class="register_advisor__right__form__username">
              <h2>{{ language("Sign up!") }}</h2>

              <div class="register_advisor__right__form__username__desc pb-2">
                {{ language("Create account to start using Fuda.") }}
              </div>

              <div class="register__right__form__username__alert" v-if="message.status && message.text">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{ message.text }}
                  <button
                    type="button"
                    class="btn close"
                    data-dismiss="alert"
                    aria-label="Close"
                    v-on:click="handleCloseMessage"
                  >
                    <span aria-hidden="true" style="font-size: 30px; color: ">&times;</span>
                  </button>
                </div>
              </div>

              <div style="width: 100%" v-if="isSignWithMail">
                <div class="form-group">
                  <label class="pt-3 pb-2" for="full_name_input">{{ language("Full name") }}</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    id="full_name_input"
                    placeholder="Your full name"
                    style="font-size: 16px"
                    v-model.trim="fullName"
                    required
                    :disabled="isLoading"
                  />
                </div>

                <div class="form-group">
                  <label class="pt-3 pb-2" for="exampleInputEmail1">{{ language("Email address") }}</label>
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                    style="font-size: 16px"
                    v-model.trim="userName"
                    @keyup.enter="joinSubmit"
                    required
                    :disabled="isLoading"
                  />
                </div>
                <div class="form-group">
                  <label class="pt-3 pb-2" for="exampleInputPassword1">{{ language("Create new a Password") }}</label>
                  <input
                    :type="isShowPassword ? 'text' : 'password'"
                    class="form-control form-control-lg"
                    id="exampleInputPassword1"
                    placeholder="Create new a Password"
                    style="font-size: 16px"
                    v-model.trim="password"
                    @keyup.enter="joinSubmit"
                    required
                    :disabled="isLoading"
                  />
                  <div
                    :class="isShowPassword ? 'form-group-show active' : 'form-group-show'"
                    v-on:click="
                      () => {
                        isShowPassword = !isShowPassword;
                      }
                    "
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                      <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                      <path
                        d="M279.6 160.4C282.4 160.1 285.2 160 288 160C341 160 384 202.1 384 256C384 309 341 352 288 352C234.1 352 192 309 192 256C192 253.2 192.1 250.4 192.4 247.6C201.7 252.1 212.5 256 224 256C259.3 256 288 227.3 288 192C288 180.5 284.1 169.7 279.6 160.4zM480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6V112.6zM288 112C208.5 112 144 176.5 144 256C144 335.5 208.5 400 288 400C367.5 400 432 335.5 432 256C432 176.5 367.5 112 288 112z"
                      />
                    </svg>
                  </div>
                </div>

                <div class="form-group form-check pt-3 pb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                    v-model="allowedTerm"
                    :disabled="isLoading"
                  />
                  <div class="w-100" for="exampleCheck1">
                    I agree with <a href="/page/terms" target="_blank">Term</a> and
                    <a href="/policies" target="_blank">Privacy</a>.
                  </div>
                </div>

                <button type="submit" class="btn btn-primary w-100" @click="joinSubmit" v-if="!isLoading">
                  {{ language("Sign up") }}
                </button>

                <button type="submit" class="btn btn-primary w-100" v-if="isLoading" disabled>
                  <span class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>
                  {{ language("Signing up...") }}
                </button>
              </div>

              <div class="login_with_social__text" v-if="isShowPopup && isSignWithMail">
                <div class="login_with_social__text__heading">Or sign up with</div>
              </div>
              <div class="login_with_social" v-if="isShowPopup">
                <div class="login_with_google">
                  <div
                    id="taki_login_google"
                    data-auto_select="false"
                    data-context="signup"
                    class="g_id_signin"
                    data-type="standard"
                    data-size="large"
                    data-theme="filled_blue"
                    data-ux_mode="popup"
                    data-text="sign_up_with"
                    data-shape="rectangular"
                    data-logo_alignment="left"
                    :data-width="dataWidth"
                    style="width: 100% !important; float: left"
                  ></div>
                </div>
                <div class="login_with_facebook" v-on:click="handleLoginFacebook">
                  <div class="login_with_facebook__svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                      <path
                        d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                      />
                    </svg>
                  </div>
                  <p>{{ language("Sign up with Facebook") }}</p>
                </div>
                <div class="login_with_apple">
                  <div class="login_with_apple__svg">
                    <div class="">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path
                          d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"
                        />
                      </svg>
                    </div>
                  </div>

                  <div
                    id="appleid-signin"
                    class="signin-button"
                    data-color="black"
                    data-border="true"
                    data-type="sign in"
                  ></div>
                </div>
              </div>
              <div class="pt-3 mb-3 w-100" style="float: left">
                <p>{{ language("Already an account?") }} <nuxt-link :to="'/login'">{{ language("Login now") }}</nuxt-link>.</p>
              </div>
            </div>

            
            <div
              id="g_id_onload"
              data-client_id="1464443790-nc9hnb03v10vlsoltni54arum2av636q.apps.googleusercontent.com"
              :data-login_uri="mainUrl + '/signup'"
              data-cancel_on_tap_outside="false"
              data-skip_prompt_cookie="sid"
              v-if="isShowPopup"
            ></div>
          </div>
        </div>
      </client-only>
    </div>
    <div class="modal-body__loading" v-if="isLoading">
      <div class="spinner-border text-secondary" role="status"></div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import language from "~/modules/language.ts";
import { initFbsdk } from "~/modules/auth/facebookAuth.js";
import { loginService } from "../../services/login.service";
import { contactFormService } from "~/services/contactform.service";
import { CountriesHandle } from "~/modules/countries";
import { CategoryModule } from "~/modules/category";
import Multiselect from "vue-multiselect";

// register globally
Vue.component("multiselect", Multiselect);

export default {
  data() {
    return {
      userName: "",
      rememberPassword: true,
      message: {
        status: false,
        text: "",
      },
      isLoading: false,
      password: "",
      fullName: "",
      gapi: null,
      isShowPopup: false,
      dataWidth: 400,
      isShowPassword: false,
      idToken: "",
      permissionGranted: false,
      loading: false,
      allowedTerm: false,
      isSignWithMail: false,
      mainUrl: process.env.mainFrontendUrl,
    };
  },
  props: ["dataUser"],
  mounted() {
    let recaptchaScript = document.createElement("script");
    recaptchaScript.setAttribute("src", "https://accounts.google.com/gsi/client");
    recaptchaScript.setAttribute("async", "");
    recaptchaScript.setAttribute("defer", "");
    document.head.appendChild(recaptchaScript);

    let appleScript = document.createElement("script");
    appleScript.setAttribute(
      "src",
      "https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"
    );
    document.head.appendChild(appleScript);

    let facebookScript = document.createElement("script");
    facebookScript.setAttribute(
      "src",
      "https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0&appId=1153021275276469&autoLogAppEvents=1"
    );
    facebookScript.setAttribute("crossorigin", "anonymous");
    facebookScript.setAttribute("defer", "");
    facebookScript.setAttribute("async", "");
    facebookScript.setAttribute("nonce", "BO3Ua1T2");
    document.head.appendChild(facebookScript);
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
  },
  created() {
    if (process.client) {
      this.isShowPopup = true;
      if (this.userObject) {
        window.location.href = "/";
      }
      this.handleRequestPermission();
      this.handleGetIdToken();
    }
    if (process.client) {
      let currentWidth = window.innerWidth;

      if (currentWidth > 500) {
        if (currentWidth <= 1080) {
          let rightWidth = currentWidth / 2;
          this.dataWidth = rightWidth - 40;
        } else {
          this.dataWidth = 400;
        }
      } else {
        this.dataWidth = currentWidth - 40;
      }
      if (this.userObject) {
        if (this.userObject?.display_name) {
          this.advisorData.display_name = this.userObject.display_name;
        }
        if (this.userObject?.user_email) {
          this.advisorData.user_email = this.userObject.user_email;
        }
      }
    }

    if (this.dataUser && this.dataUser.credential) {
      this.isShowPopup = false;
      this.isLoading = true;
      const params = new URLSearchParams();
      params.append("id_token", this.dataUser.credential);
      params.append("device_uuid", "68413da2d51809da");
      params.append("device_type", "website");
      params.append("user_id", this.dataUser.g_csrf_token);
      params.append("device_signature", this.idToken);

      this.isLoading = true;
      let self = this;
      setTimeout(() => {
        params.append("device_signature", self.idToken);
        loginService
          .loginWithGoogle(params)
          .then((response) => {
            if (response && response.data) {
              let dataToUpdate = response.data;
              dataToUpdate = {
                ...dataToUpdate,
                ...{ auth_code: response?.headers["x-authorization"] },
                ...{ device_signature: self.idToken },
              };
              localStorage.setItem("user", JSON.stringify(dataToUpdate));
              self.$store.commit("reloadUser", true);
              self.$router.push({ path: "/user/dashboard" });
            } else {
              self.message = {
                status: true,
                text: "Have an error. Please try again! ",
              };
            }
            self.isLoading = false;
          })
          .catch((error) => {
            self.isLoading = false;
            self.message = {
              status: true,
              text: error.response.data.message,
            };
          });
      }, 1000);
    } else {
      this.isShowPopup = true;
    }

    if (this.dataUser && this.dataUser.apple_code) {
      this.isLoading = true;
      this.isShowPopup = false;
      const params = new URLSearchParams();
      params.append("identityToken", this.dataUser.apple_id_token);
      params.append("device_uuid", "68413da2d51809da");
      params.append("device_type", "website");

      this.isLoading = true;
      let self = this;
      setTimeout(() => {
        params.append("device_signature", self.idToken);
        loginService
          .loginWithApple(params)
          .then((response) => {
            if (response && response.data) {
              let dataToUpdate = response.data;
              dataToUpdate = {
                ...dataToUpdate,
                ...{ auth_code: response?.headers["x-authorization"] },
                ...{ device_signature: self.idToken },
              };
              localStorage.setItem("user", JSON.stringify(dataToUpdate));
              self.$store.commit("reloadUser", true);
              window.location.href = "/";
            } else {
              self.message = {
                status: true,
                text: "Have an error. Please try again! ",
              };
            }
            self.isLoading = false;
          })
          .catch((error) => {
            self.isLoading = false;
            self.message = {
              status: true,
              text: error.response.data.message,
            };
          });
      }, 1000);
    } else {
      this.isShowPopup = true;
    }
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    async handleRequestPermission() {
      const permission = await Notification.requestPermission();
      this.permissionGranted = permission === "granted";
    },
    async handleGetIdToken() {
      try {
        this.loading = true;
        let currentToken;
        try {
          currentToken = await this.$fire.messaging.getToken();
        } catch (error) {
          this.idToken = "";
          this.loading = false;
        }
        if (currentToken) {
          this.idToken = currentToken;
        } else {
          this.idToken = "";
        }
        this.loading = false;
      } catch (error) {
        this.idToken = "";
        this.loading = false;
      }
    },

    handleLoginFacebook() {
      let self = this;
      window.FB.login(
        function (response) {
          if (response.authResponse) {
            let accessToken = response.authResponse.accessToken;
            self.isShowPopup = false;
            self.isLoading = true;
            const params = new URLSearchParams();
            params.append("access_token", accessToken);
            params.append("device_uuid", "68413da2d51809da");
            params.append("device_type", "website");
            params.append("device_signature", self.idToken);

            self.isLoading = true;
            loginService
              .loginWithFacebook(params)
              .then((response) => {
                if (response && response.data) {
                  let dataToUpdate = response.data;
                  dataToUpdate = {
                    ...dataToUpdate,
                    ...{ auth_code: response?.headers["x-authorization"] },
                    ...{ device_signature: self.idToken },
                  };
                  localStorage.setItem("user", JSON.stringify(dataToUpdate));
                  self.$store.commit("reloadUser", true);
                  self.$router.push({ path: "/user/dashboard" });
                } else {
                  self.message = {
                    status: true,
                    text: "Have an error. Please try again! ",
                  };
                }
                self.isLoading = false;
              })
              .catch((error) => {
                self.isLoading = false;
                self.message = {
                  status: true,
                  text: error.response.data.message,
                };
              });
          }
        },
        { scope: "public_profile,email" }
      );
    },
    handleCloseMessage() {
      this.message = {
        status: false,
        text: "",
      };
    },
    handleLogin() {
      this.handleCloseMessage();
      const params = new URLSearchParams();
      params.append("user_email", this.userName);
      params.append("password", this.password);
      params.append("device_uuid", "67675.khjHGJJ.87687.dsggdw");
      if (this.rememberPassword) {
        params.append("remember", "1");
      } else {
        params.append("remember", "0");
      }
      params.append("device_type", "website");
      params.append("device_signature", this.idToken);

      this.isLoading = true;
      loginService
        .login(params)
        .then((response) => {
          if (response && response.data) {
            let dataToUpdate = response.data;
            dataToUpdate = {
              ...dataToUpdate,
              ...{ auth_code: response?.headers["x-authorization"] },
              ...{ device_signature: this.idToken },
            };
            localStorage.setItem("user", JSON.stringify(dataToUpdate));
            this.$store.commit("reloadUser", true);
            this.$router.push({ path: "/user/dashboard" });
          } else {
            this.message = {
              status: true,
              text: "Email and Password is not correct. Please try again! ",
            };
            this.isShowPopup = true;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoading = false;
          this.message = {
            status: true,
            text: "Have an Error when Login to server!",
          };
          this.isShowPopup = true;
        });
    },
    joinSubmit() {
      this.handleCloseMessage();
      if (!this.userName || !this.password || !this.fullName) {
        this.message = {
          status: true,
          text: "Please fill out Full name, E-mail and Password!",
        };
        return false;
      }

      if (!this.allowedTerm) {
        this.message = {
          status: true,
          text: "You must allowed term before Sign up!",
        };
        return false;
      }
      const params = new URLSearchParams();
      params.append("user_email", this.userName);
      params.append("password", this.password);
      params.append("display_name", this.fullName);
      params.append("device_uuid", "67675.khjHGJJ.87687.dsggdw");
      params.append("device_type", "website");

      this.isLoading = true;
      loginService
        .register(params)
        .then((response) => {
          if (response && response.data) {
            this.handleLogin();
          } else {
            this.message = {
              status: true,
              text: "Email and Password is not correct. Please try again! ",
            };
            this.isShowPopup = true;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          this.isLoading = false;
          this.isShowPopup = true;
          this.message = {
            status: true,
            text: error.response.data.message,
          };
          try {
            let errorMessage = error.response.data.message;
            if (errorMessage[0]) {
              let dataError = errorMessage[0].message;
              if (dataError === "user_email_duplicated") {
                this.message = {
                  status: true,
                  text: "E-mail is exist in Fuldaly World! Please use other E-mail to sign up!",
                };
              }
              if (dataError === "user_password_too_short") {
                this.message = {
                  status: true,
                  text: "Password too short. Please sure use 8 characters at password field!",
                };
              }
            }
          } catch (error) {
            this.message = {
              status: true,
              text: error.message,
            };
          }
        });
    },
  },
};
</script>

<style lang="scss">
@import "~/assets/scss/variables.scss";
@import "vue-multiselect/dist/vue-multiselect.min.css";

.login_with_social {
  margin-top: 20px;
}

.register_advisor {
  width: 100%;
  float: left;

  &__left {
    width: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: #502f84;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    overflow: hidden;

    @include breakpoint(mobile) {
      display: none;
    }

    img {
      max-width: 500px;
      width: 80%;
      margin: 0 auto;
      margin-top: 100px;
    }
  }

  &__right {
    width: 50%;
    float: left;
    margin-left: 50%;
    padding-bottom: 50px;
    label {
      font-weight: 700;
    }

    &__block {
      overflow-y: auto;
      width: 100%;
      float: left;
    }

    @include breakpoint(mobile) {
      width: 100%;
      margin-left: 0;
    }

    .login_with_facebook {
      width: 100%;
      background: #fff;
      border-radius: 6px;
      margin-top: 10px;
      float: left;
      border: 1px #3578e5 solid;
      transition: 500ms all;
      cursor: pointer;
      user-select: none;

      &__svg {
        width: 38px;
        float: left;
        border-radius: 4px 0 0 4px;
        background: #3578e5;
        height: 39px;
        margin-top: -1px;

        svg {
          width: 20px;
          height: 20px;
          fill: #fff;
          margin: 9px;
        }
      }

      p {
        width: calc(100% - 38px);
        float: left;
        font-weight: 700;
        font-size: 14px;
        color: #3578e5;
        line-height: 38px;
        text-align: center;
        padding: 0 10px;
        margin-bottom: 0;
      }

      &:hover {
        background: #f0f0f0;
      }
    }
    .login_with_apple {
      width: 100%;
      float: left;
      position: relative;
      height: 40px;
      border-radius: 6px;
      border: 1px #000 solid;
      overflow: hidden;
      margin-top: 10px;

      &__svg {
        width: 38px;
        height: 38px;
        background-color: #000;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;

        svg {
          width: 20px;
          height: 20px;
          fill: #fff;
          margin: 9px;
        }
      }

      .signin-button {
        width: 100%;
        float: left;
        margin-left: 17px;
      }
    }

    .login_with_google {
      width: 100%;
      float: left;
      overflow: hidden;
      border-radius: 6px;
      cursor: pointer;
      user-select: none;

      span {
        font-size: 14px;
        font-family: $fontFamily;
        font-weight: 700;
      }
    }

    &__form {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      &__logo {
        // width: 200px;
        float: left;
        margin: 100px 0 10px 0;

        p {
          font-weight: 900;
          font-size: 18px;
          color: $primaryColor;
          line-height: 50px;
          float: left;
          margin-left: 8px;
        }

        &__block {
          width: 50px;
          height: 50px;
          float: left;
          background-color: $primaryColor;
          border-radius: $borderRadiusPrimary;

          img {
            height: 40px;
            width: auto;
            margin: 5px 5px;
          }
        }
      }

      &__username {
        margin-top: 10px;
        max-width: 400px;
        border-top: 1px $borderColor solid;
        padding-top: 30px;
        width: 100%;

        button {
          margin-top: 20px;
        }
      }

      &__username__label {
        display: block;
        text-align: center;
        font-weight: 700;
        color: #292929;
      }

      h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700 !important;
      }

      &__avatar {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;

        &__overlay {
          position: absolute;
          background-color: #000;

          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          opacity: 0;
          height: 100px;
          width: 100px;
          border-radius: 50%;
          transition: 0.3s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }

      &__label {
        &:hover {
          .login__right__form__avatar__overlay {
            opacity: 0.2;
          }
        }
      }

      .login_with_social {
        width: 100%;
        float: left;

        &__text {
          width: 100%;
          margin-top: 30px;
          margin-bottom: 40px;
          text-align: center;
          border-bottom: 1px $borderColor solid;
          height: 15px;

          &__heading {
            width: 160px;
            background: #fff;
            margin: 0 auto;
            height: 30px;
            font-size: 14px;
            font-weight: 700;
            padding: 0 20px;
            line-height: 30px;
          }
        }
      }
    }
  }

  .login__form__label .login__form .login__form .login__form__username__input {
    width: 100%;
    margin-top: 2rem;
    padding: 0.4rem;
    border: none;
    border-bottom: 1px solid #afb4b8;
    text-align: center;
    font-size: 18px;
  }
}

.form-group {
  position: relative;
}

.multiselect__tags {
  font-size: 16px !important;
  padding-left: 16px !important;

  span {
    font-size: 12px;
  }
}

.multiselect__placeholder {
  font-size: 16px !important;
}

.form-group-show {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 60px;
  cursor: pointer;
  right: 0;
  user-select: none;

  @include breakpoint(mobile) {
    top: 56px;
  }

  &.active {
    svg {
      fill: $primaryColor;
    }
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #aaa;
  }
}

@supports (animation: grow 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards) {
  .tick {
    stroke-opacity: 0;
    stroke-dasharray: 29px;
    stroke-dashoffset: 29px;
    animation: draw 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards;
    animation-delay: 0.6s;
  }

  .circle {
    fill-opacity: 0;
    stroke: #219a00;
    stroke-width: 16px;
    transform-origin: center;
    transform: scale(0);
    animation: grow 1s cubic-bezier(0.25, 0.25, 0.25, 1.25) forwards;
  }
}

@keyframes grow {
  60% {
    transform: scale(0.8);
    stroke-width: 4px;
    fill-opacity: 0;
  }

  100% {
    transform: scale(0.9);
    stroke-width: 8px;
    fill-opacity: 1;
    fill: #219a00;
  }
}

@keyframes draw {
  0%,
  100% {
    stroke-opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

path {
  stroke-width: 2px !important;
}

// Styles
:root {
  --theme-color: var(--color-purple);
}

.register_advisor__success {
  width: 100%;
  text-align: center;

  &__title {
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    color: $textColor;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  &__description {
    font-size: 16px;
  }

  &__button {
    button {
      font-size: 16px;
      font-weight: 700;
      padding: 8px 40px;
    }
  }
}

.register__right__form__username__alert {
  width: 100%;
  float: left;
  margin-bottom: -10px;
  margin-top: 10px;
  position: relative;

  button {
    position: absolute;
    top: -14px;
    right: 10px;
  }
}
</style>
