<template>
  <div class="login">
    <div id="fb-root"></div>
    <div class="register_advisor__right" id="register_advisor__right">
      <client-only>
        <div class="register_advisor__right__block">
          <div class="register_advisor__right__form">
            <div class="register_advisor__right__form__logo">
              <nuxt-link :to="'/'">
                <div class="register_advisor__right__form__logo__block">
                  <img src="~/assets/images/logo_tarot.png" />
                </div>
                <p>Fuda</p>
              </nuxt-link>
            </div>
            <nuxt-link to="/register-foreigner-advisor">
              <button type="button" class="btn btn-primary w-100">Become an Advisor</button>
            </nuxt-link>
            <div class="register_advisor__right__form__username" v-if="userObject && !isInputAdvisor">
              <div class="register_advisor__success">
                <div class="svg-container">
                  <svg
                    class="ft-green-tick"
                    xmlns="http://www.w3.org/2000/svg"
                    height="100"
                    width="100"
                    viewBox="0 0 48 48"
                    aria-hidden="true"
                  >
                    <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22" />
                    <path
                      class="tick"
                      fill="none"
                      stroke="#FFF"
                      stroke-width="6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                      d="M14 27l5.917 4.917L34 17"
                    />
                  </svg>
                </div>
                <div class="register_advisor__success__title">{{ language("Summit successfully!") }}</div>
                <div class="register_advisor__success__desc">
                  {{ successText }}
                </div>
                <div class="register_advisor__success__button">
                  <nuxt-link to="/"
                    ><button type="button" class="btn btn-primary">{{ language("Go to homepage") }}</button></nuxt-link
                  >
                </div>
              </div>
            </div>
            <div class="register_advisor__right__form__username" v-if="isInputAdvisor">
              <div style="width: 100%; float: left" v-if="userObject && isInputAdvisor">
                <div class="form-group mt-2">
                  <label class="pt-3 pb-2" for="full_name"
                    >{{ language("Full name") }} <font color="red">*</font></label
                  >
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    id="full_name"
                    placeholder="Nhập họ tên"
                    style="font-size: 16px"
                    v-model.trim="advisorData.full_name"
                    required
                    :disabled="isLoadingAdvisor"
                  />
                </div>
                <div class="form-group">
                  <label class="pt-3 pb-2">{{ language("Date of birth") }} <font color="red">*</font></label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    id="date_of_birth"
                    placeholder="Ví dụ: 19/09/1990"
                    style="font-size: 16px"
                    v-model.trim="advisorData.date_of_birth"
                    required
                    :disabled="isLoadingAdvisor"
                  />
                </div>
                <div class="form-group">
                  <label class="pt-3 pb-2">Email address <font color="red">*</font></label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    aria-describedby="emailHelp"
                    placeholder="Nhập email"
                    style="font-size: 16px"
                    v-model.trim="advisorData.user_email"
                    required
                    :disabled="isLoadingAdvisor"
                  />
                </div>
                <div class="form-group">
                  <label class="pt-3 pb-2">{{ language("Social media") }} <font color="red">*</font></label>
                  <p style="font-size: 14px; color: #888">
                    {{ language("Please write down your Facebook or Zalo account you use often use") }}
                  </p>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    aria-describedby="emailHelp"
                    placeholder="Nhập link mạng xã hội của bạn"
                    style="font-size: 16px"
                    v-model.trim="advisorData.social_link"
                    required
                    :disabled="isLoadingAdvisor"
                  />
                </div>
                <div class="form-group">
                  <label class="pt-3 pb-2">{{ language("Phone number") }} <font color="red">*</font></label>
                  <input
                    type="number"
                    class="form-control form-control-lg"
                    aria-describedby="emailHelp"
                    placeholder="Nhập số điện thoại của bạn"
                    style="font-size: 16px"
                    v-model.trim="advisorData.phone_number"
                    required
                    :disabled="isLoadingAdvisor"
                  />
                </div>

                <!-- <div class="form-group">
                  <label class="pt-3 pb-2">{{ language("Country") }} <font color="red">*</font></label>
                  <select
                    class="form-control"
                    name=""
                    tabindex="8"
                    v-model="advisorData.user_nation"
                    :disabled="isLoadingAdvisor"
                  >
                    <option value="">{{ language("Choose country") }}</option>
                    <option
                      v-for="(itemCountry, indexCountry) in countriesData"
                      :key="'country_' + indexCountry"
                      :value="itemCountry.alpha2"
                    >
                      {{ itemCountry.name }}
                    </option>
                  </select>
                </div> -->

                <div class="form-group">
                  <label class="pt-3 pb-2">{{ language("Describe yourself") }} <font color="red">*</font></label>
                  <p style="font-size: 14px; color: #888">
                    Mô tả ngắn về bạn (Kinh nghiệm thực tế của bạn? Bạn sử dụng công cụ gì? Điểm mạnh xem về vấn đề nào?
                    Bạn mang được giá trị gì tới khách hàng? Châm ngôn, triết lý sống,...)
                  </p>
                  <textarea
                    rows="5"
                    type="text"
                    class="form-control form-control-lg"
                    aria-describedby="emailHelp"
                    placeholder="Mô tả ngắn về bạn"
                    style="font-size: 16px"
                    v-model.trim="advisorData.bio"
                    required
                    :disabled="isLoadingAdvisor"
                  />
                </div>
                <div class="form-group">
                  <label class="pt-3 pb-2">{{ language("Experience") }} <font color="red">*</font></label>
                  <input
                    type="number"
                    min="0"
                    max="99"
                    class="form-control form-control-lg"
                    aria-describedby="emailHelp"
                    placeholder="Nhập số năm kinh nghiệm của bạn"
                    style="font-size: 16px"
                    v-model.trim="advisorData.experience"
                    required
                    :disabled="isLoadingAdvisor"
                  />
                </div>

                <!-- <div class="payment__body__right__setting__preview" v-if="advisorData">
                  <video width="400" height="250" controls v-if="advisorData && advisorData.video_link">
                    <source :src="advisorData.video_link" type="video/mp4" />
                    {{ language("Your browser does not support the video tag.") }}
                  </video>
                </div>
                <div class="form-group">
                  <label class="pt-3 pb-2">{{ language("Video about you") }} <font color="red">*</font></label>
                  <p style="font-size: 14px; color: #888">
                    {{ language("Post a video 45 seconds to 1 minute to introduce yourself") }}
                  </p>
                  <div class="payment__body__right__setting__file">
                    <input
                      type="file"
                      ref="file_video"
                      id="chat_send_video"
                      v-on:change="(e) => handleSubmitFile(e, 'video_link')"
                      accept="video/*"
                    />
                  </div>
                </div> -->

                <div class="form-group">
                  <label class="pt-3 pb-2">{{ language("Topic") }} <font color="red">*</font></label>
                  <p style="font-size: 14px; color: #888">
                    {{ language("Choose topic you can serve for your service. You can select multiple topic.") }}
                  </p>
                  <multiselect
                    v-model="topicValue"
                    :options="topicData"
                    :multiple="true"
                    :close-on-select="false"
                    :clear-on-select="false"
                    :preserve-search="true"
                    placeholder="Chọn chủ đề"
                    label="name"
                    track-by="name"
                    :preselect-first="false"
                  ></multiselect>
                </div>
                <div class="form-group">
                  <label class="pt-3 pb-2">{{ language("Category") }} <font color="red">*</font></label>
                  <p style="font-size: 14px; color: #888">
                    {{ language("Choose category you can serve for your service. You can select multiple category.") }}
                  </p>
                  <multiselect
                    v-model="categoryValue"
                    :options="categoriesData"
                    :multiple="true"
                    :close-on-select="false"
                    :clear-on-select="false"
                    :preserve-search="true"
                    placeholder="Chọn thể loại"
                    label="name"
                    track-by="name"
                    :preselect-first="false"
                  ></multiselect>
                </div>
                <div class="form-group">
                  <label class="pt-3 pb-2"
                    >{{ language("Quan điểm về tâm linh của bạn?") }} <font color="red">*</font></label
                  >
                  <textarea
                    rows="2"
                    type="text"
                    class="form-control form-control-lg"
                    aria-describedby="emailHelp"
                    placeholder="Nêu quan điểm của bạn"
                    style="font-size: 16px"
                    v-model.trim="advisorData.opinion"
                    required
                    :disabled="isLoadingAdvisor"
                  />
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show mt-3"
                  role="alert"
                  v-if="message.status && message.text"
                >
                  {{ message.text }}
                  <button
                    type="button"
                    class="btn close"
                    data-dismiss="alert"
                    aria-label="Close"
                    v-on:click="handleCloseMessage"
                    style="margin-top: 0px"
                  >
                    <span aria-hidden="true" style="font-size: 30px; margin-right: 8px">&times;</span>
                  </button>
                </div>
                <nuxt-link to="/register-advisor-thank-you">
                  <button
                    type="submit"
                    class="btn btn-primary w-100"
                    @click="handleBecomeAdvisor"
                    v-if="!isLoadingAdvisor"
                  >
                    {{ language("Become an Advisor") }}
                  </button>
                </nuxt-link>
                <nuxt-link to="/register-advisor-thank-you">
                  <button type="submit" class="btn btn-primary w-100" v-if="isLoadingAdvisor" disabled>
                    <span class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>
                    {{ language("Become an Advisor...") }}
                  </button>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </client-only>
    </div>

    <div class="register_advisor__left">
      <div class="register_advisor__left__heading" data-v-5742bb94="">Về FUDA</div>
      <div class="register_advisor__left__title" data-v-5742bb94="">
        Fuda là nền tảng kết nối các chuyên gia tâm linh đến tất cả mọi người. Với mục tiêu đưa các chuyên gia đến với
        những người dùng đang cần sự giúp đỡ trên toàn thế giới một cách nhanh chóng và chuyên nghiệp nhất. Fuda chính
        thức ra mắt vào tháng 10 năm 2022 bởi <b>Công ty Cổ phần Công nghệ ICEO.</b>
      </div>
      <div class="register_advisor__left__description" data-v-5742bb94="">
        Đến với Fuda để kết nối tới nhiều người cần giúp đỡ hơn, nâng cao thu nhập, có thêm nhiều trải nghiệm và chuyên
        nghiệp hóa thương hiệu của bản thân!
      </div>
      <img src="/images/background-fudaly.jpeg" alt="Fuda" />
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { contactFormService } from "~/services/contactform.service";
import { CountriesHandle } from "~/modules/countries";
import { TopicModule } from "~/modules/topic";
import { CategoryModule } from "~/modules/category";
import Multiselect from "vue-multiselect";
import { presignService } from "~/services/presign.service";
import { s3Service } from "../../services/s3.services";
import language from "~/modules/language.ts";
import { VueReCaptcha } from "vue-recaptcha-v3";
Vue.use(VueReCaptcha, { siteKey: "6LeDG4QgAAAAAP7MzpBC3lV4FqbGMZYZzGs67VX2" });

// register globally
Vue.component("multiselect", Multiselect);

export default {
  data() {
    return {
      userName: "",
      rememberPassword: false,
      message: {
        status: false,
        text: "",
      },
      successText:
        "Cảm ơn bạn đã gửi yêu cầu. Khi chúng tôi nhận được thông tin của bạn, chúng tôi sẽ xem xét đơn đăng ký và phê duyệt hoặc liên hệ với bạn nếu có yêu cầu khác. Nếu bạn có bất kỳ câu hỏi, phản hồi, nhận xét hoặc mối quan tâm nào, vui lòng liên hệ với chúng tôi qua email support@appuni.io.",
      advisorData: {
        full_name: "",
        user_email: "",
        social_link: "",
        phone_number: "",
        // user_nation: "",
        bio: "",
        experience: "",
        topic: "",
        category: "",
        date_of_birth: "",
        opinion: "",
      },
      isLoading: false,
      password: "",
      fullName: "",
      gapi: null,
      isShowPopup: true,
      dataWidth: 400,
      isShowPassword: false,
      countriesData: CountriesHandle.getCountriesCode(),
      topicData: TopicModule.getTopic(),
      topicValue: null,
      categoriesData: CategoryModule.getCategories(),
      categoryValue: null,
      options: ["list", "of", "options"],
      isInputAdvisor: true,
      isLoadingAdvisor: false,
      contactFormName: "BecomeAdvisor",
      idToken: "",
      permissionGranted: false,
      loading: false,
      isLoginMail: false,
      mainUrl: process.env.mainFrontendUrl,
    };
  },
  props: ["dataUser"],
  computed: {
    userObject() {
      return true;
    },
    userToken() {
      return null;
    },
  },
  created() {
    if (process.client) {
      this.handleRequestPermission();
      this.handleGetIdToken();
    }
    if (process.client) {
      let currentWidth = window.innerWidth;

      if (currentWidth > 500) {
        if (currentWidth <= 1080) {
          let rightWidth = currentWidth / 2;
          this.dataWidth = rightWidth - 40;
        } else {
          this.dataWidth = 400;
        }
      } else {
        this.dataWidth = currentWidth - 40;
      }
    }
  },
  watch: {
    gapi(newData) {},
    categoryValue(newData) {
      this.advisorData.category = newData;
    },
    topicValue(newData) {
      this.advisorData.topic = newData;
    },
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    async handleRequestPermission() {
      const permission = await Notification.requestPermission();
      this.permissionGranted = permission === "granted";
    },
    async handleGetIdToken() {
      try {
        this.loading = true;
        let currentToken;
        try {
          currentToken = await this.$fire.messaging.getToken();
        } catch (error) {
          this.idToken = "";
          this.loading = false;
        }
        if (currentToken) {
          this.idToken = currentToken;
        } else {
          this.idToken = "";
        }
        this.loading = false;
      } catch (error) {
        this.idToken = "";
        this.loading = false;
      }
    },

    /**
     * @param {*} file
     */
    async handleCreatePresignUrl(file) {
      let dataReturn = await presignService
        .createNewPresign(file.name, file.type, this.userToken)
        .then((response) => {
          if (response.data) {
            return response.data;
          } else {
            return null;
          }
        })
        .catch((error) => {
          return null;
        });
      return dataReturn;
    },

    async handleSubmitFile(dataFile) {
      let fileArray = dataFile.target.files;
      this.isLoadingMedia = true;
      for (var i = 0; i < fileArray.length; i++) {
        let file = fileArray[i];
        let mediaPresign = await this.handleCreatePresignUrl(file);

        if (mediaPresign && mediaPresign.url) {
          let urlPut = mediaPresign.url;
          if (urlPut && urlPut.indexOf("tarotappinhouse.s3.amazonaws.com") !== -1) {
            urlPut = urlPut.replace("tarotappinhouse.s3.amazonaws.com", "tarotappinhouse.s3-accelerate.amazonaws.com");
          }
          let newDataPromise = new Promise((resolve, reject) => {
            const reader = new FileReader();
            let fileType = file.type;
            reader.onload = () => {
              try {
                s3Service
                  .createUserMeta(urlPut, fileType, reader.result)
                  .then(function (response) {
                    if (Number(response.status === 200)) {
                      resolve(true);
                    } else {
                      reject(false);
                    }
                  })
                  .catch(function (error) {
                    reject(false);
                  });
              } catch (err) {
                reject(false);
              }
            };
            reader.onerror = (error) => {
              reject(false);
            };
            reader.readAsArrayBuffer(file);
          });

          //Data Promise
          let dataReturn = await newDataPromise.then(
            (response) => {
              return response;
            },
            (error) => {
              return null;
            }
          );
          if (dataReturn) {
            let urlOriginal = "";
            let dataArrayUrl = mediaPresign.url?.split("?");
            if (dataArrayUrl[0]) {
              urlOriginal = dataArrayUrl[0];
            }
            //Update Data User
            this.handleSetVideoData(urlOriginal);
            this.isLoadingMedia = false;
            this.$refs.file_video.value = null;
          } else {
            alert("Not support this file");
            this.isLoadingMedia = false;
            this.$refs.file_video.value = null;
          }
        } else {
          alert("Not support this file");
          this.isLoadingMedia = false;
          this.$refs.file_video.value = null;
        }
      }
    },

    handleSetVideoData(videoUrl) {
      this.advisorData.video_link = videoUrl;
    },

    handleBecomeAdvisor(e) {
      let self = this;
      e.preventDefault();
      this.loadingSubmit = true;
      let dataToAdd = {
        contactform_name: this.contactFormName,
        contactform_content: JSON.stringify(this.advisorData),
        contactform_email: this.advisorData.user_email,
      };
      contactFormService
        .createContactForm(dataToAdd, this.userToken)
        .then((response) => {
          if (response && response.data) {
            this.isInputAdvisor = false;
          }
          this.isLoadingAdvisor = false;
        })
        .catch((error) => {
          this.message = {
            status: true,
            text: error.response.data.message,
          };
          this.isLoadingAdvisor = false;
        });

      let dataRight = document.getElementById("register_advisor__right");
      if (!this.advisorData.full_name) {
        this.message = {
          status: true,
          text: "Họ tên không thể trống!",
        };
        dataRight.scrollTo(0, 0);
        return false;
      }
      if (!this.advisorData.date_of_birth) {
        this.message = {
          status: true,
          text: "Ngày sinh không thể trống!",
        };
        dataRight.scrollTo(0, 0);
        return false;
      }
      if (!this.advisorData.user_email) {
        this.message = {
          status: true,
          text: "Email phải theo định dạng: jsmith@example.com",
        };
        dataRight.scrollTo(0, 0);
        return false;
      }
      if (!this.advisorData.social_link) {
        this.message = {
          status: true,
          text: "Mạng xã hội không thể trống!",
        };
        dataRight.scrollTo(0, 0);
        return false;
      }
      if (!this.advisorData.phone_number) {
        this.message = {
          status: true,
          text: "Số điện thoại phải là nhập số!",
        };
        dataRight.scrollTo(0, 0);
        return false;
      }
      // if (!this.advisorData.user_nation) {
      //   this.message = {
      //     status: true,
      //     text: "Country can not empty!",
      //   };
      //   dataRight.scrollTo(0, 0);
      //   return false;
      // }
      if (!this.advisorData.bio) {
        this.message = {
          status: true,
          text: "Mô tả về bản thân không thể trống!",
        };
        dataRight.scrollTo(0, 0);
        return false;
      }
      if (!this.advisorData.experience) {
        this.message = {
          status: true,
          text: "Kinh nghiệm phải là số!",
        };
        dataRight.scrollTo(0, 0);
        return false;
      }
      if (!this.advisorData.opinion) {
        this.message = {
          status: true,
          text: "Quan điểm tâm linh không thể trống!",
        };
        dataRight.scrollTo(0, 0);
        return false;
      }

      this.isLoadingAdvisor = true;
    },
    handleCloseMessage() {
      this.message = {
        status: false,
        text: "",
      };
    },
  },
};
</script>

<style lang="scss">
@import "~/assets/scss/variables.scss";
@import "vue-multiselect/dist/vue-multiselect.min.css";

.register_advisor {
  width: 100%;
  float: left;

  &__left {
    width: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: auto;
    background-color: #502f84;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    overflow: hidden;

    @include breakpoint(mobile) {
      display: none;
    }

    &__heading {
      width: 100%;
      float: left;
      font-size: 50px;
      margin-left: 15px;
      letter-spacing: 0px;
      font-weight: 600;
      color: #fff;
      text-align: left;
    }
    &__title {
      width: 95%;
      float: left;
      font-size: 18px;
      color: #fff;
      text-align: left;
      margin-top: 3px;
      font-weight: 400;
      margin-left: 15px;
    }
    &__description {
      width: 90%;
      float: left;
      font-size: 22px;
      letter-spacing: 0px;
      font-weight: 600;
      color: #fff;
      text-align: left;
      padding-top: 28px;
      margin-left: 15px;
    }

    img {
      max-width: 500px;
      width: 80%;
      margin: 0 auto;
      // margin-top: 100px;
    }
  }

  &__right {
    width: 50%;
    float: left;
    margin-left: 50%;
    padding-bottom: 50px;
    overflow-y: auto;
    label {
      font-weight: 700;
    }

    &__block {
      overflow-y: auto;
      width: 100%;
      float: left;
    }

    @include breakpoint(mobile) {
      width: 100%;
      margin-left: 0;
    }

    .login_with_social {
      margin-top: 20px;
    }

    .login_with_facebook {
      width: 100%;
      background: #fff;
      border-radius: 6px;
      margin-top: 10px;
      float: left;
      border: 1px #3578e5 solid;
      transition: 500ms all;
      cursor: pointer;
      user-select: none;

      &__svg {
        width: 38px;
        float: left;
        border-radius: 4px 0 0 4px;
        background: #3578e5;
        height: 39px;
        margin-top: -1px;

        svg {
          width: 20px;
          height: 20px;
          fill: #fff;
          margin: 9px;
        }
      }

      p {
        width: calc(100% - 38px);
        float: left;
        font-weight: 700;
        font-size: 14px;
        color: #3578e5;
        line-height: 38px;
        text-align: center;
        padding: 0 10px;
        margin-bottom: 0;
      }

      &:hover {
        background: #f0f0f0;
      }
    }

    .login_with_apple {
      width: 100%;
      float: left;
      position: relative;
      height: 40px;
      border-radius: 6px;
      border: 1px #000 solid;
      overflow: hidden;
      margin-top: 10px;

      &__svg {
        width: 38px;
        height: 38px;
        background-color: #000;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;

        svg {
          width: 20px;
          height: 20px;
          fill: #fff;
          margin: 9px;
        }
      }

      .signin-button {
        width: 100%;
        float: left;
      }
    }

    .login_with_email {
      width: 100%;
      background: #fff;
      border-radius: 6px;
      margin-top: 10px;
      float: left;
      border: 1px $primaryColor solid;
      transition: 500ms all;
      cursor: pointer;
      user-select: none;

      &__svg {
        width: 38px;
        float: left;
        border-radius: 4px 0 0 4px;
        background: $primaryColor;
        height: 39px;
        margin-top: -1px;

        svg {
          width: 20px;
          height: 20px;
          fill: #fff;
          margin: 9px;
        }
      }

      p {
        width: calc(100% - 38px);
        float: left;
        font-weight: 700;
        font-size: 14px;
        color: $primaryColor;
        line-height: 38px;
        text-align: center;
        padding: 0 10px;
        margin-bottom: 0;
      }

      &:hover {
        background: #f0f0f0;
      }
    }

    .login_with_google {
      width: 100%;
      float: left;
      overflow: hidden;
      border-radius: 6px;
      cursor: pointer;
      user-select: none;

      span {
        font-size: 14px;
        font-family: $fontFamily;
        font-weight: 700;
      }
    }

    &__form {
      //padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      &__logo {
        // width: 200px;
        float: left;
        margin: 100px 0 10px 0;

        p {
          font-weight: 900;
          font-size: 18px;
          color: $primaryColor;
          line-height: 50px;
          float: left;
          margin-left: 8px;
        }

        &__block {
          width: 50px;
          height: 50px;
          float: left;
          background-color: #661697;
          border-radius: $borderRadiusPrimary;

          img {
            height: 40px;
            width: auto;
            margin: 5px 5px;
          }
        }
      }

      &__username {
        margin-top: 10px;
        max-width: 400px;
        border-top: 1px $borderColor solid;
        padding-top: 30px;
        width: 100%;

        button {
          margin-top: 20px;
        }

        .alert {
          button {
            position: absolute;
            top: 4px;
            right: 4px;
          }
        }
      }

      &__username__label {
        display: block;
        text-align: center;
        font-weight: 700;
        color: #292929;
      }

      h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700 !important;
      }

      &__avatar {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;

        &__overlay {
          position: absolute;
          background-color: #000;

          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          opacity: 0;
          height: 100px;
          width: 100px;
          border-radius: 50%;
          transition: 0.3s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }

      &__label {
        &:hover {
          .login__right__form__avatar__overlay {
            opacity: 0.2;
          }
        }
      }

      .login_with_social {
        width: 100%;
        float: left;

        &__text {
          width: 100%;
          margin-top: 30px;
          margin-bottom: 40px;
          text-align: center;
          border-bottom: 1px $borderColor solid;
          height: 15px;

          &__heading {
            width: 160px;
            background: #fff;
            margin: 0 auto;
            height: 30px;
            font-size: 14px;
            font-weight: 700;
            padding: 0 20px;
            line-height: 30px;
          }
        }
      }
    }
  }

  .login__form__label .login__form .login__form .login__form__username__input {
    width: 100%;
    margin-top: 2rem;
    padding: 0.4rem;
    border: none;
    border-bottom: 1px solid #afb4b8;
    text-align: center;
    font-size: 18px;
  }
}

.form-group {
  position: relative;
}

.multiselect__tags {
  font-size: 16px !important;
  padding-left: 16px !important;

  span {
    font-size: 12px;
  }
}

.multiselect__placeholder {
  font-size: 16px !important;
}

.form-group-show {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50px;
  cursor: pointer;
  right: 0;
  user-select: none;

  &.active {
    svg {
      fill: $primaryColor;
    }
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #aaa;
  }
}

@supports (animation: grow 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards) {
  .tick {
    stroke-opacity: 0;
    stroke-dasharray: 29px;
    stroke-dashoffset: 29px;
    animation: draw 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards;
    animation-delay: 0.6s;
  }

  .circle {
    fill-opacity: 0;
    stroke: #219a00;
    stroke-width: 16px;
    transform-origin: center;
    transform: scale(0);
    animation: grow 1s cubic-bezier(0.25, 0.25, 0.25, 1.25) forwards;
  }
}

@keyframes grow {
  60% {
    transform: scale(0.8);
    stroke-width: 4px;
    fill-opacity: 0;
  }

  100% {
    transform: scale(0.9);
    stroke-width: 8px;
    fill-opacity: 1;
    fill: #219a00;
  }
}

@keyframes draw {
  0%,
  100% {
    stroke-opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

path {
  stroke-width: 2px !important;
}

// Styles
:root {
  --theme-color: var(--color-purple);
}

.register_advisor__success {
  width: 100%;
  text-align: center;

  &__title {
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    color: $textColor;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  &__description {
    font-size: 16px;
  }

  &__button {
    button {
      font-size: 16px;
      font-weight: 700;
      padding: 8px 40px;
    }
  }
}
</style>
