<template>
  <div class="tarot_starview" v-html="getStarView(starNumber)">
  </div>
</template>

<script>
export default {
  props: ["starNumber"],
  data() {
    var star =
      '<svg viewBox="0 0 49.94 49.94" class="active"><path d="M48.856,22.73c0.983-0.958,1.33-2.364,0.906-3.671c-0.425-1.307-1.532-2.24-2.892-2.438l-12.092-1.757 c-0.515-0.075-0.96-0.398-1.19-0.865L28.182,3.043c-0.607-1.231-1.839-1.996-3.212-1.996c-1.372,0-2.604,0.765-3.211,1.996  L16.352,14c-0.23,0.467-0.676,0.79-1.191,0.865L3.069,16.622c-1.359,0.197-2.467,1.131-2.892,2.438  c-0.424,1.307-0.077,2.713,0.906,3.671l8.749,8.528c0.373,0.364,0.544,0.888,0.456,1.4L8.224,44.701 c-0.183,1.06,0.095,2.091,0.781,2.904c1.066,1.267,2.927,1.653,4.415,0.871l10.814-5.686c0.452-0.237,1.021-0.235,1.472,0 l10.815,5.686c0.526,0.277,1.087,0.417,1.666,0.417c1.057,0,2.059-0.47,2.748-1.288c0.687-0.813,0.964-1.846,0.781-2.904 l-2.065-12.042c-0.088-0.513,0.083-1.036,0.456-1.4L48.856,22.73z"/></svg>';
    var star_blank =
      '<svg viewBox="0 0 49.94 49.94"><path d="M48.856,22.73c0.983-0.958,1.33-2.364,0.906-3.671c-0.425-1.307-1.532-2.24-2.892-2.438l-12.092-1.757 c-0.515-0.075-0.96-0.398-1.19-0.865L28.182,3.043c-0.607-1.231-1.839-1.996-3.212-1.996c-1.372,0-2.604,0.765-3.211,1.996  L16.352,14c-0.23,0.467-0.676,0.79-1.191,0.865L3.069,16.622c-1.359,0.197-2.467,1.131-2.892,2.438  c-0.424,1.307-0.077,2.713,0.906,3.671l8.749,8.528c0.373,0.364,0.544,0.888,0.456,1.4L8.224,44.701 c-0.183,1.06,0.095,2.091,0.781,2.904c1.066,1.267,2.927,1.653,4.415,0.871l10.814-5.686c0.452-0.237,1.021-0.235,1.472,0 l10.815,5.686c0.526,0.277,1.087,0.417,1.666,0.417c1.057,0,2.059-0.47,2.748-1.288c0.687-0.813,0.964-1.846,0.781-2.904 l-2.065-12.042c-0.088-0.513,0.083-1.036,0.456-1.4L48.856,22.73z"/></svg>';

    return {
      star_icon: star,
      star_icon_blank: star_blank
    };
  },
  methods: {
    getStarView(number_star) {
      var star = parseFloat(number_star);
      var star_view = "";
      var star_icon = this.star_icon;
      var star_icon_blank = this.star_icon_blank;
      if (star < 0.5) {
        star_view =
          star_icon_blank +
          star_icon_blank +
          star_icon_blank +
          star_icon_blank +
          star_icon_blank;
        return star_view;
      }
      if (star >= 0.5 && star < 1.5) {
        star_view =
          star_icon +
          star_icon_blank +
          star_icon_blank +
          star_icon_blank +
          star_icon_blank;
        return star_view;
      }
      if (star >= 1.5 && star < 2.5) {
        star_view =
          star_icon +
          star_icon +
          star_icon_blank +
          star_icon_blank +
          star_icon_blank;
        return star_view;
      }
      if (star >= 2.5 && star < 3.5) {
        star_view =
          star_icon + star_icon + star_icon + star_icon_blank + star_icon_blank;
        return star_view;
      }
      if (star >= 3.5 && star < 4.5) {
        star_view =
          star_icon + star_icon + star_icon + star_icon + star_icon_blank;
        return star_view;
      }
      if (star >= 4.5) {
        star_view = star_icon + star_icon + star_icon + star_icon + star_icon;
        return star_view;
      }
    },
  },
};
</script>
