<template>
  <div>
    <nuxt />
  </div>
</template>

<script>
export default {
  created() {
    if (process.client) {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  },
  head() {
    return {
      meta: [
        { name: 'appleid-signin-client-id', content: 'fuda.appuni.io' },
        { name: 'appleid-signin-scope', content: 'name email' },
        { name: 'appleid-signin-redirect-uri', content: `${process.env.mainFrontendUrl}${(this.$route.path === '/login' || this.$route.path === '/register-advisor' || this.$route.path === '/signup') ? this.$route.path : '/login'}` },
        { name: 'appleid-signin-state', content: 'p3YYQbmseDWSrq8H' },
        { name: 'appleid-signin-use-popup', content: 'false' },
      ]
    }
  },
  scrollToTop: true
};
</script>
<style lang="scss">
@import '~/assets/scss/variables.scss';
@import '~/assets/scss/reset.scss';
</style>
