<template>
  <div>
    <q-header />
    <div class="body">
      <nuxt />
    </div>
    <q-accept-cookie />
    <q-footer />
  </div>
</template>
<script>
import Header from "~/components/Layout/Header.vue";
import Footer from "~/components/Layout/Footer.vue";
import AcceptCookie from '~/components/Layout/AcceptCookie.vue';
export default {
  name: "default_layout",
  components: {
    "q-header": Header,
    "q-footer": Footer,
    "q-accept-cookie": AcceptCookie
  },
  created() {
    if (process.client) {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  },
  watch: {
    "$route.fullPath": {
      handler(newValue) {
        setTimeout(() => {
          window.scrollTo(0, 0);
        }, 200);
      }
    },
  },
  scrollToTop: true,
  head() {
    return {
      meta: [
        { name: 'appleid-signin-client-id', content: 'fuda.appuni.io' },
        { name: 'appleid-signin-scope', content: 'name email' },
        { name: 'appleid-signin-redirect-uri', content: `${process.env.mainFrontendUrl}/${(this.$route.query.path === 'login' || this.$route.query.path === 'register-advisor' || this.$route.query.path === 'signup') ? this.$route.query.path : 'login'}` },
        { name: 'appleid-signin-state', content: 'p3YYQbmseDWSrq8H' },
        { name: 'appleid-signin-use-popup', content: 'false' },
      ]
    }
  },
};
</script>

<style lang="scss">
@import '~/assets/scss/variables.scss';
@import '~/assets/scss/reset.scss';
</style>
