<template>
  <section class="container">
    <div class="web_body">
      <div class="web_body_left">
        <img src="~/assets/images/404.svg" :alt="language('Have an Error')" />
        <div class="error_title_first">{{ language("404 ERROR") }}</div>
        <div class="error_title_second">
          {{
            language("Opps. Have an error, please try again or go Home.")
          }}
        </div>
        <div class="error_button">
          <nuxt-link to="/"
            ><div class="error_button__bt">{{ language("GO HOME") }}</div></nuxt-link
          >
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import language from "~/modules/language.ts";
export default {
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
  },
  head() {
    return {
      title: "Have an error, please try again!",
      meta: [
        { hid: "description", name: "description", content: "" },
        { name: "robots", content: "NOINDEX, NOFOLLOW" },
      ],
    };
  },
  scrollToTop: true
};
</script>
<style lang="scss">
@import '~/assets/scss/variables.scss';
@import '~/assets/scss/reset.scss';
.web_body_left {
  width: 100%;
  float: left;
  text-align: center;
  padding: 100px 0 100px 0;
  @include breakpoint(phablet) {
    width: 100%;
  }
  svg {
    width: 300px;
    margin: 0 auto;
  }
  img {
    width: 300px;
    margin: 0 auto;
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  .error_title_first {
    width: 100%;
    font-family: $fontFamily;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: $primaryColor;
  }
  .error_title_second {
    width: 100%;
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 16px;
    padding: 15px 0 0 0;
    text-align: center;
    color: $textColor;
  }
  .error_button {
    width: 100%;
    margin: 20px 0 0 0;
    .error_button__bt {
      width: 150px;
      height: 40px;
      font-weight: 700;
      font-family: $fontFamily;
      font-size: 13px;
      background: $primaryColor;
      border-radius: 4px;
      color: #fff;
      margin: 0 auto;
      line-height: 40px;
    }
  }
}
</style>
