<template>
  <div>
    <q-header />
    <div class="body_container">
      <div class="profile__layout">
        <div class="">
          <div class="row">
            <div
              :class="
                fullPath === '/user/user-menu' ? 'profile__layout__left user_menu col-3' : 'profile__layout__left col-3'
              "
            >
              <div class="profile__layout__left__body">
                <div class="menu">
                  <h1 class="menu__heading" v-if="fullPath === '/user/user-menu'">{{ language("User Menu") }}</h1>
                </div>

                <!-- <div class="profile__layout__left__body__title">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                      d="M495.9 166.6C499.2 175.2 496.4 184.9 489.6 191.2L446.3 230.6C447.4 238.9 448 247.4 448 256C448 264.6 447.4 273.1 446.3 281.4L489.6 320.8C496.4 327.1 499.2 336.8 495.9 345.4C491.5 357.3 486.2 368.8 480.2 379.7L475.5 387.8C468.9 398.8 461.5 409.2 453.4 419.1C447.4 426.2 437.7 428.7 428.9 425.9L373.2 408.1C359.8 418.4 344.1 427 329.2 433.6L316.7 490.7C314.7 499.7 307.7 506.1 298.5 508.5C284.7 510.8 270.5 512 255.1 512C241.5 512 227.3 510.8 213.5 508.5C204.3 506.1 197.3 499.7 195.3 490.7L182.8 433.6C167 427 152.2 418.4 138.8 408.1L83.14 425.9C74.3 428.7 64.55 426.2 58.63 419.1C50.52 409.2 43.12 398.8 36.52 387.8L31.84 379.7C25.77 368.8 20.49 357.3 16.06 345.4C12.82 336.8 15.55 327.1 22.41 320.8L65.67 281.4C64.57 273.1 64 264.6 64 256C64 247.4 64.57 238.9 65.67 230.6L22.41 191.2C15.55 184.9 12.82 175.3 16.06 166.6C20.49 154.7 25.78 143.2 31.84 132.3L36.51 124.2C43.12 113.2 50.52 102.8 58.63 92.95C64.55 85.8 74.3 83.32 83.14 86.14L138.8 103.9C152.2 93.56 167 84.96 182.8 78.43L195.3 21.33C197.3 12.25 204.3 5.04 213.5 3.51C227.3 1.201 241.5 0 256 0C270.5 0 284.7 1.201 298.5 3.51C307.7 5.04 314.7 12.25 316.7 21.33L329.2 78.43C344.1 84.96 359.8 93.56 373.2 103.9L428.9 86.14C437.7 83.32 447.4 85.8 453.4 92.95C461.5 102.8 468.9 113.2 475.5 124.2L480.2 132.3C486.2 143.2 491.5 154.7 495.9 166.6V166.6zM256 336C300.2 336 336 300.2 336 255.1C336 211.8 300.2 175.1 256 175.1C211.8 175.1 176 211.8 176 255.1C176 300.2 211.8 336 256 336z"
                    /></svg>{{ language("General Setting") }}
                </div>
                <nuxt-link :to="'/user/dashboard'">
                  <div
                    :class="
                      fullPath === '/user/dashboard'
                        ? 'profile__layout__left__body__item active'
                        : 'profile__layout__left__body__item'
                    "
                  >
                    {{ language("General Information") }}
                  </div>
                </nuxt-link>
                <nuxt-link :to="'/user/notification'">
                  <div
                    :class="
                      fullPath === '/user/notification'
                        ? 'profile__layout__left__body__item active'
                        : 'profile__layout__left__body__item'
                    "
                  >
                    {{ language("Notification Setting") }}
                  </div>
                </nuxt-link> -->

                <!-- <nuxt-link :to="'/user/language'">
                  <div
                    :class="
                      fullPath === '/user/language'
                        ? 'profile__layout__left__body__item active'
                        : 'profile__layout__left__body__item'
                    "
                  >
                    {{ language("Language") }}
                  </div>
                </nuxt-link> -->

                <!-- <nuxt-link :to="'/user/security'">
                  <div
                    :class="(fullPath === '/user/security') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                    Security Setting
                  </div>
                </nuxt-link> -->

                <div class="profile__layout__left__body__title">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path
                      d="M96 0C107.5 0 117.4 8.19 119.6 19.51L121.1 32H541.8C562.1 32 578.3 52.25 572.6 72.66L518.6 264.7C514.7 278.5 502.1 288 487.8 288H170.7L179.9 336H488C501.3 336 512 346.7 512 360C512 373.3 501.3 384 488 384H159.1C148.5 384 138.6 375.8 136.4 364.5L76.14 48H24C10.75 48 0 37.25 0 24C0 10.75 10.75 0 24 0H96zM128 464C128 437.5 149.5 416 176 416C202.5 416 224 437.5 224 464C224 490.5 202.5 512 176 512C149.5 512 128 490.5 128 464zM512 464C512 490.5 490.5 512 464 512C437.5 512 416 490.5 416 464C416 437.5 437.5 416 464 416C490.5 416 512 437.5 512 464z"
                    /></svg>{{ language("Order") }}
                </div>
                <!-- <nuxt-link :to="'/user/order'">
                  <div class="profile__layout__left__body__item">{{ language("Order History") }}</div>
                </nuxt-link> -->
                <nuxt-link :to="'/user/balance'">
                  <div
                    :class="
                      fullPath === '/user/balance'
                        ? 'profile__layout__left__body__item active'
                        : 'profile__layout__left__body__item'
                    "
                  >
                    {{ language("Balance & Transactions") }}
                  </div>
                </nuxt-link>
                <!-- <a :href="'/chat/list'">
                  <div class="profile__layout__left__body__item">{{ language("Chat Manager") }}</div>
                </a> -->
                <div class="profile__layout__left__body__title">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                    <path
                      d="M248 167.5l64.9 98.8H183.1l64.9-98.8zM496 256c0 136.9-111.1 248-248 248S0 392.9 0 256 111.1 8 248 8s248 111.1 248 248zm-99.8 82.7L248 115.5 99.8 338.7h30.4l33.6-51.7h168.6l33.6 51.7h30.2z"
                    /></svg>{{ language("Advisor Setting") }}
                </div>
                <nuxt-link :to="'/user/advisor'">
                  <div
                    :class="
                      fullPath === '/user/advisor'
                        ? 'profile__layout__left__body__item active'
                        : 'profile__layout__left__body__item'
                    "
                  >
                    {{ language("Advisor Setting") }}
                  </div>
                </nuxt-link>
                <nuxt-link :to="'/user/general-service'">
                  <div
                    :class="
                      fullPath === '/user/general-service'
                        ? 'profile__layout__left__body__item active'
                        : 'profile__layout__left__body__item'
                    "
                  >
                    {{ language("My Services") }}
                  </div>
                </nuxt-link>
                <nuxt-link :to="'/user/invoices'">
                  <div
                    :class="
                      fullPath === '/user/invoices'
                        ? 'profile__layout__left__body__item active'
                        : 'profile__layout__left__body__item'
                    "
                  >
                    {{ language("Invoices") }}
                  </div>
                </nuxt-link>
                <nuxt-link :to="'/user/withdrawal'">
                  <div
                    :class="
                      fullPath === '/user/withdrawal'
                        ? 'profile__layout__left__body__item active'
                        : 'profile__layout__left__body__item'
                    "
                  >
                    {{ language("Withdrawal") }}
                  </div>
                </nuxt-link>
                <!-- <nuxt-link :to="'/user/service'">
                  <div
                    :class="(fullPath === '/user/service') ? 'profile__layout__left__body__item active' : 'profile__layout__left__body__item'">
                    Service Setting
                  </div>
                </nuxt-link> -->
                <nuxt-link :to="'/user/payment'">
                  <div
                    :class="
                      fullPath === '/user/payment'
                        ? 'profile__layout__left__body__item active'
                        : 'profile__layout__left__body__item'
                    "
                  >
                    {{ language("Payment Setting") }}
                  </div>
                </nuxt-link>
              </div>
            </div>
            <div
              :class="
                fullPath === '/user/user-menu'
                  ? 'profile__layout__right col-9 user_menu'
                  : 'profile__layout__right col-9'
              "
            >
              <client-only>
                <nuxt />
              </client-only>
            </div>
          </div>
        </div>
      </div>
    </div>
    <q-footer />
  </div>
</template>
<script>
import Header from "~/components/Layout/Header.vue";
import Footer from "~/components/Layout/Footer.vue";
import language from "~/modules/language.ts";
export default {
  name: "layout_blank",
  components: {
    "q-header": Header,
    "q-footer": Footer,
  },
  created() {
    if (process.client) {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  },
  data() {
    return {
      fullPath: this.$route.fullPath,
    };
  },
  watch: {
    "$route.fullPath": {
      handler(newValue) {
        this.fullPath = newValue;
        setTimeout(() => {
          window.scrollTo(0, 0);
        }, 200);
      },
    },
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
  },
  scrollToTop: true,
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";
@import "~/assets/scss/reset.scss";

.menu {
  &__heading {
    width: 100%;
    float: left;
    margin-bottom: 16px;
  }

  h1 {
    width: 100%;
    font-weight: 700;
    font-size: 36px;
    float: left;
    margin-bottom: 40px;

    @include breakpoint(phablet) {
      font-size: 26px;
    }
  }
}

.profile__layout {
  width: 100%;
  float: left;

  &__left {
    float: left;
    border-right: 1px #efefef solid;
    width: 300px !important;
    padding-top: 50px;

    @include breakpoint(mobile) {
      width: 100% !important;
      display: none;

      &.user_menu {
        display: block;
        padding-top: 20px;
      }
    }

    &__body {
      width: 100%;
      position: -webkit-sticky;
      position: sticky;
      top: 120px;
      padding-bottom: 70px;

      &__title {
        width: 100%;
        font-weight: 700;
        color: $primaryColor;
        margin: 10px 0 10px 0;
        border-bottom: 1px #efefef solid;
        padding-bottom: 10px;
        margin-top: 8px;

        svg {
          width: 20px;
          fill: $primaryColor;
          margin-top: -2px;
          margin-right: 6px;
        }
      }

      &__item {
        padding: 6px 16px;
        font-size: 16px;
        cursor: pointer;
        color: $textColor;
        user-select: none;
        font-weight: 400;

        a {
          color: $textColor;
        }

        &.active {
          background-color: #2a9d8f;
          color: #fff;
          font-weight: 700;
          font-size: 14px;

          a {
            color: #fff;
          }

          &:hover {
            background-color: #2a9d8f;
            color: #fff;
            font-weight: 700;
            font-size: 14px;

            a {
              color: #fff;
            }
          }
        }

        &:hover {
          background-color: #efefef;
          color: $textColor;
          font-weight: 400;

          a {
            color: $textColor;
          }
        }
      }
    }
  }

  &__right {
    float: left;
    width: calc(100% - 300px) !important;
    padding-left: 30px !important;

    @include breakpoint(mobile) {
      width: 100% !important;
      padding-left: 10px !important;

      &.user_menu {
        display: none;
      }
    }
  }
}
</style>
