<template>
  <div class="">
    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
      style="display: block; opacity: 1"
      v-if="openPopup"
    >
      <div class="modal-dialog modal-dialog-centered modal_add_user" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle" v-if="chatStep === 'choose_package'">
              {{ language("Select one suitable package") }}
            </h3>
            <h3 class="modal-title" id="exampleModalLongTitle" v-if="chatStep === 'order_process'">
              {{ language("Checkout") }}
            </h3>
            <h3 class="modal-title" id="exampleModalLongTitle" v-if="chatStep === 'order_success'">
              {{ language("Order successfully") }}
            </h3>
            <h3 class="modal-title" id="exampleModalLongTitle" v-if="chatStep === 'order_topup'">
              {{ language("Buy coin to continue") }}
            </h3>
            <h3 class="modal-title" id="exampleModalLongTitle" v-if="chatStep === 'order_clip'">
              {{ language("Video Reading") }}
            </h3>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              v-on:click="$emit('setOpenPopup', false)"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body order_clip" v-if="chatStep === 'order_clip'">
            <div class="order_clip__title">{{ language("Your name") }}</div>
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter your name"
              style="font-size: 16px"
              v-model.trim="orderMeta.display_name"
              required
              :disabled="isLoading"
            />
            <div class="order_clip__title">{{ language("Date of birth") }}</div>
            <div class="order_clip__birthday">
              <select
                class="form-control"
                name="date_of_birth:year"
                tabindex="9"
                v-model="birthdayValue.year"
                :disabled="isLoading"
              >
                <option
                  v-for="(birthdayYear, indexYear) in birthdayModule.getYears()"
                  :key="'birthday_' + indexYear"
                  :value="birthdayYear.value"
                >
                  {{ birthdayYear.value }}
                </option>
              </select>
              <select
                class="form-control"
                name="date_of_birth:mon"
                tabindex="8"
                v-model="birthdayValue.month"
                :disabled="isLoading"
              >
                <option value="">
                  {{ language("Choose Month") }}
                </option>
                <option
                  v-for="(birthdayMonth, indexMonth) in birthdayModule.getMonths()"
                  :key="'month_' + indexMonth"
                  :value="birthdayMonth.number"
                >
                  {{ birthdayMonth.name }}
                </option>
              </select>
              <select
                class="form-control"
                name="date_of_birth:day"
                tabindex="7"
                v-model="birthdayValue.day"
                :disabled="isLoading"
              >
                <option value="">
                  {{ language("Choose Day") }}
                </option>
                <option v-for="(birthdayDay, indexDay) in handleGetDay()" :key="'day_' + indexDay" :value="birthdayDay">
                  {{ birthdayDay }}
                </option>
              </select>
            </div>

            <div class="order_clip__title">{{ language("Gender") }}</div>
            <div class="order_clip__file">
              <select
                class="form-control"
                name="date_of_birth:day"
                tabindex="7"
                v-model="orderMeta.gender"
                :disabled="isLoading"
              >
                <option value="female">
                  {{ language("Female") }}
                </option>
                <option value="male">
                  {{ language("Male") }}
                </option>
                <option value="other">
                  {{ language("Other") }}
                </option>
              </select>
            </div>

            <div class="order_clip__title">{{ language("General situation") }}</div>
            <textarea
              type="textarea"
              cols="5"
              class="form-control form-control-lg"
              placeholder="Enter your situation"
              style="font-size: 16px"
              v-model.trim="orderMeta.situation"
              required
              :disabled="isLoading"
            />
            <div class="order_clip__title">{{ language("Questions") }}</div>
            <div
              class="order_clip__question w-100"
              v-for="(questionItem, questionIndex) in orderMeta.questions"
              :key="'question_' + questionIndex"
            >
              <div class="order_clip__question__number">{{ questionIndex + 1 }}</div>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Enter your question"
                style="font-size: 16px"
                v-model.trim="orderMeta.questions[questionIndex]"
                required
                :disabled="isLoading"
              />
            </div>
            <div class="order_clip__title">{{ language("Please record a video") }}</div>
            <div class="order_clip__preview">
              <video width="320" height="240" controls v-if="orderMeta && orderMeta.video_link">
                <source :src="orderMeta.video_link" type="video/mp4" />
                {{ language("Your browser does not support the video tag.") }}
              </video>
            </div>
            <div class="order_clip__file">
              <input
                type="file"
                ref="file_video"
                id="chat_send_video"
                v-on:change="handleSubmitFile"
                accept="video/*"
              />
            </div>
          </div>
          <div class="modal-body" v-if="chatStep === 'choose_package'">
            <h4 class="modal-title">
              {{ language("Quick advice") }}
            </h4>
            <div
              v-for="(packageItem, packageIndex) in dataPackage"
              :key="'package__2' + packageIndex"
              :class="
                quantityChoose === packageItem.quantity ? 'modal_order_chat__item active' : 'modal_order_chat__item'
              "
              v-on:click="handleChoosePackage(packageItem.quantity)"
            >
              <div class="modal_order_chat__item__left">
                <div class="modal_order_chat__item__left__avatar">
                  <font v-html="packageItem.avatar" />
                </div>
                <div class="modal_order_chat__item__left__name">
                  <div class="modal_order_chat__item__left__name__title">
                    {{ packageItem.title }}
                  </div>
                  <div class="modal_order_chat__item__left__name__desc">
                    {{ packageItem.description }}
                  </div>
                </div>
              </div>
              <div class="modal_order_chat__item__right">
                <div class="modal_order_chat__item__right__price">
                  {{ packageItem.quantity * choosePrice }}
                  <font v-html="dataPrice" />
                </div>
                <div class="modal_order_chat__item__right__label" v-if="packageItem.label">
                  {{ packageItem.label }}
                </div>
              </div>
            </div>
            <h4 class="modal-title">
              {{ language("Wholeheartedly") }}
            </h4>
            <div
              v-for="(packageItem, packageIndex) in dataPackageAdvance"
              :key="'package__1' + packageIndex"
              v-on:click="handleChoosePackage(packageItem.quantity)"
              :class="
                quantityChoose === packageItem.quantity ? 'modal_order_chat__item active' : 'modal_order_chat__item'
              "
            >
              <div class="modal_order_chat__item__left">
                <div class="modal_order_chat__item__left__avatar">
                  <font v-html="packageItem.avatar" />
                </div>
                <div class="modal_order_chat__item__left__name">
                  <div class="modal_order_chat__item__left__name__title">
                    {{ packageItem.title }}
                  </div>
                  <div class="modal_order_chat__item__left__name__desc">
                    {{ packageItem.description }}
                  </div>
                </div>
              </div>
              <div class="modal_order_chat__item__right">
                <div class="modal_order_chat__item__right__price">
                  {{ packageItem.quantity * choosePrice }}
                  <font v-html="dataPrice" />
                </div>
                <div class="modal_order_chat__item__right__label" v-if="packageItem.label">
                  {{ packageItem.label }}
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body" v-if="chatStep === 'order_process'">
            <div class="modal-body__order" v-if="orderData">
              <div class="modal-body__order_border">
                <div class="modal-body__order__top">
                  <div class="modal-body__order___left" v-if="dataAdvisor">
                    <img :src="dataAdvisor.user_avatar" v-if="dataAdvisor.user_avatar" @error="replaceByDefault" />
                    <img src="~/assets/images/avatar_default.png" v-else />
                  </div>
                  <div class="modal-body__order__center">
                    <div class="modal-body__order__center__title">
                      <img
                        :src="getFlagByCode(dataAdvisor.user_nation)"
                        :alt="dataAdvisor.display_name"
                        v-if="getFlagByCode(dataAdvisor.user_nation)"
                      />
                      {{ dataAdvisor.display_name ? dataAdvisor.display_name : dataAdvisor.user_login }}
                    </div>
                    <div class="modal-body__order__center__description">#{{ orderData.order_id }}</div>
                  </div>
                  <div class="modal-body__order__right">
                    <div class="modal-body__order__right__border">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                          d="M511.1 63.1v287.1c0 35.25-28.75 63.1-64 63.1h-144l-124.9 93.68c-7.875 5.75-19.12 .0497-19.12-9.7v-83.98h-96c-35.25 0-64-28.75-64-63.1V63.1c0-35.25 28.75-63.1 64-63.1h384C483.2 0 511.1 28.75 511.1 63.1z"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="modal-body__order__bottom">
                  <div class="modal-body__order__bottom__item">
                    <div class="modal-body__order__bottom__item__left">{{ language("Chat Duration") }}</div>
                    <div class="modal-body__order__bottom__item__right">
                      {{ orderData.order_quantity }} {{ language("minutes") }}
                    </div>
                  </div>
                  <div class="modal-body__order__bottom__item">
                    <div class="modal-body__order__bottom__item__left">{{ language("Price per minute:") }}</div>
                    <div class="modal-body__order__bottom__item__right">
                      {{ orderData.order_price }}
                      <font v-html="dataPrice" />
                    </div>
                  </div>
                  <div class="modal-body__order__bottom__hr"></div>
                  <div class="modal-body__order__bottom__item">
                    <div class="modal-body__order__bottom__item__left">{{ language("Payment method:") }}</div>
                    <div class="modal-body__order__bottom__item__right">{{ language("Wallet balance") }}</div>
                  </div>
                  <div class="modal-body__order__bottom__item">
                    <div class="modal-body__order__bottom__item__left">{{ language("Total payment:") }}</div>
                    <div class="modal-body__order__bottom__item__right">
                      {{ orderData.order_quantity * orderData.order_price }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-body__topup" v-if="statusTopUp">
              <div class="modal-body__topup__left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" v-if="orderTypeCurrent === 'chat'">
                  <path
                    d="M506.3 417l-213.3-364c-16.33-28-57.54-28-73.98 0l-213.2 364C-10.59 444.9 9.849 480 42.74 480h426.6C502.1 480 522.6 445 506.3 417zM232 168c0-13.25 10.75-24 24-24S280 154.8 280 168v128c0 13.25-10.75 24-23.1 24S232 309.3 232 296V168zM256 416c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 401.9 273.4 416 256 416z"
                  />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" v-if="orderTypeCurrent === 'clip'">
                  <path
                    d="M384 112v288c0 26.51-21.49 48-48 48h-288c-26.51 0-48-21.49-48-48v-288c0-26.51 21.49-48 48-48h288C362.5 64 384 85.49 384 112zM576 127.5v256.9c0 25.5-29.17 40.39-50.39 25.79L416 334.7V177.3l109.6-75.56C546.9 87.13 576 102.1 576 127.5z"
                  />
                </svg>
              </div>
              <div class="modal-body__topup__right">
                <p>{{ language("Wallet balance is not enough.") }}</p>
                <p>{{ language("Current balance:") }} {{ totalBalance }} coin.</p>
                <p>{{ language("Arrears:") }} {{ orderData.order_price * orderData.order_quantity }} coin.</p>
              </div>
            </div>
            <div class="modal-body__loading" v-if="orderLoading">
              <div class="spinner-border text-secondary" role="status"></div>
            </div>
          </div>
          <div class="modal-body" v-if="chatStep === 'order_topup'">
            <div class="modal-body__top">
              <div class="modal-body__top__title">
                {{ language("Your balance") }}
              </div>
              <div class="modal-body__top__coin mx-auto">
                <div class="modal-body__top__coin__text align-self-center">
                  {{ addCommas(totalBalance) }}
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body" v-if="chatStep === 'order_success' && orderTypeCurrent === 'chat'">
            <div class="">
              <div class="svg-container">
                <svg
                  class="ft-green-tick"
                  xmlns="http://www.w3.org/2000/svg"
                  height="70"
                  width="70"
                  viewBox="0 0 48 48"
                  aria-hidden="true"
                >
                  <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22" />
                  <path
                    class="tick"
                    fill="none"
                    stroke="#FFF"
                    stroke-width="6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    d="M14 27l5.917 4.917L34 17"
                  />
                </svg>
              </div>
              <div class="modal-body__success__title">
                {{ language("Payment successfully!") }}
              </div>
              <div class="modal-body__success__body" v-html="dataTextSuccessFully"></div>
            </div>
          </div>

          <div class="modal-body" v-if="chatStep === 'order_success' && orderTypeCurrent === 'clip'">
            <div class="">
              <div class="svg-container">
                <svg
                  class="ft-green-tick"
                  xmlns="http://www.w3.org/2000/svg"
                  height="70"
                  width="70"
                  viewBox="0 0 48 48"
                  aria-hidden="true"
                >
                  <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22" />
                  <path
                    class="tick"
                    fill="none"
                    stroke="#FFF"
                    stroke-width="6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    d="M14 27l5.917 4.917L34 17"
                  />
                </svg>
              </div>
              <div class="modal-body__success__title">
                {{ language("Payment successfully!") }}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-primary w-100"
              v-on:click="handleOrderClip(quickReading)"
              v-if="chatStep === 'order_clip'"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                id="footer-sample-full"
                width="18px"
                height="18px"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
                class="iconify iconify--mdi"
                style="margin-top: -2px; margin-right: 4px"
              >
                <path fill="currentColor" d="M11 15H6l7-14v8h5l-7 14v-8Z"></path>
              </svg>
              {{ language("Quick Reading") }} {{ quickReading.service_price }}
              <svg viewBox="0 0 24 24" width="17px" height="17px" style="margin-top: -2px; margin-left: 4px">
                <path
                  fill="currentColor"
                  d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z"
                />
              </svg>
            </button>
            <button
              type="button"
              class="btn btn-primary w-100 mt-1"
              v-on:click="handleOrderClip(videoReading)"
              v-if="chatStep === 'order_clip'"
            >
              <svg
                width="18px"
                height="18px"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
                style="margin-top: -2px; margin-right: 4px"
              >
                <path
                  fill="currentColor"
                  d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                />
              </svg>
              {{ language("Video Reading") }} {{ videoReading.service_price }}
              <svg viewBox="0 0 24 24" width="17px" height="17px" style="margin-top: -2px; margin-left: 4px">
                <path
                  fill="currentColor"
                  d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z"
                />
              </svg>
            </button>
            <button
              type="button"
              class="btn btn-primary w-100"
              v-on:click="handleOrder()"
              v-if="chatStep === 'choose_package'"
            >
              {{ language("Order Now") }}
            </button>
            <button
              type="button"
              class="btn btn-primary w-100"
              v-if="chatStep === 'order_process' && orderLoading"
              disabled
            >
              {{ language("Order Now...") }}
            </button>
            <button
              type="button"
              class="btn btn-primary w-100"
              v-if="chatStep === 'order_status' && orderLoading"
              disabled
            >
              {{ language("Submitting...") }}
            </button>
            <button
              type="button"
              class="btn btn-primary w-100"
              v-on:click="handleSubmitOrder()"
              v-if="chatStep === 'order_process' && !orderLoading && !statusTopUp"
            >
              {{ language("Submit") }}
            </button>

            <button
              type="button"
              class="btn btn-primary w-100"
              v-on:click="handleSubmitChat()"
              v-if="chatStep === 'order_success' && !orderLoading && orderTypeCurrent === 'chat'"
            >
              {{ language("Send your first Message") }}
            </button>
            <nuxt-link
              :to="'/user/order/' + orderData.order_id"
              class="w-100"
              v-if="chatStep === 'order_success' && !orderLoading && orderTypeCurrent === 'clip'"
            >
              <button type="button" class="btn btn-primary w-100">
                {{ language("Go to your Order") }}
              </button>
            </nuxt-link>

            <a href="/download" class="w-100" v-if="chatStep === 'order_process' && !orderLoading && statusTopUp">
              <button type="button" class="btn btn-primary w-100">
                {{ language("Buy coin to continue") }}
              </button>
            </a>
            <a href="/download" class="w-100" v-if="chatStep === 'order_topup' && !orderLoading">
              <button type="button" class="btn btn-primary w-100">
                {{ language("Buy coin to continue") }}
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="payment__loading" v-if="isLoading || isLoadingMedia">
      <div class="spinner-border text-light" role="status"></div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import language from "~/modules/language.ts";
import { orderService } from "~/services/order.service";
import { transactionsService } from "~/services/transactions.service";
import { stringProcess } from "~/modules/stringProcess";
import { birthdayModule } from "~/modules/birthday";
import { presignService } from "~/services/presign.service";
import { s3Service } from "~/services/s3.services";
import { flagModule } from "~/modules/flags";

export default {
  props: [
    "dataAdvisor",
    "chooseClipService",
    "chooseChatService",
    "openPopup",
    "orderTypeCurrent",
    "chatStep",
    "videoReading",
    "quickReading",
  ],
  components: {},
  watch: {
    "orderMeta.questions"(newData) {
      let cloneData = newData;
      let lastElement = cloneData.slice(-1);
      if (lastElement && lastElement[0] && lastElement[0].trim()) {
        this.orderMeta.questions.push("");
      }
    },
    "birthdayValue.day"(newData) {
      if (newData) {
        let valueDay = newData;
        let valueMonth = this.birthdayValue.month;
        if (Number(valueDay) < 10) {
          valueDay = "0" + valueDay;
        }

        if (Number(valueMonth) < 10) {
          valueMonth = "0" + valueMonth;
        }
        let birthdayValue = this.birthdayValue.year + "-" + valueMonth + "-" + valueDay + "T00:01:01.000Z";
        this.orderMeta.birth_day = birthdayValue;
      } else {
        this.orderMeta.birth_day = "";
      }
    },
  },
  name: "advisor-order",
  created() {
    if (this.userToken) {
      this.handleGetBalance(1, 1, this.userToken);
    }
  },
  data() {
    let dataPrice = `<svg viewBox="0 0 24 24">
      <path
        d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 3c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm1 13.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.385-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.725.019 1.535.145 2.442.42l-.362 1.648c-.768-.27-1.616-.515-2.442-.465-1.489.087-1.62 1.376-.581 1.916 1.711.804 3.943 1.401 3.943 3.546.002 1.718-1.344 2.632-3 2.864z" />
    </svg>`;
    let dataPackage = [
      {
        avatar: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
          <path
            d="M352 0C369.7 0 384 14.33 384 32C384 49.67 369.7 64 352 64V74.98C352 117.4 335.1 158.1 305.1 188.1L237.3 256L305.1 323.9C335.1 353.9 352 394.6 352 437V448C369.7 448 384 462.3 384 480C384 497.7 369.7 512 352 512H32C14.33 512 0 497.7 0 480C0 462.3 14.33 448 32 448V437C32 394.6 48.86 353.9 78.86 323.9L146.7 256L78.86 188.1C48.86 158.1 32 117.4 32 74.98V64C14.33 64 0 49.67 0 32C0 14.33 14.33 0 32 0H352zM111.1 128H272C282.4 112.4 288 93.98 288 74.98V64H96V74.98C96 93.98 101.6 112.4 111.1 128zM111.1 384H272C268.5 378.7 264.5 373.7 259.9 369.1L192 301.3L124.1 369.1C119.5 373.7 115.5 378.7 111.1 384V384z" />
        </svg>`,
        title: "5 minutes chatting",
        description: "Quick chatting",
        label: "",
        quantity: 5,
      },
      {
        avatar: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512zM232 256C232 264 236 271.5 242.7 275.1L338.7 339.1C349.7 347.3 364.6 344.3 371.1 333.3C379.3 322.3 376.3 307.4 365.3 300L280 243.2V120C280 106.7 269.3 96 255.1 96C242.7 96 231.1 106.7 231.1 120L232 256z"/></svg>`,
        title: "15 minutes chatting",
        description: "Quick and may have some advice",
        label: "",
        quantity: 15,
      },
      {
        avatar: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M496 224c-79.63 0-144 64.38-144 144s64.38 144 144 144s144-64.38 144-144S575.6 224 496 224zM544 384h-54.25C484.4 384 480 379.6 480 374.3V304c0-8.836 7.164-16 16-16c8.838 0 16 7.164 16 16v48h32c8.838 0 16 7.164 16 15.1S552.8 384 544 384zM224 256c70.7 0 128-57.31 128-128S294.7 0 224 0C153.3 0 96 57.31 96 128S153.3 256 224 256zM320 368c0-19.3 3.221-37.82 8.961-55.2C311.9 307.2 293.6 304 274.7 304H173.3C77.61 304 0 381.7 0 477.4C0 496.5 15.52 512 34.66 512H395C349.7 480.2 320 427.6 320 368z"/></svg>`,
        title: "30 minutes chatting",
        description: "Enough to have a great advice",
        label: "BEST VALUE",
        quantity: 30,
      },
    ];
    let dataPackageAdvance = [
      {
        avatar: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M272 0C289.7 0 304 14.33 304 32C304 49.67 289.7 64 272 64H256V98.45C293.5 104.2 327.7 120 355.7 143L377.4 121.4C389.9 108.9 410.1 108.9 422.6 121.4C435.1 133.9 435.1 154.1 422.6 166.6L398.5 190.8C419.7 223.3 432 262.2 432 304C432 418.9 338.9 512 224 512C109.1 512 16 418.9 16 304C16 200 92.32 113.8 192 98.45V64H176C158.3 64 144 49.67 144 32C144 14.33 158.3 0 176 0L272 0zM248 192C248 178.7 237.3 168 224 168C210.7 168 200 178.7 200 192V320C200 333.3 210.7 344 224 344C237.3 344 248 333.3 248 320V192z"/></svg>`,
        title: "60 minutes chatting with advisor",
        description: "Many questions can be answered",
        label: "",
        quantity: 60,
      },
      {
        avatar: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M288 464H240v-125.3l168.8-168.7C424.3 154.5 413.3 128 391.4 128H24.63C2.751 128-8.249 154.5 7.251 170l168.7 168.7V464H128c-17.67 0-32 14.33-32 32c0 8.836 7.164 16 15.1 16h191.1c8.836 0 15.1-7.164 15.1-16C320 478.3 305.7 464 288 464zM432 0c-62.63 0-115.4 40.25-135.1 96h52.5c16.62-28.5 47.25-48 82.62-48c52.88 0 95.1 43 95.1 96s-43.12 96-95.1 96c-14 0-27.25-3.25-39.37-8.625l-35.25 35.25c21.88 13.25 47.25 21.38 74.62 21.38c79.5 0 143.1-64.5 143.1-144S511.5 0 432 0z"/></svg>`,
        title: "120 minutes chatting with advisor",
        description: "Have many great answers and advice",
        label: "HOT",
        quantity: 120,
      },
    ];
    let dataTextSuccessFully = `
      <div>
        <p>Your reading begins as soon as you send your first message, so make that first message count!</p>
        <h4 class="text-danger">
          NOTICE: No more than 5 minutes from now to start chat with advisor. If not, this session will be canceled and the funds is not returned.
        </h4>
        <h4 class="text-primary">
        Let your advisor know</h4>
        <p>If you are interest in a specific method or service.</p>
        <p>If you have got a particular topic or question in mind.</p>
        <p>How much time you have available for the session.</p>
        <p>Keep in mind, your advisor is a real person using their skills to earn a living.</p>
        <p>They're focused on helping you move forward in an understand future, but the future is not easy to predict. Share your feedback with us and let other how to find a great advisor.</p>
      </div>
    `;
    let currentYear = new Date().getFullYear();
    return {
      dataPrice: dataPrice,
      dataPackage: dataPackage,
      dataPackageAdvance: dataPackageAdvance,
      choosePrice: 20,
      quantityChoose: 30,
      orderLoading: false,
      orderData: null,
      dataTextSuccessFully: dataTextSuccessFully,
      totalBalance: 0,
      statusTopUp: false,
      birthdayModule: birthdayModule,

      orderMeta: {
        display_name: "",
        birth_day: "",
        gender: "male",
        situation: "",
        questions: [""],
        video_link: "",
        video_width: 1920,
        video_height: 1080,
      },
      birthdayValue: {
        month: "",
        year: Number(currentYear),
        day: "",
      },
      isLoading: false,
      isLoadingMedia: false,
    };
  },
  computed: {
    userObject() {
      return this.$store.state.userObject;
    },
    userToken() {
      return this.$store.state.userToken;
    },
    onlineUser() {
      return this.$store.state.onlineUser;
    },
  },
  methods: {
    language(text) {
      var lang = this.$store.state.language.default;
      return language(text, lang);
    },
    handleOrderClip(service) {
      let questionArray = [];
      if (this.orderMeta && this.orderMeta?.questions.length) {
        for (let questionItem of this.orderMeta.questions) {
          if (questionItem && questionItem.trim()) {
            questionArray.push(questionItem.trim());
          }
        }
      }
      let isValidate = false;
      if (this.orderMeta?.video_link) {
        isValidate = true;
      }
      if (questionArray && questionArray.length) {
        isValidate = true;
      }
      if (this.orderMeta?.situation) {
        isValidate = true;
      }
      if (!isValidate) {
        alert("You must enter your Situation, Question or Video to continue!");
        return false;
      }

      this.$emit("setChatStep", "order_process");
      let newDataOrder = { ...this.orderMeta, ...{ questions: questionArray } };

      let orderDataJson = JSON.stringify(newDataOrder);
      this.orderLoading = true;
      let dataToCreate = {
        order_service_id: service.service_id,
        order_quantity: 1,
        order_note: orderDataJson,
      };
      orderService
        .createNewOrder(dataToCreate, this.userToken)
        .then((response) => {
          this.orderLoading = false;
          if (response && response.data) {
            this.orderData = response.data;
            let orderPrice = response.data.order_price * response.data.order_quantity;
            if (Number(orderPrice) > this.totalBalance) {
              this.statusTopUp = true;
            }
          }
        })
        .catch((error) => {
          this.orderLoading = false;
          alert("Have an error when create Order");
          this.$emit("setChatStep", "choose_package");
        });
    },
    addCommas(value) {
      return stringProcess.addCommas(value);
    },
    handleGetDay() {
      if (!this.birthdayValue.month) {
        return [];
      }
      let dataMonth = this.birthdayModule.getMonths();
      let totalDay = 0;
      for (let dataMonthItem of dataMonth) {
        if (dataMonthItem.number === this.birthdayValue.month) {
          totalDay = dataMonthItem.days;
        }
      }
      let dataReturn = [];
      if (Number(this.birthdayValue.year) % 4 === 0 && Number(this.birthdayValue.month) === 2) {
        for (let item = 1; item <= totalDay + 1; item++) {
          dataReturn.push(item);
        }
      } else {
        for (let item = 1; item <= totalDay; item++) {
          dataReturn.push(item);
        }
      }

      return dataReturn;
    },
    handleSubmitChat() {
      window.location.href = "/chat/chat/" + this.orderData.order_pnr;
    },
    handleSubmitOrder() {
      this.orderLoading = true;
      orderService
        .updateOrder(Number(this.orderData.order_id), "paid", this.userToken)
        .then((response) => {
          this.orderLoading = false;
          if (response && Number(response.status) >= 200 && Number(response.status) < 300) {
            this.$emit("setChatStep", "order_success");
          } else {
            alert("Have an error while payment!");
          }
        })
        .catch((error) => {
          this.orderLoading = false;
          alert("Have an error while payment!");
        });
    },
    /**
     * @function handleOrder
     */
    handleOrder() {
      this.$emit("setChatStep", "order_process");
      this.orderLoading = true;
      let dataToCreate = {
        order_service_id: this.chooseChatService,
        order_quantity: this.quantityChoose,
      };
      orderService
        .createNewOrder(dataToCreate, this.userToken)
        .then((response) => {
          this.orderLoading = false;
          if (response && response.data) {
            this.orderData = response.data;
            let orderPrice = response.data.order_price * response.data.order_quantity;
            if (Number(orderPrice) > this.totalBalance) {
              this.statusTopUp = true;
            }
          }
        })
        .catch((error) => {
          this.orderLoading = false;
          alert("Have an error when create Order");
          this.$emit("setChatStep", "choose_package");
        });
    },

    handleChoosePackage(quantity) {
      this.quantityChoose = quantity;
    },
    momentNew(dateTime, format) {
      return moment(dateTime).format(format);
    },
    replaceByDefault(e) {
      e.target.src = "/images/avatar_default.png";
    },

    handleGetBalance(balancePage, balanceLimit, authCode) {
      transactionsService
        .getTransactions(balancePage, balanceLimit, authCode)
        .then((response) => {
          if (response && response.data) {
            if (balancePage === 1 && response.data && response.data[0]) {
              this.totalBalance = response.data[0].transaction_new_balance;
            }
          }
        })
        .catch((error) => {});
    },

    /**
     * @param {*} file
     */
    async handleCreatePresignUrl(file) {
      let dataReturn = await presignService
        .createNewPresign(file.name, file.type, this.userToken)
        .then((response) => {
          if (response.data) {
            return response.data;
          } else {
            return null;
          }
        })
        .catch((error) => {
          return null;
        });

      return dataReturn;
    },

    /**
     * @param {*} dataFile
     */
    async handleSubmitFile(dataFile) {
      let fileArray = dataFile.target.files;

      this.isLoadingMedia = true;
      for (var i = 0; i < fileArray.length; i++) {
        let file = fileArray[i];
        let fileTypeAllowed = ["image/jpeg", "image/jpg", "image/gif", "image/png", "video/mp4", "video/quicktime"];
        if (fileTypeAllowed.indexOf(file.type) === -1) {
          alert("Not support this file");
          this.isLoadingMedia = false;
          this.$refs.file_video.value = null;

          return false;
        }
        let mediaPresign = await this.handleCreatePresignUrl(file);

        if (mediaPresign && mediaPresign.url) {
          let urlPut = mediaPresign.url;
          if (urlPut && urlPut.indexOf("tarotappinhouse.s3.amazonaws.com") !== -1) {
            urlPut = urlPut.replace("tarotappinhouse.s3.amazonaws.com", "tarotappinhouse.s3-accelerate.amazonaws.com");
          }

          let newDataPromise = new Promise((resolve, reject) => {
            const reader = new FileReader();
            let fileType = file.type;
            reader.onload = () => {
              try {
                s3Service
                  .createUserMeta(urlPut, fileType, reader.result)
                  .then(function (response) {
                    if (Number(response.status === 200)) {
                      resolve(true);
                    } else {
                      reject(false);
                    }
                  })
                  .catch(function (error) {
                    reject(false);
                  });
              } catch (err) {
                reject(false);
              }
            };
            reader.onerror = (error) => {
              reject(false);
            };
            reader.readAsArrayBuffer(file);
          });

          //Data Promise
          let dataReturn = await newDataPromise.then(
            (response) => {
              return response;
            },
            (error) => {
              return null;
            }
          );
          if (dataReturn) {
            let urlOriginal = "";
            let dataArrayUrl = mediaPresign.url?.split("?");
            if (dataArrayUrl[0]) {
              urlOriginal = dataArrayUrl[0];
            }
            //Update Data User
            this.handleSetVideoData(urlOriginal);
            this.isLoadingMedia = false;
            this.$refs.file_video.value = null;
          } else {
            alert("Not support this file");
            this.isLoadingMedia = false;
            this.$refs.file_video.value = null;
          }
        } else {
          alert("Not support this file");
          this.isLoadingMedia = false;
          this.$refs.file_video.value = null;
        }
      }
    },
    handleSetVideoData(videoUrl) {
      this.orderMeta.video_link = videoUrl;
    },
    getFlagByCode(code) {
      if (!code) {
        return "";
      }
      code = code.toUpperCase();
      let dataFlag = flagModule.findFlagByCode(code);
      if (dataFlag) {
        return dataFlag.image;
      } else {
        return "";
      }
    },
  },
};
</script>

<style lang="scss">
@import "~/assets/scss/variables.scss";

.modal-body__order {
  width: 100%;
  float: left;

  &_border {
    width: 100%;
    float: left;
  }

  &__top {
    width: 100%;
  }

  &___left {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  }

  &__center {
    width: calc(100% - 40px - 30px);
    float: left;
    padding: 0 10px;

    &__title {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 700;
      color: $primaryColor;
      margin-top: -4px;

      img {
        width: 20px;
      }
    }

    &__description {
      font-weight: 700;
      color: #999;
    }
  }

  &__right {
    width: 30px;
    float: left;
    margin-top: 4px;

    &__border {
      background: #2a9d8f;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      width: 30px;
      height: 30px;
      border-radius: 8px;

      svg {
        width: 18px;
        height: 18px;
        margin: 6px;
        fill: #fff;
      }
    }
  }

  &__bottom {
    border: 1px #efefef solid;
    border-radius: 8px;
    padding: 5px 10px;
    float: left;
    margin-top: 20px;
    width: 100%;

    &__hr {
      margin-top: 10px;
      margin-bottom: 10px;
      border-top: 1px #efefef solid;
      float: left;
      width: 100%;
    }

    &__item {
      width: 100%;
      padding: 8px 0;
      float: left;

      &__left {
        width: 50%;
        float: left;
      }

      &__right {
        width: 50%;
        float: left;
        text-align: right;
        font-weight: 700;

        svg {
          width: 16px;
          height: 16px;
          fill: #ffb703;
        }
      }
    }
  }
}

.modal-body {
  &__topup {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ed6e78;
    float: left;
    padding: 16px;

    &__left {
      width: 40px;
      height: 40px;
      float: left;

      svg {
        width: 36px;
        height: 36px;
        fill: #fff;
        margin-top: 20px;
      }
    }

    &__right {
      width: calc(100% - 40px);
      padding: 0 0 0 20px;
      float: left;

      p {
        color: #fff;
        font-weight: 700;
        margin: 0px 0;
      }
    }
  }

  &__top {
    width: 100%;
    float: left;
    background-color: $primaryBackground;
    padding: 20px;
    border-radius: 8px;

    &__title {
      width: 100%;
      text-align: center;
      color: $primaryColor;
      font-size: 20px;
      font-weight: 700;

      @include breakpoint(phablet) {
        font-size: 16px;
      }
    }

    &__coin {
      width: 100%;
      text-align: center;
      color: $primaryColor;
      font-size: 30px;
      font-weight: 700;
      text-align: center;

      &__text {
        display: inline-block;
        margin: 0 auto;
        position: relative;

        svg {
          margin-top: -6px;
          width: 30px;
          height: 30px;
          fill: $primaryColor;
        }
      }
    }
  }

  &__success {
    &__title {
      width: 100%;
      float: left;

      padding-bottom: 10px;
      text-align: center;
      font-weight: 700;
      font-size: 18px;
    }

    &__body {
      border-top: 1px #efefef solid;
      padding: 20px 10px 5px 10px;
      width: calc(100% + 20px);
      float: left;
      margin: 0 -10px;
      overflow-y: auto;

      h4 {
        font-weight: 700;
        line-height: 1.3;
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }

  .svg-container {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    svg {
      margin: 0 auto;
    }
  }
}

.modal_order_chat {
  &__item {
    width: 100%;
    float: left;
    margin: 6px 0;
    padding: 10px;
    cursor: pointer;

    &.active {
      border: 1px $primaryColor solid;
      background: $primaryBackground;
      border-radius: 8px;
    }

    &__left {
      width: calc(100% - 80px);
      float: left;

      &__avatar {
        width: 36px;
        height: 36px;
        float: left;

        svg {
          width: 30px;
          height: 30px;
          fill: $primaryColor;
          margin-top: 6px;
        }
      }

      &__name {
        width: calc(100% - 36px);
        float: left;
        padding: 0 10px;

        &__title {
          font-size: 16px;
          font-weight: 700;
          color: $primaryColor;
        }

        &__desc {
          font-size: 15px;
          font-weight: 400;
          color: #888;
        }
      }
    }

    &__right {
      width: 80px;
      float: left;
      text-align: right;

      &__price {
        font-size: 16px;
        font-weight: 700;
        color: #ee9b00;

        svg {
          width: 16px;
          height: 16px;
          fill: #ee9b00;
        }
      }

      &__label {
        width: auto;
        float: right;
        padding: 4px 6px;
        font-size: 8px;
        font-weight: 700;
        border-radius: 6px;
        margin-top: 3px;
        background-color: $primaryColor;
        color: #fff;
      }
    }
  }
}

.modal-dialog,
.modal-content {
  max-height: 80%;
  height: 80%;
  transform: unset !important;

  @include breakpoint(phablet) {
    margin: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
  }
}

.modal {
  background: rgba(0, 0, 0, 0.5);

  @include breakpoint(phablet) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}

.modal-content {
  border: 1px #efefef solid !important;
  border-radius: 16px !important;

  @include breakpoint(phablet) {
    border: none !important;
    border-radius: 0 !important;
  }
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll;

  &__loading {
    width: 100%;
    float: left;
    text-align: center;
    z-index: 100;

    .spinner-border {
      margin: 0 auto;
      margin-top: 100px;
      margin-bottom: 100px;
      color: #aaa !important;
    }
  }
}

h3.modal-title {
  font-size: 20px;
  font-weight: 700;
}

h4.modal-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  float: left;
}

@supports (animation: grow 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards) {
  .tick {
    stroke-opacity: 0;
    stroke-dasharray: 29px;
    stroke-dashoffset: 29px;
    animation: draw 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards;
    animation-delay: 0.6s;
  }

  .circle {
    fill-opacity: 0;
    stroke: #219a00;
    stroke-width: 16px;
    transform-origin: center;
    transform: scale(0);
    animation: grow 1s cubic-bezier(0.25, 0.25, 0.25, 1.25) forwards;
  }
}

@keyframes grow {
  60% {
    transform: scale(0.8);
    stroke-width: 4px;
    fill-opacity: 0;
  }

  100% {
    transform: scale(0.9);
    stroke-width: 8px;
    fill-opacity: 1;
    fill: #219a00;
  }
}

@keyframes draw {
  0%,
  100% {
    stroke-opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

path {
  stroke-width: 2px !important;
}

// Styles
:root {
  --theme-color: var(--color-purple);
}

.payment {
  width: 100%;
  float: left;
  min-height: 600px;

  &__loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    .spinner-border {
      margin-top: calc(50vh - 15px);
    }
  }
}

.order_clip {
  &__title {
    width: 100%;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 10px;
    float: left;
  }

  &__birthday {
    width: calc(100% + 5px);
    float: left;
    margin: 5px -2.5px 0px -2.5px;

    select {
      width: calc(33.333333% - 5px);
      float: left;
      margin: 2.5px;
    }
  }

  &__preview {
    width: 100%;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    float: left;

    video {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 8px;
      object-position: center;
    }
  }

  &__question {
    width: 100%;
    float: left;
    margin-bottom: 5px;

    &__number {
      width: 30px;
      height: 30px;
      float: left;
      border-radius: 50%;
      background-color: #fff;
      color: $primaryColor;
      font-size: 12px;
      line-height: 28px;
      text-align: center;
      font-weight: 700;
      border: 2px $primaryColor solid;
      margin-top: 4px;
    }

    input {
      width: calc(100% - 40px);
      margin-left: 10px;
      float: left;
    }
  }

  &__file {
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    float: left;

    input {
      width: 100%;
      cursor: pointer;
    }
  }
}

.modal-footer {
  butotn {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
</style>
