<template>
  <div>
    <div class="body_container">
      <h1 class="policies_heading">{{ language("About Fuda") }}</h1>
      <div class="section">
        <div class="narrow-box">
          <div class="row">
            <div class="col-12">
              <div>
                <p>{{ language("Our platform instantly connects you to spiritual advisors and life coaches from all around the world. These are real people with real talents who use real esoteric methods to help you. Browse genuine professionals who combine real-world experience in esoteric practices like tarot reading, palmistry, clairvoyance, and mediumship with expertise in topics like love, family, career and finance. No matter what you're curious about or currently dealing with, there's an advisor who can help.") }}</p>

                <h2 id="security">{{ language("Your safety & security matters") }}</h2>
                <p>{{ language("When you use our platform, you can rest easy knowing your information is handled with the utmost respect for your confidentiality and privacy. We use an extremely secure payment system and have safely processed more than 2 million transactions.") }}</p>

                <h2>{{ language("Customer Support") }}</h2>
                <p>{{ language("Experiencing a technical issue? Need help choosing an advisor? Get in touch with our Customer Support team. The easier way to reach them is by tapping the Customer Support button in the Settings menu (where you found this page). Leave a message there or email support@appuni.io and someone will respond within 24-48 hours.") }}</p>
                <p> * Email: support@appuni.io </p><br/>
                <p>* Fanpage: <a href="https://www.facebook.com/fuda.appuni.io" target="_blank">https://www.facebook.com/fuda.appuni.io</a></p>
                <h2 id="refund">{{ language("Refund policy") }}</h2>
                <p>{{ language("Unhappy with your reading? It's important to remember that spiritual matters are not an exact science and experiences may vary. Our Customer Support Agents are happy to help you find an advisor but we are unable to provide refunds due to lack of spiritual connection or dissatisfaction with an advisor's answers. To read our full Refund Policy, go") }} <a href="/page/terms">{{language("here")}}</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
export default {
  name: "customer_support",
  methods: {
    language(text) {
      var lang = this.$store.state.language.default.toString();
      return language(text, lang);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.policies_heading {
  width: 100%;
  margin-top: 40px;
  float: left;
}

h1 {
  width: 100%;
  font-weight: 700;
  font-size: 36px;

  @include breakpoint(phablet) {
    font-size: 26px;
  }
}

.section {
  text-align: justify;
  margin-bottom: 40px;
  h2,
  h3,
  h4,
  h5 {
    font-size: 22px;
    font-weight: 700;
    color: $primaryColor;
    text-align: left;
    width: 100%;
    float: left;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  p,
  span {
    font-size: 16px !important;
    font-family: $fontFamily  !important;
    color: $textColor;
    line-height: 1.5;
    width: 100%;
    float: left;
    font-weight: 400;
    padding-bottom: 0;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    div {
      width: 100% !important;
    }

    iframe {
      border: 0;
      margin: 0 0 20px 0;
    }

  }

  img {
    margin: 15px 0 15px 0;
    max-width: 100% !important;
    height: auto !important;
  }

  p {
    margin: 5px 0;
  }

  iframe {
    border: 0;
    width: 100%;
    max-height: 500px;
  }

}
</style>
