<template>
  <div>
    <SubmitContactUs />
  </div>
</template>

<script>
import SubmitContactUs from '../../components/Page/SubmitContactUs.vue';
export default {
  name: "contact_us_body",
  components: { SubmitContactUs }
}
</script>
<style lang="scss" scoped>
</style>
