<template>
  <div>
    <div class="body_container">
      <h1 class="policies_heading">{{ language("Disclaimer") }}</h1>
      <div class="section">
        <div class="narrow-box">
          <div class="row">
            <div class="col-12">
              <div>
                <p>
                  {{
                    language(
                      "Fuda does not guarantee the accuracy or success of any answers, advice or services given through the Site. The site and the services provided by Fuda are provided “as is” with no warranty. Fuda expressly disclaims any warranty, regarding the site and all services, including any implied warranty of merchant fitness for a particular purpose or for failure of performance. Fuda does not warrant that the services provided by Fuda or the site of the verification that services will be free from bias, defects, errors, eavesdropping or listening. Fuda shall not be held responsible for the quality of information or the authentication of the services or details given by psychics on the site. By using this site you accept the terms and conditions of this Disclaimer. You agree that any use you make of such answers, advice or services is at your own risk and that Fuda is not responsible for any damages or losses resulting from your reliance on such answers or advice. Fuda and its services are for entertainment purposes only. By submitting a question here, you understand and expressly agree that Fuda is not responsible for any reply or information that you do or do not receive, and you expressly agree to hold Fuda harmless from any loss, harm, injury, or damage whatsoever resulting from or arising out of your submission of the question or your use of or reliance on any response thereto."
                    )
                  }}
                </p>
                <br />
                <p>
                  {{
                    language(
                      "All rates shown are USD $ per minute. Valid Visa/MasterCard/AMEX Credit Card or PayPal account is required. Pre-Paid, Gift and some Debit Cards are also accepted. If using the Fuda app, additional charges may incur due to iStore or Google PLAY charges. 3 (Three) Free minutes on all Chat/call readings apply only to the first three minutes of the first reading per New Unique Customer. Normal rates apply thereafter. By initiating a reading you confirm and accept the associated charges. Please make sure you understand the charges involved before starting a reading. Readings are charged in minute intervals.Additional mobile phone fees may apply if you use a mobile phone."
                    )
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
export default {
  name: "customer_support",
  methods: {
    language(text) {
      var lang = this.$store.state.language.default.toString();
      return language(text, lang);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.policies_heading {
  width: 100%;
  margin-top: 40px;
  float: left;
}

h1 {
  width: 100%;
  font-weight: 700;
  font-size: 36px;

  @include breakpoint(phablet) {
    font-size: 26px;
  }
}

.section {
  text-align: justify;
  margin-bottom: 40px;

  h2,
  h3,
  h4,
  h5 {
    font-size: 22px;
    font-weight: 700;
    color: $primaryColor;
    text-align: left;
    width: 100%;
    float: left;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  p,
  span {
    font-size: 16px !important;
    font-family: $fontFamily !important;
    color: $textColor;
    line-height: 1.5;
    width: 100%;
    float: left;
    font-weight: 400;
    padding-bottom: 0;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    div {
      width: 100% !important;
    }

    iframe {
      border: 0;
      margin: 0 0 20px 0;
    }
  }

  img {
    margin: 15px 0 15px 0;
    max-width: 100% !important;
    height: auto !important;
  }

  p {
    margin: 5px 0;
  }

  iframe {
    border: 0;
    width: 100%;
    max-height: 500px;
  }
}
</style>
