<template>
  <div>
    <div class="body_container">
      <h1 class="policies_heading">{{ language("How Fuda work") }}</h1>
      <section>
        <div class="section">
          <div class="narrow-box">
            <div class="row">
              <div class="col-12">
                <h2 id="advisor" class="h2">{{ language("How to find an advisor") }}</h2>
                <p class="static-page-p">
                  {{ language("The advisors on our platform are real, professional entrepreneurs who use real abilities and methods to help you. Each advisor is a unique person with their own special talents, gifts and approach. Sometimes it takes a little while to find one that you have an amazing connection with.") }}
                </p>
                <p class="static-page-p">
                  {{ language("You know that gut feeling that tells you when something is wrong? That's your intuition. Put it to work when it comes to finding an advisor. Browse our network by specialty, language or price or search by keyword. If you're curious about someone, click on their name or photo to read their full profile and see customer reviews. Listen to your intuition and choose an advisor you feel drawn to.") }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="narrow-box">
            <h2 id="ask" class="h2">{{ language("What to ask") }}</h2>
            <div class="row">
              <div class="col-12">
                <p class="static-page-p">
                  {{ language("Got a question about your crush? Need career inspiration? Seeking out a spirit guide? Every reading centers on what you want. If you know what that is, it'll be easier to select the right advisor and ask the right questions.") }}
                </p>
                <p class="static-page-p">
                  {{ language("Of course, not everyone goes into a reading knowing exactly what they want to discuss. Maybe you're more interested in a particular method or type of reading. You can seek out general life advice and guidance without a specific question in mind.") }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="narrow-box">
            <h2 id="minutes" class="h2">{{ language("Your first few minutes") }}</h2>
            <div class="row">
              <div class="col-12">
                <p class="static-page-p">
                  {{ language("Once you choose the advisor who appeals to you most, start a call or chat and use the first few minutes to help you decide if you want to continue with this particular person. Be clear with them about what you want. Tell them how much time you can invest in the reading. Let them know if there is a particular method you're interested in or if you have a specific question.") }}
                </p>
                <p class="static-page-p">
                  {{ language("If you don't get a good vibe from the advisor you chose, it's OK to end the conversation and find a different advisor to connect with.") }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="narrow-box">
            <h2 id="refund" class="h2">{{ language("Refund policy") }}</h2>
            <div class="row">
              <div class="col-12">
                <p class="static-page-p">
                  {{ language("Make sure you read the refund policy on our website. It's important to know that spiritual matters are not an exact science and experiences may vary.") }}
                </p>
                <p class="static-page-p">
                  {{ language("Every advisor on our platform is a unique individual with different methods, tools, and style. We encourage customers to take time exploring our network, reading profiles and reviews, and finding someone who truly appeals to you. To improve your experience,") }}
                  <a
                    href="https://fuda.appuni.io/article/what-to-do-next-if-you-get-an-order"
                    >{{ language("please take a look at our tips for getting the best online reading possible") }}</a
                  >.
                </p>
                <p class="static-page-p">
                  {{ language("If you're unhappy with your selected advisor, end the chat immediately and find someone new. We are unable to provide refunds due to lack of spiritual connection or dissatisfaction with an advisor's answers.") }}
                </p>
                <p class="static-page-p">
                  {{ language("As a platform, we strive to foster a safe and respectful environment for all users. Every advisor undergoes an evaluation process and we monitor all customer complaints that arise. Your feedback is an integral part of this. If you have a concern about a specific advisor, please let us know.") }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
export default {
  name: "how_it_work",
  methods: {
    language(text) {
      var lang = this.$store.state.language.default.toString();
      return language(text, lang);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";


.policies_heading {
  width: 100%;
  margin-top: 40px;
  float: left;
}

h1 {
  width: 100%;
  font-weight: 700;
  font-size: 36px;

  @include breakpoint(phablet) {
    font-size: 26px;
  }
}

.section {
  text-align: justify;
  margin-bottom: 40px;

  h2,
  h3,
  h4,
  h5 {
    font-size: 22px;
    font-weight: 700;
    color: $primaryColor;
    text-align: left;
    width: 100%;
    float: left;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  p,
  span {
    font-size: 16px !important;
    font-family: $fontFamily  !important;
    color: $textColor;
    line-height: 1.5;
    width: 100%;
    float: left;
    font-weight: 400;
    padding-bottom: 0;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    div {
      width: 100% !important;
    }

    iframe {
      border: 0;
      margin: 0 0 20px 0;
    }

  }

  img {
    margin: 15px 0 15px 0;
    max-width: 100% !important;
    height: auto !important;
  }

  p {
    margin: 5px 0;
  }

  iframe {
    border: 0;
    width: 100%;
    max-height: 500px;
  }

}
</style>
