<template>
  <div>
    <div class="body_container">
      <div class="row">
        <div class="col-12 mb-4">
          <h1 class="policies_heading">{{ language("Customer Terms and Conditions") }}</h1>
          <div class="section mb-4">
            <h2>
              <strong>{{ language("Introduction") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language(
                  "Fuda is a platform operated by ICEO INC., on which Users can ask any questions to Advisors and receive recommendations from them."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "IF YOU ARE THINKING ABOUT SUICIDE OR IF YOU ARE CONSIDERING TAKING ACTIONS THAT MAY CAUSE HARM TO YOU OR TO OTHERS OR IF YOU FEEL THAT YOU OR ANY OTHER PERSON MAY BE IN ANY DANGER OR IF YOU HAVE ANY MEDICAL EMERGENCY, YOU MUST IMMEDIATELY CALL THE EMERGENCY SERVICE NUMBER AND NOTIFY THE RELEVANT AUTHORITIES."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "Please read the Terms of Use carefully. These Terms apply to your access and use of the Fuda website and mobile applications (collectively referred to as “Service”) and any information, text, graphics, photographs, or other materials that are downloaded or appear in the Service. By accessing or using the Service, you agree to abide by all terms and conditions described in this Agreement. If you do not agree with all these terms and conditions, you may not use the Service. The terms “you” and “your” refer to an individual user of the Service."
                )
              }}
            </p>
            <h2>
              <strong>{{ language("Acceptable Use") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{ language("By agreeing to the Terms of Use, you acknowledge and warrant the following:") }}
            </p>
            <ul>
              <li>{{ language("You are at least 18 years old.") }}</li>
              <li>
                {{
                  language(
                    "The information provided during registration is true, accurate and complete, and you agree to keep it up to date for the duration of the Agreement."
                  )
                }}
              </li>
              <li>
                {{
                  language(
                    "You are ready to provide the necessary minimum information for the provision of the Services."
                  )
                }}
              </li>
              <li>{{ language("You agree not to use the Service for illegal purposes.") }}</li>
              <li>
                {{
                  language(
                    "You undertake not to obstruct the operation of the Service using malicious software or in any other way that could damage the Service."
                  )
                }}
              </li>
              <li>{{ language("You agree not to try obtaining information about other Users of the Service.") }}</li>
              <li>
                {{
                  language(
                    "While exchanging files within the Service, you agree to independently check them for viruses."
                  )
                }}
              </li>
              <li>
                {{
                  language(
                    "Fuda has the right to stop the exchange of any information between the participants of the Service and/or at any time remove any content uploaded by the User."
                  )
                }}
              </li>
            </ul>
            <h2>
              <strong>{{ language("User rights") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language(
                  "The user has the right to forbid Fuda processing his personal information for marketing purposes."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "The user can request an update of his personal information, and also has the right to request all information about him stored on the servers of Fuda to be deleted. In order to do this, he needs to contact Fuda via email:"
                )
              }}
              <a href="mailto:support@appuni.io">support@appuni.io</a>.
            </p>
            <h2>
              <strong>{{ language("Fees and Payments") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language(
                  "All interactions between Users and Advisors are paid through online channels. You agree to abide by the agreed pricing terms and pay all Fuda fees for the Services, provided by Advisors."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "You directly authorize the payment of all commissions for each transaction that occurs under your account."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{ language("Any credit purchased by a user that hasn't been used will be nullified after six months.") }}
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "Fuda has the right to refuse to provide the service to the User, returning the paid amount in any convenient way."
                )
              }}
            </p>
            <h2>
              <strong>{{ language("Privacy") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language(
                  "For information about how we protect your privacy, please refer to our Privacy Policy which is not part of the Customer Terms and Conditions"
                )
              }}
              <a href="https://fuda.appuni.io/policies">{{ language("Fuda Privacy Policy") }}</a>
            </p>
            <h2>
              <strong>{{ language("Refund policy") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language(
                  "Fuda Consulting Limited develops cutting-edge digital solutions that enable you to instantly connect with life coaches and advisors from around the world."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{ language("Spiritual matters are not an exact science and experiences may vary.") }}
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "Every advisor on our platform is a unique individual with different methods, tools, and style. We encourage customers to take time exploring our network, reading profiles and reviews, and finding someone who truly appeals to you. To improve your experience, please"
                )
              }}
              <a href="/article/before-your-online-reading.html">{{
                language("take a look at our tips for getting the best online reading possible.")
              }}</a>
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "If you're unhappy with your selected advisor, end the chat immediately and find someone new. We are unable to provide refunds due to lack of spiritual connection or dissatisfaction with an advisor's answers."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "On our platform, advisors have the right to choose their own pricing for the services they offer. By initiating a reading, you are agreeing to pay the listed price for the service you request."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "If the service is not delivered due to technical reasons, we will issue a credit to your Fuda account for the full amount. If the service was delivered but you feel the quality warrants a refund, please get in touch with"
                )
              }}
              <a href="mailto:support@appuni.io">support@appuni.io</a>.
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "All refund requests are investigated by our Customer Support team on a case-by-case basis. Refunds will only be issued as credits on your Fuda account. Transaction fees may be deducted. If you encounter an error during the refund process, please reach out to us at"
                )
              }}
              <a href="mailto:support@appuni.io">support@appuni.io</a>.
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "As a platform, we strive to foster a safe and respectful environment for all users. Every advisor undergoes an evaluation process and we monitor all customer complaints that arise. Your feedback is an integral part of this. If you have a concern about a specific advisor, please let us know."
                )
              }}
            </p>
            <h2>
              <strong>{{ language("Modification and Termination of Services") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language(
                  "Fuda is allowed to make any temporary and/or permanent changes to the work of the Service with or without notice to its Members and is not liable to Users, Advisors or any other third party."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "Fuda has the right to stop providing Services to the User at any time without giving reasons."
                )
              }}
            </p>
            <h2>
              <strong>{{ language("Third-party websites") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language(
                  "If necessary, Fuda can use third-party resources, however does not have the ability to control their work."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "The service may contain links to third-party resources, advertising, special offers or any other events / actions that are not owned or controlled by Fuda. Fuda is not responsible for the information contained on third-party resources and the services they offer. Moving to a third-party resource and/or deciding to use the Services of a third-party resource, the User assumes all responsibility for possible risks and clearly releases Fuda from any liability associated with the use of third-party resources and any services they provide. In addition, the User releases Fuda from responsibility for participation in promotions or any other events organized by third-party services, as well as for payment and delivery of any goods. Using third-party services, the User agrees that Fuda is not responsible for any loss or damage of any kind related to his interaction with third-party resources."
                )
              }}
            </p>
            <!-- <h2>
              <strong>{{ language("Intellectual property") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language(
                  "Fuda grants Users a limited, revocable, non-exclusive, non-sublicensed, non-transferable license to access and use the Service and/or access or use the content received through the Service."
                )
              }}
            </p>
            <h2>
              <strong>{{ language("Limitations of Liability") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language(
                  "You agree that under no circumstances Fuda will be liable for any direct, indirect, incidental, actual, punitive, or secondary damages, including those related to:"
                )
              }}
            </p>
            <ul>
              <li>{{ language("The accuracy, completeness or content of the Service.") }}</li>
              <li>
                {{
                  language(
                    "The accuracy, completeness or content of third-party services related to Fuda (for example, through hyperlinks, banner ads, etc.)."
                  )
                }}
              </li>
              <li>{{ language("The services provided by the Fuda.") }}</li>
              <li>
                {{
                  language(
                    "The services provided by third-party resources related to Fuda, for example, through hyperlinks, advertising banners, etc.)."
                  )
                }}
              </li>
              <li>
                {{
                  language(
                    "Using the services of Fuda and/or following the advice of the Advisor, as a result of which the User is faced with physical damage or material losses."
                  )
                }}
              </li>
              <li>
                {{
                  language(
                    "Unauthorized access or use of Fuda servers and the information stored on them, including personal and financial data of users."
                  )
                }}
              </li>
              <li>
                {{
                  language(
                    "Termination of the provision of services by the Service or third-party resources related, for example, through hyperlinks, advertising banners, etc."
                  )
                }}
              </li>
              <li>
                {{
                  language(
                    "Any malicious software that may be transmitted to the Service and related third-party resources, for example, via hyperlinks, banner ads, etc."
                  )
                }}
              </li>
              <li>
                {{
                  language(
                    "Any user content that is defamatory, offensive, obscene, pornographic, harmful to minors and/or unprotected groups of the population or any other unacceptable nature."
                  )
                }}
              </li>
            </ul>
            <p style="margin-left: 0px">
              {{
                language(
                  "The foregoing limitation of liability applies in full, in accordance with applicable law and remains valid after the term's expiration, termination of the agreement or termination of the use of the services of Fuda."
                )
              }}
            </p>
            <h2>
              <strong>{{ language("Indemnification") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language(
                  "The User agrees to defend, indemnify and hold Fuda free from any kind of damage, lesions, claims and court decisions related to:"
                )
              }}
            </p>
            <ul>
              <li>{{ language("Any violation of the User's obligations.") }}</li>
              <li>{{ language("User's refusal to pay for the provided Service.") }}</li>
              <li>{{ language("Posting abusive, obscene, or otherwise inappropriate content.") }}</li>
            </ul>
            <h2>
              <strong>{{ language("International Use") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language(
                  "Using the Service in areas where the content provided is considered illegal is prohibited. If the User still uses the Service, he is solely responsible to the local authorities."
                )
              }}
            </p> -->
            <h2>
              <strong>{{ language("Miscellaneous") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language(
                  "Fuda may provide the User with notifications or other messages about changes in this Agreement and/or changes in any aspect of the Service, by email, regular mail, or by posting information on the Fuda website. The date of receipt shall be the date of receiving such notification."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "The User may not re-assign his rights or obligations in accordance with this Agreement without the prior written consent of Fuda."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{ language("This Agreement constitutes the entire agreement between Fuda and the User.") }}
            </p>
            <p style="margin-left: 0px">
              {{
                language(
                  "No amendments to this Agreement will enter into force unless they are made in writing. If any provision of this Agreement is recognized by a court of competent jurisdiction as illegal, invalid, unenforceable or otherwise contrary to law, the remaining provisions of this Agreement will remain in full force and effect."
                )
              }}
            </p>
            <p style="margin-left: 0px">
              {{ language("All services provided and all rights to them are the property of Fuda.") }}
            </p>
            <p style="margin-left: 0px">
              {{
                language("By using the Fuda service you agree to the terms and conditions of this Agreement.")
              }}
            </p>
            <p style="margin-left: 0px">
              {{ language("All promos/coupons have a 7-day expiration since issuance date unless explicitly stated.") }}
            </p>
            <h2>
              <strong>{{ language("Contact") }}</strong>
            </h2>
            <p style="margin-left: 0px">
              {{
                language("Any concerns relating to the Site or this Agreement, should be notified to Fuda at")
              }}
              <a href="mailto:support@appuni.io">support@appuni.io</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import language from "~/modules/language.ts";
export default {
  name: "customer_support",
  methods: {
    language(text) {
      var lang = this.$store.state.language.default.toString();
      return language(text, lang);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/variables.scss";

.policies_heading {
  width: 100%;
  margin-top: 40px;
  float: left;
}

h1 {
  width: 100%;
  font-weight: 700;
  font-size: 36px;

  @include breakpoint(phablet) {
    font-size: 26px;
  }
}

.section {
  text-align: justify;
  margin-bottom: 40px;

  h2,
  h3,
  h4,
  h5 {
    font-size: 22px;
    font-weight: 700;
    color: $primaryColor;
    text-align: left;
    width: 100%;
    float: left;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  p,
  span {
    font-size: 16px !important;
    font-family: $fontFamily !important;
    color: $textColor;
    line-height: 1.5;
    width: 100%;
    float: left;
    font-weight: 400;
    padding-bottom: 0;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    div {
      width: 100% !important;
    }

    iframe {
      border: 0;
      margin: 0 0 20px 0;
    }
  }

  img {
    margin: 15px 0 15px 0;
    max-width: 100% !important;
    height: auto !important;
  }

  p {
    margin: 5px 0;
  }

  iframe {
    border: 0;
    width: 100%;
    max-height: 500px;
  }
}
</style>
